Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

fix count
  crates/engine/primitives/src/config.rs
Due: none

refactor: simplify ProofTaskMetrics default implementation
  crates/trie/parallel/src/proof_task_metrics.rs
Due: trie

refactor: improve error handling in trie_node method
  crates/trie/parallel/src/proof_task.rs
Due: trie

refactor: simplify worker count handling in TreeConfig
  crates/engine/primitives/src/config.rs
Due: none

refactor: yeet proof task manager
  crates/trie/parallel/src/proof_task.rs
Due: trie

refactor: consolidate proof task handles in MultiproofManager
  crates/engine/tree/src/tree/payload_processor/multiproof.rs
Due: none

addressed sync overhead
  crates/trie/parallel/src/proof_task.rs
  crates/trie/parallel/src/proof_task_metrics.rs
Due: trie

fix: prevent active_handles underflow in ProofTaskManagerHandle
  crates/trie/parallel/src/proof_task.rs
Due: trie

refactor: streamline worker count validation
  crates/engine/primitives/src/config.rs
Due: none

refactor: enhance error handling in trie_node method
  crates/trie/parallel/src/proof_task.rs
Due: trie

fmt
  crates/trie/parallel/src/proof_task.rs
Due: trie

made count same as storage worker
  crates/engine/primitives/src/config.rs
  crates/node/core/src/args/engine.rs
  docs/vocs/docs/pages/cli/reth/node.mdx
Due: none

fmt
  crates/e2e-test-utils/src/testsuite/actions/produce_blocks.rs
Due: none

refactor: improve worker initialization in ProofTaskManagerHandle
  crates/trie/parallel/src/proof.rs
  crates/trie/parallel/src/proof_task.rs
Due: trie

fix clippy
  crates/e2e-test-utils/src/testsuite/actions/produce_blocks.rs
Due: none

remove active handle
  crates/trie/parallel/src/proof_task.rs
Due: trie

refactor: rename queue methods to dispatch for clarity
  crates/engine/tree/src/tree/payload_processor/multiproof.rs
  crates/trie/parallel/src/proof.rs
  crates/trie/parallel/src/proof_task.rs
Due: trie

refactor: optimize target count calculation in ParallelProof logging
  crates/trie/parallel/src/proof.rs
Due: trie

remove wrapper
  crates/trie/parallel/src/proof_task.rs
  crates/trie/parallel/src/proof_task_metrics.rs
Due: trie

refactor: enhance logging and worker initialization in ProofTaskManagerHandle
  crates/trie/parallel/src/proof_task.rs
Due: trie

refactor(trie): rename queue_storage_proof to dispatch_proof for clarity
  crates/trie/parallel/src/proof.rs
Due: trie

fixes
  .github/assets/hive/build_simulators.sh
Due: none

fixes bal
  crates/engine/invalid-block-hooks/src/witness.rs
Due: none

refactor: change naming
  crates/engine/tree/src/tree/payload_processor/multiproof.rs
  crates/trie/parallel/src/proof.rs
  crates/trie/parallel/src/proof_task.rs
Due: trie

fixes
  Cargo.lock
Due: none

spans!!
  crates/engine/tree/src/tree/cached_state.rs
  crates/engine/tree/src/tree/payload_processor/mod.rs
  crates/engine/tree/src/tree/payload_processor/multiproof.rs
  crates/engine/tree/src/tree/payload_processor/prewarm.rs
  crates/engine/tree/src/tree/payload_processor/sparse_trie.rs
  crates/engine/tree/src/tree/payload_validator.rs
  crates/trie/db/src/state.rs
  crates/trie/sparse-parallel/src/trie.rs
  crates/trie/sparse/src/state.rs
  crates/trie/sparse/src/trie.rs
Due: trie

chore: replace poll_next_unpin loop with poll_recv_many (#18978)
  crates/net/network/src/budget.rs
  crates/net/network/src/transactions/mod.rs
Due: networking

fix: Set Era pipeline stage to last checkpoint when there is no target (#19000)
  crates/stages/stages/src/stages/era.rs
Due: pipeline

Add tests for Paris scenario in hive.yml
  .github/workflows/hive.yml
Due: none

chore(privitives-traits): remove unused serde derives and camelCase attribute
  crates/primitives-traits/src/transaction/access_list.rs
Due: none

Update bin/reth-bench/src/bench/trie.rs
  bin/reth-bench/src/bench/trie.rs
Due: reth binary

ci: Add tests for Paris scenario in hive.yml (#19013)
  .github/workflows/hive.yml
Due: none

clear prefix sets
  bin/reth-bench/src/bench/trie.rs
  crates/trie/common/src/input.rs
Due: reth binary, trie

empty trie input for state root task
  bin/reth-bench/src/bench/trie.rs
  crates/trie/common/src/input.rs
Due: reth binary, trie

eager init
  crates/engine/tree/src/tree/payload_processor/mod.rs
  crates/engine/tree/src/tree/payload_processor/multiproof.rs
  crates/trie/parallel/src/proof.rs
  crates/trie/parallel/src/proof_task.rs
Due: trie

chore: bump book timeout
  .github/workflows/book.yml
Due: none

Path conditions:
  reth binary: any of: bin/**, crates/config/**, crates/metrics/**, crates/tracing/**
  blockchain tree: any of: crates/blockchain-tree/**
  pipeline: any of: crates/stages/**, crates/staged-sync/**
  storage (db): any of: crates/storage/**
  trie: any of: crates/trie/**
  txpool: any of: crates/transaction-pool/**
  networking: any of: crates/net/**
  rpc: any of: crates/rpc/**
  consensus/evm: any of: crates/revm/**, crates/consensus/**
  payload builder: any of: crates/payload/**
  primitives: any of: crates/primitives/**, crates/tasks/**, crates/rlp/**, crates/interfaces/**
