Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

chore: tell claude to run fmt before opening a pr (#17118)
  CLAUDE.md
Due: none

fix(trie): fix ext node collapse behavior
  crates/trie/sparse-parallel/src/trie.rs
Due: trie

refactor: make get_healthy_node_client async (#17119)
  crates/node/builder/src/launch/common.rs
  crates/node/builder/src/launch/engine.rs
Due: none

fmt
  crates/node/builder/src/launch/common.rs
Due: none

refactor: move ERA import source creation to LaunchContext method
  crates/node/builder/src/launch/common.rs
  crates/node/builder/src/launch/engine.rs
Due: none

chore(trie): add test for increasing branch node level
  crates/trie/sparse-parallel/src/trie.rs
Due: trie

fix
  crates/node/builder/src/launch/engine.rs
Due: none

chore(trie): add helper for asserting subtrie path field
  crates/trie/sparse-parallel/src/trie.rs
Due: trie

refactor: move ERA import source creation to LaunchContext (#17115)
  crates/node/builder/src/launch/common.rs
  crates/node/builder/src/launch/engine.rs
Due: none

chore(trie): add docs for get_or_create_lower_subtrie
  crates/trie/sparse-parallel/src/trie.rs
Due: trie

refactor: move consensus layer events to launch context
  crates/node/builder/src/launch/common.rs
  crates/node/builder/src/launch/engine.rs
Due: none

refactor: move consensus layer events to launch context (#17117)
  crates/node/builder/src/launch/common.rs
  crates/node/builder/src/launch/engine.rs
Due: none

docs: add comprehensive documentation for LaunchContext type system
  crates/node/builder/src/launch/common.rs
Due: none

refactor: move pipeline creation to LaunchContext method
  crates/node/builder/src/launch/common.rs
  crates/node/builder/src/launch/engine.rs
Due: none

docs: fix typo in section of node-components.mdx (#17105)
  docs/vocs/docs/pages/sdk/node-components.mdx
Due: none

feat(alloy-provider): implement fetch block (#16934)
  Cargo.lock
  crates/alloy-provider/Cargo.toml
  crates/alloy-provider/src/lib.rs
  crates/rpc/rpc-convert/src/block.rs
  crates/rpc/rpc-convert/src/lib.rs
Due: rpc

Update conn.rs
  crates/net/network/src/session/conn.rs
Due: networking

Update eth_snap_stream.rs
  crates/net/eth-wire/src/eth_snap_stream.rs
Due: networking

feat: trait impl for dbmock
  crates/storage/db-api/src/cursor.rs
  crates/storage/db-api/src/mock.rs
  crates/storage/db-api/src/models/storage_sharded_key.rs
  crates/storage/db-api/src/unwind.rs
Due: storage (db)

wip
  Cargo.lock
  bin/reth-bench/Cargo.toml
  bin/reth-bench/src/bench/mod.rs
  bin/reth-bench/src/bench/new_payload_fcu.rs
  bin/reth-bench/src/main.rs
Due: reth binary

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

chore: rm unused either type
  crates/revm/src/either.rs
  crates/revm/src/lib.rs
Due: consensus/evm

Replace Book with Docs references (#17125)
  CONTRIBUTING.md
Due: none

Update remote.mdx
  docs/vocs/docs/pages/exex/remote.mdx
Due: none

Update build-for-arm-devices.mdx
  docs/vocs/docs/pages/installation/build-for-arm-devices.mdx
Due: none

docs: remove reference to ContextStatefulPrecompile in precompile cache example
  examples/precompile-cache/src/main.rs
Due: none

chore(deps): weekly `cargo update`
  Cargo.lock
Due: none

feat: introduce era-export cli
  Cargo.lock
  crates/cli/commands/Cargo.toml
  crates/cli/commands/src/export_era.rs
  crates/cli/commands/src/lib.rs
  crates/ethereum/cli/src/interface.rs
Due: none

Update docs/vocs/docs/pages/installation/build-for-arm-devices.mdx
  docs/vocs/docs/pages/installation/build-for-arm-devices.mdx
Due: none

docs: fix broken tutorial link (#17127)
  docs/vocs/docs/pages/exex/remote.mdx
Due: none

Path conditions:
  reth binary: any of: bin/**, crates/config/**, crates/metrics/**, crates/tracing/**
  blockchain tree: any of: crates/blockchain-tree/**
  pipeline: any of: crates/stages/**, crates/staged-sync/**
  storage (db): any of: crates/storage/**
  trie: any of: crates/trie/**
  txpool: any of: crates/transaction-pool/**
  networking: any of: crates/net/**
  rpc: any of: crates/rpc/**
  consensus/evm: any of: crates/revm/**, crates/consensus/**
  payload builder: any of: crates/payload/**
  primitives: any of: crates/primitives/**, crates/tasks/**, crates/rlp/**, crates/interfaces/**
