Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

codecov.yml:

coverage:
  status:
    patch: off
    project:
      default:
        threshold: null
        informational: true
github_checks:
  annotations: false
comment:
  layout: "reach, files, flags, components"
  require_changes: true
component_management:
  individual_components:
    - component_id: reth_binary
      name: reth binary
      paths:
        - bin/**
        - crates/config/**
        - crates/metrics/**
        - crates/tracing/**
    - component_id: blockchain_tree
      name: blockchain tree
      paths:
        - crates/blockchain-tree/**
    - component_id: staged_sync
      name: pipeline
      paths:
        - crates/stages/**
        - crates/staged-sync/**
    - component_id: storage
      name: storage (db)
      paths:
        - crates/storage/**
    - component_id: trie
      name: trie
      paths:
        - crates/trie/**
    - component_id: txpool
      name: txpool
      paths:
        - crates/transaction-pool/**
    - component_id: networking
      name: networking
      paths:
        - crates/net/**
    - component_id: rpc
      name: rpc
      paths:
        - crates/rpc/**
    - component_id: core
      name: consensus/evm
      paths:
        - crates/revm/**
        - crates/consensus/**
    - component_id: builder
      name: payload builder
      paths:
        - crates/payload/**
    - component_id: primitives
      name: primitives
      paths:
        - crates/primitives/**
        - crates/tasks/**
        - crates/rlp/**
        - crates/interfaces/**

commit after successful tracnsact
  crates/evm/src/system_calls/mod.rs
Due: none

chore: use Arc over Box
  crates/chain-state/src/in_memory.rs
Due: none

chore: use Arc over Box (#11281)
  crates/chain-state/src/in_memory.rs
Due: none

fix the head update
  crates/exex/exex/src/notifications.rs
Due: none

fix: make canonical_chain atomic and canonical
  crates/chain-state/src/in_memory.rs
Due: none

use iter successors
  crates/chain-state/src/in_memory.rs
Due: none

add evm field
  crates/evm/src/system_calls/mod.rs
Due: none

codespell
  crates/exex/exex/src/wal/cache.rs
Due: none

chore: add traces for blob sidecar ops
  crates/transaction-pool/src/pool/mod.rs
Due: txpool

perf: remove sidecar clone if no listeners
  crates/transaction-pool/src/pool/mod.rs
Due: txpool

fix: make canonical_chain atomic and canonical (#11283)
  crates/chain-state/src/in_memory.rs
Due: none

Revert "update book"
  book/developers/exex/hello-world.md
  book/developers/exex/how-it-works.md
  book/developers/exex/remote.md
  book/developers/exex/tracking-state.md
Due: none

update book
  book/developers/exex/hello-world.md
  book/developers/exex/remote.md
  book/developers/exex/tracking-state.md
Due: none

update book #3
  book/developers/exex/how-it-works.md
Due: none

same head non canonical test
  crates/exex/exex/src/notifications.rs
Due: none

chore: add traces for blob sidecar ops (#11284)
  crates/transaction-pool/src/pool/mod.rs
Due: txpool

improve comments
  crates/exex/exex/src/notifications.rs
Due: none

perf: remove sidecar clone if no listeners (#11285)
  crates/transaction-pool/src/pool/mod.rs
Due: txpool

Update crates/exex/exex/src/manager.rs
  crates/exex/exex/src/manager.rs
Due: none

clarify the wal handle comment
  crates/exex/exex/src/wal/mod.rs
Due: none

feat: `ExExEvent::FinishedHeight` takes `BlockNumHash` instead (#11278)
  book/developers/exex/hello-world.md
  book/developers/exex/how-it-works.md
  book/developers/exex/remote.md
  book/developers/exex/tracking-state.md
  crates/exex/exex/src/event.rs
  crates/exex/exex/src/manager.rs
  crates/exex/test-utils/src/lib.rs
Due: none

chore: rename param
  crates/rpc/rpc-api/src/engine.rs
Due: rpc

test(rpc): filter test is taking too long
  crates/rpc/rpc/src/eth/filter.rs
Due: rpc

chore(exex-eips): replace reth-primitives with alloy-eips (#11275)
  Cargo.lock
  crates/exex/exex/Cargo.toml
  crates/exex/exex/src/notifications.rs
  crates/exex/exex/src/wal/cache.rs
  crates/exex/exex/src/wal/mod.rs
Due: none

chore(exex): use for_each
  crates/exex/exex/src/wal/cache.rs
  crates/exex/exex/src/wal/storage.rs
Due: none

feat(exex): finalize WAL when only all ExExes are on the canonical chain
  Cargo.lock
  crates/exex/exex/Cargo.toml
  crates/exex/exex/src/manager.rs
  crates/exex/exex/src/wal/mod.rs
  crates/node/builder/src/launch/exex.rs
Due: none

capitalize comment
  crates/exex/exex/src/manager.rs
Due: none

fix 'expected'
  crates/optimism/evm/src/l1.rs
Due: none

refactor: move reth-db-api::encode to reth-codecs
  Cargo.lock
  Cargo.toml
  crates/prune/types/src/segment.rs
  crates/stages/stages/src/stages/utils.rs
  crates/storage/codecs/Cargo.toml
  crates/storage/codecs/src/lib.rs
  crates/storage/db-api/Cargo.toml
  crates/storage/db-api/src/lib.rs
  crates/storage/db-api/src/models/accounts.rs
  crates/storage/db-api/src/models/mod.rs
  crates/storage/db-api/src/table.rs
  crates/storage/db-models/Cargo.toml
  crates/storage/db-models/src/accounts.rs
  crates/storage/db-models/src/client_version.rs
  crates/storage/db-models/src/lib.rs
  crates/storage/db-models/src/sharded_key.rs
  crates/storage/db-models/src/storage_sharded_key.rs
  crates/storage/db-models/src/utils.rs
  crates/storage/db-serialization/Cargo.toml
  crates/storage/db-serialization/src/decode.rs
  crates/storage/db-serialization/src/encode.rs
  crates/storage/db-serialization/src/error.rs
  crates/storage/db-serialization/src/lib.rs
  crates/storage/db/Cargo.toml
  crates/storage/db/src/tables/mod.rs
  crates/storage/db/src/tables/raw.rs
  crates/storage/db/src/tables/utils.rs
  crates/storage/errors/src/db.rs
  crates/trie/common/src/nibbles.rs
Due: pipeline, storage (db), trie

optimism: fix 'expecte' (#11290)
  crates/optimism/evm/src/l1.rs
Due: none

perf(db): use smallvec for mdbx table names
  Cargo.lock
  crates/cli/util/src/allocator.rs
  crates/storage/libmdbx-rs/Cargo.toml
  crates/storage/libmdbx-rs/src/database.rs
Due: storage (db)

fetch_db_mem_range_while
  crates/storage/provider/src/providers/blockchain_provider.rs
Due: storage (db)

implement all eip system call methods
  crates/evm/src/system_calls/mod.rs
Due: none
