Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

codecov.yml:

coverage:
  status:
    patch: off
    project:
      default:
        threshold: null
        informational: true
github_checks:
  annotations: false
comment:
  layout: "reach, files, flags, components"
  require_changes: true
component_management:
  individual_components:
    - component_id: reth_binary
      name: reth binary
      paths:
        - bin/**
        - crates/config/**
        - crates/metrics/**
        - crates/tracing/**
    - component_id: blockchain_tree
      name: blockchain tree
      paths:
        - crates/blockchain-tree/**
    - component_id: staged_sync
      name: pipeline
      paths:
        - crates/stages/**
        - crates/staged-sync/**
    - component_id: storage
      name: storage (db)
      paths:
        - crates/storage/**
    - component_id: trie
      name: trie
      paths:
        - crates/trie/**
    - component_id: txpool
      name: txpool
      paths:
        - crates/transaction-pool/**
    - component_id: networking
      name: networking
      paths:
        - crates/net/**
    - component_id: rpc
      name: rpc
      paths:
        - crates/rpc/**
    - component_id: core
      name: consensus/evm
      paths:
        - crates/revm/**
        - crates/consensus/**
    - component_id: builder
      name: payload builder
      paths:
        - crates/payload/**
    - component_id: primitives
      name: primitives
      paths:
        - crates/primitives/**
        - crates/tasks/**
        - crates/rlp/**
        - crates/interfaces/**

chore: rm reth-prmitives from e2eutils
  Cargo.lock
  crates/e2e-test-utils/Cargo.toml
  crates/e2e-test-utils/src/testsuite/setup.rs
Due: none

docs
  crates/stages/stages/src/lib.rs
  crates/stages/stages/src/sets.rs
Due: pipeline

chore: rm reth-prmitives from ethereum crates
  Cargo.lock
  crates/ethereum/consensus/Cargo.toml
  crates/ethereum/consensus/src/lib.rs
  crates/ethereum/consensus/src/validation.rs
  crates/ethereum/engine-primitives/Cargo.toml
  crates/ethereum/engine-primitives/src/lib.rs
  crates/ethereum/engine-primitives/src/payload.rs
  crates/ethereum/evm/Cargo.toml
  crates/ethereum/evm/src/build.rs
  crates/ethereum/evm/src/execute.rs
  crates/ethereum/evm/src/lib.rs
  crates/ethereum/evm/src/receipt.rs
  crates/ethereum/node/Cargo.toml
  crates/ethereum/node/src/engine.rs
  crates/ethereum/payload/Cargo.toml
  crates/ethereum/payload/src/validator.rs
Due: none

lint
  crates/ethereum/consensus/Cargo.toml
  crates/ethereum/engine-primitives/Cargo.toml
  crates/ethereum/evm/Cargo.toml
  crates/ethereum/node/Cargo.toml
Due: none

chore: add From<BlockExecutionError> for PayloadBuilderError
  crates/ethereum/payload/src/lib.rs
  crates/optimism/payload/src/builder.rs
  crates/payload/primitives/src/error.rs
Due: payload builder

chore: add sparse trie logs with time elapsed (#14967)
  crates/engine/tree/src/tree/payload_processor/sparse_trie.rs
Due: none

chore: rm reth-prmitives from e2eutils (#14971)
  Cargo.lock
  crates/e2e-test-utils/Cargo.toml
  crates/e2e-test-utils/src/testsuite/setup.rs
Due: none

chore: rm reth-prmitives from stages (#14970)
  Cargo.lock
  crates/stages/stages/Cargo.toml
  crates/stages/stages/benches/setup/mod.rs
  crates/stages/stages/src/lib.rs
  crates/stages/stages/src/sets.rs
  crates/stages/stages/src/stages/bodies.rs
  crates/stages/stages/src/stages/execution.rs
  crates/stages/stages/src/stages/finish.rs
  crates/stages/stages/src/stages/hashing_account.rs
  crates/stages/stages/src/stages/hashing_storage.rs
  crates/stages/stages/src/stages/headers.rs
  crates/stages/stages/src/stages/index_storage_history.rs
  crates/stages/stages/src/stages/merkle.rs
  crates/stages/stages/src/stages/mod.rs
  crates/stages/stages/src/stages/prune.rs
  crates/stages/stages/src/stages/s3/mod.rs
  crates/stages/stages/src/stages/sender_recovery.rs
  crates/stages/stages/src/stages/tx_lookup.rs
  crates/stages/stages/src/stages/utils.rs
  crates/stages/stages/src/test_utils/test_db.rs
Due: pipeline

chore: rm reth-prmitives from ethereum crates (#14972)
  Cargo.lock
  crates/ethereum/consensus/Cargo.toml
  crates/ethereum/consensus/src/lib.rs
  crates/ethereum/consensus/src/validation.rs
  crates/ethereum/engine-primitives/Cargo.toml
  crates/ethereum/engine-primitives/src/lib.rs
  crates/ethereum/engine-primitives/src/payload.rs
  crates/ethereum/evm/Cargo.toml
  crates/ethereum/evm/src/build.rs
  crates/ethereum/evm/src/execute.rs
  crates/ethereum/evm/src/lib.rs
  crates/ethereum/evm/src/receipt.rs
  crates/ethereum/node/Cargo.toml
  crates/ethereum/node/src/engine.rs
  crates/ethereum/payload/Cargo.toml
  crates/ethereum/payload/src/validator.rs
Due: none

more and more debug
  crates/ethereum/node/src/node.rs
  crates/evm/src/execute.rs
  crates/node/api/src/node.rs
  crates/node/builder/src/builder/mod.rs
  crates/node/builder/src/builder/states.rs
  crates/node/builder/src/components/builder.rs
  crates/node/builder/src/components/execute.rs
  crates/node/builder/src/launch/common.rs
  crates/node/builder/src/launch/debug.rs
Due: none

move ress installation to bin
  Cargo.lock
  bin/reth/Cargo.toml
  bin/reth/src/lib.rs
  bin/reth/src/main.rs
  bin/reth/src/ress.rs
  crates/node/builder/Cargo.toml
  crates/node/builder/src/launch/engine.rs
  crates/ress/provider/src/lib.rs
Due: reth binary

address final pr comments
  bin/reth/src/ress.rs
  crates/node/core/src/args/ress_args.rs
  crates/ress/provider/Cargo.toml
  crates/ress/provider/src/lib.rs
Due: reth binary

feat: integrate ress
  .github/assets/check_wasm.sh
  Cargo.lock
  Cargo.toml
  crates/net/network-api/src/lib.rs
  crates/node/builder/Cargo.toml
  crates/node/builder/src/components/mod.rs
  crates/node/builder/src/launch/engine.rs
  crates/node/core/src/args/mod.rs
  crates/node/core/src/args/network.rs
  crates/node/core/src/args/ress_args.rs
  crates/ress/protocol/Cargo.toml
  crates/ress/protocol/README.md
  crates/ress/protocol/src/connection.rs
  crates/ress/protocol/src/handlers.rs
  crates/ress/protocol/src/lib.rs
  crates/ress/protocol/src/message.rs
  crates/ress/protocol/src/provider.rs
  crates/ress/protocol/src/test_utils.rs
  crates/ress/protocol/src/types.rs
  crates/ress/protocol/tests/it/e2e.rs
  crates/ress/protocol/tests/it/main.rs
  crates/ress/provider/Cargo.toml
  crates/ress/provider/src/lib.rs
  crates/ress/provider/src/pending_state.rs
  crates/ress/provider/src/recorder.rs
Due: networking

remove dup args and update book
  book/cli/reth/node.md
  crates/node/core/src/args/network.rs
Due: none

clippy
  crates/ress/provider/src/lib.rs
Due: none

address comments
  bin/reth/src/main.rs
  bin/reth/src/ress.rs
Due: reth binary

address pr comments
  crates/node/builder/src/components/mod.rs
  crates/ress/provider/src/lib.rs
  crates/ress/provider/src/pending_state.rs
Due: none

Fix lint
  crates/exex/exex/src/notifications.rs
Due: none

bsc block import
  Cargo.lock
  crates/net/network/Cargo.toml
  crates/net/network/src/import.rs
Due: networking

Update crates/node/core/build.rs
  crates/node/core/build.rs
Due: none

bsc block import
  Cargo.lock
  crates/net/network/Cargo.toml
  crates/net/network/src/import.rs
  examples/bsc-p2p/Cargo.toml
  examples/bsc-p2p/src/block_import.rs
  examples/bsc-p2p/src/main.rs
Due: networking

service and handle comunicating
  examples/bsc-p2p/src/block_import/mod.rs
  examples/bsc-p2p/src/block_import/service.rs
Due: none

review
  examples/bsc-p2p/src/block_import/service.rs
Due: none

dprint
  crates/net/network/Cargo.toml
Due: networking

tokio spawn to futures unordered
  examples/bsc-p2p/src/block_import/service.rs
Due: none

clippy
  examples/bsc-p2p/Cargo.toml
Due: none

some clean ups
  crates/net/network/Cargo.toml
  examples/bsc-p2p/Cargo.toml
  examples/bsc-p2p/src/block_import.rs
Due: networking

bsc block import service
  examples/bsc-p2p/src/block_import/mod.rs
  examples/bsc-p2p/src/block_import/service.rs
Due: none

chore: add` From<BlockExecutionError> for PayloadBuilderError` (#14973)
  crates/ethereum/payload/src/lib.rs
  crates/optimism/payload/src/builder.rs
  crates/payload/primitives/src/error.rs
Due: payload builder

upd book cli
  book/cli/reth/node.md
Due: none

feat: integrate ress (#14959)
  .github/assets/check_wasm.sh
  Cargo.lock
  Cargo.toml
  bin/reth/Cargo.toml
  bin/reth/src/lib.rs
  bin/reth/src/main.rs
  bin/reth/src/ress.rs
  book/cli/reth/node.md
  crates/net/network-api/src/lib.rs
  crates/node/core/src/args/mod.rs
  crates/node/core/src/args/ress_args.rs
  crates/ress/protocol/Cargo.toml
  crates/ress/protocol/README.md
  crates/ress/protocol/src/connection.rs
  crates/ress/protocol/src/handlers.rs
  crates/ress/protocol/src/lib.rs
  crates/ress/protocol/src/message.rs
  crates/ress/protocol/src/provider.rs
  crates/ress/protocol/src/test_utils.rs
  crates/ress/protocol/src/types.rs
  crates/ress/protocol/tests/it/e2e.rs
  crates/ress/protocol/tests/it/main.rs
  crates/ress/provider/Cargo.toml
  crates/ress/provider/src/lib.rs
  crates/ress/provider/src/pending_state.rs
  crates/ress/provider/src/recorder.rs
Due: reth binary, networking

chore: fix handling of forkchoice state retrieval
  crates/engine/primitives/src/forkchoice.rs
Due: none

chore: bump alloy 0.12.5
  Cargo.lock
  Cargo.toml
  crates/ethereum/primitives/src/transaction.rs
Due: none

chore: bump revm
  crates/ethereum/primitives/src/transaction.rs
Due: none
