Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

add check back(eats ram)
  crates/transaction-pool/src/pool/parked.rs
Due: txpool

fix: typo in file deletion error message
  crates/era-downloader/src/client.rs
Due: none

fix: execution-apis eth_syncing should return false
  Cargo.lock
  crates/e2e-test-utils/Cargo.toml
  crates/e2e-test-utils/src/testsuite/setup.rs
  crates/rpc/rpc-e2e-tests/testdata/rpc-compat/eth_syncing/eth_syncing.io
  crates/rpc/rpc-e2e-tests/tests/e2e-testsuite/main.rs
Due: rpc

Track account removals in AddedRemovedKeys
  crates/trie/common/src/added_removed_keys.rs
  crates/trie/parallel/src/proof_task.rs
  crates/trie/sparse/src/trie.rs
Due: trie

fix: comment out some timestamp fork updates
  crates/optimism/chainspec/src/lib.rs
  crates/optimism/hardforks/src/lib.rs
Due: none

fix: execution-apis eth_syncing should return false (#17730)
  Cargo.lock
  crates/e2e-test-utils/Cargo.toml
  crates/e2e-test-utils/src/testsuite/setup.rs
  crates/rpc/rpc-e2e-tests/testdata/rpc-compat/eth_syncing/eth_syncing.io
  crates/rpc/rpc-e2e-tests/tests/e2e-testsuite/main.rs
Due: rpc

fix: comment out more
  crates/optimism/hardforks/src/lib.rs
Due: none

Cleanup
  Cargo.lock
  Cargo.toml
  crates/trie/trie/src/node_iter.rs
  crates/trie/trie/src/proof/mod.rs
  crates/trie/trie/src/trie.rs
  crates/trie/trie/src/trie_cursor/subnode.rs
  crates/trie/trie/src/walker.rs
Due: trie

Don't track removed leaves as non-targets
  Cargo.lock
  Cargo.toml
Due: none

fix(db-common): compute state root when initializing from genesis
  Cargo.lock
  crates/storage/db-common/Cargo.toml
  crates/storage/db-common/src/init.rs
Due: storage (db)

remove comments
  crates/chainspec/src/spec.rs
Due: none

cont
  Cargo.lock
  Cargo.toml
  crates/chainspec/src/spec.rs
  crates/ethereum/evm/src/lib.rs
  crates/ethereum/evm/src/test_utils.rs
  crates/evm/evm/src/lib.rs
  crates/evm/evm/src/noop.rs
  crates/optimism/evm/src/lib.rs
  crates/optimism/rpc/src/eth/mod.rs
  crates/rpc/rpc-eth-api/src/core.rs
  crates/rpc/rpc-eth-api/src/helpers/config.rs
  crates/rpc/rpc-eth-api/src/helpers/mod.rs
  crates/rpc/rpc-eth-api/src/helpers/spec.rs
  crates/rpc/rpc/src/eth/helpers/config.rs
  crates/rpc/rpc/src/eth/helpers/mod.rs
  examples/custom-beacon-withdrawals/src/main.rs
  examples/custom-evm/src/main.rs
  examples/custom-node/src/evm/alloy.rs
  examples/custom-node/src/evm/config.rs
  examples/precompile-cache/src/main.rs
Due: rpc

kinda finish
  Cargo.lock
  Cargo.toml
  crates/chainspec/src/api.rs
  crates/chainspec/src/spec.rs
  crates/optimism/chainspec/src/lib.rs
  crates/rpc/rpc-eth-api/src/core.rs
  crates/rpc/rpc-eth-api/src/helpers/spec.rs
  examples/custom-node/src/chainspec.rs
Due: rpc

make it less painful
  Cargo.lock
  crates/chainspec/src/api.rs
  crates/chainspec/src/spec.rs
  crates/ethereum/hardforks/src/hardforks/mod.rs
  crates/ethereum/node/src/node.rs
  crates/node/builder/src/rpc.rs
  crates/optimism/chainspec/src/lib.rs
  crates/rpc/rpc-eth-api/src/helpers/spec.rs
  crates/rpc/rpc-eth-api/src/node.rs
  examples/custom-node/src/chainspec.rs
Due: rpc

finish eth config
  Cargo.lock
  crates/engine/tree/src/tree/precompile_cache.rs
  crates/evm/evm/src/lib.rs
  crates/rpc/rpc-eth-api/src/helpers/config.rs
  examples/precompile-cache/src/main.rs
Due: rpc

new eth_config structure
  Cargo.lock
  crates/chainspec/src/spec.rs
  crates/rpc/rpc-eth-api/src/helpers/config.rs
Due: rpc

fix(db-common): compute state root when initializing from genesis (#17731)
  Cargo.lock
  crates/storage/db-common/Cargo.toml
  crates/storage/db-common/src/init.rs
Due: storage (db)

test(generators): add topics_count parameter to random_receipt (#17718)
  crates/prune/prune/src/segments/receipts.rs
  crates/prune/prune/src/segments/user/receipts_by_logs.rs
  crates/stages/stages/src/stages/mod.rs
  crates/static-file/static-file/src/static_file_producer.rs
  crates/storage/provider/src/providers/blockchain_provider.rs
  testing/testing-utils/src/generators.rs
Due: pipeline, storage (db)

feat: Execute execution-apis-tests in e2e tests (#17708)
  crates/rpc/rpc-e2e-tests/README.md
  crates/rpc/rpc-e2e-tests/tests/e2e-testsuite/main.rs
Due: rpc

chore: rm trie dep
  Cargo.lock
  crates/engine/primitives/Cargo.toml
  crates/engine/primitives/src/invalid_block_hook.rs
Due: none

bump alloy
  Cargo.lock
  Cargo.toml
Due: none

feat(rpc): `eth_config` (#17733)
  Cargo.lock
  Cargo.toml
  crates/chainspec/src/api.rs
  crates/chainspec/src/spec.rs
  crates/engine/tree/src/tree/precompile_cache.rs
  crates/ethereum/evm/src/lib.rs
  crates/ethereum/evm/src/test_utils.rs
  crates/ethereum/hardforks/src/hardforks/mod.rs
  crates/ethereum/node/src/node.rs
  crates/evm/evm/src/lib.rs
  crates/evm/evm/src/noop.rs
  crates/node/builder/src/rpc.rs
  crates/optimism/chainspec/src/lib.rs
  crates/optimism/evm/src/lib.rs
  crates/optimism/rpc/src/eth/mod.rs
  crates/rpc/rpc-eth-api/src/core.rs
  crates/rpc/rpc-eth-api/src/helpers/config.rs
  crates/rpc/rpc-eth-api/src/helpers/mod.rs
  crates/rpc/rpc-eth-api/src/helpers/spec.rs
  crates/rpc/rpc-eth-api/src/node.rs
  crates/rpc/rpc/src/eth/helpers/config.rs
  crates/rpc/rpc/src/eth/helpers/mod.rs
  examples/custom-beacon-withdrawals/src/main.rs
  examples/custom-evm/src/main.rs
  examples/custom-node/src/chainspec.rs
  examples/custom-node/src/evm/alloy.rs
  examples/custom-node/src/evm/config.rs
  examples/precompile-cache/src/main.rs
Due: rpc

chore: feature gate async
  crates/engine/primitives/Cargo.toml
  crates/engine/primitives/src/lib.rs
Due: none

chore: rm trie dep (#17732)
  Cargo.lock
  crates/engine/primitives/Cargo.toml
  crates/engine/primitives/src/invalid_block_hook.rs
Due: none

bump alloy-evm
  Cargo.lock
  Cargo.toml
Due: none

rm engine-primitives dep
  Cargo.lock
  Cargo.toml
  crates/engine/primitives/src/lib.rs
  crates/ethereum/evm/Cargo.toml
  crates/ethereum/evm/src/lib.rs
  crates/ethereum/evm/src/test_utils.rs
  crates/evm/evm/src/engine.rs
  crates/evm/evm/src/lib.rs
  crates/optimism/evm/Cargo.toml
  crates/optimism/evm/src/lib.rs
Due: none

Pass MultiAddedRemovedKeys using an Arc rather than cloning
  Cargo.toml
  crates/engine/tree/src/tree/payload_processor/multiproof.rs
  crates/trie/common/src/added_removed_keys.rs
  crates/trie/parallel/src/proof.rs
Due: trie

rm payload-primitives dep
  Cargo.lock
  crates/ethereum/evm/Cargo.toml
  crates/ethereum/evm/src/lib.rs
  crates/optimism/evm/Cargo.toml
  crates/optimism/evm/src/lib.rs
Due: none

Pass AddedRemovedKeys as references
  crates/engine/tree/src/tree/payload_processor/multiproof.rs
  crates/trie/common/src/added_removed_keys.rs
  crates/trie/common/src/hashed_state.rs
  crates/trie/parallel/src/proof.rs
  crates/trie/parallel/src/proof_task.rs
  crates/trie/trie/src/proof/mod.rs
Due: trie

zepter
  crates/ethereum/evm/Cargo.toml
  crates/optimism/evm/Cargo.toml
Due: none

fix: typo in file deletion error message (#17729)
  crates/era-downloader/src/client.rs
Due: none

chore: feature gate async (#17734)
  crates/engine/primitives/Cargo.toml
  crates/engine/primitives/src/lib.rs
Due: none

Fix extension nodes
  crates/engine/tree/src/tree/payload_processor/multiproof.rs
  crates/trie/common/src/added_removed_keys.rs
Due: trie

Path conditions:
  reth binary: any of: bin/**, crates/config/**, crates/metrics/**, crates/tracing/**
  blockchain tree: any of: crates/blockchain-tree/**
  pipeline: any of: crates/stages/**, crates/staged-sync/**
  storage (db): any of: crates/storage/**
  trie: any of: crates/trie/**
  txpool: any of: crates/transaction-pool/**
  networking: any of: crates/net/**
  rpc: any of: crates/rpc/**
  consensus/evm: any of: crates/revm/**, crates/consensus/**
  payload builder: any of: crates/payload/**
  primitives: any of: crates/primitives/**, crates/tasks/**, crates/rlp/**, crates/interfaces/**
