Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

codecov.yml:

coverage:
  status:
    patch: off
    project:
      default:
        threshold: null
        informational: true
github_checks:
  annotations: false
comment:
  layout: "reach, files, flags, components"
  require_changes: true
component_management:
  individual_components:
    - component_id: reth_binary
      name: reth binary
      paths:
        - bin/**
        - crates/config/**
        - crates/metrics/**
        - crates/tracing/**
    - component_id: blockchain_tree
      name: blockchain tree
      paths:
        - crates/blockchain-tree/**
    - component_id: staged_sync
      name: pipeline
      paths:
        - crates/stages/**
        - crates/staged-sync/**
    - component_id: storage
      name: storage (db)
      paths:
        - crates/storage/**
    - component_id: trie
      name: trie
      paths:
        - crates/trie/**
    - component_id: txpool
      name: txpool
      paths:
        - crates/transaction-pool/**
    - component_id: networking
      name: networking
      paths:
        - crates/net/**
    - component_id: rpc
      name: rpc
      paths:
        - crates/rpc/**
    - component_id: core
      name: consensus/evm
      paths:
        - crates/revm/**
        - crates/consensus/**
    - component_id: builder
      name: payload builder
      paths:
        - crates/payload/**
    - component_id: primitives
      name: primitives
      paths:
        - crates/primitives/**
        - crates/tasks/**
        - crates/rlp/**
        - crates/interfaces/**

fix clippy
  crates/net/network/src/transactions/mod.rs
  crates/rpc/rpc-eth-api/src/helpers/transaction.rs
  crates/rpc/rpc/src/txpool.rs
  crates/transaction-pool/src/test_utils/mock.rs
  crates/transaction-pool/src/traits.rs
  crates/transaction-pool/src/validate/mod.rs
Due: txpool, networking, rpc

fix clippy
  crates/optimism/node/src/txpool.rs
Due: none

chore(reth-node-builder): Replace HeadersClient + BodiesClient with BlockClient
  crates/node/builder/src/setup.rs
Due: none

Update setup.rs
  crates/node/builder/src/setup.rs
Due: none

fix(fmt): add trailing comma to reth_network_p2p import
  crates/node/builder/src/setup.rs
Due: none

Move PeersHandleProvider + types to new module reth_network_api::test_utils
  Cargo.lock
  bin/reth/src/lib.rs
  crates/net/network-api/Cargo.toml
  crates/net/network-api/src/lib.rs
  crates/net/network-api/src/test_utils/mod.rs
  crates/net/network-api/src/test_utils/peers_manager.rs
  crates/net/network-types/Cargo.toml
  crates/net/network-types/src/lib.rs
  crates/net/network-types/src/peers/cmd.rs
  crates/net/network-types/src/peers/mod.rs
  crates/net/network/src/builder.rs
  crates/net/network/src/eth_requests.rs
  crates/net/network/src/fetch/client.rs
  crates/net/network/src/fetch/mod.rs
  crates/net/network/src/lib.rs
  crates/net/network/src/manager.rs
  crates/net/network/src/network.rs
  crates/net/network/src/peers.rs
  crates/net/network/src/test_utils/testnet.rs
  examples/custom-rlpx-subprotocol/src/main.rs
Due: reth binary, networking

Move reth_network::NetworkEvents into reth-network-api
  Cargo.lock
  bin/reth/src/commands/debug_cmd/execution.rs
  crates/e2e-test-utils/src/network.rs
  crates/ethereum/node/src/launch.rs
  crates/net/network-api/Cargo.toml
  crates/net/network-api/src/events.rs
  crates/net/network-api/src/lib.rs
  crates/net/network/benches/bench.rs
  crates/net/network/src/discovery.rs
  crates/net/network/src/lib.rs
  crates/net/network/src/manager.rs
  crates/net/network/src/message.rs
  crates/net/network/src/network.rs
  crates/net/network/src/session/active.rs
  crates/net/network/src/session/mod.rs
  crates/net/network/src/state.rs
  crates/net/network/src/swarm.rs
  crates/net/network/src/test_utils/testnet.rs
  crates/net/network/src/transactions/fetcher.rs
  crates/net/network/src/transactions/mod.rs
  crates/net/network/tests/it/big_pooled_txs_req.rs
  crates/net/network/tests/it/connect.rs
  crates/net/network/tests/it/requests.rs
  crates/net/network/tests/it/session.rs
  crates/net/network/tests/it/txgossip.rs
  crates/node/builder/src/launch/mod.rs
  examples/bsc-p2p/src/main.rs
  examples/network/src/main.rs
  examples/polygon-p2p/src/main.rs
Due: reth binary, networking

Fix docs
  crates/net/network-api/src/events.rs
Due: networking

Move FullNetwork trait to reth-network-api
  Cargo.lock
  crates/net/network-api/src/lib.rs
  crates/net/network/src/lib.rs
  crates/net/network/src/network.rs
  crates/node/api/Cargo.toml
  crates/node/api/src/node.rs
  crates/node/builder/Cargo.toml
  crates/node/builder/src/components/mod.rs
Due: networking

chore(deps): weekly `cargo update`
  Cargo.lock
Due: none

fix: jsonrpsee
  Cargo.lock
Due: none

revert BlockClient
  crates/net/network-api/src/downloaders.rs
  crates/net/network/src/network.rs
  crates/net/p2p/src/full_block.rs
  crates/net/p2p/src/lib.rs
Due: networking

fixup
  crates/consensus/beacon/src/engine/mod.rs
  crates/consensus/beacon/src/engine/sync.rs
Due: consensus/evm

chore(reth-ethereum-engine): Replace HeadersClient + BodiesClient with BlockClient
  crates/ethereum/engine/src/service.rs
Due: none

chore(reth): Replace HeadersClient + BodiesClient with BlockClient
  bin/reth/src/commands/debug_cmd/execution.rs
Due: reth binary

added and implemented range_lookup()
  crates/chain-state/src/in_memory.rs
  crates/storage/provider/src/providers/blockchain_provider.rs
Due: storage (db)

fix: revert 3 last commits and try something else
  crates/consensus/common/src/validation.rs
  crates/net/eth-wire-types/src/blocks.rs
  crates/net/eth-wire-types/src/transactions.rs
  crates/net/network/tests/it/requests.rs
  crates/primitives/src/alloy_compat.rs
  crates/primitives/src/transaction/eip1559.rs
  crates/primitives/src/transaction/eip2930.rs
  crates/primitives/src/transaction/eip7702.rs
  crates/primitives/src/transaction/legacy.rs
  crates/primitives/src/transaction/mod.rs
  crates/primitives/src/transaction/signature.rs
  crates/primitives/src/transaction/util.rs
  crates/rpc/rpc-types-compat/src/transaction/signature.rs
  crates/rpc/rpc/src/eth/helpers/signer.rs
  docs/crates/stages.md
  testing/testing-utils/src/generators.rs
Due: networking, rpc, consensus/evm, primitives

fix: take the chain id into account when encoding legacy tx
  crates/primitives/src/transaction/mod.rs
  crates/primitives/src/transaction/signature.rs
Due: primitives

fix(fmt): fix linting issues
  crates/node/builder/src/setup.rs
Due: none

Update crates/net/p2p/src/full_block.rs
  crates/net/p2p/src/full_block.rs
Due: networking

store receipts for local pending block
  crates/blockchain-tree/src/blockchain_tree.rs
  crates/optimism/rpc/src/eth/pending_block.rs
  crates/rpc/rpc-eth-api/src/helpers/block.rs
  crates/rpc/rpc-eth-api/src/helpers/pending_block.rs
  crates/rpc/rpc-eth-api/src/helpers/state.rs
  crates/rpc/rpc-eth-types/src/pending_block.rs
  crates/rpc/rpc-eth-types/src/receipt.rs
  crates/rpc/rpc/src/eth/helpers/pending_block.rs
Due: blockchain tree, rpc

store receipts for local pending block
  crates/blockchain-tree/src/blockchain_tree.rs
Due: blockchain tree

store receipts for local pending block
  crates/rpc/rpc-eth-api/src/helpers/pending_block.rs
Due: rpc

fix: TransactionSigned payload len
  crates/primitives/src/transaction/mod.rs
  crates/primitives/src/transaction/signature.rs
Due: primitives

fix: use signatures with EIP-155 parity from chain id
  crates/primitives/src/transaction/mod.rs
  crates/primitives/src/transaction/pooled.rs
  crates/primitives/src/transaction/signature.rs
Due: primitives

Move ProtocolVersion and Capabilities to reth-eth-wire-types
  Cargo.lock
  crates/net/eth-wire-types/src/capability.rs
  crates/net/eth-wire-types/src/lib.rs
  crates/net/eth-wire-types/src/version.rs
  crates/net/eth-wire/src/capability.rs
  crates/net/eth-wire/src/ethstream.rs
  crates/net/eth-wire/src/hello.rs
  crates/net/eth-wire/src/lib.rs
  crates/net/eth-wire/src/multiplex.rs
  crates/net/eth-wire/src/p2pstream.rs
  crates/net/eth-wire/src/protocol.rs
  crates/net/eth-wire/src/test_utils.rs
  crates/net/network-api/Cargo.toml
  crates/net/network-api/src/lib.rs
  crates/net/network-api/src/noop.rs
Due: networking

update reth-network
  crates/net/network/src/manager.rs
  crates/net/network/src/session/active.rs
  crates/net/network/src/session/handle.rs
  crates/net/network/src/session/mod.rs
  crates/net/network/src/state.rs
  crates/net/network/src/swarm.rs
  crates/net/network/tests/it/multiplex.rs
Due: networking

add serde
  crates/net/eth-wire-types/src/capability.rs
Due: networking

Update crates/net/eth-wire-types/src/version.rs
  crates/net/eth-wire-types/src/version.rs
Due: networking

fmt
  crates/net/eth-wire-types/src/version.rs
Due: networking

chore(reth-node-builder): Replace HeadersClient + BodiesClient with BlockClient (#10059)
  crates/node/builder/src/setup.rs
Due: none

chore(reth-network-p2p): Replace HeadersClient + BodiesClient with BlockClient (#10058)
  crates/consensus/beacon/src/engine/mod.rs
  crates/consensus/beacon/src/engine/sync.rs
  crates/net/p2p/src/full_block.rs
Due: networking, consensus/evm

Move reth_eth_wire::ProtocolVersion and reth_eth_wire::Capabilities to reth-eth-wire-types (#10071)
  Cargo.lock
  crates/net/eth-wire-types/src/capability.rs
  crates/net/eth-wire-types/src/lib.rs
  crates/net/eth-wire-types/src/version.rs
  crates/net/eth-wire/src/capability.rs
  crates/net/eth-wire/src/ethstream.rs
  crates/net/eth-wire/src/hello.rs
  crates/net/eth-wire/src/lib.rs
  crates/net/eth-wire/src/multiplex.rs
  crates/net/eth-wire/src/p2pstream.rs
  crates/net/eth-wire/src/protocol.rs
  crates/net/eth-wire/src/test_utils.rs
  crates/net/network-api/Cargo.toml
  crates/net/network-api/src/lib.rs
  crates/net/network-api/src/noop.rs
  crates/net/network/src/manager.rs
  crates/net/network/src/session/active.rs
  crates/net/network/src/session/handle.rs
  crates/net/network/src/session/mod.rs
  crates/net/network/src/state.rs
  crates/net/network/src/swarm.rs
  crates/net/network/tests/it/multiplex.rs
Due: networking

chore(reth-beacon-consensus): Replace HeadersClient + BodiesClient with BlockClient
  crates/consensus/beacon/src/engine/mod.rs
  crates/consensus/beacon/src/engine/sync.rs
  crates/consensus/beacon/src/engine/test_utils.rs
Due: consensus/evm

Update crates/consensus/beacon/src/engine/test_utils.rs
  crates/consensus/beacon/src/engine/test_utils.rs
Due: consensus/evm

fmt
  crates/consensus/beacon/src/engine/sync.rs
  crates/consensus/beacon/src/engine/test_utils.rs
Due: consensus/evm

fix: limit alloy TxLegacy gas_limit to u64::MAX in tests
  crates/primitives/src/transaction/mod.rs
Due: primitives
