Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

Fix gas calculation logic in re_execute.rs
  crates/cli/commands/src/re_execute.rs
Due: none

segment.rs を更新
  crates/static-file/types/src/segment.rs
Due: none

test(static-file): StaticFileSegment string and serde roundtrips (#19561)
  Cargo.lock
  crates/static-file/types/Cargo.toml
  crates/static-file/types/src/segment.rs
Due: none

feat(debug): re-establish block subscription (#19550)
  crates/consensus/debug-client/src/providers/rpc.rs
Due: consensus/evm

refactor: replace GenericArray with regular arrays in ECIES (#19563)
  Cargo.lock
  Cargo.toml
  crates/net/ecies/Cargo.toml
  crates/net/ecies/src/algorithm.rs
  crates/net/ecies/src/mac.rs
Due: networking

update docs
  docs/vocs/docs/pages/cli/reth/node.mdx
  docs/vocs/docs/pages/cli/reth/p2p/body.mdx
  docs/vocs/docs/pages/cli/reth/p2p/header.mdx
  docs/vocs/docs/pages/cli/reth/stage/run.mdx
Due: none

fix: update docs and arg comments (#19537)
  crates/node/core/src/args/network.rs
  docs/vocs/docs/pages/cli/reth/node.mdx
  docs/vocs/docs/pages/cli/reth/p2p/body.mdx
  docs/vocs/docs/pages/cli/reth/p2p/header.mdx
  docs/vocs/docs/pages/cli/reth/stage/run.mdx
  docs/vocs/docs/pages/sdk/custom-node/transactions.mdx
  testing/ef-tests/src/models.rs
Due: none

chore: Update cursor rules, add rust comprehensive cursor rules (#17)
  .cursor/rules/xlayer-rules.mdc
  .cursor/rules/xlayer-rust-rules.mdc
Due: none

feat(genesis): Support legacyXLayerBlock in genesis.json (#11)
  Cargo.lock
  Cargo.toml
  crates/optimism/chainspec/src/lib.rs
Due: none

run all fixtures
  .github/workflows/hive.yml
Due: none

feat: Add legacy RPC routing support for historical block data migration (#6)
  Cargo.lock
  DockerfileOp
  Makefile
  crates/cli/commands/src/node.rs
  crates/e2e-test-utils/src/node.rs
  crates/e2e-test-utils/src/rpc.rs
  crates/ethereum/node/tests/e2e/dev.rs
  crates/node/builder/Cargo.toml
  crates/node/builder/src/rpc.rs
  crates/node/core/src/args/rpc_server.rs
  crates/optimism/rpc/src/eth/mod.rs
  crates/optimism/rpc/src/eth/receipt.rs
  crates/rpc/rpc-builder/Cargo.toml
  crates/rpc/rpc-builder/src/config.rs
  crates/rpc/rpc-builder/src/legacy_xlayer.rs
  crates/rpc/rpc-builder/src/lib.rs
  crates/rpc/rpc-eth-api/Cargo.toml
  crates/rpc/rpc-eth-api/src/core.rs
  crates/rpc/rpc-eth-api/src/helpers/legacy_xlayer.rs
  crates/rpc/rpc-eth-api/src/helpers/mod.rs
  crates/rpc/rpc-eth-types/Cargo.toml
  crates/rpc/rpc-eth-types/src/builder/config.rs
  crates/rpc/rpc-eth-types/src/builder/config_xlayer.rs
  crates/rpc/rpc-eth-types/src/builder/mod.rs
  crates/rpc/rpc-eth-types/src/legacy_xlayer.rs
  crates/rpc/rpc-eth-types/src/lib.rs
  crates/rpc/rpc/Cargo.toml
  crates/rpc/rpc/src/eth/builder.rs
  crates/rpc/rpc/src/eth/core.rs
  crates/rpc/rpc/src/eth/core_xlayer.rs
  crates/rpc/rpc/src/eth/filter.rs
  crates/rpc/rpc/src/eth/filter/filter_xlayer.rs
  crates/rpc/rpc/src/eth/mod.rs
  examples/exex-hello-world/Cargo.toml
  examples/exex-hello-world/src/main.rs
Due: rpc

chore: bump revm v31.0.1
  Cargo.lock
  Cargo.toml
Due: none

refactor: use peekable iterator in compute_trie_input
  crates/engine/tree/src/tree/payload_validator.rs
Due: none

resolve dynamic chunking
  crates/engine/tree/Cargo.toml
  crates/engine/tree/benches/multiproof_chunking.rs
  crates/engine/tree/src/tree/mod.rs
  crates/engine/tree/src/tree/payload_processor/multiproof.rs
Due: none

chore: remove trace
  crates/ethereum/node/src/node.rs
Due: none

fix(bench-compare): validate remote git references
  bin/reth-bench-compare/src/git.rs
Due: reth binary

refactor: use set eip directly
  crates/ethereum/node/src/node.rs
Due: none

chore: fmt
  crates/ethereum/node/src/node.rs
Due: none

feat: add more blob params to conflict option with disable flag
  crates/node/core/src/args/txpool.rs
  docs/vocs/docs/pages/cli/reth/node.mdx
Due: none

Add comments
  crates/engine/tree/benches/multiproof_chunking.rs
  crates/engine/tree/src/tree/payload_processor/multiproof.rs
Due: none

style: place up eip 4844 setup
  crates/ethereum/node/src/node.rs
Due: none

fix(bench-compare): validate remote-only branches using ^{commit} with origin/ fallback
  bin/reth-bench-compare/src/git.rs
Due: reth binary

test(bench-compare): add GitManager::validate_refs tests incl. remote-only branch
  bin/reth-bench-compare/Cargo.toml
  bin/reth-bench-compare/src/git.rs
Due: reth binary

revert(tests): remove validate_refs tests and tempfile dev-dependency
  bin/reth-bench-compare/Cargo.toml
  bin/reth-bench-compare/src/git.rs
Due: reth binary

Update Cargo.toml
  bin/reth-bench-compare/Cargo.toml
Due: reth binary

fmt
  bin/reth-bench-compare/src/git.rs
Due: reth binary

Xiong/block bridge okb (#21)
  crates/optimism/node/src/args.rs
  crates/optimism/node/src/args_xlayer.rs
  crates/optimism/node/src/lib.rs
  crates/optimism/node/src/node.rs
  crates/optimism/payload/src/builder.rs
  crates/optimism/payload/src/builder_xlayer.rs
  crates/optimism/payload/src/intercept_xlayer.rs
  crates/optimism/payload/src/lib.rs
Due: none

chore: drop unused PoolTransaction import in txpool tracing submit
  examples/txpool-tracing/src/submit.rs
Due: none

chore: bump revm v31.0.1 (#19567)
  Cargo.lock
  Cargo.toml
Due: none

chore: scope otlp deps to feature flag
  crates/ethereum/cli/Cargo.toml
  crates/ethereum/cli/src/app.rs
Due: none

chore: bump version
  Cargo.lock
  Cargo.toml
Due: none

fix(bench-compare): validate remote git references (#19569)
  bin/reth-bench-compare/src/git.rs
Due: reth binary

feat: add workflow to tag Docker releases as latest
  .github/workflows/docker-tag-latest.yml
Due: none

Path conditions:
  reth binary: any of: bin/**, crates/config/**, crates/metrics/**, crates/tracing/**
  blockchain tree: any of: crates/blockchain-tree/**
  pipeline: any of: crates/stages/**, crates/staged-sync/**
  storage (db): any of: crates/storage/**
  trie: any of: crates/trie/**
  txpool: any of: crates/transaction-pool/**
  networking: any of: crates/net/**
  rpc: any of: crates/rpc/**
  consensus/evm: any of: crates/revm/**, crates/consensus/**
  payload builder: any of: crates/payload/**
  primitives: any of: crates/primitives/**, crates/tasks/**, crates/rlp/**, crates/interfaces/**
