Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

codecov.yml:

coverage:
  status:
    patch: off
    project:
      default:
        threshold: null
        informational: true
github_checks:
  annotations: false
comment:
  layout: "reach, files, flags, components"
  require_changes: true
component_management:
  individual_components:
    - component_id: reth_binary
      name: reth binary
      paths:
        - bin/**
        - crates/config/**
        - crates/metrics/**
        - crates/tracing/**
    - component_id: blockchain_tree
      name: blockchain tree
      paths:
        - crates/blockchain-tree/**
    - component_id: staged_sync
      name: pipeline
      paths:
        - crates/stages/**
        - crates/staged-sync/**
    - component_id: storage
      name: storage (db)
      paths:
        - crates/storage/**
    - component_id: trie
      name: trie
      paths:
        - crates/trie/**
    - component_id: txpool
      name: txpool
      paths:
        - crates/transaction-pool/**
    - component_id: networking
      name: networking
      paths:
        - crates/net/**
    - component_id: rpc
      name: rpc
      paths:
        - crates/rpc/**
    - component_id: core
      name: consensus/evm
      paths:
        - crates/revm/**
        - crates/consensus/**
    - component_id: builder
      name: payload builder
      paths:
        - crates/payload/**
    - component_id: primitives
      name: primitives
      paths:
        - crates/primitives/**
        - crates/tasks/**
        - crates/rlp/**
        - crates/interfaces/**

fix: don't require closure to be `Debug` (#18507)
  crates/rpc/rpc-eth-types/src/receipt.rs
Due: rpc

Update transaction type constants and comments in prewarm.rs for clarity.
  crates/engine/tree/src/tree/payload_processor/prewarm.rs
Due: none

wip
  crates/optimism/storage/src/chain.rs
  crates/optimism/storage/src/lib.rs
  crates/storage/provider/src/providers/database/chain.rs
  crates/storage/storage-api/Cargo.toml
  crates/storage/storage-api/src/chain.rs
Due: storage (db)

feat(metrics): add transaction error counter for prewarming
  crates/engine/tree/src/tree/payload_processor/prewarm.rs
Due: none

fmt
  crates/engine/tree/src/tree/payload_processor/prewarm.rs
Due: none

feat: add async-stream & tokio-stream and refactor
  Cargo.lock
  crates/consensus/debug-client/Cargo.toml
  crates/consensus/debug-client/src/client.rs
  crates/consensus/debug-client/src/lib.rs
  crates/consensus/debug-client/src/providers/rpc.rs
Due: consensus/evm

`rpc_consensus_ws` ->`rpc_consensus_url`
  crates/node/builder/src/launch/debug.rs
  crates/node/core/src/args/debug.rs
Due: none

add 'debug.rpc-consensus-url'
  docs/vocs/docs/pages/cli/reth/node.mdx
Due: none

Correct BlockBody documentation to reflect actual return types
  crates/primitives-traits/src/block/body.rs
Due: none

Fix incorrect “A safer variant of ...” references in RecoveredBlock docs
  crates/primitives-traits/src/block/recovered.rs
Due: none

Made the AssertMineBlock action work with Optimism engine payloads by relying on the shared payload- attributes trait instead of hard Into conversions.
  crates/e2e-test-utils/Cargo.toml
  crates/e2e-test-utils/src/testsuite/actions/produce_blocks.rs
  crates/e2e-test-utils/src/testsuite/actions/trie.rs
Due: none

Update crates/engine/tree/src/tree/cached_state.rs
  crates/engine/tree/src/tree/cached_state.rs
Due: none

Apply suggestion from @yongkangc
  crates/engine/tree/src/tree/cached_state.rs
Due: none

feat: add Mantle Skadi compatibility
  Cargo.lock
  Cargo.toml
  crates/mantle-hardforks/Cargo.toml
  crates/mantle-hardforks/README.md
  crates/mantle-hardforks/src/lib.rs
  crates/optimism/chainspec/Cargo.toml
  crates/optimism/chainspec/src/lib.rs
  crates/optimism/chainspec/src/mantle.rs
  crates/optimism/evm/Cargo.toml
  crates/optimism/evm/src/build.rs
  crates/optimism/evm/src/config.rs
  crates/optimism/evm/src/l1.rs
  crates/optimism/evm/src/lib.rs
  crates/optimism/node/Cargo.toml
  crates/optimism/node/src/engine.rs
  crates/optimism/node/src/node.rs
  crates/optimism/rpc/Cargo.toml
  crates/optimism/rpc/src/eth/call.rs
  crates/optimism/rpc/src/eth/receipt.rs
  crates/optimism/txpool/Cargo.toml
  crates/optimism/txpool/src/validator.rs
  crates/rpc/rpc-eth-types/src/error/mod.rs
  crates/rpc/rpc/src/eth/helpers/call.rs
Due: rpc

fix
  crates/storage/db/src/implementation/mdbx/mod.rs
Due: storage (db)

chore: use Arc::make_mut
  crates/storage/db/src/implementation/mdbx/mod.rs
  crates/storage/db/src/mdbx.rs
Due: storage (db)

Only verify checkpoint state, don't overwrite MerkleExecute checkpoint
  crates/cli/commands/src/db/repair_trie.rs
Due: none

chore: reanme
  crates/storage/db/src/mdbx.rs
Due: storage (db)

chore: add myself to CODEOWNERS for engine and stages
  .github/CODEOWNERS
Due: none

clippy
  crates/storage/db/src/implementation/mdbx/mod.rs
Due: storage (db)

chore: add myself to CODEOWNERS for engine and stages (#18512)
  .github/CODEOWNERS
Due: none

fix: don't override existing tables in `create_tables_for` (#18511)
  crates/storage/db/src/implementation/mdbx/mod.rs
  crates/storage/db/src/mdbx.rs
Due: storage (db)

feat(metrics): add transaction error counter for prewarming (#18509)
  crates/engine/tree/src/tree/payload_processor/prewarm.rs
Due: none

feat(db): AccountsTrieChangeSets and StoragesTrieChangeSets tables
  crates/storage/db-api/src/models/accounts.rs
  crates/storage/db-api/src/models/mod.rs
  crates/storage/db-api/src/models/trie.rs
  crates/storage/db-api/src/tables/mod.rs
Due: storage (db)

chore: add myself to CODEOWNERS for engine
  .github/CODEOWNERS
Due: none

chore: add myself to CODEOWNERS for transaction-pool
  .github/CODEOWNERS
Due: none

refactor: add tests + update deps + use `chain_hardforks`
  Cargo.lock
  Cargo.toml
  crates/optimism/chainspec/src/base.rs
  crates/optimism/chainspec/src/base_sepolia.rs
  crates/optimism/chainspec/src/lib.rs
  crates/optimism/chainspec/src/op.rs
  crates/optimism/chainspec/src/op_sepolia.rs
  crates/optimism/consensus/src/validation/mod.rs
  crates/optimism/hardforks/src/lib.rs
Due: none

fix: fmt
  crates/optimism/chainspec/src/base.rs
  crates/optimism/chainspec/src/base_sepolia.rs
  crates/optimism/chainspec/src/op.rs
  crates/optimism/chainspec/src/op_sepolia.rs
  crates/optimism/consensus/src/validation/mod.rs
  crates/optimism/hardforks/src/lib.rs
Due: none

chore: add myself to CODEOWNERS (#18514)
  .github/CODEOWNERS
Due: none

chore(ci): run eest osaka tests on hive workflow
  .github/workflows/hive.yml
Due: none

replace hardcoded concurrency value with the dynamic, CPU-aware logic
  crates/engine/tree/src/tree/payload_processor/prewarm.rs
Due: none
