Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

simplify compression
  bin/reth/src/db/snapshots/mod.rs
Due: reth binary

doc: --dev.block_time not available (#5764)
  bin/reth/src/args/dev_args.rs
  book/cli/reth/node.md
Due: reth binary

feat: use nybbles crate
  Cargo.lock
  bin/reth/src/debug_cmd/in_memory_merkle.rs
  bin/reth/src/debug_cmd/merkle.rs
  crates/primitives/Cargo.toml
  crates/primitives/src/trie/mod.rs
  crates/primitives/src/trie/nibbles.rs
  crates/storage/db/src/tables/codecs/compact.rs
  crates/storage/db/src/tables/mod.rs
  crates/storage/db/src/tables/models/mod.rs
  crates/trie/src/trie.rs
  crates/trie/src/trie_cursor/account_cursor.rs
  crates/trie/src/updates.rs
Due: reth binary, storage (db), trie, primitives

fix(cli): allow no PHF or compression in snapshots (#5765)
  bin/reth/src/db/snapshots/headers.rs
  bin/reth/src/db/snapshots/mod.rs
  bin/reth/src/db/snapshots/receipts.rs
  bin/reth/src/db/snapshots/transactions.rs
Due: reth binary

assume there's no static files on stage
  crates/interfaces/src/provider.rs
  crates/primitives/src/snapshot/segment.rs
  crates/stages/src/stages/bodies.rs
  crates/storage/provider/src/providers/snapshot/manager.rs
  crates/storage/provider/src/providers/snapshot/writer.rs
Due: pipeline, storage (db), primitives

refactor: nippy jar writer, offsets (#5760)
  crates/storage/db/src/snapshot/generation.rs
  crates/storage/nippy-jar/src/cursor.rs
  crates/storage/nippy-jar/src/lib.rs
  crates/storage/nippy-jar/src/writer.rs
Due: storage (db)

minor improve for compression dir (#5755)
  crates/primitives/src/compression/mod.rs
  crates/primitives/src/compression/receipt_dictionary.in
  crates/primitives/src/compression/transaction_dictionary.in
Due: primitives

feat: `DatabaseProvider` delegates to `SnapshotProvider` on `ReceiptsProvider` (#5655)
  bin/reth/src/db/snapshots/headers.rs
  bin/reth/src/db/snapshots/receipts.rs
  bin/reth/src/db/snapshots/transactions.rs
  bin/reth/src/node/mod.rs
  crates/interfaces/src/provider.rs
  crates/storage/provider/src/providers/database/mod.rs
  crates/storage/provider/src/providers/database/provider.rs
  crates/storage/provider/src/providers/mod.rs
  crates/storage/provider/src/providers/snapshot/jar.rs
  crates/storage/provider/src/providers/snapshot/manager.rs
  crates/storage/provider/src/providers/snapshot/mod.rs
  crates/storage/provider/src/test_utils/mock.rs
  crates/storage/provider/src/test_utils/noop.rs
  crates/storage/provider/src/traits/receipts.rs
Due: reth binary, storage (db), primitives

feat: `DatabaseProvider` delegates to `SnapshotProvider` on `TransactionsProvider` (#5654)
  bin/reth/src/db/snapshots/headers.rs
  bin/reth/src/db/snapshots/receipts.rs
  bin/reth/src/db/snapshots/transactions.rs
  bin/reth/src/node/mod.rs
  crates/interfaces/src/provider.rs
  crates/rpc/rpc-types/src/eth/filter.rs
  crates/storage/nippy-jar/src/lib.rs
  crates/storage/provider/src/providers/database/mod.rs
  crates/storage/provider/src/providers/database/provider.rs
  crates/storage/provider/src/providers/mod.rs
  crates/storage/provider/src/providers/snapshot/jar.rs
  crates/storage/provider/src/providers/snapshot/manager.rs
  crates/storage/provider/src/providers/snapshot/mod.rs
  crates/storage/provider/src/test_utils/mock.rs
  crates/storage/provider/src/test_utils/noop.rs
  crates/storage/provider/src/traits/receipts.rs
Due: reth binary, storage (db), rpc, primitives

chore: add note about execute fn in docs
  crates/storage/provider/src/traits/executor.rs
Due: storage (db)

chore: add helper for getting the final total difficulty if known
  crates/primitives/src/chain/spec.rs
Due: primitives

fix merge
  crates/storage/provider/src/providers/database/mod.rs
Due: storage (db)

feat: make Reth binary smaller
  crates/primitives/src/compression/mod.rs
  crates/primitives/src/compression/receipt_dictionary.bin
  crates/primitives/src/compression/receipt_dictionary.in
  crates/primitives/src/compression/transaction_dictionary.bin
  crates/primitives/src/compression/transaction_dictionary.in
Due: primitives

refactor: use `BlockWithSenders` in executors
  bin/reth/src/debug_cmd/build_block.rs
  bin/reth/src/debug_cmd/in_memory_merkle.rs
  crates/blockchain-tree/src/chain.rs
  crates/consensus/auto-seal/src/lib.rs
  crates/consensus/beacon/src/engine/test_utils.rs
  crates/primitives/src/block.rs
  crates/revm/src/optimism/processor.rs
  crates/revm/src/processor.rs
  crates/stages/src/stages/execution.rs
  crates/storage/provider/src/test_utils/executor.rs
  crates/storage/provider/src/traits/executor.rs
Due: reth binary, blockchain tree, pipeline, storage (db), consensus/evm, primitives

chore: lint
  crates/revm/src/optimism/processor.rs
Due: consensus/evm

chore: clippy
  crates/primitives/src/compression/mod.rs
Due: primitives

chore: add note about execute fn in docs (#5768)
  crates/storage/provider/src/traits/executor.rs
Due: storage (db)

chore: add helper for getting the final total difficulty if known (#5769)
  crates/primitives/src/chain/spec.rs
Due: primitives

feat: `DatabaseProvider` delegates to `SnapshotProvider` on different providers
  bin/reth/src/db/snapshots/headers.rs
  bin/reth/src/db/snapshots/receipts.rs
  bin/reth/src/db/snapshots/transactions.rs
  bin/reth/src/node/mod.rs
  crates/interfaces/src/provider.rs
  crates/storage/provider/src/lib.rs
  crates/storage/provider/src/providers/database/mod.rs
  crates/storage/provider/src/providers/database/provider.rs
  crates/storage/provider/src/providers/mod.rs
  crates/storage/provider/src/providers/snapshot/jar.rs
  crates/storage/provider/src/providers/snapshot/manager.rs
  crates/storage/provider/src/providers/snapshot/mod.rs
  crates/storage/provider/src/test_utils/mock.rs
  crates/storage/provider/src/test_utils/noop.rs
  crates/storage/provider/src/traits/receipts.rs
Due: reth binary, storage (db), primitives

feat: Report MDBX commit latency metrics (#5668)
  crates/storage/db/src/implementation/mdbx/tx.rs
  crates/storage/db/src/metrics.rs
  crates/storage/libmdbx-rs/benches/transaction.rs
  crates/storage/libmdbx-rs/src/environment.rs
  crates/storage/libmdbx-rs/src/lib.rs
  crates/storage/libmdbx-rs/src/transaction.rs
  crates/storage/libmdbx-rs/tests/cursor.rs
  crates/storage/libmdbx-rs/tests/transaction.rs
Due: storage (db)

feat: docs default directive still needs some work
  crates/tracing/src/formatter.rs
  crates/tracing/src/layers.rs
  crates/tracing/src/lib.rs
  crates/tracing/src/tracer.rs
Due: reth binary

perf: reduce static data size (#5770)
  crates/primitives/src/compression/mod.rs
  crates/primitives/src/compression/receipt_dictionary.bin
  crates/primitives/src/compression/receipt_dictionary.in
  crates/primitives/src/compression/transaction_dictionary.bin
  crates/primitives/src/compression/transaction_dictionary.in
Due: primitives

chore: remove RpcStateCacheArgs value parser
  bin/reth/src/args/rpc_state_cache_args.rs
Due: reth binary

reorg metric
  etc/grafana/dashboards/overview.json
Due: none

chore: remove RpcStateCacheArgs value parser (#5773)
  bin/reth/src/args/rpc_state_cache_args.rs
Due: reth binary

feat: use nybbles crate (#5766)
  Cargo.lock
  bin/reth/src/debug_cmd/in_memory_merkle.rs
  bin/reth/src/debug_cmd/merkle.rs
  crates/primitives/Cargo.toml
  crates/primitives/src/trie/mod.rs
  crates/primitives/src/trie/nibbles.rs
  crates/storage/db/src/tables/codecs/compact.rs
  crates/storage/db/src/tables/mod.rs
  crates/storage/db/src/tables/models/mod.rs
  crates/trie/src/trie.rs
  crates/trie/src/trie_cursor/account_cursor.rs
  crates/trie/src/updates.rs
Due: reth binary, storage (db), trie, primitives

archifying receipts with changing provider interface
  crates/rpc/rpc/src/eth/api/block.rs
  crates/rpc/rpc/src/eth/api/fee_history.rs
  crates/rpc/rpc/src/eth/cache/mod.rs
  crates/rpc/rpc/src/eth/filter.rs
Due: rpc

chore: rm unwrap
  bin/reth/src/debug_cmd/in_memory_merkle.rs
Due: reth binary

simple number unit
  etc/grafana/dashboards/overview.json
Due: none

chore: add reorg metrics to grafana (#5774)
  etc/grafana/dashboards/overview.json
Due: none

Path conditions:
  reth binary: any of: bin/**, crates/config/**, crates/metrics/**, crates/tracing/**
  blockchain tree: any of: crates/blockchain-tree/**
  pipeline: any of: crates/stages/**, crates/staged-sync/**
  storage (db): any of: crates/storage/**
  trie: any of: crates/trie/**
  txpool: any of: crates/transaction-pool/**
  networking: any of: crates/net/**
  rpc: any of: crates/rpc/**
  consensus/evm: any of: crates/revm/**, crates/consensus/**
  payload builder: any of: crates/payload/**
  primitives: any of: crates/primitives/**, crates/tasks/**, crates/rlp/**, crates/interfaces/**
