Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

simplify
  bin/reth/src/commands/debug_cmd/execution.rs
  bin/reth/src/commands/debug_cmd/in_memory_merkle.rs
  bin/reth/src/commands/debug_cmd/merkle.rs
  bin/reth/src/commands/debug_cmd/replay_engine.rs
  crates/cli/commands/src/stage/run.rs
  crates/exex/test-utils/src/lib.rs
  crates/net/discv5/src/network_stack_id.rs
  crates/net/network/src/config.rs
  crates/net/network/src/lib.rs
  crates/net/network/src/manager.rs
  crates/net/network/src/test_utils/testnet.rs
  crates/net/network/src/transactions/mod.rs
  crates/net/network/tests/it/connect.rs
  crates/net/network/tests/it/startup.rs
  crates/node/builder/src/builder/mod.rs
  crates/storage/storage-api/src/noop.rs
  examples/custom-rlpx-subprotocol/src/main.rs
  examples/network-txpool/src/main.rs
  examples/network/src/main.rs
  examples/polygon-p2p/src/main.rs
Due: reth binary, storage (db), networking

Working storage of gas price/revision number enough for integration test to pass
  Cargo.lock
  Cargo.toml
  crates/blockchain-tree/src/blockchain_tree.rs
  crates/consensus/beacon/src/engine/mod.rs
  crates/engine/tree/Cargo.toml
  crates/engine/tree/src/tree/mod.rs
  crates/engine/util/Cargo.toml
  crates/engine/util/src/reorg.rs
  crates/ethereum/engine-primitives/src/payload.rs
  crates/ethereum/evm/Cargo.toml
  crates/ethereum/evm/src/execute.rs
  crates/ethereum/evm/src/lib.rs
  crates/ethereum/payload/Cargo.toml
  crates/ethereum/payload/src/lib.rs
  crates/evm/Cargo.toml
  crates/evm/src/lib.rs
  crates/node/builder/Cargo.toml
  crates/payload/validator/Cargo.toml
  crates/payload/validator/src/lib.rs
  crates/primitives-traits/Cargo.toml
  crates/primitives-traits/src/header/mod.rs
  crates/primitives/Cargo.toml
  crates/primitives/src/transaction/compat.rs
  crates/rpc/rpc-eth-api/Cargo.toml
  crates/rpc/rpc-eth-api/src/helpers/call.rs
  crates/rpc/rpc-eth-api/src/helpers/pending_block.rs
  crates/rpc/rpc-eth-api/src/helpers/trace.rs
  crates/rpc/rpc-types-compat/Cargo.toml
  crates/rpc/rpc-types-compat/src/engine/payload.rs
  crates/rpc/rpc/Cargo.toml
  crates/rpc/rpc/src/debug.rs
  crates/rpc/rpc/src/eth/bundle.rs
  crates/rpc/rpc/src/trace.rs
  crates/telos/primitives-traits/Cargo.toml
  crates/telos/primitives-traits/src/lib.rs
Due: blockchain tree, rpc, consensus/evm, payload builder, primitives

refactor: extract optimism receipts hashing logic to reth-optimism-consensus
  Cargo.lock
  crates/consensus/auto-seal/Cargo.toml
  crates/consensus/auto-seal/src/lib.rs
  crates/evm/execution-types/Cargo.toml
  crates/evm/execution-types/src/execution_outcome.rs
  crates/optimism/consensus/src/lib.rs
  crates/optimism/consensus/src/proof.rs
  crates/optimism/payload/Cargo.toml
  crates/optimism/payload/src/builder.rs
  crates/optimism/rpc/Cargo.toml
  crates/optimism/rpc/src/eth/pending_block.rs
  crates/primitives/Cargo.toml
  crates/primitives/src/proofs.rs
  crates/primitives/src/receipt.rs
Due: consensus/evm, primitives

feat(trie): dump trie updates to json in debug merkle
  bin/reth/src/commands/debug_cmd/merkle.rs
Due: reth binary

reth-codec: remove unused derives from alloy compat types
  crates/storage/codecs/Cargo.toml
  crates/storage/codecs/src/alloy/authorization_list.rs
  crates/storage/codecs/src/alloy/genesis_account.rs
  crates/storage/codecs/src/alloy/header.rs
  crates/storage/codecs/src/alloy/transaction/eip1559.rs
  crates/storage/codecs/src/alloy/transaction/eip2930.rs
  crates/storage/codecs/src/alloy/transaction/eip4844.rs
  crates/storage/codecs/src/alloy/transaction/eip7702.rs
  crates/storage/codecs/src/alloy/transaction/legacy.rs
  crates/storage/codecs/src/alloy/transaction/optimism.rs
  crates/storage/codecs/src/alloy/withdrawal.rs
Due: storage (db)

rm empty comment for lint
  crates/engine/tree/src/tree/mod.rs
Due: none

chore(evm): replace reth-primitives with alloy
  Cargo.lock
  crates/evm/Cargo.toml
  crates/evm/execution-types/Cargo.toml
  crates/evm/execution-types/src/chain.rs
  crates/evm/execution-types/src/execute.rs
  crates/evm/execution-types/src/execution_outcome.rs
  crates/evm/src/either.rs
  crates/evm/src/execute.rs
  crates/evm/src/lib.rs
  crates/evm/src/noop.rs
  crates/evm/src/provider.rs
  crates/evm/src/system_calls/eip2935.rs
  crates/evm/src/system_calls/eip4788.rs
  crates/evm/src/system_calls/eip7002.rs
  crates/evm/src/system_calls/eip7251.rs
  crates/evm/src/test_utils.rs
Due: none

Fixed clippy - cartes/engine
  crates/engine/tree/src/tree/mod.rs
Due: none

reth-codec: remove unused derives from alloy compat types (#11231)
  crates/engine/tree/src/tree/mod.rs
  crates/storage/codecs/Cargo.toml
  crates/storage/codecs/src/alloy/authorization_list.rs
  crates/storage/codecs/src/alloy/genesis_account.rs
  crates/storage/codecs/src/alloy/header.rs
  crates/storage/codecs/src/alloy/transaction/eip1559.rs
  crates/storage/codecs/src/alloy/transaction/eip2930.rs
  crates/storage/codecs/src/alloy/transaction/eip4844.rs
  crates/storage/codecs/src/alloy/transaction/eip7702.rs
  crates/storage/codecs/src/alloy/transaction/legacy.rs
  crates/storage/codecs/src/alloy/transaction/optimism.rs
  crates/storage/codecs/src/alloy/withdrawal.rs
Due: storage (db)

chore(evm): replace reth-primitives with alloy (#11232)
  Cargo.lock
  crates/evm/Cargo.toml
  crates/evm/execution-types/Cargo.toml
  crates/evm/execution-types/src/chain.rs
  crates/evm/execution-types/src/execute.rs
  crates/evm/execution-types/src/execution_outcome.rs
  crates/evm/src/either.rs
  crates/evm/src/execute.rs
  crates/evm/src/lib.rs
  crates/evm/src/noop.rs
  crates/evm/src/provider.rs
  crates/evm/src/system_calls/eip2935.rs
  crates/evm/src/system_calls/eip4788.rs
  crates/evm/src/system_calls/eip7002.rs
  crates/evm/src/system_calls/eip7251.rs
  crates/evm/src/test_utils.rs
Due: none

ci: pin clippy to working version
  .github/workflows/lint.yml
Due: none

ci: pin clippy to working version (#11237)
  .github/workflows/lint.yml
Due: none

remove parallel feature
  crates/blockchain-tree/Cargo.toml
  crates/trie/parallel/Cargo.toml
  crates/trie/parallel/src/lib.rs
  crates/trie/parallel/src/storage_root_targets.rs
Due: blockchain tree, trie

chore(trie): replace ParallelStateRoot with AsyncStateRoot
  crates/engine/tree/src/tree/mod.rs
  crates/trie/parallel/Cargo.toml
  crates/trie/parallel/benches/root.rs
  crates/trie/parallel/src/async_root.rs
  crates/trie/parallel/src/lib.rs
  crates/trie/parallel/src/parallel_root.rs
Due: trie

refactor: extract optimism receipts hashing logic to `reth-optimism-consensus` (#11230)
  Cargo.lock
  crates/consensus/auto-seal/Cargo.toml
  crates/consensus/auto-seal/src/lib.rs
  crates/evm/execution-types/Cargo.toml
  crates/evm/execution-types/src/execution_outcome.rs
  crates/optimism/consensus/src/lib.rs
  crates/optimism/consensus/src/proof.rs
  crates/optimism/payload/Cargo.toml
  crates/optimism/payload/src/builder.rs
  crates/optimism/rpc/Cargo.toml
  crates/optimism/rpc/src/eth/pending_block.rs
  crates/primitives/Cargo.toml
  crates/primitives/src/proofs.rs
  crates/primitives/src/receipt.rs
Due: consensus/evm, primitives

chore(trie): replace ParallelStateRoot with AsyncStateRoot (#11213)
  crates/blockchain-tree/Cargo.toml
  crates/engine/tree/src/tree/mod.rs
  crates/trie/parallel/Cargo.toml
  crates/trie/parallel/benches/root.rs
  crates/trie/parallel/src/async_root.rs
  crates/trie/parallel/src/lib.rs
  crates/trie/parallel/src/parallel_root.rs
  crates/trie/parallel/src/storage_root_targets.rs
Due: blockchain tree, trie

move op storage tests into new crate reth-optimism-storage
  Cargo.lock
  Cargo.toml
  crates/optimism/storage/Cargo.toml
  crates/optimism/storage/src/lib.rs
  crates/storage/db-api/src/models/mod.rs
Due: storage (db)

fix lint
  Cargo.lock
  crates/optimism/storage/Cargo.toml
  crates/optimism/storage/src/lib.rs
  crates/storage/db-api/src/models/mod.rs
Due: storage (db)

add comments, simplify the impl
  crates/exex/exex/src/manager.rs
  crates/exex/exex/src/notifications.rs
  crates/exex/exex/src/wal/mod.rs
  crates/exex/exex/src/wal/storage.rs
  crates/node/builder/src/launch/exex.rs
Due: none

primitives: rm H* deprecated types
  crates/primitives/src/lib.rs
Due: primitives

fix conflicts
  crates/evm/Cargo.toml
  crates/evm/execution-types/Cargo.toml
  crates/evm/execution-types/src/chain.rs
  crates/evm/execution-types/src/execution_outcome.rs
  crates/evm/src/lib.rs
Due: none

fix conflicts
  crates/evm/execution-types/src/chain.rs
  crates/evm/execution-types/src/execution_outcome.rs
  crates/evm/src/lib.rs
Due: none

cover in arc rwlock
  crates/exex/exex/src/wal/cache.rs
  crates/exex/exex/src/wal/mod.rs
  crates/exex/exex/src/wal/storage.rs
Due: none

primitives: rm `H*` deprecated types (#11246)
  crates/primitives/src/lib.rs
Due: primitives

elided lifetime has a name
  crates/exex/exex/src/wal/storage.rs
Due: none

fix deps
  crates/evm/execution-types/src/execution_outcome.rs
Due: none

chore(config): replace reth-primitives with alloy
  Cargo.lock
  crates/config/Cargo.toml
  crates/config/src/config.rs
Due: reth binary

Add trait Receipts
  crates/evm/execution-types/src/execution_outcome.rs
  crates/optimism/consensus/src/proof.rs
Due: none

removed unused reth-primitives crate
  Cargo.lock
  crates/config/Cargo.toml
Due: reth binary

nit
  crates/net/eth-wire-types/src/status.rs
Due: networking

walk the cache
  crates/exex/exex/src/notifications.rs
  crates/exex/exex/src/wal/cache.rs
  crates/exex/exex/src/wal/mod.rs
Due: none

feat: make `NetworkConfigBuilder` independent of concrete `ChainSpec` (#11176)
  crates/chainspec/src/api.rs
  crates/chainspec/src/spec.rs
  crates/cli/commands/src/p2p/mod.rs
  crates/consensus/auto-seal/src/task.rs
  crates/ethereum-forks/src/hardforks/mod.rs
  crates/net/discv5/src/network_stack_id.rs
  crates/net/eth-wire-types/src/status.rs
  crates/net/network/src/config.rs
  crates/net/network/src/manager.rs
  crates/net/network/src/test_utils/testnet.rs
  crates/net/network/tests/it/connect.rs
  crates/net/network/tests/it/startup.rs
  crates/node/builder/src/builder/mod.rs
  crates/node/builder/src/launch/common.rs
  crates/node/core/src/args/network.rs
  crates/node/types/src/lib.rs
  crates/storage/provider/src/providers/database/provider.rs
  crates/storage/storage-api/src/noop.rs
  examples/bsc-p2p/src/main.rs
  examples/custom-rlpx-subprotocol/src/main.rs
  examples/polygon-p2p/src/main.rs
Due: storage (db), networking, consensus/evm

Path conditions:
  reth binary: any of: bin/**, crates/config/**, crates/metrics/**, crates/tracing/**
  blockchain tree: any of: crates/blockchain-tree/**
  pipeline: any of: crates/stages/**, crates/staged-sync/**
  storage (db): any of: crates/storage/**
  trie: any of: crates/trie/**
  txpool: any of: crates/transaction-pool/**
  networking: any of: crates/net/**
  rpc: any of: crates/rpc/**
  consensus/evm: any of: crates/revm/**, crates/consensus/**
  payload builder: any of: crates/payload/**
  primitives: any of: crates/primitives/**, crates/tasks/**, crates/rlp/**, crates/interfaces/**
