Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

codecov.yml:

coverage:
  status:
    patch: off
    project:
      default:
        threshold: null
        informational: true
github_checks:
  annotations: false
comment:
  layout: "reach, files, flags, components"
  require_changes: true
component_management:
  individual_components:
    - component_id: reth_binary
      name: reth binary
      paths:
        - bin/**
        - crates/config/**
        - crates/metrics/**
        - crates/tracing/**
    - component_id: blockchain_tree
      name: blockchain tree
      paths:
        - crates/blockchain-tree/**
    - component_id: staged_sync
      name: pipeline
      paths:
        - crates/stages/**
        - crates/staged-sync/**
    - component_id: storage
      name: storage (db)
      paths:
        - crates/storage/**
    - component_id: trie
      name: trie
      paths:
        - crates/trie/**
    - component_id: txpool
      name: txpool
      paths:
        - crates/transaction-pool/**
    - component_id: networking
      name: networking
      paths:
        - crates/net/**
    - component_id: rpc
      name: rpc
      paths:
        - crates/rpc/**
    - component_id: core
      name: consensus/evm
      paths:
        - crates/revm/**
        - crates/consensus/**
    - component_id: builder
      name: payload builder
      paths:
        - crates/payload/**
    - component_id: primitives
      name: primitives
      paths:
        - crates/primitives/**
        - crates/tasks/**
        - crates/rlp/**
        - crates/interfaces/**

resolves lint error
  crates/storage/storage-api/src/block.rs
Due: storage (db)

remove pending_block impl in noop.rs
  crates/storage/storage-api/src/noop.rs
Due: storage (db)

wip
  Cargo.lock
  crates/optimism/storage/Cargo.toml
  crates/optimism/storage/src/chain.rs
Due: none

unify pending_block fn
  crates/rpc/rpc-eth-api/src/helpers/block.rs
  crates/rpc/rpc-eth-api/src/helpers/pending_block.rs
  crates/storage/provider/src/providers/blockchain_provider.rs
  crates/storage/provider/src/providers/consistent.rs
  crates/storage/provider/src/providers/database/mod.rs
  crates/storage/provider/src/providers/database/provider.rs
  crates/storage/provider/src/providers/static_file/manager.rs
  crates/storage/provider/src/test_utils/mock.rs
  crates/storage/storage-api/src/block.rs
  crates/storage/storage-api/src/noop.rs
Due: storage (db), rpc

replace 404 link message.rs
  crates/net/eth-wire-types/src/message.rs
Due: networking

feat: fixed missing blocktimestamp in logs subscription
  crates/chain-state/src/notifications.rs
  crates/evm/execution-types/src/chain.rs
  crates/rpc/rpc-eth-types/src/logs_utils.rs
  crates/rpc/rpc/src/eth/pubsub.rs
Due: rpc

feat(optimism): Replace `OpAddOns` requirement of `OpChainSpec` with a `OpHardforks` trait bound (#16577)
  crates/optimism/node/src/engine.rs
  crates/optimism/node/src/node.rs
  crates/optimism/node/tests/it/priority.rs
  crates/optimism/rpc/Cargo.toml
  crates/optimism/rpc/src/eth/block.rs
  crates/optimism/rpc/src/eth/receipt.rs
  crates/optimism/rpc/src/witness.rs
Due: none

chore: rm some clones (#16588)
  crates/rpc/rpc-eth-api/src/helpers/call.rs
  crates/rpc/rpc-eth-types/src/simulate.rs
Due: rpc

updated btree imports
  crates/trie/common/src/updates.rs
Due: trie

refactor: replace generics with Node types for OpExecutorBuilder
  crates/optimism/node/src/node.rs
Due: none

feat: implement override for HardForks
  crates/chainspec/src/api.rs
  crates/chainspec/src/lib.rs
  crates/chainspec/src/spec.rs
  crates/cli/commands/src/node.rs
  crates/node/core/src/args/hardfork_overrides.rs
Due: none

ci: deduplicate Docker CI matrix members
  .github/workflows/docker.yml
Due: none

bsc spec
  Cargo.lock
  examples/bsc-p2p/Cargo.toml
  examples/bsc-p2p/src/evm/config.rs
  examples/bsc-p2p/src/evm/handler.rs
  examples/bsc-p2p/src/evm/mod.rs
  examples/bsc-p2p/src/evm/precompiles/bls.rs
  examples/bsc-p2p/src/evm/precompiles/cometbft.rs
  examples/bsc-p2p/src/evm/precompiles/double_sign.rs
  examples/bsc-p2p/src/evm/precompiles/error.rs
  examples/bsc-p2p/src/evm/precompiles/iavl.rs
  examples/bsc-p2p/src/evm/precompiles/mod.rs
  examples/bsc-p2p/src/evm/precompiles/tendermint.rs
  examples/bsc-p2p/src/evm/precompiles/tm_secp256k1.rs
  examples/bsc-p2p/src/evm/spec.rs
  examples/bsc-p2p/src/evm/transaction.rs
  examples/bsc-p2p/src/lib.rs
Due: none

refactored to sdk
  Cargo.toml
  examples/bsc-p2p/src/lib.rs
  examples/bsc-sdk/Cargo.toml
  examples/bsc-sdk/src/chainspec/genesis.json
  examples/bsc-sdk/src/chainspec/hardforks.rs
  examples/bsc-sdk/src/chainspec/mod.rs
  examples/bsc-sdk/src/evm/api/builder.rs
  examples/bsc-sdk/src/evm/api/ctx.rs
  examples/bsc-sdk/src/evm/api/exec.rs
  examples/bsc-sdk/src/evm/api/mod.rs
  examples/bsc-sdk/src/evm/config.rs
  examples/bsc-sdk/src/evm/handler.rs
  examples/bsc-sdk/src/evm/mod.rs
  examples/bsc-sdk/src/evm/precompiles/bls.rs
  examples/bsc-sdk/src/evm/precompiles/cometbft.rs
  examples/bsc-sdk/src/evm/precompiles/double_sign.rs
  examples/bsc-sdk/src/evm/precompiles/error.rs
  examples/bsc-sdk/src/evm/precompiles/iavl.rs
  examples/bsc-sdk/src/evm/precompiles/mod.rs
  examples/bsc-sdk/src/evm/precompiles/tendermint.rs
  examples/bsc-sdk/src/evm/precompiles/tm_secp256k1.rs
  examples/bsc-sdk/src/evm/spec.rs
  examples/bsc-sdk/src/evm/transaction.rs
  examples/bsc-sdk/src/lib.rs
  examples/bsc-sdk/src/main.rs
  examples/bsc-sdk/src/node/evm/mod.rs
  examples/bsc-sdk/src/node/mod.rs
  examples/bsc-sdk/src/node/network/block_import/handle.rs
  examples/bsc-sdk/src/node/network/block_import/mod.rs
  examples/bsc-sdk/src/node/network/block_import/parlia.rs
  examples/bsc-sdk/src/node/network/block_import/service.rs
  examples/bsc-sdk/src/node/network/handshake.rs
  examples/bsc-sdk/src/node/network/mod.rs
  examples/bsc-sdk/src/node/network/upgrade_status.rs
  examples/bsc-sdk/tests/it/main.rs
  examples/bsc-sdk/tests/it/p2p.rs
Due: none

can sync first block
  Cargo.lock
  crates/engine/tree/Cargo.toml
  examples/bsc-sdk/Cargo.toml
  examples/bsc-sdk/src/chainspec/mod.rs
  examples/bsc-sdk/src/chainspec/parser.rs
  examples/bsc-sdk/src/consensus/mod.rs
  examples/bsc-sdk/src/evm/api/builder.rs
  examples/bsc-sdk/src/evm/api/ctx.rs
  examples/bsc-sdk/src/evm/precompiles/mod.rs
  examples/bsc-sdk/src/evm/transaction.rs
  examples/bsc-sdk/src/hardforks/bsc.rs
  examples/bsc-sdk/src/hardforks/mod.rs
  examples/bsc-sdk/src/main.rs
  examples/bsc-sdk/src/node/consensus.rs
  examples/bsc-sdk/src/node/evm/config.rs
  examples/bsc-sdk/src/node/evm/executor.rs
  examples/bsc-sdk/src/node/evm/factory.rs
  examples/bsc-sdk/src/node/evm/mod.rs
  examples/bsc-sdk/src/node/mod.rs
  examples/bsc-sdk/src/node/network/block_import/service.rs
  examples/bsc-sdk/src/node/network/mod.rs
  examples/bsc-sdk/src/node/rpc/call.rs
  examples/bsc-sdk/src/node/rpc/engine_api/mod.rs
  examples/bsc-sdk/src/node/rpc/engine_api/validator.rs
  examples/bsc-sdk/src/node/rpc/mod.rs
  examples/bsc-sdk/src/system_contracts/abi.rs
  examples/bsc-sdk/src/system_contracts/mod.rs
  examples/bsc-sdk/tests/it/sync_blocks.rs
Due: none

hardforks
  examples/bsc-sdk/Cargo.toml
  examples/bsc-sdk/src/chainspec/bsc.rs
  examples/bsc-sdk/src/chainspec/hardforks.rs
  examples/bsc-sdk/src/chainspec/mod.rs
  examples/bsc-sdk/src/evm/api/builder.rs
  examples/bsc-sdk/src/evm/api/exec.rs
  examples/bsc-sdk/src/evm/api/mod.rs
  examples/bsc-sdk/src/evm/mod.rs
  examples/bsc-sdk/src/evm/transaction.rs
  examples/bsc-sdk/src/hardforks/bsc.rs
  examples/bsc-sdk/src/hardforks/mod.rs
  examples/bsc-sdk/src/lib.rs
  examples/bsc-sdk/src/main.rs
  examples/bsc-sdk/src/node/evm/config.rs
  examples/bsc-sdk/src/node/evm/factory.rs
  examples/bsc-sdk/src/node/evm/mod.rs
  examples/bsc-sdk/tests/it/p2p.rs
Due: none

fix: ci
  Cargo.lock
  examples/bsc-sdk/Cargo.toml
  examples/bsc-sdk/src/chainspec/mod.rs
  examples/bsc-sdk/src/evm/precompiles/cometbft.rs
  examples/bsc-sdk/src/evm/precompiles/double_sign.rs
  examples/bsc-sdk/src/evm/transaction.rs
  examples/bsc-sdk/src/main.rs
  examples/bsc-sdk/src/node/cli.rs
  examples/bsc-sdk/src/node/mod.rs
  examples/bsc-sdk/src/system_contracts/abi.rs
Due: none

configure evm
  examples/bsc-sdk/src/node/evm/config.rs
Due: none

bsc precompiles
  Cargo.lock
  examples/bsc-p2p/Cargo.toml
  examples/bsc-p2p/src/evm/api/exec.rs
  examples/bsc-p2p/src/evm/precompiles/mod.rs
  examples/bsc-p2p/src/evm/transaction.rs
Due: none

specced block executor
  examples/bsc-sdk/Cargo.toml
  examples/bsc-sdk/src/node/evm/executor.rs
  examples/bsc-sdk/src/node/evm/mod.rs
Due: none

bsc evm
  Cargo.lock
  examples/bsc-p2p/Cargo.toml
  examples/bsc-p2p/src/evm/api/builder.rs
  examples/bsc-p2p/src/evm/api/ctx.rs
  examples/bsc-p2p/src/evm/api/exec.rs
  examples/bsc-p2p/src/evm/api/mod.rs
  examples/bsc-p2p/src/evm/mod.rs
Due: none

sync
  examples/bsc-sdk/Cargo.toml
  examples/bsc-sdk/src/evm/api/mod.rs
  examples/bsc-sdk/src/evm/precompiles/mod.rs
Due: none

BSC node implemented
  Cargo.lock
  crates/engine/tree/Cargo.toml
  crates/rpc/rpc-engine-api/src/engine_api.rs
  examples/bsc-sdk/Cargo.toml
  examples/bsc-sdk/blocks.json
  examples/bsc-sdk/src/chainspec/bsc.rs
  examples/bsc-sdk/src/chainspec/mod.rs
  examples/bsc-sdk/src/consensus/mod.rs
  examples/bsc-sdk/src/evm/api/builder.rs
  examples/bsc-sdk/src/evm/api/mod.rs
  examples/bsc-sdk/src/evm/precompiles/mod.rs
  examples/bsc-sdk/src/evm/transaction.rs
  examples/bsc-sdk/src/hardforks/bsc.rs
  examples/bsc-sdk/src/main.rs
  examples/bsc-sdk/src/node/consensus.rs
  examples/bsc-sdk/src/node/evm/config.rs
  examples/bsc-sdk/src/node/evm/executor.rs
  examples/bsc-sdk/src/node/evm/factory.rs
  examples/bsc-sdk/src/node/evm/mod.rs
  examples/bsc-sdk/src/node/mod.rs
  examples/bsc-sdk/src/node/network/block_import/mod.rs
  examples/bsc-sdk/src/node/network/block_import/service.rs
  examples/bsc-sdk/src/node/network/mod.rs
  examples/bsc-sdk/src/node/payload/builder.rs
  examples/bsc-sdk/src/node/payload/mod.rs
  examples/bsc-sdk/src/node/pool.rs
  examples/bsc-sdk/src/node/rpc/block.rs
  examples/bsc-sdk/src/node/rpc/call.rs
  examples/bsc-sdk/src/node/rpc/engine_api/builder.rs
  examples/bsc-sdk/src/node/rpc/engine_api/mod.rs
  examples/bsc-sdk/src/node/rpc/engine_api/payload.rs
  examples/bsc-sdk/src/node/rpc/engine_api/validator.rs
  examples/bsc-sdk/src/node/rpc/mod.rs
  examples/bsc-sdk/src/node/rpc/transaction.rs
  examples/bsc-sdk/src/system_contracts/abi.rs
  examples/bsc-sdk/src/system_contracts/mod.rs
  examples/bsc-sdk/tests/it/p2p.rs
  examples/bsc-sdk/tests/it/sync_blocks.rs
Due: rpc

Review fixes
  Cargo.lock
  crates/rpc/rpc-engine-api/src/engine_api.rs
  examples/bsc-sdk/blocks.json
  examples/bsc-sdk/src/chainspec/bsc.rs
  examples/bsc-sdk/src/consensus/mod.rs
  examples/bsc-sdk/src/evm/handler.rs
  examples/bsc-sdk/src/evm/precompiles/bls.rs
  examples/bsc-sdk/src/evm/precompiles/error.rs
  examples/bsc-sdk/src/evm/spec.rs
  examples/bsc-sdk/src/evm/transaction.rs
  examples/bsc-sdk/src/hardforks/bsc.rs
  examples/bsc-sdk/src/main.rs
  examples/bsc-sdk/src/node/cli.rs
  examples/bsc-sdk/src/node/consensus.rs
  examples/bsc-sdk/src/node/evm/executor.rs
  examples/bsc-sdk/src/node/evm/patch/mod.rs
  examples/bsc-sdk/src/node/execute.rs
  examples/bsc-sdk/src/node/mod.rs
  examples/bsc-sdk/src/node/payload/builder.rs
  examples/bsc-sdk/src/node/payload/mod.rs
  examples/bsc-sdk/src/node/pool.rs
  examples/bsc-sdk/src/node/rpc/block.rs
  examples/bsc-sdk/src/node/rpc/engine_api/mod.rs
  examples/bsc-sdk/src/node/rpc/transaction.rs
  examples/bsc-sdk/src/system_contracts/abi.rs
  examples/bsc-sdk/tests/it/sync_blocks.rs
Due: rpc

fix: system reward balance from system reward contract
  examples/bsc-sdk/src/node/evm/executor.rs
Due: none

synced with latest reth
  Cargo.lock
  examples/bsc-sdk/Cargo.toml
  examples/bsc-sdk/src/evm/api/exec.rs
  examples/bsc-sdk/src/evm/api/mod.rs
  examples/bsc-sdk/src/evm/precompiles/bls.rs
  examples/bsc-sdk/src/evm/precompiles/cometbft.rs
  examples/bsc-sdk/src/evm/precompiles/double_sign.rs
  examples/bsc-sdk/src/evm/precompiles/iavl.rs
  examples/bsc-sdk/src/evm/precompiles/mod.rs
  examples/bsc-sdk/src/evm/precompiles/tendermint.rs
  examples/bsc-sdk/src/evm/precompiles/tm_secp256k1.rs
  examples/bsc-sdk/src/evm/transaction.rs
  examples/bsc-sdk/src/node/cli.rs
  examples/bsc-sdk/src/node/evm/factory.rs
  examples/bsc-sdk/src/node/evm/mod.rs
  examples/bsc-sdk/src/node/execute.rs
  examples/bsc-sdk/src/node/mod.rs
  examples/bsc-sdk/src/node/network/mod.rs
  examples/bsc-sdk/src/node/rpc/call.rs
Due: none

rebase fix
  Cargo.lock
  examples/bsc-sdk/src/node/rpc/block.rs
Due: none

lock
  Cargo.lock
Due: none

fix: rust docs
  examples/bsc-sdk/src/node/rpc/engine_api/builder.rs
Due: none

review: engine api simplification
  examples/bsc-sdk/src/node/mod.rs
  examples/bsc-sdk/src/node/rpc/engine_api/builder.rs
  examples/bsc-sdk/src/node/rpc/engine_api/mod.rs
Due: none

sync
  Cargo.lock
Due: none

sync
  Cargo.lock
  examples/bsc-sdk/src/node/rpc/engine_api/payload.rs
Due: none

fix: tx pool type
  examples/bsc-sdk/src/node/evm/executor.rs
  examples/bsc-sdk/src/node/network/mod.rs
Due: none

synced to latest reth
  Cargo.lock
  examples/bsc-sdk/src/node/cli.rs
  examples/bsc-sdk/src/node/evm/executor.rs
  examples/bsc-sdk/src/node/evm/mod.rs
  examples/bsc-sdk/src/node/rpc/transaction.rs
Due: none

ci: special treatment for release candidate tags
  .github/workflows/docker.yml
  .github/workflows/release.yml
Due: none

Update .github/workflows/release.yml
  .github/workflows/release.yml
Due: none

chore: simplify `NetworkPrimitives` (#16556)
  crates/net/eth-wire-types/src/primitives.rs
  crates/optimism/node/src/node.rs
  crates/primitives-traits/src/receipt.rs
  examples/custom-node/src/lib.rs
Due: networking
