Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

codecov.yml:

coverage:
  status:
    patch: off
    project:
      default:
        threshold: null
        informational: true
github_checks:
  annotations: false
comment:
  layout: "reach, files, flags, components"
  require_changes: true
component_management:
  individual_components:
    - component_id: reth_binary
      name: reth binary
      paths:
        - bin/**
        - crates/config/**
        - crates/metrics/**
        - crates/tracing/**
    - component_id: blockchain_tree
      name: blockchain tree
      paths:
        - crates/blockchain-tree/**
    - component_id: staged_sync
      name: pipeline
      paths:
        - crates/stages/**
        - crates/staged-sync/**
    - component_id: storage
      name: storage (db)
      paths:
        - crates/storage/**
    - component_id: trie
      name: trie
      paths:
        - crates/trie/**
    - component_id: txpool
      name: txpool
      paths:
        - crates/transaction-pool/**
    - component_id: networking
      name: networking
      paths:
        - crates/net/**
    - component_id: rpc
      name: rpc
      paths:
        - crates/rpc/**
    - component_id: core
      name: consensus/evm
      paths:
        - crates/revm/**
        - crates/consensus/**
    - component_id: builder
      name: payload builder
      paths:
        - crates/payload/**
    - component_id: primitives
      name: primitives
      paths:
        - crates/primitives/**
        - crates/tasks/**
        - crates/rlp/**
        - crates/interfaces/**

refactor: move `ValidationApi` setup to `EthereumAddOns` (#14342)
  Cargo.lock
  crates/ethereum/node/Cargo.toml
  crates/ethereum/node/src/node.rs
  crates/node/builder/src/rpc.rs
  crates/rpc/rpc-builder/Cargo.toml
  crates/rpc/rpc-builder/src/lib.rs
  crates/rpc/rpc-builder/tests/it/middleware.rs
  crates/rpc/rpc-builder/tests/it/startup.rs
  crates/rpc/rpc-builder/tests/it/utils.rs
  crates/rpc/rpc/Cargo.toml
  crates/rpc/rpc/src/eth/core.rs
  examples/rpc-db/src/main.rs
Due: rpc

added helper error enums for L1BlockInfoError (#14326)
  crates/net/network/src/peers.rs
  crates/net/network/src/test_utils/testnet.rs
  crates/optimism/evm/src/error.rs
  crates/optimism/evm/src/l1.rs
Due: networking

Trigger compilation for windows to use locked crunchy version
  Cargo.lock
  crates/optimism/consensus/Cargo.toml
  crates/optimism/consensus/src/lib.rs
Due: none

Fix feature propagation
  crates/optimism/consensus/Cargo.toml
Due: none

add config endpoint
  Cargo.lock
  crates/rpc/rpc-api/Cargo.toml
  crates/rpc/rpc-api/src/debug.rs
  crates/rpc/rpc/src/debug.rs
Due: rpc

Format import prelude
  crates/optimism/consensus/src/lib.rs
  crates/optimism/consensus/src/validation/canyon.rs
  crates/optimism/consensus/src/validation/isthmus.rs
Due: none

added BeaconConsensusEngineHandle to RpcHandle
  crates/net/network/src/peers.rs
  crates/net/network/src/test_utils/testnet.rs
  crates/node/builder/src/launch/engine.rs
  crates/node/builder/src/rpc.rs
Due: networking

feat: should be able to set eth request handler as generic from NetworkConfigBuilder and defaulting to EthProtocol concrete type
  crates/net/network/src/builder.rs
  crates/net/network/src/config.rs
  crates/net/network/src/manager.rs
  crates/net/network/src/protocol/eth.rs
  crates/net/network/src/protocol/mod.rs
  crates/net/network/src/session/active.rs
  crates/net/network/src/session/mod.rs
  crates/net/network/src/swarm.rs
Due: networking

Added from<alloy_rpc_types_eth::Transaction> for TransactionSigned
  crates/ethereum/primitives/src/alloy_compat.rs
Due: none

Modified the cargo.toml
  Cargo.lock
  crates/ethereum/primitives/Cargo.toml
Due: none

added clone to node types
  crates/node/types/src/lib.rs
Due: none

feat: removed dyn dispatch, starting to work on the active session part
  crates/net/network/src/protocol/eth.rs
  crates/net/network/src/protocol/mod.rs
  crates/net/network/src/session/active.rs
  crates/net/network/src/session/conn.rs
  crates/net/network/src/session/handle.rs
  crates/net/network/src/session/mod.rs
Due: networking

removed unused_crate_dependencies line to fix failing tests
  crates/ethereum/primitives/src/lib.rs
Due: none

feat: smol refactor
  crates/net/network/src/builder.rs
  crates/net/network/src/config.rs
  crates/net/network/src/manager.rs
  crates/net/network/src/protocol/eth.rs
  crates/net/network/src/protocol/mod.rs
  crates/net/network/src/session/mod.rs
  crates/net/network/src/swarm.rs
Due: networking

suggestions
  crates/rpc/rpc/src/debug.rs
Due: rpc

added BeaconConsensusEngineHandle to RpcHandle (#14348)
  crates/node/builder/src/launch/engine.rs
  crates/node/builder/src/rpc.rs
Due: none

add debug_chainConfig endpoint (#14346)
  Cargo.lock
  crates/rpc/rpc-api/Cargo.toml
  crates/rpc/rpc-api/src/debug.rs
  crates/rpc/rpc/src/debug.rs
Due: rpc

updated added clone to node types with all test passed
  crates/node/builder/src/node.rs
Due: none

Block validator
  Cargo.lock
  Cargo.toml
  bin/reth/Cargo.toml
  bin/reth/src/commands/bitfinity_import.rs
  crates/bitfinity-block-validator/Cargo.toml
  crates/bitfinity-block-validator/src/lib.rs
  crates/net/downloaders/src/bitfinity_evm_client.rs
  crates/node/core/src/args/bitfinity_args.rs
Due: reth binary, networking

feat: add benches/trie_state.rs
  Cargo.lock
  crates/chain-state/Cargo.toml
  crates/chain-state/benches/trie_state.rs
Due: none

feat: remove TrieUpdates::removed_nodes and StorageTrieUpdates::removed_nodes
  bin/reth/src/commands/debug_cmd/in_memory_merkle.rs
  crates/engine/tree/src/tree/trie_updates.rs
  crates/storage/provider/src/providers/database/provider.rs
  crates/trie/common/src/updates.rs
  crates/trie/db/src/trie_cursor.rs
  crates/trie/db/tests/trie.rs
  crates/trie/sparse/benches/root.rs
  crates/trie/sparse/src/state.rs
  crates/trie/sparse/src/trie.rs
  crates/trie/trie/src/trie.rs
Due: reth binary, storage (db), trie

Use updated evm client to send validation request
  crates/bitfinity-block-validator/src/lib.rs
Due: none

fix
  crates/transaction-pool/src/pool/mod.rs
Due: txpool

prague: testnet timestamps (#14270)
  crates/chainspec/src/spec.rs
  crates/ethereum-forks/src/hardfork/ethereum.rs
Due: none

Remove use of magic number
  Cargo.lock
  crates/optimism/chainspec/Cargo.toml
  crates/optimism/chainspec/src/lib.rs
  crates/optimism/primitives/src/lib.rs
Due: none

feat: avoid zstd dependency in reth-evm and reth-optimism-evm
  Cargo.lock
  crates/ethereum/evm/Cargo.toml
  crates/ethereum/evm/src/execute.rs
  crates/ethereum/evm/src/lib.rs
  crates/evm/Cargo.toml
  crates/evm/src/batch.rs
  crates/evm/src/execute.rs
  crates/evm/src/lib.rs
  crates/optimism/evm/Cargo.toml
  crates/optimism/evm/src/execute.rs
  crates/optimism/evm/src/lib.rs
  crates/revm/Cargo.toml
  crates/revm/src/lib.rs
Due: consensus/evm

feat: EngineApiBuilder
  crates/node/builder/src/rpc.rs
  crates/optimism/node/src/node.rs
Due: none

Fix no_std deps
  crates/optimism/primitives/src/receipt.rs
Due: none

Fix deps
  Cargo.lock
  crates/optimism/chainspec/Cargo.toml
  crates/optimism/chainspec/src/lib.rs
  crates/optimism/primitives/src/lib.rs
  crates/optimism/primitives/src/receipt.rs
Due: none

fix: rebase followup
  Cargo.lock
  crates/evm/Cargo.toml
  crates/revm/Cargo.toml
Due: consensus/evm

chore: rm reth-primitives from eth payload
  Cargo.lock
  crates/ethereum/payload/Cargo.toml
  crates/ethereum/payload/src/lib.rs
Due: none

feat(engine): invalid block event
  crates/engine/primitives/src/event.rs
  crates/engine/tree/src/tree/mod.rs
  crates/node/events/src/node.rs
Due: none

feat: `EngineApiBuilder` (#14354)
  crates/node/builder/src/rpc.rs
  crates/optimism/node/src/node.rs
Due: none
