Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

ci: tag (#19572)
  .github/workflows/docker-tag-latest.yml
Due: none

chore: use instance label in Grafana dashboard
  etc/grafana/dashboards/overview.json
Due: none

ci: add independent tagging options for reth and op-reth
  .github/workflows/docker-tag-latest.yml
Due: none

ci: add independent tagging options (#19574)
  .github/workflows/docker-tag-latest.yml
Due: none

feat: support `eth_transactionPreExec` api (#10)
  Cargo.lock
  crates/optimism/node/Cargo.toml
  crates/optimism/node/src/node.rs
  crates/optimism/rpc/Cargo.toml
  crates/optimism/rpc/src/eth/ext_xlayer.rs
  crates/optimism/rpc/src/eth/mod.rs
  crates/rpc/rpc-api/src/lib.rs
  crates/rpc/rpc-eth-api/src/ext_xlayer.rs
  crates/rpc/rpc-eth-api/src/lib.rs
  crates/rpc/rpc-eth-types/Cargo.toml
  crates/rpc/rpc-eth-types/src/lib.rs
  crates/rpc/rpc-eth-types/src/pre_exec_xlayer.rs
Due: rpc

chore: BuiltPayloadExecutedBlock (#19430)
  Cargo.lock
  crates/node/builder/src/launch/engine.rs
  crates/optimism/payload/Cargo.toml
  crates/optimism/payload/src/builder.rs
  crates/optimism/payload/src/payload.rs
  crates/payload/primitives/Cargo.toml
  crates/payload/primitives/src/lib.rs
  crates/payload/primitives/src/traits.rs
  crates/trie/common/src/hashed_state.rs
  examples/custom-node/Cargo.toml
  examples/custom-node/src/engine.rs
Due: trie, payload builder

Update witness.rs
  crates/engine/invalid-block-hooks/src/witness.rs
Due: none

fix(transaction-pool): blob_tx_priority argument order to use (cap, current)
  crates/transaction-pool/src/pool/blob.rs
Due: txpool

refactor: add append_ref method to TrieInputSorted
  crates/engine/tree/src/tree/payload_validator.rs
  crates/trie/common/src/input.rs
Due: trie

prune receipts from static files
  crates/prune/prune/src/builder.rs
  crates/prune/prune/src/segments/mod.rs
  crates/prune/prune/src/segments/receipts.rs
  crates/prune/prune/src/segments/set.rs
  crates/prune/prune/src/segments/user/bodies.rs
  crates/prune/prune/src/segments/user/receipts.rs
  crates/stages/stages/src/stages/prune.rs
  crates/storage/provider/src/providers/static_file/manager.rs
Due: pipeline, storage (db)

feat: integrate Apollo dynamic configuration (#8)
  Cargo.lock
  Cargo.toml
  crates/apollo/Cargo.toml
  crates/apollo/src/client.rs
  crates/apollo/src/lib.rs
  crates/apollo/src/namespace.rs
  crates/apollo/src/types.rs
  crates/optimism/bin/Cargo.toml
  crates/optimism/bin/src/main.rs
  crates/optimism/node/src/args_xlayer.rs
Due: none

modify benchmark
  crates/engine/tree/benches/multiproof_chunking.rs
Due: none

fix build error
  crates/optimism/node/src/node.rs
  crates/optimism/payload/src/builder_xlayer.rs
Due: none

clippy
  crates/engine/tree/benches/multiproof_chunking.rs
Due: none

feat(engine): metric for time diff between newPayload and FCU
  Cargo.lock
  crates/engine/tree/src/tree/metrics.rs
  crates/engine/tree/src/tree/mod.rs
  crates/rpc/rpc-engine-api/Cargo.toml
  crates/rpc/rpc-engine-api/src/engine_api.rs
  crates/rpc/rpc-engine-api/src/metrics.rs
  etc/grafana/dashboards/overview.json
Due: rpc

chore: use instance label in Grafana dashboard (#19573)
  etc/grafana/dashboards/overview.json
Due: none

chore: bump version
  Cargo.lock
  Cargo.toml
Due: none

bump docs version
  docs/vocs/vocs.config.ts
Due: none

feat(engine): metric for time diff between newPayload end and next forkchoiceUpdated start (#19577)
  Cargo.lock
  crates/engine/tree/src/tree/metrics.rs
  crates/engine/tree/src/tree/mod.rs
  crates/rpc/rpc-engine-api/Cargo.toml
  crates/rpc/rpc-engine-api/src/engine_api.rs
  crates/rpc/rpc-engine-api/src/metrics.rs
  etc/grafana/dashboards/overview.json
Due: rpc

chore: bump version to 1.9.1 (#19578)
  Cargo.lock
  Cargo.toml
  docs/vocs/vocs.config.ts
Due: none

fix(provider): prevent underflow in transaction range query at block boundary
  crates/storage/provider/src/providers/consistent.rs
Due: storage (db)

add comment
  crates/storage/provider/src/providers/static_file/manager.rs
Due: storage (db)

fix
  crates/transaction-pool/src/pool/blob.rs
Due: txpool

fix checkpoint & prune what we can
  crates/prune/prune/src/segments/user/bodies.rs
  crates/prune/types/src/pruner.rs
Due: none

feat: add construct_prefix_sets methods for sorted state types
  crates/optimism/payload/src/builder.rs
  crates/payload/primitives/src/traits.rs
  crates/trie/common/src/hashed_state.rs
Due: trie, payload builder

Revert "feat: add construct_prefix_sets methods for sorted state types"
  crates/optimism/payload/src/builder.rs
  crates/payload/primitives/src/traits.rs
  crates/trie/common/src/hashed_state.rs
Due: trie, payload builder

make sure we dont get stuck on prune pipeline stage
  crates/prune/prune/src/segments/set.rs
  crates/prune/prune/src/segments/user/bodies.rs
  crates/prune/types/src/pruner.rs
Due: none

Revert "refactor: add append_ref method to TrieInputSorted"
  crates/engine/tree/src/tree/payload_validator.rs
  crates/trie/common/src/input.rs
Due: trie

fix(storage): propagate IO errors in parse_accounts to avoid silent partial imports
  crates/storage/db-common/src/init.rs
Due: storage (db)

feat(node): set storage settings from CLI arguments
  crates/node/builder/src/launch/common.rs
  crates/node/core/src/args/static_files.rs
  crates/storage/db-api/src/models/metadata.rs
  crates/storage/db-common/src/init.rs
Due: storage (db)

Fix HashedPostStateSorted -> HashedPostState conversion
  crates/trie/common/src/hashed_state.rs
Due: trie

chore(trie): Use Vec<Option<...>> in HashedPostStateCursors (#19487)
  crates/storage/provider/src/providers/database/provider.rs
  crates/trie/common/src/hashed_state.rs
  crates/trie/db/tests/post_state.rs
  crates/trie/sparse-parallel/src/trie.rs
  crates/trie/sparse/benches/root.rs
  crates/trie/sparse/src/trie.rs
  crates/trie/trie/src/forward_cursor.rs
  crates/trie/trie/src/hashed_cursor/mock.rs
  crates/trie/trie/src/hashed_cursor/noop.rs
  crates/trie/trie/src/hashed_cursor/post_state.rs
  crates/trie/trie/src/node_iter.rs
  crates/trie/trie/src/trie_cursor/in_memory.rs
Due: storage (db), trie

Path conditions:
  reth binary: any of: bin/**, crates/config/**, crates/metrics/**, crates/tracing/**
  blockchain tree: any of: crates/blockchain-tree/**
  pipeline: any of: crates/stages/**, crates/staged-sync/**
  storage (db): any of: crates/storage/**
  trie: any of: crates/trie/**
  txpool: any of: crates/transaction-pool/**
  networking: any of: crates/net/**
  rpc: any of: crates/rpc/**
  consensus/evm: any of: crates/revm/**, crates/consensus/**
  payload builder: any of: crates/payload/**
  primitives: any of: crates/primitives/**, crates/tasks/**, crates/rlp/**, crates/interfaces/**
