Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

chore(optimism): Remove interop L1 info transaction variant (#15361)
  crates/optimism/evm/src/l1.rs
Due: none

input mut
  crates/rpc/rpc/src/eth/helpers/types.rs
Due: rpc

chore: clean up
  Cargo.lock
  crates/cli/commands/Cargo.toml
  crates/cli/commands/src/db/bootnode.rs
  crates/cli/commands/src/db/mod.rs
Due: none

export `LowestAvailableBlocks` in `reth_provider::providers`
  crates/storage/provider/src/providers/mod.rs
Due: storage (db)

Simplified input truncating (#15364)
  crates/rpc/rpc/src/eth/helpers/types.rs
Due: rpc

fixes
  crates/tasks/src/lib.rs
Due: primitives

feat: remove NodeTypesWithEngine trait layer (#15351)
  crates/cli/commands/src/common.rs
  crates/cli/commands/src/db/diff.rs
  crates/cli/commands/src/db/list.rs
  crates/e2e-test-utils/src/lib.rs
  crates/e2e-test-utils/src/node.rs
  crates/e2e-test-utils/src/testsuite/mod.rs
  crates/e2e-test-utils/src/testsuite/setup.rs
  crates/engine/service/src/service.rs
  crates/ethereum/node/src/node.rs
  crates/ethereum/node/src/payload.rs
  crates/exex/exex/src/context.rs
  crates/exex/test-utils/src/lib.rs
  crates/node/api/src/node.rs
  crates/node/builder/src/builder/mod.rs
  crates/node/builder/src/builder/states.rs
  crates/node/builder/src/components/mod.rs
  crates/node/builder/src/components/payload.rs
  crates/node/builder/src/launch/engine.rs
  crates/node/builder/src/node.rs
  crates/node/builder/src/rpc.rs
  crates/node/types/src/lib.rs
  crates/optimism/node/src/node.rs
  crates/optimism/node/src/rpc.rs
  crates/optimism/node/tests/it/priority.rs
  crates/rpc/rpc-eth-api/src/node.rs
  crates/storage/provider/src/providers/mod.rs
  crates/storage/provider/src/test_utils/mock.rs
  crates/storage/provider/src/test_utils/mod.rs
  examples/custom-beacon-withdrawals/src/main.rs
  examples/custom-engine-types/src/main.rs
  examples/custom-evm/src/main.rs
  examples/custom-node/src/lib.rs
  examples/custom-payload-builder/src/main.rs
Due: storage (db), rpc

add par_iter to each test case
  testing/ef-tests/src/case.rs
Due: none

chore: add blob validation histogram metric to tsx pool validation
  crates/transaction-pool/src/metrics.rs
  crates/transaction-pool/src/validate/eth.rs
Due: txpool

Create extended_op_tx_envelope.rs.rs
  examples/custom-node/src/primitives/extended_op_tx_envelope.rs.rs
Due: none

Update extended_op_tx_envelope.rs
  examples/custom-node/src/primitives/extended_op_tx_envelope.rs
Due: none

Delete examples/custom-node/src/primitives/extended-op-tx-envelope.rs
  examples/custom-node/src/primitives/extended-op-tx-envelope.rs
Due: none

fixes
  examples/custom-node/src/primitives/extended_op_tx_envelope.rs
Due: none

fix tx_hash
  examples/custom-node/src/primitives/extended_op_tx_envelope.rs
Due: none

Create extended-op-tx-envelope.rs
  examples/custom-node/src/primitives/extended-op-tx-envelope.rs
Due: none

Rename extended_op_tx_envelope.rs.rs to extended_op_tx_envelope.rs
  examples/custom-node/src/primitives/extended_op_tx_envelope.rs
Due: none

first fixes
  Cargo.lock
  examples/custom-node/Cargo.toml
  examples/custom-node/src/primitives/extended_op_tx_envelope.rs
Due: none

Update extended-op-tx-envelope.rs
  examples/custom-node/src/primitives/extended-op-tx-envelope.rs
Due: none

Update mod.rs
  examples/custom-node/src/primitives/mod.rs
Due: none

properly impl InMemorySize
  examples/custom-node/src/primitives/extended_op_tx_envelope.rs
Due: none

fix
  examples/custom-node/src/primitives/extended_op_tx_envelope.rs
Due: none

fix feature propagation
  examples/custom-node/Cargo.toml
Due: none

fix: rm unsound transmute
  crates/cli/commands/src/db/tui.rs
Due: none

chore: move cross validation into SupervisorClient
  crates/optimism/txpool/src/maintain.rs
  crates/optimism/txpool/src/supervisor/client.rs
  crates/optimism/txpool/src/supervisor/mod.rs
  crates/optimism/txpool/src/supervisor/validator.rs
  crates/optimism/txpool/src/validator.rs
Due: none

Path conditions:
  reth binary: any of: bin/**, crates/config/**, crates/metrics/**, crates/tracing/**
  blockchain tree: any of: crates/blockchain-tree/**
  pipeline: any of: crates/stages/**, crates/staged-sync/**
  storage (db): any of: crates/storage/**
  trie: any of: crates/trie/**
  txpool: any of: crates/transaction-pool/**
  networking: any of: crates/net/**
  rpc: any of: crates/rpc/**
  consensus/evm: any of: crates/revm/**, crates/consensus/**
  payload builder: any of: crates/payload/**
  primitives: any of: crates/primitives/**, crates/tasks/**, crates/rlp/**, crates/interfaces/**
