Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

codecov.yml:

coverage:
  status:
    patch: off
    project:
      default:
        threshold: null
        informational: true
github_checks:
  annotations: false
comment:
  layout: "reach, files, flags, components"
  require_changes: true
component_management:
  individual_components:
    - component_id: reth_binary
      name: reth binary
      paths:
        - bin/**
        - crates/config/**
        - crates/metrics/**
        - crates/tracing/**
    - component_id: blockchain_tree
      name: blockchain tree
      paths:
        - crates/blockchain-tree/**
    - component_id: staged_sync
      name: pipeline
      paths:
        - crates/stages/**
        - crates/staged-sync/**
    - component_id: storage
      name: storage (db)
      paths:
        - crates/storage/**
    - component_id: trie
      name: trie
      paths:
        - crates/trie/**
    - component_id: txpool
      name: txpool
      paths:
        - crates/transaction-pool/**
    - component_id: networking
      name: networking
      paths:
        - crates/net/**
    - component_id: rpc
      name: rpc
      paths:
        - crates/rpc/**
    - component_id: core
      name: consensus/evm
      paths:
        - crates/revm/**
        - crates/consensus/**
    - component_id: builder
      name: payload builder
      paths:
        - crates/payload/**
    - component_id: primitives
      name: primitives
      paths:
        - crates/primitives/**
        - crates/tasks/**
        - crates/rlp/**
        - crates/interfaces/**

refactor: add Eth variant to OpBlockExecutionError
  crates/ethereum/evm/src/execute.rs
  crates/evm/src/execute.rs
  crates/optimism/evm/src/error.rs
  crates/optimism/evm/src/execute.rs
  examples/custom-beacon-withdrawals/src/main.rs
Due: none

refactor: copy check_consistency to op storage
  Cargo.lock
  crates/optimism/storage/src/lib.rs
  crates/storage/provider/Cargo.toml
  crates/storage/provider/src/providers/static_file/manager.rs
Due: storage (db)

chore: remove reth-primitives dep from op-primitives
  Cargo.lock
  crates/optimism/primitives/Cargo.toml
  crates/optimism/primitives/src/lib.rs
  crates/optimism/primitives/src/transaction/signed.rs
Due: none

features
  Cargo.lock
  crates/e2e-test-utils/Cargo.toml
Due: none

chore: release 1.1.5
  Cargo.lock
  Cargo.toml
Due: none

test: pending pool overflow
  crates/transaction-pool/src/pool/pending.rs
Due: txpool

chore: release 1.1.5 (#13700)
  Cargo.lock
  Cargo.toml
Due: none

refactor: move back once_cell to eth-forks + opt
  Cargo.lock
  crates/ethereum-forks/Cargo.toml
  crates/ethereum-forks/src/hardfork/dev.rs
  crates/optimism/hardforks/Cargo.toml
  crates/optimism/hardforks/src/dev.rs
Due: none

style: nits
  crates/ethereum-forks/Cargo.toml
  crates/ethereum-forks/src/hardfork/dev.rs
  crates/optimism/hardforks/Cargo.toml
Due: none

engine_args.state_root_task -> engine_args.state_root_task_enabled
  bin/reth/src/main.rs
Due: reth binary

feat(engine): wire StateRootTask in EngineApiTreeHandler (#12639)
  bin/reth/src/main.rs
  book/cli/reth/node.md
  crates/engine/tree/Cargo.toml
  crates/engine/tree/src/tree/config.rs
  crates/engine/tree/src/tree/mod.rs
Due: reth binary

chore: reduce blockchaintree usage
  Cargo.lock
  crates/exex/exex/Cargo.toml
  crates/exex/exex/src/backfill/job.rs
  crates/exex/exex/src/backfill/stream.rs
  crates/exex/test-utils/Cargo.toml
  crates/exex/test-utils/src/lib.rs
  crates/node/builder/src/builder/mod.rs
Due: none

Fix bitfinity import command
  bin/reth/src/main.rs
Due: reth binary

chore: make engine-tree independent of blockchaintree
  Cargo.lock
  crates/engine/tree/Cargo.toml
  crates/engine/tree/src/tree/block_buffer.rs
  crates/engine/tree/src/tree/metrics.rs
  crates/engine/tree/src/tree/mod.rs
Due: none

perf: relax condition in seek_inner (#13614)
  crates/trie/trie/src/trie_cursor/in_memory.rs
Due: trie

docs: add additional BasicPayloadJob docs
  crates/payload/basic/src/lib.rs
  crates/payload/builder/src/traits.rs
Due: payload builder

feat(root): compare trie updates of stsate root task with regular root
  crates/engine/tree/src/tree/mod.rs
  crates/engine/tree/src/tree/trie_updates.rs
Due: none

chore: remove reth-primitives dep from op-primitives (#13699)
  Cargo.lock
  crates/e2e-test-utils/Cargo.toml
  crates/optimism/primitives/Cargo.toml
  crates/optimism/primitives/src/lib.rs
  crates/optimism/primitives/src/transaction/signed.rs
Due: none

save only those branch nodes that do not equal
  crates/engine/tree/src/tree/trie_updates.rs
Due: none

log is_deleted
  crates/engine/tree/src/tree/trie_updates.rs
Due: none

feat: mpt feature (#122)
  .github/workflows/lint.yml
  Cargo.lock
  crates/scroll/bin/scroll-reth-mpt/Cargo.toml
  crates/scroll/chainspec/Cargo.toml
  crates/scroll/chainspec/src/lib.rs
  crates/scroll/cli/Cargo.toml
  crates/scroll/execution/Cargo.toml
  crates/scroll/execution/src/finalize.rs
  crates/scroll/node/Cargo.toml
  crates/scroll/revm/Cargo.toml
  crates/scroll/revm/src/states/bundle.rs
  crates/scroll/revm/src/test_utils.rs
  crates/scroll/state-commitment/Cargo.toml
  crates/scroll/trie/Cargo.toml
  crates/stages/stages/src/stages/merkle.rs
  crates/trie/common/Cargo.toml
  crates/trie/common/src/key.rs
  crates/trie/trie/Cargo.toml
  crates/trie/trie/src/walker.rs
  testing/testing-utils/Cargo.toml
Due: pipeline, trie

fix: disconnect on PoW peer message (#119)
  crates/scroll/node/src/builder/network.rs
Due: none

feat(mdbx): record backtrace of read transactions and log on timeout
  crates/storage/libmdbx-rs/src/txn_manager.rs
Due: storage (db)

docs: add additional BasicPayloadJob docs (#13706)
  crates/payload/basic/src/lib.rs
  crates/payload/builder/src/traits.rs
Due: payload builder

chore: reduce blockchaintree usage (#13702)
  Cargo.lock
  crates/exex/exex/Cargo.toml
  crates/exex/exex/src/backfill/job.rs
  crates/exex/exex/src/backfill/stream.rs
  crates/exex/test-utils/Cargo.toml
  crates/exex/test-utils/src/lib.rs
  crates/node/builder/src/builder/mod.rs
Due: none

chore: make engine-tree independent of blockchaintree (#13705)
  Cargo.lock
  crates/engine/tree/Cargo.toml
  crates/engine/tree/src/tree/block_buffer.rs
  crates/engine/tree/src/tree/metrics.rs
  crates/engine/tree/src/tree/mod.rs
Due: none

docs for entry
  crates/engine/tree/src/tree/trie_updates.rs
Due: none

refactor: move `LazyLock` and `OnlyLock` exports to primitives traits (#13682)
  Cargo.lock
  crates/chainspec/Cargo.toml
  crates/chainspec/src/lib.rs
  crates/chainspec/src/spec.rs
  crates/ethereum-forks/Cargo.toml
  crates/optimism/chainspec/src/lib.rs
  crates/primitives-traits/Cargo.toml
  crates/primitives-traits/src/lib.rs
  crates/primitives-traits/src/sync.rs
  crates/primitives/src/transaction/mod.rs
Due: primitives

feat(root): compare trie updates of state root task with regular root (#13704)
  crates/engine/tree/src/tree/mod.rs
  crates/engine/tree/src/tree/trie_updates.rs
Due: none

feat: use engine launcher as default
  Cargo.lock
  crates/e2e-test-utils/src/lib.rs
  crates/exex/test-utils/src/lib.rs
  crates/node/builder/Cargo.toml
  crates/node/builder/docs/mermaid/builder.mmd
  crates/node/builder/src/builder/mod.rs
  crates/node/builder/src/launch/mod.rs
Due: none

workaround for local attr
  Cargo.lock
  crates/e2e-test-utils/src/lib.rs
  crates/engine/local/src/payload.rs
  crates/node/builder/src/builder/mod.rs
  crates/node/builder/src/launch/mod.rs
  examples/custom-engine-types/Cargo.toml
  examples/custom-engine-types/src/main.rs
Due: none
