Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

codecov.yml:

coverage:
  status:
    patch: off
    project:
      default:
        threshold: null
        informational: true
github_checks:
  annotations: false
comment:
  layout: "reach, files, flags, components"
  require_changes: true
component_management:
  individual_components:
    - component_id: reth_binary
      name: reth binary
      paths:
        - bin/**
        - crates/config/**
        - crates/metrics/**
        - crates/tracing/**
    - component_id: blockchain_tree
      name: blockchain tree
      paths:
        - crates/blockchain-tree/**
    - component_id: staged_sync
      name: pipeline
      paths:
        - crates/stages/**
        - crates/staged-sync/**
    - component_id: storage
      name: storage (db)
      paths:
        - crates/storage/**
    - component_id: trie
      name: trie
      paths:
        - crates/trie/**
    - component_id: txpool
      name: txpool
      paths:
        - crates/transaction-pool/**
    - component_id: networking
      name: networking
      paths:
        - crates/net/**
    - component_id: rpc
      name: rpc
      paths:
        - crates/rpc/**
    - component_id: core
      name: consensus/evm
      paths:
        - crates/revm/**
        - crates/consensus/**
    - component_id: builder
      name: payload builder
      paths:
        - crates/payload/**
    - component_id: primitives
      name: primitives
      paths:
        - crates/primitives/**
        - crates/tasks/**
        - crates/rlp/**
        - crates/interfaces/**

chore: improve tx forwarding (#9878)
  crates/optimism/node/src/rpc.rs
  crates/rpc/rpc-eth-api/src/helpers/transaction.rs
Due: rpc

use expect instead on test-utils
  crates/consensus/beacon/src/engine/test_utils.rs
Due: consensus/evm

chore: remove unused PreCancunBlock beacon error
  crates/consensus/beacon/src/engine/error.rs
  crates/rpc/rpc-engine-api/src/error.rs
Due: rpc, consensus/evm

chore: remove unused PreCancunBlock beacon error (#9880)
  crates/consensus/beacon/src/engine/error.rs
  crates/rpc/rpc-engine-api/src/error.rs
Due: rpc, consensus/evm

chore: remove unused second BlockchainTreeError variant
  crates/blockchain-tree-api/src/error.rs
Due: none

chore: remove unused second BlockchainTreeError variant (#9881)
  crates/blockchain-tree-api/src/error.rs
Due: none

nit
  crates/chainspec/src/spec.rs
Due: none

e2e-test: add workspace lint
  crates/e2e-test-utils/Cargo.toml
  crates/e2e-test-utils/src/engine_api.rs
  crates/e2e-test-utils/src/lib.rs
  crates/e2e-test-utils/src/network.rs
  crates/e2e-test-utils/src/node.rs
  crates/e2e-test-utils/src/payload.rs
  crates/e2e-test-utils/src/rpc.rs
  crates/e2e-test-utils/src/transaction.rs
  crates/e2e-test-utils/src/wallet.rs
Due: none

fix: also set configured bootnodes for discv5
  crates/net/discv5/src/config.rs
  crates/net/network/src/config.rs
  crates/net/network/src/manager.rs
  crates/node/core/src/args/network.rs
  crates/optimism/node/src/node.rs
Due: networking

perf: use try_join_all when resolving bootnodes
  crates/net/network/src/manager.rs
Due: networking

e2e-test: add workspace lint (#9882)
  crates/e2e-test-utils/Cargo.toml
  crates/e2e-test-utils/src/engine_api.rs
  crates/e2e-test-utils/src/lib.rs
  crates/e2e-test-utils/src/network.rs
  crates/e2e-test-utils/src/node.rs
  crates/e2e-test-utils/src/payload.rs
  crates/e2e-test-utils/src/rpc.rs
  crates/e2e-test-utils/src/transaction.rs
  crates/e2e-test-utils/src/wallet.rs
Due: none

fix: also set configured bootnodes for discv5 (#9885)
  crates/net/discv5/src/config.rs
  crates/net/network/src/config.rs
  crates/net/network/src/manager.rs
  crates/node/core/src/args/network.rs
  crates/optimism/node/src/node.rs
Due: networking

perf: use try_join_all when resolving bootnodes (#9886)
  crates/net/network/src/manager.rs
Due: networking

Merge branch 'main' of https://github.com/transmissions11/reth-walltime
  Cargo.lock
Due: none

fmt
  bin/reth/src/optimism.rs
Due: reth binary

nit
  bin/reth/src/optimism.rs
Due: reth binary

Update README.md
  README.md
Due: none

feat: connect buffered blocks on backfill sync finish (#9876)
  crates/engine/tree/src/tree/mod.rs
Due: none

removed collect and added warn log
  crates/net/network/src/peers.rs
Due: networking

test: add FCU with missing head engine tree test
  crates/engine/tree/src/tree/mod.rs
Due: none

chore(blockchain-tree): rename BlockchainId to SidechainId
  crates/blockchain-tree/src/block_indices.rs
  crates/blockchain-tree/src/blockchain_tree.rs
  crates/blockchain-tree/src/state.rs
Due: blockchain tree

fix "feat(evm): use RethEvmBuilder inside ConfigureEvm" (#9813)
  crates/ethereum/evm/src/lib.rs
  crates/evm/src/builder.rs
  crates/evm/src/lib.rs
  crates/optimism/evm/src/lib.rs
  examples/custom-evm/src/main.rs
  examples/stateful-precompile/src/main.rs
Due: none

test: add engine tree test, FCU with missing head (#9890)
  crates/engine/tree/src/tree/mod.rs
Due: none

chore(blockchain-tree): rename get_{block,side}_chain_id
  crates/blockchain-tree/src/block_indices.rs
  crates/blockchain-tree/src/blockchain_tree.rs
  crates/blockchain-tree/src/state.rs
Due: blockchain tree

fix: overflow on persistence check
  crates/engine/tree/src/tree/mod.rs
Due: none

fix: also update persisted height after backfill run
  crates/engine/tree/src/tree/mod.rs
Due: none

fix: overflow on persistence check (#9892)
  crates/engine/tree/src/tree/mod.rs
Due: none

fix: also update persisted height after backfill run (#9894)
  crates/engine/tree/src/tree/mod.rs
Due: none

fix: ensure backfill and persistence dont happen at the same time
  crates/engine/tree/src/tree/mod.rs
Due: none
