Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

codecov.yml:

coverage:
  status:
    patch: off
    project:
      default:
        threshold: null
        informational: true
github_checks:
  annotations: false
comment:
  layout: "reach, files, flags, components"
  require_changes: true
component_management:
  individual_components:
    - component_id: reth_binary
      name: reth binary
      paths:
        - bin/**
        - crates/config/**
        - crates/metrics/**
        - crates/tracing/**
    - component_id: blockchain_tree
      name: blockchain tree
      paths:
        - crates/blockchain-tree/**
    - component_id: staged_sync
      name: pipeline
      paths:
        - crates/stages/**
        - crates/staged-sync/**
    - component_id: storage
      name: storage (db)
      paths:
        - crates/storage/**
    - component_id: trie
      name: trie
      paths:
        - crates/trie/**
    - component_id: txpool
      name: txpool
      paths:
        - crates/transaction-pool/**
    - component_id: networking
      name: networking
      paths:
        - crates/net/**
    - component_id: rpc
      name: rpc
      paths:
        - crates/rpc/**
    - component_id: core
      name: consensus/evm
      paths:
        - crates/revm/**
        - crates/consensus/**
    - component_id: builder
      name: payload builder
      paths:
        - crates/payload/**
    - component_id: primitives
      name: primitives
      paths:
        - crates/primitives/**
        - crates/tasks/**
        - crates/rlp/**
        - crates/interfaces/**

Add remote_client module for managing remote data retrieval and buffering
  bin/reth/src/commands/import.rs
  crates/net/downloaders/src/lib.rs
  crates/net/downloaders/src/remote_client.rs
  crates/node-core/src/args/bitfinity_args.rs
Due: reth binary, networking

fix missing build profile from long version
  crates/node-core/src/version.rs
Due: none

update node example
  Cargo.lock
  Cargo.toml
  examples/custom-dev-node/src/main.rs
  examples/custom-node-components/Cargo.toml
  examples/custom-node-components/src/main.rs
  examples/custom-node/Cargo.toml
  examples/custom-node/src/main.rs
Due: none

updating block_env
  crates/rpc/rpc/src/debug.rs
Due: rpc

feat: integrate in maintain
  crates/transaction-pool/src/blobstore/disk.rs
  crates/transaction-pool/src/blobstore/mem.rs
  crates/transaction-pool/src/blobstore/mod.rs
  crates/transaction-pool/src/blobstore/noop.rs
  crates/transaction-pool/src/lib.rs
  crates/transaction-pool/src/maintain.rs
  crates/transaction-pool/src/pool/mod.rs
  crates/transaction-pool/src/traits.rs
Due: txpool

fix: always delete on new finalized
  crates/transaction-pool/src/maintain.rs
Due: txpool

Accurately tracking on-disk blobstore metrics (#6399)
  crates/transaction-pool/src/blobstore/disk.rs
  crates/transaction-pool/src/blobstore/mem.rs
  crates/transaction-pool/src/blobstore/mod.rs
  crates/transaction-pool/src/blobstore/noop.rs
  crates/transaction-pool/src/lib.rs
  crates/transaction-pool/src/maintain.rs
  crates/transaction-pool/src/pool/mod.rs
  crates/transaction-pool/src/traits.rs
Due: txpool

chore: print iterations
  crates/net/network/src/manager.rs
Due: networking

micros
  crates/net/network/src/manager.rs
Due: networking

feat(stages): unwind pipeline when the block is too low
  crates/consensus/beacon/src/engine/mod.rs
  crates/stages/src/pipeline/ctrl.rs
  crates/stages/src/pipeline/mod.rs
Due: pipeline, consensus/evm

feat: add rpc server cache grafana panel (#6622)
  etc/grafana/dashboards/overview.json
Due: none

fix
  crates/rpc/rpc/src/eth/filter.rs
Due: rpc

Segmenting cfg and block env impl from PayloadBuilderAttributes (#6623)
  bin/reth/Cargo.toml
  crates/consensus/beacon/Cargo.toml
  crates/node-api/Cargo.toml
  crates/node-api/src/engine/traits.rs
  crates/node-core/Cargo.toml
  crates/node-optimism/Cargo.toml
  crates/payload/builder/Cargo.toml
  crates/payload/builder/src/optimism.rs
  crates/payload/builder/src/payload.rs
  crates/revm/Cargo.toml
  crates/rpc/rpc-api/Cargo.toml
  crates/rpc/rpc-engine-api/Cargo.toml
  crates/rpc/rpc/Cargo.toml
  crates/storage/provider/Cargo.toml
  examples/custom-node/src/main.rs
Due: reth binary, storage (db), rpc, consensus/evm, payload builder

rename
  crates/node-ethereum/src/node.rs
  examples/custom-node/src/main.rs
Due: none

fix missing fn
  examples/custom-node/src/main.rs
Due: none

chore: remove unused smallvec dep
  Cargo.lock
  crates/primitives/Cargo.toml
Due: primitives

fix tests
  crates/rpc/rpc/src/eth/filter.rs
Due: rpc

chore: remove unused smallvec dep (#6629)
  Cargo.lock
  crates/primitives/Cargo.toml
Due: primitives

last try
  crates/rpc/rpc/src/eth/filter.rs
Due: rpc

Minor rewording and typos
  crates/net/network/src/network.rs
Due: networking

feat: use fillable tx trait for rpc tx env
  Cargo.lock
  crates/payload/ethereum/src/lib.rs
  crates/payload/optimism/Cargo.toml
  crates/payload/optimism/src/lib.rs
  crates/primitives/src/revm/env.rs
  crates/rpc/rpc/src/debug.rs
  crates/rpc/rpc/src/eth/api/call.rs
  crates/rpc/rpc/src/eth/api/pending_block.rs
  crates/rpc/rpc/src/eth/api/transactions.rs
  crates/rpc/rpc/src/eth/bundle.rs
  crates/rpc/rpc/src/eth/revm_utils.rs
  crates/rpc/rpc/src/trace.rs
Due: rpc, payload builder, primitives

fix docs
  crates/rpc/rpc/src/eth/revm_utils.rs
Due: rpc

fmt
  crates/net/network/src/network.rs
Due: networking

Minor documentation updates to `announce_block` docs (#6630)
  crates/net/network/src/network.rs
Due: networking

move fillable transaction traits to reth primitives
  Cargo.lock
  crates/payload/ethereum/src/lib.rs
  crates/payload/optimism/Cargo.toml
  crates/payload/optimism/src/lib.rs
  crates/primitives/src/revm/env.rs
  crates/rpc/rpc/src/debug.rs
  crates/rpc/rpc/src/eth/api/call.rs
  crates/rpc/rpc/src/eth/api/mod.rs
  crates/rpc/rpc/src/eth/api/pending_block.rs
  crates/rpc/rpc/src/eth/api/transactions.rs
  crates/rpc/rpc/src/eth/bundle.rs
  crates/rpc/rpc/src/eth/revm_utils.rs
  crates/rpc/rpc/src/trace.rs
Due: rpc, payload builder, primitives

rename to tx_env
  crates/payload/ethereum/src/lib.rs
  crates/primitives/src/revm/env.rs
  crates/rpc/rpc/src/debug.rs
  crates/rpc/rpc/src/eth/api/call.rs
  crates/rpc/rpc/src/eth/api/pending_block.rs
  crates/rpc/rpc/src/eth/api/transactions.rs
  crates/rpc/rpc/src/trace.rs
Due: rpc, payload builder, primitives

make it compile
  crates/payload/ethereum/src/lib.rs
  crates/primitives/src/revm/env.rs
  crates/rpc/rpc/src/debug.rs
  crates/rpc/rpc/src/eth/api/pending_block.rs
  crates/rpc/rpc/src/eth/api/transactions.rs
  crates/rpc/rpc/src/eth/bundle.rs
  crates/rpc/rpc/src/eth/revm_utils.rs
  crates/rpc/rpc/src/trace.rs
Due: rpc, payload builder, primitives

fix: missing build profile from long version example (#6625)
  crates/node-core/src/version.rs
Due: none

re-add op method calls
  crates/payload/optimism/src/lib.rs
  crates/primitives/src/revm/env.rs
Due: payload builder, primitives

fix: ignore nonce for call env
  crates/rpc/rpc/src/eth/revm_utils.rs
Due: rpc

fix: remove duplicate comment
  crates/rpc/rpc/src/eth/revm_utils.rs
Due: rpc

Make transaction manager param configurable from cli (#6594)
  Cargo.lock
  book/cli/reth/node.md
  crates/net/network/src/builder.rs
  crates/net/network/src/config.rs
  crates/net/network/src/lib.rs
  crates/net/network/src/manager.rs
  crates/net/network/src/test_utils/testnet.rs
  crates/net/network/src/transactions/config.rs
  crates/net/network/src/transactions/fetcher.rs
  crates/net/network/src/transactions/mod.rs
  crates/net/network/tests/it/connect.rs
  crates/node-builder/src/builder.rs
  crates/node-core/Cargo.toml
  crates/node-core/src/args/network_args.rs
  crates/node-core/src/args/txpool_args.rs
  crates/node-core/src/node_config.rs
  crates/transaction-pool/src/validate/constants.rs
  crates/transaction-pool/src/validate/eth.rs
  crates/transaction-pool/src/validate/mod.rs
  examples/network-txpool.rs
Due: txpool, networking

Update enr version
  Cargo.lock
  Cargo.toml
Due: none
