Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

codecov.yml:

coverage:
  status:
    patch: off
    project:
      default:
        threshold: null
        informational: true
github_checks:
  annotations: false
comment:
  layout: "reach, files, flags, components"
  require_changes: true
component_management:
  individual_components:
    - component_id: reth_binary
      name: reth binary
      paths:
        - bin/**
        - crates/config/**
        - crates/metrics/**
        - crates/tracing/**
    - component_id: blockchain_tree
      name: blockchain tree
      paths:
        - crates/blockchain-tree/**
    - component_id: staged_sync
      name: pipeline
      paths:
        - crates/stages/**
        - crates/staged-sync/**
    - component_id: storage
      name: storage (db)
      paths:
        - crates/storage/**
    - component_id: trie
      name: trie
      paths:
        - crates/trie/**
    - component_id: txpool
      name: txpool
      paths:
        - crates/transaction-pool/**
    - component_id: networking
      name: networking
      paths:
        - crates/net/**
    - component_id: rpc
      name: rpc
      paths:
        - crates/rpc/**
    - component_id: core
      name: consensus/evm
      paths:
        - crates/revm/**
        - crates/consensus/**
    - component_id: builder
      name: payload builder
      paths:
        - crates/payload/**
    - component_id: primitives
      name: primitives
      paths:
        - crates/primitives/**
        - crates/tasks/**
        - crates/rlp/**
        - crates/interfaces/**

Polishing up any minor spelling errors (#15223)
  crates/rpc/rpc-api/src/miner.rs
  crates/rpc/rpc-eth-api/src/helpers/blocking_task.rs
  crates/rpc/rpc-eth-api/src/helpers/fee.rs
  crates/rpc/rpc-eth-api/src/helpers/transaction.rs
Due: rpc

Generalize SignedTransaction for EthereumTxEnvelope (#15247)
  crates/primitives-traits/src/transaction/signed.rs
Due: none

hardforks
  Cargo.lock
  examples/bsc-sdk/Cargo.toml
  examples/bsc-sdk/src/chainspec/bsc.rs
  examples/bsc-sdk/src/chainspec/hardforks.rs
  examples/bsc-sdk/src/chainspec/mod.rs
  examples/bsc-sdk/src/evm/config.rs
  examples/bsc-sdk/src/hardforks/bsc.rs
  examples/bsc-sdk/src/hardforks/mod.rs
  examples/bsc-sdk/src/lib.rs
  examples/bsc-sdk/src/main.rs
  examples/bsc-sdk/tests/it/p2p.rs
Due: none

inter block cache
  Cargo.lock
  crates/engine/tree/src/tree/payload_processor/mod.rs
  crates/engine/tree/src/tree/payload_processor/multiproof.rs
  crates/trie/parallel/src/proof.rs
  crates/trie/parallel/src/proof_task.rs
  crates/trie/trie/Cargo.toml
  crates/trie/trie/src/hashed_cursor/cached.rs
Due: trie

reset metrics
  crates/engine/tree/src/tree/payload_processor/mod.rs
  crates/trie/trie/src/hashed_cursor/cached.rs
Due: trie

apply hashed post state to cache
  crates/engine/tree/src/tree/mod.rs
  crates/engine/tree/src/tree/payload_processor/mod.rs
  crates/trie/trie/src/hashed_cursor/cached.rs
Due: trie

log cache sizes
  crates/trie/trie/src/hashed_cursor/cached.rs
Due: trie

implemented alloy_evm::Evm trait for BscEvm
  Cargo.lock
  examples/bsc-sdk/Cargo.toml
  examples/bsc-sdk/src/evm/api/builder.rs
  examples/bsc-sdk/src/evm/api/exec.rs
  examples/bsc-sdk/src/evm/api/mod.rs
  examples/bsc-sdk/src/evm/mod.rs
  examples/bsc-sdk/src/evm/transaction.rs
  examples/bsc-sdk/src/main.rs
  examples/bsc-sdk/src/node/evm/config.rs
  examples/bsc-sdk/src/node/evm/mod.rs
Due: none

distinguish exact and inexact seeks
  crates/trie/trie/src/hashed_cursor/cached.rs
Due: trie

report metrics for diff seeks
  crates/trie/trie/src/hashed_cursor/cached.rs
Due: trie

increase cache size, fix cache insertion
  crates/trie/trie/src/hashed_cursor/cached.rs
Due: trie

sync before logging
  crates/trie/trie/src/hashed_cursor/cached.rs
Due: trie

increase cache sizes to 1M
  crates/trie/trie/src/hashed_cursor/cached.rs
Due: trie

chore: reenable default impl for `SparseStateTrie`
  crates/trie/sparse/src/state.rs
Due: trie

Relax peer filter, fallback on source socket for enr missing tcp port
  crates/net/discv5/src/error.rs
  crates/net/discv5/src/lib.rs
Due: networking

Fix: check canonical head first (#15101)
  crates/engine/tree/src/tree/mod.rs
Due: none

Fix lint
  crates/net/discv5/src/lib.rs
Due: networking

moving on with more evm traits impl
  Cargo.lock
  examples/bsc-sdk/Cargo.toml
  examples/bsc-sdk/src/evm/api/mod.rs
  examples/bsc-sdk/src/node/evm/mod.rs
Due: none

smarter eviction
  crates/trie/trie/src/hashed_cursor/cached.rs
  crates/trie/trie/src/mock.rs
Due: trie

use an iterator that's advanced
  crates/trie/trie/src/hashed_cursor/cached.rs
Due: trie

Revert "use an iterator that's advanced"
  crates/trie/trie/src/hashed_cursor/cached.rs
Due: trie

Revert "smarter eviction"
  crates/trie/trie/src/hashed_cursor/cached.rs
  crates/trie/trie/src/mock.rs
Due: trie

added generate next payload
  crates/e2e-test-utils/src/testsuite/actions.rs
  crates/e2e-test-utils/src/testsuite/mod.rs
Due: none

clippy
  crates/e2e-test-utils/src/testsuite/actions.rs
Due: none

Revert "Revert "smarter eviction""
  crates/trie/trie/src/hashed_cursor/cached.rs
  crates/trie/trie/src/mock.rs
Due: trie

Revert "Revert "use an iterator that's advanced""
  crates/trie/trie/src/hashed_cursor/cached.rs
Due: trie

fix deadlock
  crates/trie/trie/src/hashed_cursor/cached.rs
Due: trie

refactor: update MAX_CODE_BYTE_SIZE and MAX_INIT_CODE_BYTE_SIZE to use revm_primitives constants
  crates/transaction-pool/src/validate/constants.rs
Due: txpool

added max
  crates/node/core/src/args/rpc_server.rs
  crates/node/core/src/args/types.rs
Due: none

revert the into iter change
  crates/trie/trie/src/hashed_cursor/cached.rs
Due: trie

refactor: use MAX_CODE_BYTE_SIZE and MAX_INIT_CODE_BYTE_SIZE in revm (#15269)
  crates/transaction-pool/src/validate/constants.rs
Due: txpool

ci: exit early if any of the Hive simulators fail to build
  .github/assets/hive/build_simulators.sh
Due: none

add noops
  crates/trie/trie/src/hashed_cursor/cached.rs
Due: trie

chore(ci): bump eest release and pin eest simulator versions
  .github/assets/hive/build_simulators.sh
Due: none

ci: exit early if any of the Hive images fail to save
  .github/assets/hive/build_simulators.sh
Due: none

fix some errors
  crates/trie/trie/src/hashed_cursor/cached.rs
Due: trie

do cache update in a non-blocking way
  crates/engine/tree/src/tree/mod.rs
  crates/engine/tree/src/tree/payload_processor/mod.rs
  crates/engine/tree/src/tree/payload_processor/multiproof.rs
Due: none
