Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

codecov.yml:

coverage:
  status:
    patch: off
    project:
      default:
        threshold: null
        informational: true
github_checks:
  annotations: false
comment:
  layout: "reach, files, flags, components"
  require_changes: true
component_management:
  individual_components:
    - component_id: reth_binary
      name: reth binary
      paths:
        - bin/**
        - crates/config/**
        - crates/metrics/**
        - crates/tracing/**
    - component_id: blockchain_tree
      name: blockchain tree
      paths:
        - crates/blockchain-tree/**
    - component_id: staged_sync
      name: pipeline
      paths:
        - crates/stages/**
        - crates/staged-sync/**
    - component_id: storage
      name: storage (db)
      paths:
        - crates/storage/**
    - component_id: trie
      name: trie
      paths:
        - crates/trie/**
    - component_id: txpool
      name: txpool
      paths:
        - crates/transaction-pool/**
    - component_id: networking
      name: networking
      paths:
        - crates/net/**
    - component_id: rpc
      name: rpc
      paths:
        - crates/rpc/**
    - component_id: core
      name: consensus/evm
      paths:
        - crates/revm/**
        - crates/consensus/**
    - component_id: builder
      name: payload builder
      paths:
        - crates/payload/**
    - component_id: primitives
      name: primitives
      paths:
        - crates/primitives/**
        - crates/tasks/**
        - crates/rlp/**
        - crates/interfaces/**

document get_full_block_range block ordering
  crates/interfaces/src/p2p/full_block.rs
Due: primitives

test stream impl
  crates/interfaces/src/p2p/full_block.rs
Due: primitives

start engine integration
  crates/consensus/beacon/src/engine/mod.rs
  crates/consensus/beacon/src/engine/sync.rs
  crates/interfaces/src/p2p/full_block.rs
Due: consensus/evm, primitives

use is_bodies_complete instead of len comparison
  crates/interfaces/src/p2p/full_block.rs
Due: primitives

add todo question
  crates/interfaces/src/p2p/full_block_range.rs
Due: primitives

insert single blocks into range heap and remove queued events
  crates/consensus/beacon/src/engine/sync.rs
Due: consensus/evm

add tests
  crates/interfaces/src/p2p/full_block_range.rs
  crates/primitives/src/block.rs
Due: primitives

validate entire bodies response
  crates/interfaces/src/p2p/full_block.rs
  crates/primitives/src/block.rs
Due: primitives

request until we have enough bodies, remove header len penalize
  crates/interfaces/src/p2p/full_block.rs
Due: primitives

add stream impl on top of the existing future
  crates/interfaces/src/p2p/full_block.rs
Due: primitives

move disconnected branch to method, add traces for download results
  crates/consensus/beacon/src/engine/mod.rs
  crates/consensus/beacon/src/engine/sync.rs
Due: consensus/evm

assume response is in-order
  crates/interfaces/src/p2p/full_block.rs
Due: primitives

buffer blocks in sync controller min heap
  crates/consensus/beacon/src/engine/mod.rs
  crates/consensus/beacon/src/engine/sync.rs
Due: consensus/evm

add from impl for stream
  crates/interfaces/src/p2p/full_block.rs
Due: primitives

docs: note that only wsl2 works (#3609)
  book/installation/source.md
Due: none

fix: correct types in `libmdbx-rs` for windows (#3608)
  crates/storage/libmdbx-rs/src/cursor.rs
  crates/storage/libmdbx-rs/src/database.rs
  crates/storage/libmdbx-rs/src/flags.rs
  crates/storage/libmdbx-rs/src/transaction.rs
Due: storage (db)

better expects
  crates/revm/revm-inspectors/src/tracing/builder/parity.rs
  crates/revm/revm-inspectors/src/tracing/builder/walker.rs
Due: consensus/evm

style: replace loop with call to `wait_for`
  crates/stages/src/stages/headers.rs
Due: pipeline

some touchups
  crates/consensus/beacon/src/engine/mod.rs
  crates/consensus/beacon/src/engine/sync.rs
  crates/interfaces/src/p2p/full_block.rs
Due: consensus/evm, primitives

docs: add homebrew and arch aur
  book/installation/binaries.md
Due: none

chore: add commit to client version
  bin/reth/src/version.rs
Due: reth binary

feat: add error field to parity transaction traces (#3611)
  crates/revm/revm-inspectors/src/tracing/types.rs
  crates/rpc/rpc-types/src/eth/trace/parity.rs
  crates/rpc/rpc/src/trace.rs
Due: rpc, consensus/evm

chore: remove network-api test-utils feature
  crates/net/network-api/Cargo.toml
  crates/net/network-api/src/lib.rs
  crates/net/network-api/src/noop.rs
  crates/rpc/rpc-builder/Cargo.toml
  crates/rpc/rpc-builder/tests/it/utils.rs
  crates/rpc/rpc/Cargo.toml
  crates/rpc/rpc/src/eth/api/server.rs
  crates/rpc/rpc/src/eth/api/transactions.rs
  examples/Cargo.toml
  examples/rpc-db.rs
Due: networking, rpc

revert Makefile
  Makefile
  book/cli/update.sh
Due: none

feat: download block ranges (#3416)
  crates/consensus/beacon/src/engine/mod.rs
  crates/consensus/beacon/src/engine/sync.rs
  crates/interfaces/src/p2p/full_block.rs
  crates/interfaces/src/test_utils/full_block.rs
  crates/primitives/src/block.rs
  crates/primitives/src/header.rs
  crates/primitives/src/lib.rs
Due: consensus/evm, primitives

chore(engine): warn on inconsistent pipeline
  crates/consensus/beacon/src/engine/mod.rs
Due: consensus/evm

refactor(stages): use `MetricsListener` for Execution stage gas metric (#3511)
  bin/reth/src/node/mod.rs
  crates/stages/src/metrics/listener.rs
  crates/stages/src/metrics/sync_metrics.rs
  crates/stages/src/stages/execution.rs
Due: reth binary, pipeline

fix(provider): update checkpoints only for known stages
  crates/storage/provider/src/providers/database/provider.rs
Due: storage (db)

chore: add commit to client version (#3621)
  bin/reth/src/version.rs
Due: reth binary

support log history drop
  bin/reth/src/args/stage_args.rs
  bin/reth/src/stage/drop.rs
Due: reth binary

65 -> 64
  crates/config/src/config.rs
Due: reth binary

fix checkpoint lookup
  crates/storage/provider/src/providers/database/provider.rs
Due: storage (db)

docs: add homebrew and arch aur (#3620)
  book/installation/binaries.md
Due: none
