Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

Revert "Update syntax"
  crates/rpc/rpc/src/otterscan.rs
Due: rpc

fix: nonce+1
  crates/rpc/rpc/src/otterscan.rs
Due: rpc

codespell
  crates/rpc/rpc/src/otterscan.rs
Due: rpc

Update syntax Signed-off-by: jsvisa <delweng@gmail.com>
  crates/rpc/rpc/src/otterscan.rs
Due: rpc

feat(rpc/ots): move the binary search as a func
  crates/rpc/rpc/src/otterscan.rs
Due: rpc

fix testcase
  crates/rpc/rpc-builder/tests/it/http.rs
Due: rpc

rebase
  crates/rpc/rpc-builder/tests/it/http.rs
Due: rpc

feat(ots/getContractCreator): reuse binary search
  crates/rpc/rpc/src/otterscan.rs
Due: rpc

fix test
  crates/rpc/rpc-builder/tests/it/http.rs
Due: rpc

feat: implement static file <-> db block writing
  crates/engine/tree/src/persistence.rs
  crates/engine/tree/src/static_files.rs
Due: none

udpate
  bin/reth/src/commands/evm.rs
Due: reth binary

chore: fix clippy warnings for needless_borrows_for_generic_args
  crates/e2e-test-utils/src/wallet.rs
  crates/rpc/rpc-layer/src/auth_layer.rs
Due: rpc

udpate
  Cargo.lock
  bin/reth/Cargo.toml
  bin/reth/src/commands/evm.rs
Due: reth binary

chore: fix clippy warnings for needless_borrows_for_generic_args (#9387)
  crates/e2e-test-utils/src/wallet.rs
  crates/rpc/rpc-layer/src/auth_layer.rs
Due: rpc

chore: release 1.0.1
  Cargo.lock
  Cargo.toml
Due: none

feat(rpc/ots): implement ots_traceTransaction RPC (#9246)
  crates/rpc/rpc-api/src/otterscan.rs
  crates/rpc/rpc-builder/tests/it/http.rs
  crates/rpc/rpc/src/otterscan.rs
Due: rpc

chore: update private-testnet.md
  book/run/private-testnet.md
Due: none

touchups
  crates/rpc/rpc-builder/tests/it/http.rs
  crates/rpc/rpc/src/otterscan.rs
Due: rpc

chore: update private-testnet.md (#9389)
  book/run/private-testnet.md
Due: none

feat(rpc/ots): implement ots_getTransactionBySenderAndNonce (#9263)
  crates/rpc/rpc-api/src/otterscan.rs
  crates/rpc/rpc-builder/tests/it/http.rs
  crates/rpc/rpc/src/otterscan.rs
Due: rpc

chore: release 1.0.1 (#9388)
  Cargo.lock
  Cargo.toml
Due: none

fix: support additional eth call bundle args (#9383)
  crates/rpc/rpc/src/eth/bundle.rs
Due: rpc

chore(deps): rm reth-codecs dep
  Cargo.lock
  crates/net/eth-wire-types/Cargo.toml
  crates/net/eth-wire-types/src/header.rs
Due: networking

chore(deps): bump revm 11
  Cargo.lock
  Cargo.toml
  crates/payload/builder/src/database.rs
  crates/primitives/src/transaction/compat.rs
  crates/revm/src/database.rs
  crates/rpc/rpc-eth-api/src/helpers/call.rs
  crates/rpc/rpc-eth-types/src/cache/db.rs
  crates/rpc/rpc-eth-types/src/error.rs
  crates/rpc/rpc-eth-types/src/revm_utils.rs
  crates/transaction-pool/src/validate/eth.rs
  examples/exex/rollup/src/db.rs
Due: txpool, rpc, consensus/evm, payload builder, primitives

fix
  crates/optimism/evm/src/lib.rs
Due: none

clippy
  crates/transaction-pool/src/validate/eth.rs
Due: txpool

change anvil to reth-based private network
  packages/protocol/deployments/local_deployment.md
  packages/protocol/script/Counter.s.sol
  packages/protocol/scripts/DeployL1Locally.s.sol
Due: none

chore(deps): bump revm 11 (#9391)
  Cargo.lock
  Cargo.toml
  crates/optimism/evm/src/lib.rs
  crates/payload/builder/src/database.rs
  crates/primitives/src/transaction/compat.rs
  crates/revm/src/database.rs
  crates/rpc/rpc-eth-api/src/helpers/call.rs
  crates/rpc/rpc-eth-types/src/cache/db.rs
  crates/rpc/rpc-eth-types/src/error.rs
  crates/rpc/rpc-eth-types/src/revm_utils.rs
  crates/transaction-pool/src/validate/eth.rs
  examples/exex/rollup/src/db.rs
Due: txpool, rpc, consensus/evm, payload builder, primitives

remove unused user segments
  crates/prune/prune/src/segments/mod.rs
  crates/prune/prune/src/segments/user/headers.rs
  crates/prune/prune/src/segments/user/mod.rs
  crates/prune/prune/src/segments/user/transactions.rs
Due: none

chore(deps): rm reth-codecs dep (#9390)
  Cargo.lock
  crates/net/eth-wire-types/Cargo.toml
  crates/net/eth-wire-types/src/header.rs
Due: networking

inline headers and transactions prune
  crates/prune/prune/src/segments/headers.rs
  crates/prune/prune/src/segments/mod.rs
  crates/prune/prune/src/segments/static_file/headers.rs
  crates/prune/prune/src/segments/static_file/transactions.rs
  crates/prune/prune/src/segments/transactions.rs
Due: none

document receipts.rs
  crates/prune/prune/src/segments/receipts.rs
Due: none

Path conditions:
  reth binary: any of: bin/**, crates/config/**, crates/metrics/**, crates/tracing/**
  blockchain tree: any of: crates/blockchain-tree/**
  pipeline: any of: crates/stages/**, crates/staged-sync/**
  storage (db): any of: crates/storage/**
  trie: any of: crates/trie/**
  txpool: any of: crates/transaction-pool/**
  networking: any of: crates/net/**
  rpc: any of: crates/rpc/**
  consensus/evm: any of: crates/revm/**, crates/consensus/**
  payload builder: any of: crates/payload/**
  primitives: any of: crates/primitives/**, crates/tasks/**, crates/rlp/**, crates/interfaces/**
