Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

codecov.yml:

coverage:
  status:
    patch: off
    project:
      default:
        threshold: null
        informational: true
github_checks:
  annotations: false
comment:
  layout: "reach, files, flags, components"
  require_changes: true
component_management:
  individual_components:
    - component_id: reth_binary
      name: reth binary
      paths:
        - bin/**
        - crates/config/**
        - crates/metrics/**
        - crates/tracing/**
    - component_id: blockchain_tree
      name: blockchain tree
      paths:
        - crates/blockchain-tree/**
    - component_id: staged_sync
      name: pipeline
      paths:
        - crates/stages/**
        - crates/staged-sync/**
    - component_id: storage
      name: storage (db)
      paths:
        - crates/storage/**
    - component_id: trie
      name: trie
      paths:
        - crates/trie/**
    - component_id: txpool
      name: txpool
      paths:
        - crates/transaction-pool/**
    - component_id: networking
      name: networking
      paths:
        - crates/net/**
    - component_id: rpc
      name: rpc
      paths:
        - crates/rpc/**
    - component_id: core
      name: consensus/evm
      paths:
        - crates/revm/**
        - crates/consensus/**
    - component_id: builder
      name: payload builder
      paths:
        - crates/payload/**
    - component_id: primitives
      name: primitives
      paths:
        - crates/primitives/**
        - crates/tasks/**
        - crates/rlp/**
        - crates/interfaces/**

clippy
  crates/net/network/src/manager.rs
Due: networking

git reset
  Cargo.lock
Due: none

allow all reorgs
  crates/consensus/beacon/src/engine/mod.rs
Due: consensus/evm

chore: make `price_bump` fn public
  crates/transaction-pool/src/config.rs
Due: txpool

revert change
  testing/ef-tests/tests/tests.rs
Due: none

fix: relax body against validation for isthmus
  Cargo.lock
  crates/optimism/consensus/Cargo.toml
  crates/optimism/consensus/src/lib.rs
  crates/optimism/consensus/src/validation/mod.rs
Due: none

serde feature
  crates/net/network-types/src/peers/config.rs
Due: networking

check after isthmus
  crates/optimism/consensus/src/validation/mod.rs
Due: none

rename
  crates/optimism/consensus/src/lib.rs
  crates/optimism/consensus/src/validation/mod.rs
Due: none

serde feature
  crates/net/network-types/src/peers/config.rs
  crates/net/network/src/manager.rs
Due: networking

deduplicate check_value_match method
  crates/trie/sparse/src/trie.rs
Due: trie

Update crates/trie/sparse/src/trie.rs
  crates/trie/sparse/src/trie.rs
Due: trie

clippy
  crates/optimism/consensus/src/validation/mod.rs
Due: none

remove TODOs
  crates/trie/sparse/src/trie.rs
Due: trie

Update mock.rs
  crates/storage/provider/src/test_utils/mock.rs
Due: storage (db)

chore(transaction-pool): make `price_bump` fn public (#15772)
  crates/transaction-pool/src/config.rs
Due: txpool

Rm dead code
  crates/net/network/src/config.rs
Due: networking

docs
  crates/optimism/consensus/src/validation/mod.rs
Due: none

Revert remove risky trait method and add warning docs
  crates/chainspec/src/spec.rs
  crates/ethereum-forks/src/hardforks/mod.rs
  crates/optimism/chainspec/src/lib.rs
  examples/custom-node/src/chainspec.rs
Due: none

fix: relax body against validation for isthmus (#15773)
  Cargo.lock
  crates/optimism/consensus/Cargo.toml
  crates/optimism/consensus/src/lib.rs
  crates/optimism/consensus/src/validation/mod.rs
Due: none

clippy
  crates/net/network/src/config.rs
Due: networking

Fix lint
  crates/net/network/src/config.rs
Due: networking

chore: bump version 1.3.11
  Cargo.lock
  Cargo.toml
Due: none

fix(discv5): `ForkId` set to head block (#15769)
  Cargo.lock
  crates/ethereum-forks/src/hardforks/mod.rs
  crates/net/network/Cargo.toml
  crates/net/network/src/config.rs
Due: networking

fmt
  crates/era/src/era1_types.rs
  crates/net/discv4/src/config.rs
  crates/payload/basic/src/better_payload_emitter.rs
  crates/rpc/rpc/src/eth/builder.rs
  crates/transaction-pool/src/test_utils/gen.rs
Due: txpool, networking, rpc, payload builder

more const
  crates/net/eth-wire/src/eth_snap_stream.rs
Due: networking

chore: bump op alloy 0.14
  Cargo.lock
  Cargo.toml
  crates/optimism/primitives/src/transaction/mod.rs
Due: none

chore: bump op alloy 0.14 (#15779)
  Cargo.lock
  Cargo.toml
  crates/optimism/primitives/src/transaction/mod.rs
Due: none

chore: bump inspectors 0.19.1
  Cargo.lock
  Cargo.toml
Due: none
