Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

codecov.yml:

coverage:
  status:
    patch: off
    project:
      default:
        threshold: null
        informational: true
github_checks:
  annotations: false
comment:
  layout: "reach, files, flags, components"
  require_changes: true
component_management:
  individual_components:
    - component_id: reth_binary
      name: reth binary
      paths:
        - bin/**
        - crates/config/**
        - crates/metrics/**
        - crates/tracing/**
    - component_id: blockchain_tree
      name: blockchain tree
      paths:
        - crates/blockchain-tree/**
    - component_id: staged_sync
      name: pipeline
      paths:
        - crates/stages/**
        - crates/staged-sync/**
    - component_id: storage
      name: storage (db)
      paths:
        - crates/storage/**
    - component_id: trie
      name: trie
      paths:
        - crates/trie/**
    - component_id: txpool
      name: txpool
      paths:
        - crates/transaction-pool/**
    - component_id: networking
      name: networking
      paths:
        - crates/net/**
    - component_id: rpc
      name: rpc
      paths:
        - crates/rpc/**
    - component_id: core
      name: consensus/evm
      paths:
        - crates/revm/**
        - crates/consensus/**
    - component_id: builder
      name: payload builder
      paths:
        - crates/payload/**
    - component_id: primitives
      name: primitives
      paths:
        - crates/primitives/**
        - crates/tasks/**
        - crates/rlp/**
        - crates/interfaces/**

chore: rm reth-prmitives from rpc (#14957)
  Cargo.lock
  crates/rpc/rpc/Cargo.toml
  crates/rpc/rpc/src/admin.rs
  crates/rpc/rpc/src/debug.rs
  crates/rpc/rpc/src/eth/core.rs
  crates/rpc/rpc/src/eth/filter.rs
  crates/rpc/rpc/src/eth/helpers/block.rs
  crates/rpc/rpc/src/eth/helpers/pending_block.rs
  crates/rpc/rpc/src/eth/helpers/receipt.rs
  crates/rpc/rpc/src/eth/helpers/signer.rs
  crates/rpc/rpc/src/eth/helpers/types.rs
  crates/rpc/rpc/src/eth/pubsub.rs
  crates/rpc/rpc/src/eth/sim_bundle.rs
  crates/rpc/rpc/src/validation.rs
Due: rpc

chore: Use cargo-chef to build the hivetests docker image (#14884)
  .github/assets/hive/Dockerfile
  .github/workflows/prepare-reth.yml
  .gitignore
  Dockerfile
Due: none

fix: lints
  Cargo.lock
  crates/engine/tree/src/tree/mod.rs
  crates/scroll/alloy/evm/Cargo.toml
  crates/scroll/evm/Cargo.toml
  crates/scroll/evm/src/execute.rs
  crates/scroll/rpc/src/eth/mod.rs
Due: none

added more debug
  crates/ethereum/node/src/node.rs
  crates/node/builder/src/launch/common.rs
  crates/node/builder/src/launch/engine.rs
  crates/node/builder/src/node.rs
Due: none

fix: lints
  crates/scroll/alloy/evm/src/block/curie.rs
  crates/scroll/alloy/evm/src/block/mod.rs
Due: none

test for handling incoming_transactions_hashes
  crates/net/network/src/transactions/mod.rs
Due: networking

trin
  Cargo.lock
  crates/cli/commands/src/stage/run.rs
  crates/net/downloaders/Cargo.toml
  crates/net/downloaders/src/lib.rs
  crates/net/downloaders/src/trin_client.rs
Due: networking

even more debug
  crates/node/builder/src/builder/mod.rs
  crates/node/builder/src/builder/states.rs
  crates/node/builder/src/launch/common.rs
Due: none

fix: lints
  crates/scroll/rpc/Cargo.toml
Due: none

Update metrics.md (#14813)
  book/run/observability.md
  docs/design/metrics.md
Due: none

add ethconfig
  crates/rpc/rpc-builder/src/lib.rs
  crates/rpc/rpc/src/trace.rs
Due: rpc

Update Cargo.toml
  crates/node/core/Cargo.toml
Due: none

Update build.rs
  crates/node/core/build.rs
Due: none

Update Cargo.lock
  Cargo.lock
Due: none

20.0.0-alpha.4
  Cargo.lock
  Cargo.toml
  book/sources/Cargo.toml
Due: none

chore: bump revm (#14954)
  Cargo.lock
  Cargo.toml
  book/sources/Cargo.toml
  examples/custom-evm/src/main.rs
  examples/stateful-precompile/src/main.rs
Due: none

chore: rm reth-prmitives from rpc compat
  Cargo.lock
  crates/rpc/rpc-types-compat/Cargo.toml
  crates/rpc/rpc-types-compat/src/block.rs
  crates/rpc/rpc-types-compat/src/transaction.rs
  crates/rpc/rpc/src/eth/helpers/types.rs
Due: rpc

chore: rm reth-prmitives from rpc builder
  Cargo.lock
  crates/rpc/rpc-builder/Cargo.toml
  crates/rpc/rpc-builder/src/lib.rs
  crates/rpc/rpc-builder/tests/it/auth.rs
  crates/rpc/rpc-builder/tests/it/http.rs
  crates/rpc/rpc-builder/tests/it/utils.rs
Due: rpc

docs
  crates/rpc/rpc-types-compat/src/block.rs
Due: rpc

chore: rm reth-prmitives from rpc builder (#14966)
  Cargo.lock
  crates/rpc/rpc-builder/Cargo.toml
  crates/rpc/rpc-builder/src/lib.rs
  crates/rpc/rpc-builder/tests/it/auth.rs
  crates/rpc/rpc-builder/tests/it/http.rs
  crates/rpc/rpc-builder/tests/it/utils.rs
Due: rpc

chore: rm reth-prmitives from rpc compat (#14965)
  Cargo.lock
  crates/rpc/rpc-types-compat/Cargo.toml
  crates/rpc/rpc-types-compat/src/block.rs
  crates/rpc/rpc-types-compat/src/transaction.rs
  crates/rpc/rpc/src/eth/helpers/types.rs
Due: rpc

chore: add sparse trie logs with time elapsed
  crates/engine/tree/src/tree/payload_processor/sparse_trie.rs
Due: none

chore: remove reth-primitives dep db crates
  Cargo.lock
  crates/storage/db-api/Cargo.toml
  crates/storage/db-api/src/models/mod.rs
  crates/storage/db-api/src/tables/mod.rs
  crates/storage/db-common/Cargo.toml
  crates/storage/db-common/src/init.rs
  crates/storage/db/Cargo.toml
  crates/storage/db/src/static_file/cursor.rs
  crates/storage/db/src/static_file/mod.rs
Due: storage (db)

lint
  crates/storage/db-api/Cargo.toml
  crates/storage/db/Cargo.toml
Due: storage (db)

features
  crates/storage/db/Cargo.toml
Due: storage (db)

chore: rm reth-prmitives from stages
  Cargo.lock
  crates/stages/stages/Cargo.toml
  crates/stages/stages/src/sets.rs
  crates/stages/stages/src/stages/bodies.rs
  crates/stages/stages/src/stages/execution.rs
  crates/stages/stages/src/stages/hashing_account.rs
  crates/stages/stages/src/stages/hashing_storage.rs
  crates/stages/stages/src/stages/headers.rs
  crates/stages/stages/src/stages/merkle.rs
  crates/stages/stages/src/stages/prune.rs
  crates/stages/stages/src/stages/s3/mod.rs
  crates/stages/stages/src/stages/sender_recovery.rs
  crates/stages/stages/src/stages/tx_lookup.rs
  crates/stages/stages/src/stages/utils.rs
  crates/stages/stages/src/test_utils/test_db.rs
Due: pipeline

dev
  Cargo.lock
  crates/storage/db/Cargo.toml
Due: storage (db)

chore: remove reth-primitives dep db crates (#14968)
  Cargo.lock
  crates/storage/db-api/Cargo.toml
  crates/storage/db-api/src/models/mod.rs
  crates/storage/db-api/src/tables/mod.rs
  crates/storage/db-common/Cargo.toml
  crates/storage/db-common/src/init.rs
  crates/storage/db/Cargo.toml
  crates/storage/db/src/static_file/cursor.rs
  crates/storage/db/src/static_file/mod.rs
Due: storage (db)

chore: imports
  Cargo.lock
  crates/stages/stages/Cargo.toml
  crates/stages/stages/benches/setup/mod.rs
  crates/stages/stages/src/stages/bodies.rs
  crates/stages/stages/src/stages/execution.rs
  crates/stages/stages/src/stages/finish.rs
  crates/stages/stages/src/stages/hashing_account.rs
  crates/stages/stages/src/stages/hashing_storage.rs
  crates/stages/stages/src/stages/headers.rs
  crates/stages/stages/src/stages/index_storage_history.rs
  crates/stages/stages/src/stages/merkle.rs
  crates/stages/stages/src/stages/mod.rs
  crates/stages/stages/src/stages/prune.rs
  crates/stages/stages/src/stages/s3/mod.rs
  crates/stages/stages/src/stages/sender_recovery.rs
  crates/stages/stages/src/stages/tx_lookup.rs
  crates/stages/stages/src/test_utils/test_db.rs
Due: pipeline
