Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

codecov.yml:

coverage:
  status:
    patch: off
    project:
      default:
        threshold: null
        informational: true
github_checks:
  annotations: false
comment:
  layout: "reach, files, flags, components"
  require_changes: true
component_management:
  individual_components:
    - component_id: reth_binary
      name: reth binary
      paths:
        - bin/**
        - crates/config/**
        - crates/metrics/**
        - crates/tracing/**
    - component_id: blockchain_tree
      name: blockchain tree
      paths:
        - crates/blockchain-tree/**
    - component_id: staged_sync
      name: pipeline
      paths:
        - crates/stages/**
        - crates/staged-sync/**
    - component_id: storage
      name: storage (db)
      paths:
        - crates/storage/**
    - component_id: trie
      name: trie
      paths:
        - crates/trie/**
    - component_id: txpool
      name: txpool
      paths:
        - crates/transaction-pool/**
    - component_id: networking
      name: networking
      paths:
        - crates/net/**
    - component_id: rpc
      name: rpc
      paths:
        - crates/rpc/**
    - component_id: core
      name: consensus/evm
      paths:
        - crates/revm/**
        - crates/consensus/**
    - component_id: builder
      name: payload builder
      paths:
        - crates/payload/**
    - component_id: primitives
      name: primitives
      paths:
        - crates/primitives/**
        - crates/tasks/**
        - crates/rlp/**
        - crates/interfaces/**

add ser doc
  Cargo.lock
  crates/storage/nippy-jar/src/filter/cuckoo.rs
Due: storage (db)

feat: add metrics for inflight get pooled tx requests
  crates/net/network/src/metrics.rs
  crates/net/network/src/transactions.rs
Due: networking

fmt debug struct Cuckoo
  crates/storage/nippy-jar/src/filter/cuckoo.rs
Due: storage (db)

feat: add metrics for inflight get pooled tx requests (#4547)
  crates/net/network/src/metrics.rs
  crates/net/network/src/transactions.rs
Due: networking

test: enable geth tests again (#4544)
  crates/net/network/tests/it/connect.rs
Due: networking

feat: move storage wiping
  Cargo.lock
  Cargo.toml
  crates/storage/provider/src/change.rs
Due: storage (db)

fmt
  Cargo.toml
  crates/storage/provider/src/change.rs
Due: storage (db)

feat: add `cuckoofilter` to `nippy-jar` (#4533)
  Cargo.lock
  crates/storage/nippy-jar/Cargo.toml
  crates/storage/nippy-jar/src/compression/mod.rs
  crates/storage/nippy-jar/src/filter/cuckoo.rs
  crates/storage/nippy-jar/src/filter/mod.rs
  crates/storage/nippy-jar/src/lib.rs
Due: storage (db)

chore(book): fix imposter USDC address
  book/run/config.md
Due: none

chore(book): fix imposter USDC address (#4549)
  book/run/config.md
Due: none

first draft
  crates/primitives/src/lib.rs
  crates/primitives/src/prune/mod.rs
  crates/primitives/src/prune/part.rs
  crates/primitives/src/prune/target.rs
  crates/prune/src/pruner.rs
Due: primitives

fix test
  crates/storage/provider/src/change.rs
Due: storage (db)

chore: pin git dependencies to specific revs
  Cargo.lock
  Cargo.toml
  crates/net/discv4/Cargo.toml
  crates/net/nat/Cargo.toml
  crates/revm/revm-inspectors/Cargo.toml
  deny.toml
Due: networking, consensus/evm

add metrics to dashboard
  etc/grafana/dashboards/overview.json
Due: none

chore: fix warnings
  crates/stages/src/stages/execution.rs
  crates/stages/src/stages/mod.rs
Due: pipeline

use unique id
  etc/grafana/dashboards/overview.json
Due: none

chore: pin revm
  Cargo.toml
Due: none

feat: Shuffle insertion on wipes storage. Use state wipe flag (#4548)
  Cargo.lock
  Cargo.toml
  crates/storage/provider/src/change.rs
Due: storage (db)

chore: use crates.io boa
  Cargo.lock
  Cargo.toml
Due: none

chore: pin git dependencies to specific revs (#4552)
  Cargo.lock
  Cargo.toml
  crates/net/discv4/Cargo.toml
  crates/net/nat/Cargo.toml
  crates/revm/revm-inspectors/Cargo.toml
  deny.toml
Due: networking, consensus/evm

chore: update dependencies with breaking changes
  Cargo.lock
  Cargo.toml
  bin/reth/Cargo.toml
  crates/blockchain-tree/Cargo.toml
  crates/interfaces/Cargo.toml
  crates/metrics/metrics-derive/Cargo.toml
  crates/net/dns/Cargo.toml
  crates/net/dns/src/resolver.rs
  crates/net/ecies/Cargo.toml
  crates/net/eth-wire/Cargo.toml
  crates/net/nat/Cargo.toml
  crates/net/network/Cargo.toml
  crates/primitives/Cargo.toml
  crates/revm/revm-inspectors/Cargo.toml
  crates/rlp/Cargo.toml
  crates/storage/codecs/Cargo.toml
  crates/storage/db/Cargo.toml
  crates/storage/libmdbx-rs/Cargo.toml
  crates/storage/libmdbx-rs/mdbx-sys/Cargo.toml
Due: reth binary, blockchain tree, storage (db), networking, consensus/evm, primitives

chore: update dependencies with breaking changes (#4555)
  Cargo.lock
  Cargo.toml
  bin/reth/Cargo.toml
  crates/blockchain-tree/Cargo.toml
  crates/interfaces/Cargo.toml
  crates/metrics/metrics-derive/Cargo.toml
  crates/net/dns/Cargo.toml
  crates/net/dns/src/resolver.rs
  crates/net/ecies/Cargo.toml
  crates/net/eth-wire/Cargo.toml
  crates/net/nat/Cargo.toml
  crates/net/network/Cargo.toml
  crates/primitives/Cargo.toml
  crates/revm/revm-inspectors/Cargo.toml
  crates/rlp/Cargo.toml
  crates/storage/codecs/Cargo.toml
  crates/storage/db/Cargo.toml
  crates/storage/libmdbx-rs/Cargo.toml
  crates/storage/libmdbx-rs/mdbx-sys/Cargo.toml
Due: reth binary, blockchain tree, storage (db), networking, consensus/evm, primitives

fix: set trace results root trace's gas used to execution results gas used
  crates/revm/revm-inspectors/src/tracing/builder/parity.rs
  crates/revm/revm-inspectors/src/tracing/mod.rs
  crates/rpc/rpc-types/src/eth/trace/parity.rs
  crates/rpc/rpc/src/trace.rs
Due: rpc, consensus/evm

feat: enforce replacements dont conflict (#4539)
  crates/rpc/rpc/src/eth/error.rs
  crates/transaction-pool/src/error.rs
  crates/transaction-pool/src/pool/txpool.rs
  crates/transaction-pool/src/validate/mod.rs
Due: txpool, rpc

fix: iterate over receipts in order in BundleStateWithReceipts
  crates/storage/provider/src/change.rs
Due: storage (db)

fix logs bloom
  crates/storage/provider/src/change.rs
Due: storage (db)

chore: fix warnings (#4553)
  crates/stages/src/stages/execution.rs
  crates/stages/src/stages/mod.rs
Due: pipeline

Add inflight transaction requests metric to dashboard (#4554)
  etc/grafana/dashboards/overview.json
Due: none

feat: add blob tx replacement overdraft check (#4534)
  crates/transaction-pool/src/pool/txpool.rs
Due: txpool

fix(state): store receipts in vec
  crates/consensus/auto-seal/src/lib.rs
  crates/payload/basic/src/lib.rs
  crates/revm/src/processor.rs
  crates/rpc/rpc/src/eth/api/pending_block.rs
  crates/storage/provider/src/chain.rs
  crates/storage/provider/src/change.rs
  crates/storage/provider/src/providers/database/provider.rs
  crates/storage/provider/src/test_utils/blocks.rs
Due: storage (db), rpc, consensus/evm, payload builder

fix: set trace results root trace's gas used to execution result gas (#4556)
  crates/revm/revm-inspectors/src/tracing/builder/parity.rs
  crates/revm/revm-inspectors/src/tracing/mod.rs
  crates/rpc/rpc-types/src/eth/trace/parity.rs
  crates/rpc/rpc/src/trace.rs
Due: rpc, consensus/evm
