Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

codecov.yml:

coverage:
  status:
    patch: off
    project:
      default:
        threshold: null
        informational: true
github_checks:
  annotations: false
comment:
  layout: "reach, files, flags, components"
  require_changes: true
component_management:
  individual_components:
    - component_id: reth_binary
      name: reth binary
      paths:
        - bin/**
        - crates/config/**
        - crates/metrics/**
        - crates/tracing/**
    - component_id: blockchain_tree
      name: blockchain tree
      paths:
        - crates/blockchain-tree/**
    - component_id: staged_sync
      name: pipeline
      paths:
        - crates/stages/**
        - crates/staged-sync/**
    - component_id: storage
      name: storage (db)
      paths:
        - crates/storage/**
    - component_id: trie
      name: trie
      paths:
        - crates/trie/**
    - component_id: txpool
      name: txpool
      paths:
        - crates/transaction-pool/**
    - component_id: networking
      name: networking
      paths:
        - crates/net/**
    - component_id: rpc
      name: rpc
      paths:
        - crates/rpc/**
    - component_id: core
      name: consensus/evm
      paths:
        - crates/revm/**
        - crates/consensus/**
    - component_id: builder
      name: payload builder
      paths:
        - crates/payload/**
    - component_id: primitives
      name: primitives
      paths:
        - crates/primitives/**
        - crates/tasks/**
        - crates/rlp/**
        - crates/interfaces/**

Use dedicated methods for da scaling
  Cargo.lock
  Cargo.toml
  crates/optimism/txpool/src/transaction.rs
Due: none

docs(net): replace 404 link message.rs (#16597)
  crates/net/eth-wire-types/src/message.rs
Due: networking

chore(storage): fix docs overindent
  crates/storage/db-api/src/tables/mod.rs
Due: storage (db)

chore: make clippy happy
  crates/net/network/tests/it/big_pooled_txs_req.rs
  crates/net/p2p/src/test_utils/headers.rs
  crates/rpc/rpc/src/validation.rs
  crates/storage/db-api/src/tables/mod.rs
  crates/transaction-pool/src/pool/mod.rs
Due: storage (db), txpool, networking, rpc

refactor: relax `OpAddOns` trait bounds (#16582)
  crates/optimism/node/src/node.rs
Due: none

feat: fix tx da scaling (#16558)
  Cargo.lock
  Cargo.toml
  crates/optimism/txpool/src/transaction.rs
Due: none

feat: fixed missing blocktimestamp in logs subscription (#16598)
  crates/chain-state/src/notifications.rs
  crates/evm/execution-types/src/chain.rs
  crates/rpc/rpc-eth-types/src/logs_utils.rs
  crates/rpc/rpc/src/eth/pubsub.rs
Due: rpc

do not skip trie updates for blocks that have them and use state root task only when no missing trie updates
  crates/engine/tree/src/tree/mod.rs
  crates/trie/common/src/input.rs
Due: trie

chore: make clippy happy (#16611)
  crates/net/network/tests/it/big_pooled_txs_req.rs
  crates/net/p2p/src/test_utils/headers.rs
  crates/rpc/rpc/src/validation.rs
  crates/storage/db-api/src/tables/mod.rs
  crates/transaction-pool/src/pool/mod.rs
Due: storage (db), txpool, networking, rpc

feat(OpAddOns): relax trait bounds for generic engine validators
  crates/optimism/node/src/node.rs
Due: none

feat: :bug: fix using latest header
  crates/rpc/rpc-eth-api/src/helpers/fee.rs
Due: rpc

feat: :art: fmt
  crates/rpc/rpc-eth-api/src/helpers/fee.rs
Due: rpc

frontmatter desc intro dir
  book/vocs/docs/pages/installation/binaries.mdx
  book/vocs/docs/pages/installation/build-for-arm-devices.mdx
  book/vocs/docs/pages/installation/docker.mdx
  book/vocs/docs/pages/installation/overview.mdx
  book/vocs/docs/pages/installation/priorities.mdx
  book/vocs/docs/pages/installation/source.mdx
Due: none

chore: Remove OmmersProvider (#16539)
  crates/rpc/rpc-eth-api/src/core.rs
  crates/rpc/rpc-eth-api/src/helpers/block.rs
  crates/storage/provider/src/providers/blockchain_provider.rs
  crates/storage/provider/src/providers/consistent.rs
  crates/storage/provider/src/providers/database/mod.rs
  crates/storage/provider/src/providers/database/provider.rs
  crates/storage/provider/src/providers/static_file/jar.rs
  crates/storage/provider/src/providers/static_file/manager.rs
  crates/storage/provider/src/test_utils/mock.rs
  crates/storage/storage-api/src/block.rs
  crates/storage/storage-api/src/chain.rs
  crates/storage/storage-api/src/lib.rs
  crates/storage/storage-api/src/noop.rs
  crates/storage/storage-api/src/ommers.rs
  examples/db-access/src/main.rs
Due: storage (db), rpc

feat: :bug: fix using latest header (#16614)
  crates/rpc/rpc-eth-api/src/helpers/fee.rs
Due: rpc

mv developer docs - TODO: code snippets
  book/vocs/docs/pages/developers/contribute.mdx
  book/vocs/docs/pages/developers/developers.mdx
  book/vocs/docs/pages/developers/exex/hello-world.mdx
  book/vocs/docs/pages/developers/exex/how-it-works.mdx
  book/vocs/docs/pages/developers/exex/overview.mdx
  book/vocs/docs/pages/developers/exex/remote.mdx
  book/vocs/docs/pages/developers/exex/tracking-state.mdx
  book/vocs/docs/pages/developers/profiling.mdx
  book/vocs/docs/pages/example.mdx
  book/vocs/docs/pages/getting-started.mdx
  book/vocs/docs/public/remote_exex.png
  book/vocs/sidebar.ts
Due: none

feat(engine): enable precompile cache by default
  crates/node/core/src/args/engine.rs
Due: none

fix: wrap forkid entry for eth key
  crates/net/network/src/manager.rs
Due: networking

mv run to vocs
  book/vocs/docs/pages/run/config.mdx
  book/vocs/docs/pages/run/mainnet.mdx
  book/vocs/docs/pages/run/observability.mdx
  book/vocs/docs/pages/run/optimism.mdx
  book/vocs/docs/pages/run/ports.mdx
  book/vocs/docs/pages/run/private-testnet.mdx
  book/vocs/docs/pages/run/pruning.mdx
  book/vocs/docs/pages/run/run-a-node.mdx
  book/vocs/docs/pages/run/sync-op-mainnet.mdx
  book/vocs/docs/pages/run/transactions.mdx
  book/vocs/docs/pages/run/troubleshooting.mdx
Due: none

mv json-rpc to vocs
  book/vocs/docs/pages/jsonrpc/admin.mdx
  book/vocs/docs/pages/jsonrpc/debug.mdx
  book/vocs/docs/pages/jsonrpc/eth.mdx
  book/vocs/docs/pages/jsonrpc/intro.mdx
  book/vocs/docs/pages/jsonrpc/net.mdx
  book/vocs/docs/pages/jsonrpc/rpc.mdx
  book/vocs/docs/pages/jsonrpc/trace.mdx
  book/vocs/docs/pages/jsonrpc/txpool.mdx
  book/vocs/docs/pages/jsonrpc/web3.mdx
Due: none

Update examples/engine-api-access/src/main.rs
  examples/engine-api-access/src/main.rs
Due: none

feat: impl compress decompress for customheader
  Cargo.lock
  examples/custom-node/Cargo.toml
  examples/custom-node/src/primitives/header.rs
Due: none

feat: impl compress decompress for customheader
  examples/custom-node/src/primitives/header.rs
Due: none

fix: wrap forkid entry for eth key (#16616)
  crates/net/network/src/manager.rs
Due: networking

feat: add merge_or_replace_configured method to TransportRpcModules
  crates/rpc/rpc-builder/src/lib.rs
Due: rpc

refactor(e2e): split actions.rs into submodule (#16609)
  crates/e2e-test-utils/src/testsuite/actions/fork.rs
  crates/e2e-test-utils/src/testsuite/actions/mod.rs
  crates/e2e-test-utils/src/testsuite/actions/produce_blocks.rs
  crates/e2e-test-utils/src/testsuite/actions/reorg.rs
Due: none

add reorgs chart
  etc/grafana/dashboards/overview.json
Due: none

feat: impl compress decompress for customheader (#16617)
  Cargo.lock
  examples/custom-node/Cargo.toml
  examples/custom-node/src/primitives/header.rs
Due: none

feat: improve method registration logic to handle AlreadyRegistered errors
  crates/rpc/rpc-builder/src/lib.rs
Due: rpc

add comment
  crates/engine/tree/src/tree/mod.rs
Due: none
