Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

codecov.yml:

coverage:
  status:
    patch: off
    project:
      default:
        threshold: null
        informational: true
github_checks:
  annotations: false
comment:
  layout: "reach, files, flags, components"
  require_changes: true
component_management:
  individual_components:
    - component_id: reth_binary
      name: reth binary
      paths:
        - bin/**
        - crates/config/**
        - crates/metrics/**
        - crates/tracing/**
    - component_id: blockchain_tree
      name: blockchain tree
      paths:
        - crates/blockchain-tree/**
    - component_id: staged_sync
      name: pipeline
      paths:
        - crates/stages/**
        - crates/staged-sync/**
    - component_id: storage
      name: storage (db)
      paths:
        - crates/storage/**
    - component_id: trie
      name: trie
      paths:
        - crates/trie/**
    - component_id: txpool
      name: txpool
      paths:
        - crates/transaction-pool/**
    - component_id: networking
      name: networking
      paths:
        - crates/net/**
    - component_id: rpc
      name: rpc
      paths:
        - crates/rpc/**
    - component_id: core
      name: consensus/evm
      paths:
        - crates/revm/**
        - crates/consensus/**
    - component_id: builder
      name: payload builder
      paths:
        - crates/payload/**
    - component_id: primitives
      name: primitives
      paths:
        - crates/primitives/**
        - crates/tasks/**
        - crates/rlp/**
        - crates/interfaces/**

feat(pruning): prune ChangeSets & History during pipeline (#3728)
  bin/reth/src/node/mod.rs
  bin/reth/src/stage/dump/merkle.rs
  bin/reth/src/stage/run.rs
  crates/primitives/src/lib.rs
  crates/primitives/src/prune/mod.rs
  crates/primitives/src/prune/part.rs
  crates/primitives/src/prune/target.rs
  crates/prune/src/error.rs
  crates/prune/src/pruner.rs
  crates/stages/benches/criterion.rs
  crates/stages/src/error.rs
  crates/stages/src/stages/execution.rs
  crates/stages/src/stages/hashing_account.rs
  crates/stages/src/stages/hashing_storage.rs
  crates/stages/src/stages/index_account_history.rs
  crates/stages/src/stages/index_storage_history.rs
  crates/stages/src/stages/merkle.rs
  crates/stages/src/stages/mod.rs
  crates/storage/provider/src/post_state/mod.rs
Due: reth binary, pipeline, storage (db), primitives

feat(p2p): Add `GetReceipts` eth handler implementation (#3959)
  crates/net/network/src/eth_requests.rs
Due: networking

add deposit contract deployment block chain spec field
  bin/reth/src/args/pruning_args.rs
  bin/reth/src/node/mod.rs
  crates/primitives/src/chain/spec.rs
Due: reth binary, primitives

fix lint
  crates/primitives/src/chain/spec.rs
Due: primitives

fix redundant clone
  crates/rpc/rpc-builder/src/lib.rs
Due: rpc

fix: serde rename revertReason
  crates/rpc/rpc-types/src/eth/trace/geth/call.rs
Due: rpc

use seek_exact to get the first key of the dupsort table
  crates/storage/provider/src/providers/database/provider.rs
Due: storage (db)

feat: Add RethCliExt (#3983)
  bin/reth/src/args/rpc_server_args.rs
  bin/reth/src/cli/ext.rs
  bin/reth/src/cli/mod.rs
  bin/reth/src/node/mod.rs
  crates/rpc/rpc-builder/src/lib.rs
Due: reth binary, rpc

fix: serde rename revertReason (#4002)
  crates/rpc/rpc-types/src/eth/trace/geth/call.rs
Due: rpc

Update bin/reth/src/args/rollup_args.rs
  bin/reth/src/args/rollup_args.rs
Due: reth binary

feat(cli): `tokio-console` feature flag
  Cargo.lock
  bin/reth/Cargo.toml
  bin/reth/src/cli/mod.rs
  bin/reth/src/lib.rs
  crates/tasks/Cargo.toml
  crates/tasks/src/lib.rs
Due: reth binary, primitives

Compute Pending Block rollup arg
  bin/reth/src/args/rollup_args.rs
Due: reth binary

oops question mark
  crates/prune/src/pruner.rs
Due: none

fix remaining chainspec inits
  crates/primitives/src/hardfork.rs
Due: primitives

fix more remaining chainspec inits
  bin/reth/src/init.rs
Due: reth binary

feat(bin): `node --full` flag (#3965)
  bin/reth/src/args/mod.rs
  bin/reth/src/args/pruning_args.rs
  bin/reth/src/init.rs
  bin/reth/src/node/mod.rs
  crates/primitives/src/chain/spec.rs
  crates/primitives/src/hardfork.rs
  crates/rpc/rpc-builder/src/lib.rs
Due: reth binary, rpc, primitives

chore: add example how to install additional rpc namespace
  Cargo.lock
  Cargo.toml
  bin/reth/Cargo.toml
  bin/reth/src/cli/mod.rs
  bin/reth/src/lib.rs
  bin/reth/src/node/mod.rs
  crates/rpc/rpc-builder/src/lib.rs
  examples/additional-rpc-namespace-in-cli/Cargo.toml
  examples/additional-rpc-namespace-in-cli/src/main.rs
Due: reth binary, rpc

feat(pruner): storage history
  crates/prune/src/pruner.rs
  crates/storage/db/src/tables/models/accounts.rs
  crates/storage/provider/src/providers/database/provider.rs
Due: storage (db)

use walker
  crates/prune/src/pruner.rs
  crates/storage/provider/src/providers/database/provider.rs
Due: storage (db)

feat(rpc): ots_getBlockDetails and ots_getBlockDetailsByHash
  crates/rpc/rpc-builder/tests/it/http.rs
  crates/rpc/rpc-types/src/eth/block.rs
  crates/rpc/rpc-types/src/otterscan.rs
  crates/rpc/rpc/src/otterscan.rs
Due: rpc

remove K generic arg
  crates/prune/src/pruner.rs
  crates/storage/provider/src/providers/database/provider.rs
Due: storage (db)

remove where clauses
  crates/storage/provider/src/providers/database/provider.rs
Due: storage (db)

use new method
  crates/prune/src/pruner.rs
Due: none

tests
  crates/prune/src/pruner.rs
Due: none

fix method comment
  crates/prune/src/pruner.rs
Due: none

move transactions build to else branch
  crates/net/network/src/transactions.rs
Due: networking

change clause to be 'Latest FCU status is VALID'
  crates/consensus/beacon/src/engine/mod.rs
Due: consensus/evm

Add nextest install
  Makefile
Due: none

Updated 4844 field values
  crates/rpc/rpc-types/src/eth/block.rs
  testing/ef-tests/src/models.rs
Due: rpc

feat: handle actual receipt sizes
  crates/net/network/src/eth_requests.rs
Due: networking

fix: track full_transactions propagation when packet size limited (#3993)
  crates/net/network/src/transactions.rs
Due: networking
