Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

codecov.yml:

coverage:
  status:
    patch: off
    project:
      default:
        threshold: null
        informational: true
github_checks:
  annotations: false
comment:
  layout: "reach, files, flags, components"
  require_changes: true
component_management:
  individual_components:
    - component_id: reth_binary
      name: reth binary
      paths:
        - bin/**
        - crates/config/**
        - crates/metrics/**
        - crates/tracing/**
    - component_id: blockchain_tree
      name: blockchain tree
      paths:
        - crates/blockchain-tree/**
    - component_id: staged_sync
      name: pipeline
      paths:
        - crates/stages/**
        - crates/staged-sync/**
    - component_id: storage
      name: storage (db)
      paths:
        - crates/storage/**
    - component_id: trie
      name: trie
      paths:
        - crates/trie/**
    - component_id: txpool
      name: txpool
      paths:
        - crates/transaction-pool/**
    - component_id: networking
      name: networking
      paths:
        - crates/net/**
    - component_id: rpc
      name: rpc
      paths:
        - crates/rpc/**
    - component_id: core
      name: consensus/evm
      paths:
        - crates/revm/**
        - crates/consensus/**
    - component_id: builder
      name: payload builder
      paths:
        - crates/payload/**
    - component_id: primitives
      name: primitives
      paths:
        - crates/primitives/**
        - crates/tasks/**
        - crates/rlp/**
        - crates/interfaces/**

feat(rpc-testing-utils) : trace_filter test (#5293)
  crates/rpc/rpc-testing-util/src/trace.rs
Due: rpc

fix(payload): Ethereum Payload Builder Zero Type (#5313)
  bin/reth/src/cli/ext.rs
  crates/payload/basic/src/lib.rs
  crates/payload/basic/src/optimism.rs
Due: reth binary, payload builder

fix(ci): Optimism unit / integration tests (#5318)
  .github/workflows/integration.yml
  .github/workflows/unit.yml
  bin/reth/src/main.rs
  crates/consensus/auto-seal/Cargo.toml
  crates/consensus/auto-seal/tests/it/auto_mine.rs
  crates/primitives/src/transaction/optimism.rs
Due: reth binary, consensus/evm, primitives

feat: add more beacon API types (#5292)
  crates/rpc/rpc-types/src/beacon/constants.rs
  crates/rpc/rpc-types/src/beacon/events/attestation.rs
  crates/rpc/rpc-types/src/beacon/events/light_client_finality.rs
  crates/rpc/rpc-types/src/beacon/events/light_client_optimistic.rs
  crates/rpc/rpc-types/src/beacon/events/mod.rs
  crates/rpc/rpc-types/src/beacon/mod.rs
  crates/rpc/rpc-types/src/beacon/payload.rs
  crates/rpc/rpc-types/src/beacon/withdrawals.rs
  crates/rpc/rpc-types/src/eth/engine/beacon_api/mod.rs
  crates/rpc/rpc-types/src/eth/engine/mod.rs
  crates/rpc/rpc-types/src/eth/engine/payload.rs
  crates/rpc/rpc-types/src/eth/mod.rs
  crates/rpc/rpc-types/src/eth/transaction/mod.rs
  crates/rpc/rpc-types/src/eth/withdrawal.rs
  crates/rpc/rpc-types/src/lib.rs
  crates/rpc/rpc-types/src/relay.rs
  examples/beacon-api-sse/src/main.rs
Due: rpc

feat (rpc-testing-utils) : enhenced trace filter streaming for local node (#5295)
  crates/rpc/rpc-testing-util/tests/it/trace.rs
Due: rpc

feat(primitives): format stage progress with two decimal places
  crates/primitives/src/stage/checkpoints.rs
Due: primitives

impl peer request
  crates/net/network/src/transactions.rs
Due: networking

feat(primitives): format stage progress with two decimal places (#5324)
  crates/primitives/src/stage/checkpoints.rs
Due: primitives

feat: add TransactionsHandle function (#5198)
  crates/net/network/src/transactions.rs
Due: networking

clean up & add trace on save
  crates/revm/revm-parallel/src/queue.rs
  crates/revm/revm-parallel/src/shared/cache_account.rs
Due: consensus/evm

return empty rw set for genesis
  crates/revm/revm-parallel/src/utils.rs
Due: consensus/evm

add trace on dep resolution
  bin/reth/src/parallel_execution/generate.rs
Due: reth binary

Add a test to compat tx type
  crates/primitives/src/transaction/tx_type.rs
Due: primitives

cap max batch size within transition queues
  bin/reth/src/parallel_execution/generate.rs
  crates/revm/revm-parallel/src/queue.rs
  crates/revm/revm-parallel/src/rw_set.rs
Due: reth binary, consensus/evm

sort once instead of resolving btree map
  Cargo.lock
  bin/reth/src/parallel_execution/generate.rs
  crates/revm/revm-parallel/Cargo.toml
  crates/revm/revm-parallel/src/queue.rs
Due: reth binary, consensus/evm

Update mock.rs
  crates/transaction-pool/src/test_utils/mock.rs
Due: txpool

trace resolve
  crates/revm/revm-parallel/src/queue.rs
Due: consensus/evm

chore: use u64 directly
  bin/reth/src/debug_cmd/build_block.rs
  crates/consensus/beacon/src/engine/mod.rs
  crates/payload/builder/src/payload.rs
  crates/rpc/rpc-engine-api/src/payload.rs
  crates/rpc/rpc-types-compat/src/engine/payload.rs
  crates/rpc/rpc-types/src/beacon/payload.rs
  crates/rpc/rpc-types/src/eth/engine/payload.rs
Due: reth binary, rpc, consensus/evm, payload builder

Update validation.rs
  crates/consensus/common/src/validation.rs
Due: consensus/evm

chore: use u64 for payloadattributes directly (#5327)
  bin/reth/src/debug_cmd/build_block.rs
  crates/consensus/beacon/src/engine/mod.rs
  crates/payload/builder/src/payload.rs
  crates/rpc/rpc-engine-api/src/payload.rs
  crates/rpc/rpc-types-compat/src/engine/payload.rs
  crates/rpc/rpc-types/src/beacon/payload.rs
  crates/rpc/rpc-types/src/eth/engine/payload.rs
Due: reth binary, rpc, consensus/evm, payload builder

chore(primitives): Compact TxType Unit Table Test (#5325)
  crates/primitives/src/transaction/tx_type.rs
Due: primitives

Update env.rs
  crates/primitives/src/revm/env.rs
Due: primitives

feat(primitives) : support test for fill_cfg_and_block_env function (#5330)
  crates/primitives/src/revm/env.rs
Due: primitives

docs: call many docs
  crates/rpc/rpc-types/src/eth/call.rs
Due: rpc
