Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

codecov.yml:

coverage:
  status:
    patch: off
    project:
      default:
        threshold: null
        informational: true
github_checks:
  annotations: false
comment:
  layout: "reach, files, flags, components"
  require_changes: true
component_management:
  individual_components:
    - component_id: reth_binary
      name: reth binary
      paths:
        - bin/**
        - crates/config/**
        - crates/metrics/**
        - crates/tracing/**
    - component_id: blockchain_tree
      name: blockchain tree
      paths:
        - crates/blockchain-tree/**
    - component_id: staged_sync
      name: pipeline
      paths:
        - crates/stages/**
        - crates/staged-sync/**
    - component_id: storage
      name: storage (db)
      paths:
        - crates/storage/**
    - component_id: trie
      name: trie
      paths:
        - crates/trie/**
    - component_id: txpool
      name: txpool
      paths:
        - crates/transaction-pool/**
    - component_id: networking
      name: networking
      paths:
        - crates/net/**
    - component_id: rpc
      name: rpc
      paths:
        - crates/rpc/**
    - component_id: core
      name: consensus/evm
      paths:
        - crates/revm/**
        - crates/consensus/**
    - component_id: builder
      name: payload builder
      paths:
        - crates/payload/**
    - component_id: primitives
      name: primitives
      paths:
        - crates/primitives/**
        - crates/tasks/**
        - crates/rlp/**
        - crates/interfaces/**

fix: exclude withdrawals from uncle block (#12038)
  crates/rpc/rpc-types-compat/src/block.rs
Due: rpc

c-enhancement: add trace log for discovered peers from Neighbours packet in discv4
  Cargo.lock
  crates/net/discv4/Cargo.toml
  crates/net/discv4/src/lib.rs
Due: networking

delay payload builder changes
  Cargo.lock
  crates/ethereum/payload/src/lib.rs
Due: none

misc touchups
  Cargo.lock
  crates/ethereum/payload/src/lib.rs
  crates/transaction-pool/src/traits.rs
Due: txpool

feat(payload builder): transaction pool filter (#10542)
  Cargo.lock
  crates/transaction-pool/src/pool/best.rs
  crates/transaction-pool/src/traits.rs
Due: txpool

feat: add BestTransactions::filter_transactions
  crates/transaction-pool/src/traits.rs
  crates/transaction-pool/tests/it/best.rs
  crates/transaction-pool/tests/it/main.rs
Due: txpool

chore: introduce `Debug` on notifications stream
  crates/exex/exex/src/context.rs
  crates/exex/exex/src/notifications.rs
Due: none

feat: add notifications to `ExExContextDyn`
  crates/exex/exex/src/dyn_context.rs
Due: none

chore(primitive-traits): rm `EIP1559_` constants (#12036)
  crates/primitives-traits/src/constants/mod.rs
Due: none

feat: add BestTransactions::filter_transactions (#12041)
  crates/transaction-pool/src/traits.rs
  crates/transaction-pool/tests/it/best.rs
  crates/transaction-pool/tests/it/main.rs
Due: txpool

feat: `ExExContext`'s dynamic config (#11983)
  crates/chainspec/src/api.rs
  crates/exex/exex/src/context.rs
  crates/exex/exex/src/dyn_context.rs
  crates/exex/exex/src/lib.rs
  crates/exex/exex/src/notifications.rs
  crates/node/types/Cargo.toml
  crates/optimism/chainspec/src/lib.rs
Due: none

remove unnecessary trait bound + methods + change visibility of TransactionInner to private
  Cargo.lock
  crates/primitives-traits/Cargo.toml
  crates/primitives-traits/src/lib.rs
  crates/primitives-traits/src/transaction/mod.rs
Due: none

remove add_other_fields method from ReceiptBuilder
  crates/rpc/rpc-eth-types/src/receipt.rs
Due: rpc

wip bench
  crates/trie/sparse/Cargo.toml
  crates/trie/sparse/benches/rlp_node.rs
  crates/trie/sparse/benches/root.rs
  crates/trie/sparse/src/trie.rs
Due: trie

Address PR comments
  crates/ethereum/payload/src/lib.rs
Due: none

feat: `ExExNotificationsStream` able to be used across threads
  crates/exex/exex/src/notifications.rs
Due: none

chore: add missing helpers to BlockTransactions
  crates/transaction-pool/src/traits.rs
  crates/transaction-pool/tests/it/best.rs
Due: txpool

replace net::discv5 log target with discv5
  crates/net/discv5/src/lib.rs
Due: networking

feat(exex): introduce `libloading` crate
  Cargo.lock
  Cargo.toml
  crates/exex/exex/Cargo.toml
Due: none

feat: set dynamic context
  crates/exex/exex/src/dyexex.rs
Due: none

feat: dyexex symbol declaration
  crates/exex/exex/src/dyexex.rs
Due: none

new bench
  crates/trie/sparse/benches/rlp_node.rs
Due: trie

feat(test): add TrieWalker tests
  Cargo.lock
  crates/trie/trie/Cargo.toml
  crates/trie/trie/src/walker.rs
Due: trie

primitive-traits: add unit tests for Account
  crates/primitives-traits/src/account.rs
Due: none

add comments to benchmark
  crates/trie/sparse/benches/rlp_node.rs
Due: trie

feat(exex): introduce dylib load function
  Cargo.lock
  crates/exex/exex/Cargo.toml
  crates/exex/exex/src/dyexex.rs
  crates/exex/exex/src/lib.rs
Due: none

Move reth_node_api::RpcNodeCore into reth-rpc-eth-api by removing cyclical deps
  Cargo.lock
  crates/e2e-test-utils/src/rpc.rs
  crates/ethereum/node/tests/e2e/dev.rs
  crates/node/api/Cargo.toml
  crates/node/api/src/lib.rs
  crates/node/api/src/node.rs
  crates/node/builder/src/launch/mod.rs
  crates/node/builder/src/node.rs
  crates/node/builder/src/rpc.rs
  crates/node/core/Cargo.toml
  crates/node/core/src/lib.rs
  crates/optimism/rpc/src/eth/mod.rs
  crates/rpc/rpc-eth-api/Cargo.toml
  crates/rpc/rpc-eth-api/src/lib.rs
  crates/rpc/rpc-eth-api/src/node.rs
  crates/rpc/rpc/Cargo.toml
  crates/rpc/rpc/src/eth/filter.rs
  crates/rpc/rpc/src/eth/mod.rs
Due: rpc

primitives-traits: small refac for IntegerList and more doc
  crates/primitives-traits/src/integer_list.rs
Due: none

clippy
  crates/primitives-traits/src/account.rs
Due: none

feat: impl `Debug` for `BlockchainProvider`
  crates/storage/provider/src/providers/mod.rs
Due: storage (db)

Add RpcNodeCore as super trait of EthApiSpec
  crates/optimism/rpc/src/eth/mod.rs
  crates/rpc/rpc-eth-api/src/helpers/spec.rs
  crates/rpc/rpc/src/eth/core.rs
  crates/rpc/rpc/src/eth/helpers/spec.rs
Due: rpc

chore: update received neighbour packet trace message
  crates/net/discv4/src/lib.rs
Due: networking

Fix docs
  crates/node/builder/src/launch/mod.rs
Due: none

Fix docs
  crates/rpc/rpc-eth-api/src/node.rs
Due: rpc

fix lints
  crates/rpc/rpc/src/debug.rs
Due: rpc

reuse inspector
  crates/rpc/rpc/src/debug.rs
Due: rpc
