Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

refactor(trie): hashed post state (#6066)
  Cargo.lock
  bin/reth/src/commands/debug_cmd/build_block.rs
  crates/blockchain-tree/src/blockchain_tree.rs
  crates/storage/provider/src/bundle_state/bundle_state_with_receipts.rs
  crates/storage/provider/src/bundle_state/hashed_state_changes.rs
  crates/storage/provider/src/providers/database/provider.rs
  crates/storage/provider/src/providers/state/latest.rs
  crates/storage/provider/src/traits/block.rs
  crates/trie/Cargo.toml
  crates/trie/src/hashed_cursor/post_state.rs
  crates/trie/src/lib.rs
  crates/trie/src/state.rs
Due: reth binary, blockchain tree, storage (db), trie

removed
  crates/trie/src/hashed_cursor/post_state.rs
Due: trie

fix doc typo
  crates/trie/src/prefix_set/mod.rs
Due: trie

update
  crates/trie/src/state.rs
Due: trie

geno state init
  bin/reth/src/db/diff.rs
  crates/storage/db/src/tables/mod.rs
  crates/storage/provider/src/providers/database/mod.rs
  crates/storage/provider/src/providers/database/provider.rs
  crates/storage/provider/src/traits/consensus.rs
  crates/storage/provider/src/traits/mod.rs
Due: reth binary, storage (db)

fix tests
  crates/trie/src/hashed_cursor/post_state.rs
Due: trie

chore: avoid `.as_ref().to_vec()` when `Into<Vec<u8>>` is available (#6071)
  crates/net/discv4/src/config.rs
  crates/rpc/ipc/src/stream_codec.rs
  crates/storage/db/src/abstraction/table.rs
  crates/storage/db/src/tables/raw.rs
Due: storage (db), networking, rpc

improve usability of schnellru::LruMap and LruCache (LinkedHashSet cache) (#6016)
  Cargo.lock
  Cargo.toml
  crates/net/network/Cargo.toml
  crates/net/network/src/cache.rs
Due: networking

commit on truncate
  crates/storage/provider/src/providers/snapshot/writer.rs
Due: storage (db)

add more docs and CowJar
  crates/interfaces/src/provider.rs
  crates/primitives/src/snapshot/segment.rs
  crates/storage/nippy-jar/src/writer.rs
Due: storage (db), primitives

Update crates/trie/src/state.rs
  crates/trie/src/state.rs
Due: trie

adds some notes about commit on methods that use truncate
  crates/stages/src/stages/bodies.rs
  crates/storage/provider/src/providers/snapshot/writer.rs
Due: pipeline, storage (db)

chore: improve `HashedStorage` (#6068)
  crates/trie/Cargo.toml
  crates/trie/src/hashed_cursor/post_state.rs
  crates/trie/src/prefix_set/mod.rs
  crates/trie/src/state.rs
Due: trie

Added extension support for auth rpc module (#6060)
  bin/reth/src/args/rpc_server_args.rs
  bin/reth/src/cli/components.rs
  crates/rpc/rpc-builder/src/auth.rs
  examples/additional-rpc-namespace-in-cli/src/main.rs
Due: reth binary, rpc

add a test set_block_range
  crates/stages/src/stages/bodies.rs
  crates/storage/provider/src/providers/snapshot/writer.rs
Due: pipeline, storage (db)

feat(trie): construct `HashedPostState` from revert range
  crates/storage/provider/src/bundle_state/hashed_state_changes.rs
  crates/trie/src/hashed_cursor/post_state.rs
  crates/trie/src/state.rs
Due: storage (db), trie

clippy
  crates/trie/src/state.rs
Due: trie

invalidate cached static file on writer commit
  crates/storage/provider/src/providers/snapshot/manager.rs
  crates/storage/provider/src/providers/snapshot/writer.rs
Due: storage (db)

remove clones before into_vN_payload
  crates/rpc/rpc-engine-api/src/engine_api.rs
Due: rpc

Call closure directly to avoid mutable variable
  crates/net/network/src/transactions.rs
Due: networking

Remove ended sessions in fallback peers before storing new fallback peer
  crates/net/network/src/transactions.rs
Due: networking

refactor update_index
  crates/storage/provider/src/providers/snapshot/manager.rs
  crates/storage/provider/src/providers/snapshot/writer.rs
Due: storage (db)

feat: add BuiltPayload associated type to EngineTypes (#6028)
  bin/reth/src/cli/ext.rs
  crates/node-api/src/engine/mod.rs
  crates/node-api/src/engine/traits.rs
  crates/node-api/src/lib.rs
  crates/node-builder/src/engine.rs
  crates/payload/basic/src/lib.rs
  crates/payload/builder/src/lib.rs
  crates/payload/builder/src/noop.rs
  crates/payload/builder/src/payload.rs
  crates/payload/builder/src/service.rs
  crates/payload/builder/src/test_utils.rs
  crates/payload/builder/src/traits.rs
  crates/payload/ethereum/src/lib.rs
  crates/payload/optimism/src/lib.rs
  crates/rpc/rpc-engine-api/src/engine_api.rs
Due: reth binary, rpc, payload builder

Break loop early for full request for eth68 hashes too
  crates/net/network/src/transactions.rs
Due: networking

query TransactionBlock for next tx num
  crates/storage/provider/src/providers/database/provider.rs
Due: storage (db)

feat(stages): log percentage progress of Execution stage
  Cargo.toml
  crates/stages/src/stages/execution.rs
Due: pipeline

update snapshot provider index from snapshotter, always initialize pruner
  bin/reth/src/builder/mod.rs
  crates/snapshot/src/snapshotter.rs
Due: reth binary

Move duplicate code to method
  crates/net/network/src/transactions.rs
Due: networking

Fix comment
  crates/net/network/src/transactions.rs
Due: networking

Improve interface between NewPooledTransactionHashes and NewPooledTransactionHashes68
  crates/net/eth-wire/src/types/broadcast.rs
  crates/net/network/src/transactions.rs
Due: networking

Simplify pack_hashes signature
  crates/net/network/src/transactions.rs
Due: networking

add version_specific_fields method to EngineTypes with Canyon switch
  bin/reth/Cargo.toml
  crates/node-api/Cargo.toml
  crates/node-api/src/engine/mod.rs
  crates/node-api/src/lib.rs
  crates/node-builder/Cargo.toml
  crates/node-builder/src/engine.rs
  crates/node-builder/src/lib.rs
Due: reth binary

fix docs
  crates/node-api/src/engine/mod.rs
Due: none

fix docs
  crates/rpc/rpc-engine-api/src/engine_api.rs
Due: rpc

Path conditions:
  reth binary: any of: bin/**, crates/config/**, crates/metrics/**, crates/tracing/**
  blockchain tree: any of: crates/blockchain-tree/**
  pipeline: any of: crates/stages/**, crates/staged-sync/**
  storage (db): any of: crates/storage/**
  trie: any of: crates/trie/**
  txpool: any of: crates/transaction-pool/**
  networking: any of: crates/net/**
  rpc: any of: crates/rpc/**
  consensus/evm: any of: crates/revm/**, crates/consensus/**
  payload builder: any of: crates/payload/**
  primitives: any of: crates/primitives/**, crates/tasks/**, crates/rlp/**, crates/interfaces/**
