Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

codecov.yml:

coverage:
  status:
    patch: off
    project:
      default:
        threshold: null
        informational: true
github_checks:
  annotations: false
comment:
  layout: "reach, files, flags, components"
  require_changes: true
component_management:
  individual_components:
    - component_id: reth_binary
      name: reth binary
      paths:
        - bin/**
        - crates/config/**
        - crates/metrics/**
        - crates/tracing/**
    - component_id: blockchain_tree
      name: blockchain tree
      paths:
        - crates/blockchain-tree/**
    - component_id: staged_sync
      name: pipeline
      paths:
        - crates/stages/**
        - crates/staged-sync/**
    - component_id: storage
      name: storage (db)
      paths:
        - crates/storage/**
    - component_id: trie
      name: trie
      paths:
        - crates/trie/**
    - component_id: txpool
      name: txpool
      paths:
        - crates/transaction-pool/**
    - component_id: networking
      name: networking
      paths:
        - crates/net/**
    - component_id: rpc
      name: rpc
      paths:
        - crates/rpc/**
    - component_id: core
      name: consensus/evm
      paths:
        - crates/revm/**
        - crates/consensus/**
    - component_id: builder
      name: payload builder
      paths:
        - crates/payload/**
    - component_id: primitives
      name: primitives
      paths:
        - crates/primitives/**
        - crates/tasks/**
        - crates/rlp/**
        - crates/interfaces/**

chore: update `decode_enveloped` docs
  crates/primitives/src/transaction/mod.rs
Due: primitives

chore(tree): remove `BlockchainTreeEngine::unwind`
  crates/blockchain-tree/src/noop.rs
  crates/blockchain-tree/src/shareable.rs
  crates/interfaces/src/blockchain_tree/mod.rs
  crates/storage/provider/src/providers/mod.rs
Due: blockchain tree, storage (db), primitives

Activate optimism feature for dep
  crates/consensus/beacon-core/Cargo.toml
  crates/consensus/beacon-core/src/lib.rs
Due: consensus/evm

chore(tree): remove `BlockchainTreeEngine::unwind` (#7647)
  crates/blockchain-tree/src/noop.rs
  crates/blockchain-tree/src/shareable.rs
  crates/interfaces/src/blockchain_tree/mod.rs
  crates/storage/provider/src/providers/mod.rs
Due: blockchain tree, storage (db), primitives

Remove unused lint attrib
  crates/consensus/beacon-core/src/lib.rs
Due: consensus/evm

Revert a42cf5ff9
  crates/consensus/beacon-core/src/lib.rs
Due: consensus/evm

fix(op): headers above merge (#7622)
  crates/consensus/beacon-core/Cargo.toml
  crates/consensus/beacon-core/src/lib.rs
  crates/consensus/beacon/Cargo.toml
  crates/primitives/src/chain/spec.rs
Due: consensus/evm, primitives

chore: update `decode_enveloped` docs (#7645)
  crates/primitives/src/transaction/mod.rs
Due: primitives

ci: automatically set pr labels upon open (#7613)
  .github/scripts/label_pr.js
  .github/workflows/label-pr.yml
Due: none

feat(op): chunked chain import (#7574)
  Cargo.lock
  bin/reth/src/commands/import.rs
  crates/net/downloaders/Cargo.toml
  crates/net/downloaders/src/file_client.rs
  crates/net/downloaders/src/file_codec.rs
Due: reth binary, networking

refactor: remove unused codecs (#7639)
  crates/storage/codecs/Cargo.toml
  crates/storage/codecs/README.md
  crates/storage/codecs/derive/Cargo.toml
  crates/storage/codecs/derive/src/lib.rs
Due: storage (db)

Add aggregate type value to enr
  Cargo.lock
  crates/net/dns/Cargo.toml
  crates/net/dns/src/lib.rs
Due: networking

refactor(exex): make finished height an enum
  crates/exex/src/manager.rs
Due: none

dev(refactor): drop reth_primitives::Log
  crates/interfaces/src/test_utils/generators.rs
  crates/net/eth-wire-types/src/receipts.rs
  crates/primitives/src/log.rs
  crates/primitives/src/proofs.rs
  crates/primitives/src/receipt.rs
  crates/primitives/src/revm/compat.rs
  crates/rpc/rpc-types-compat/src/log.rs
  crates/rpc/rpc/src/eth/api/transactions.rs
  crates/rpc/rpc/src/eth/logs_utils.rs
  crates/storage/provider/src/test_utils/blocks.rs
  examples/db-access.rs
  examples/exex/op-bridge/src/main.rs
Due: storage (db), networking, rpc, primitives

dev(chore): clippy
  crates/primitives/src/log.rs
Due: primitives

refactor(exex): make finished height an enum (#7652)
  crates/exex/src/manager.rs
Due: none

dev(chore): nits
  crates/primitives/src/log.rs
Due: primitives

dev(chore): cleanup
  crates/rpc/rpc-types-compat/src/log.rs
Due: rpc

dev(chore): clippy
  crates/primitives/src/log.rs
  crates/rpc/rpc-types-compat/src/log.rs
Due: rpc, primitives

wip
  crates/primitives/src/block.rs
  crates/primitives/src/header.rs
Due: primitives

fix: null check firstly
  .github/scripts/label_pr.js
Due: none

Update .github/scripts/label_pr.js
  .github/scripts/label_pr.js
Due: none

add requested enr
  crates/net/discv5/src/lib.rs
Due: networking

format
  crates/net/discv5/src/lib.rs
Due: networking

exported alloy's builtin function and typecasted required values
  crates/primitives/src/basefee.rs
  crates/primitives/src/header.rs
  crates/rpc/rpc/src/eth/api/fee_history.rs
  crates/rpc/rpc/src/eth/api/fees.rs
  crates/rpc/rpc/src/eth/api/server.rs
Due: rpc, primitives

Revert "format"
  crates/net/discv5/src/lib.rs
Due: networking

Revert "add requested enr"
  crates/net/discv5/src/lib.rs
Due: networking

add docs related to discv5 request enr
  crates/net/discv5/src/lib.rs
Due: networking

chore(node): use rpc.xx-yy-zz as default cmd args
  crates/node-core/src/args/rpc_server_args.rs
Due: none

add remaining api methods
  crates/rpc/rpc-api/src/optimism.rs
  crates/rpc/rpc-api/src/test.json
Due: rpc

fix test
  crates/rpc/rpc-api/src/optimism.rs
Due: rpc

chore(node/rpc): move auth-ipc near to ipc
  crates/node-core/src/args/rpc_server_args.rs
Due: none

chore(node/txpool): use txpool.xx-yy-zz cmd format
  crates/node-core/src/args/txpool_args.rs
Due: none
