Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

fix feature
  crates/primitives-traits/src/lib.rs
Due: none

fix: include reverts in execution outcome when building payload
  .github/assets/hive/expected_failures.yaml
  .github/assets/hive/expected_failures_experimental.yaml
  crates/ethereum/payload/src/lib.rs
Due: none

fix: map header not found error for op
  crates/rpc/rpc-eth-api/src/core.rs
  crates/rpc/rpc-eth-api/src/helpers/error.rs
  crates/rpc/rpc-eth-types/src/error.rs
Due: rpc

fix: include reverts in execution outcome when building payload (#10837)
  .github/assets/hive/expected_failures.yaml
  .github/assets/hive/expected_failures_experimental.yaml
  crates/ethereum/payload/src/lib.rs
Due: none

chore: remove useless non exhaustive
  crates/ethereum/evm/src/lib.rs
  crates/optimism/evm/src/lib.rs
Due: none

chore: remove useless non exhaustive (#10865)
  crates/ethereum/evm/src/lib.rs
  crates/optimism/evm/src/lib.rs
Due: none

clarify the cli arg doc
  book/cli/reth/node.md
  crates/node/core/src/args/debug.rs
Due: none

simplify default impl
  crates/node/core/src/args/debug.rs
Due: none

fix: revert header error message change
  crates/rpc/rpc-eth-types/src/error.rs
Due: rpc

docs: minor evm doc changes
  crates/ethereum/evm/src/config.rs
  crates/optimism/evm/src/config.rs
Due: none

fix: revert header error message change (#10866)
  crates/rpc/rpc-eth-types/src/error.rs
Due: rpc

move println! out of macro
  crates/cli/commands/src/test_vectors/tables.rs
Due: none

dev: test vectors seed (#10859)
  crates/cli/commands/src/test_vectors/tables.rs
Due: none

feat(evm-ethereum): add BlockAccessListExecutor
  crates/ethereum/evm/src/execute.rs
Due: none

wip
  crates/optimism/payload/src/builder.rs
Due: none

docs: minor evm doc changes (#10867)
  crates/ethereum/evm/src/config.rs
  crates/optimism/evm/src/config.rs
Due: none

Updates for alloy testing
  crates/telos/node/Cargo.toml
  crates/telos/node/tests/integration.rs
  crates/telos/node/tests/live_test_runner.rs
Due: none

updated build payload
  crates/optimism/payload/src/builder.rs
Due: none

update to use transact commit
  crates/optimism/payload/src/builder.rs
Due: none

update to use build payload
  crates/optimism/payload/src/builder.rs
Due: none

updating cancel logic
  crates/optimism/payload/src/builder.rs
Due: none

handle build outcome cancelled
  crates/optimism/payload/src/builder.rs
  crates/payload/builder/src/error.rs
Due: payload builder

add pooled transactions to the block
  crates/optimism/payload/src/builder.rs
Due: none

updating block construction logic
  crates/optimism/payload/src/builder.rs
Due: none

Add fee/value and balance to insufficient funds RPC error
  crates/rpc/rpc-eth-types/src/error.rs
  crates/rpc/rpc-eth-types/src/revm_utils.rs
  crates/transaction-pool/src/error.rs
  crates/transaction-pool/src/pool/txpool.rs
Due: txpool, rpc

fix std in primitives
  crates/primitives/src/compression/mod.rs
Due: primitives

Fix docs
  crates/transaction-pool/src/error.rs
Due: txpool

add minimal bootstrap to docs
  book/run/sync-op-mainnet.md
Due: none

fix(reth): use reth_static_file_types
  bin/reth/Cargo.toml
  bin/reth/src/lib.rs
Due: reth binary

cargo
  Cargo.lock
Due: none

feat: add support for wrapping the allocator with tracy
  Cargo.lock
  Cargo.toml
  bin/reth-bench/Cargo.toml
  bin/reth-bench/src/main.rs
  bin/reth/Cargo.toml
  bin/reth/src/lib.rs
  bin/reth/src/main.rs
  crates/cli/util/Cargo.toml
  crates/cli/util/src/allocator.rs
  crates/cli/util/src/lib.rs
  crates/node/metrics/Cargo.toml
  crates/optimism/bin/Cargo.toml
  crates/optimism/bin/src/main.rs
Due: reth binary

chore: propagate the feature
  bin/reth-bench/Cargo.toml
  bin/reth/Cargo.toml
  crates/optimism/bin/Cargo.toml
Due: reth binary

fix
  crates/cli/util/src/allocator.rs
Due: none

add missing Dao fork to optimism list of forks
  crates/ethereum-forks/src/hardfork/optimism.rs
Due: none

fix comments
  crates/chainspec/src/spec.rs
Due: none

Path conditions:
  reth binary: any of: bin/**, crates/config/**, crates/metrics/**, crates/tracing/**
  blockchain tree: any of: crates/blockchain-tree/**
  pipeline: any of: crates/stages/**, crates/staged-sync/**
  storage (db): any of: crates/storage/**
  trie: any of: crates/trie/**
  txpool: any of: crates/transaction-pool/**
  networking: any of: crates/net/**
  rpc: any of: crates/rpc/**
  consensus/evm: any of: crates/revm/**, crates/consensus/**
  payload builder: any of: crates/payload/**
  primitives: any of: crates/primitives/**, crates/tasks/**, crates/rlp/**, crates/interfaces/**
