Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

Update stage_args.rs
  crates/node-core/src/args/stage_args.rs
Due: none

feat(exex): send `ExExNotification` instead of `CanonStateNotification` (#7803)
  Cargo.lock
  crates/exex/src/context.rs
  crates/exex/src/lib.rs
  crates/exex/src/manager.rs
  crates/exex/src/notification.rs
  crates/node-builder/src/builder.rs
  crates/stages/src/stages/execution.rs
  examples/exex/minimal/Cargo.toml
  examples/exex/minimal/src/main.rs
  examples/exex/op-bridge/src/main.rs
Due: pipeline

fix(stages): send revert chain notification instead of a reorg on unwind
  crates/stages/src/stages/execution.rs
Due: pipeline

fix(stages): send revert chain notification instead of a reorg on unwind (#7808)
  crates/stages/src/stages/execution.rs
Due: pipeline

Revert to a2fb6223b
  Cargo.lock
  crates/node-core/Cargo.toml
  crates/node-core/src/init.rs
  crates/storage/provider/src/providers/database/provider.rs
Due: storage (db)

Add tracing
  crates/node-core/src/init.rs
Due: none

Update lock file
  Cargo.lock
Due: none

fixup! Add tracing
  crates/node-core/src/init.rs
Due: none

update lock
  Cargo.lock
Due: none

Set stage checkpoint
  crates/node-core/src/init.rs
Due: none

fix
  Cargo.lock
  crates/consensus/beacon/Cargo.toml
  crates/consensus/beacon/src/engine/test_utils.rs
Due: consensus/evm

fix
  Cargo.lock
  crates/node-builder/src/builder.rs
  crates/node-core/Cargo.toml
  crates/node-core/src/node_config.rs
Due: none

docs(storage): chain of blocks should not be empty
  crates/storage/provider/src/chain.rs
Due: storage (db)

fix(args/txpool): duplicate arg of txpool.max-account-slots (#7806)
  book/cli/reth/node.md
  crates/node-core/src/args/txpool_args.rs
Due: none

Add tracing
  crates/node-core/src/init.rs
  crates/storage/db/src/implementation/mdbx/tx.rs
Due: storage (db)

even more fixes
  Cargo.lock
  crates/consensus/beacon/Cargo.toml
  crates/consensus/beacon/src/engine/test_utils.rs
Due: consensus/evm

Revert 6aa00e8a7
  crates/node-core/src/init.rs
  crates/storage/db/src/implementation/mdbx/tx.rs
Due: storage (db)

docs
  crates/net/downloaders/src/bodies/task.rs
Due: networking

Clear accounts chunk
  crates/node-core/src/init.rs
Due: none

Update crates/storage/provider/src/chain.rs
  crates/storage/provider/src/chain.rs
Due: storage (db)

feat(storage): replace Tree generic with Arc<dyn TreeViewer>
  bin/reth/src/commands/debug_cmd/build_block.rs
  bin/reth/src/commands/debug_cmd/replay_engine.rs
  crates/blockchain-tree/src/noop.rs
  crates/blockchain-tree/src/shareable.rs
  crates/consensus/beacon/src/engine/test_utils.rs
  crates/node-builder/src/builder.rs
  crates/storage/provider/src/providers/mod.rs
  crates/storage/provider/src/traits/mod.rs
  crates/storage/provider/src/traits/tree_viewer.rs
  examples/rpc-db/src/main.rs
Due: reth binary, blockchain tree, storage (db), consensus/evm

Delete redundant imports to avoid errors when running `make pr`
  crates/ethereum/evm/src/execute.rs
  crates/optimism/node/src/evm/execute.rs
Due: none

docs
  crates/stages/src/lib.rs
Due: pipeline

Insert block header for debug
  crates/node-core/src/init.rs
Due: none

fixup! Insert block header for debug
  crates/node-core/src/init.rs
Due: none

Drive-by, fix docs
  crates/storage/provider/src/bundle_state/bundle_state_with_receipts.rs
Due: storage (db)

Add tracing
  crates/storage/provider/src/bundle_state/bundle_state_with_receipts.rs
Due: storage (db)

Add blanket impl for TreeViewer trait
  crates/blockchain-tree/src/noop.rs
  crates/blockchain-tree/src/shareable.rs
  crates/storage/provider/src/traits/tree_viewer.rs
Due: blockchain tree, storage (db)

Fix linting (used nightly version)
  crates/consensus/beacon/src/engine/test_utils.rs
  crates/storage/provider/src/providers/mod.rs
Due: storage (db), consensus/evm

chore: move TestConensus to reth-consensus
  crates/consensus/consensus/Cargo.toml
  crates/consensus/consensus/src/lib.rs
  crates/consensus/consensus/src/test_utils.rs
  crates/interfaces/Cargo.toml
  crates/interfaces/src/p2p/full_block.rs
  crates/interfaces/src/test_utils/headers.rs
Due: consensus/evm, primitives

Path conditions:
  reth binary: any of: bin/**, crates/config/**, crates/metrics/**, crates/tracing/**
  blockchain tree: any of: crates/blockchain-tree/**
  pipeline: any of: crates/stages/**, crates/staged-sync/**
  storage (db): any of: crates/storage/**
  trie: any of: crates/trie/**
  txpool: any of: crates/transaction-pool/**
  networking: any of: crates/net/**
  rpc: any of: crates/rpc/**
  consensus/evm: any of: crates/revm/**, crates/consensus/**
  payload builder: any of: crates/payload/**
  primitives: any of: crates/primitives/**, crates/tasks/**, crates/rlp/**, crates/interfaces/**
