Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

refactor: change types to correspond to era1 specs and not era
  crates/era/src/beacon_types.rs
  crates/era/src/e2s_types.rs
  crates/era/src/era1_types.rs
  crates/era/src/era_types.rs
  crates/era/src/execution_types.rs
  crates/era/src/lib.rs
Due: none

chore: fmt
  crates/era/src/e2s_types.rs
  crates/era/src/execution_types.rs
Due: none

change serde_json::Value to RpcSend for params type
  Cargo.lock
  crates/optimism/rpc/Cargo.toml
  crates/optimism/rpc/src/sequencer.rs
Due: none

docs: fix old ere ref
  crates/era/src/era1_types.rs
Due: none

fix review comments
  crates/optimism/txpool/src/validator.rs
  crates/transaction-pool/src/noop.rs
  crates/transaction-pool/src/pool/mod.rs
  crates/transaction-pool/src/pool/txpool.rs
  crates/transaction-pool/src/test_utils/mock.rs
  crates/transaction-pool/src/validate/eth.rs
  crates/transaction-pool/src/validate/mod.rs
  examples/network-txpool/src/main.rs
Due: txpool

remove serde_json from tests and dependencies
  Cargo.lock
  crates/optimism/rpc/Cargo.toml
  crates/optimism/rpc/src/sequencer.rs
Due: none

feat: integrate API changes into Scroll
  Cargo.lock
  Cargo.toml
  crates/scroll/alloy/evm/src/block/mod.rs
  crates/scroll/alloy/evm/src/block/receipt_builder.rs
  crates/scroll/node/src/addons.rs
  crates/scroll/node/src/builder/consensus.rs
  crates/scroll/node/src/builder/engine.rs
  crates/scroll/node/src/builder/execution.rs
  crates/scroll/node/src/builder/payload.rs
  crates/scroll/node/src/node.rs
  crates/scroll/primitives/src/transaction/signed.rs
Due: none

chore: remove unused dependencies
  Cargo.lock
  crates/node/builder/Cargo.toml
  crates/optimism/cli/Cargo.toml
  crates/optimism/node/Cargo.toml
  crates/optimism/node/src/lib.rs
Due: none

fixes
  Cargo.lock
  crates/node/builder/Cargo.toml
  crates/optimism/cli/Cargo.toml
  crates/optimism/node/Cargo.toml
Due: none

chore: point scroll-revm to main
  Cargo.lock
  Cargo.toml
Due: none

fix main
  bin/reth/src/main.rs
Due: reth binary

chore: remove unused deps (#15429)
  crates/node/builder/Cargo.toml
  crates/optimism/cli/Cargo.toml
  crates/optimism/node/Cargo.toml
  crates/optimism/node/src/lib.rs
Due: none

wip: add discv4 and v5 deps,impl futures to start discv4 and discv5
  Cargo.lock
  crates/cli/commands/Cargo.toml
  crates/cli/commands/src/db/bootnode.rs
  crates/cli/commands/src/db/mod.rs
Due: none

wip: use Network error and expect to handle errors
  crates/cli/commands/src/db/bootnode.rs
Due: none

refactor(optimism/rpc): Use alloy RpcClient in SequencerClient (#15346)
  Cargo.lock
  crates/optimism/rpc/Cargo.toml
  crates/optimism/rpc/src/error.rs
  crates/optimism/rpc/src/sequencer.rs
Due: none

feat(examples): add custom engine API to custom-node example
  Cargo.lock
  examples/custom-node/Cargo.toml
  examples/custom-node/src/engine_api.rs
  examples/custom-node/src/lib.rs
Due: none

feat(trie): node iter metrics
  crates/trie/db/src/storage.rs
  crates/trie/parallel/src/metrics.rs
  crates/trie/parallel/src/proof.rs
  crates/trie/parallel/src/root.rs
  crates/trie/sparse/benches/root.rs
  crates/trie/sparse/src/trie.rs
  crates/trie/trie/src/lib.rs
  crates/trie/trie/src/metrics.rs
  crates/trie/trie/src/node_iter.rs
  crates/trie/trie/src/proof/mod.rs
  crates/trie/trie/src/trie.rs
Due: trie

Removed reth-ethereum-cli from dependencies to dev-dependencies and made necessary changes
  Cargo.lock
  crates/cli/commands/Cargo.toml
  crates/cli/commands/src/node.rs
  crates/ethereum/cli/Cargo.toml
  crates/ethereum/cli/src/lib.rs
Due: none

feat: add metric for time since last update
  crates/engine/tree/src/tree/payload_processor/multiproof.rs
Due: none

feat(trie): add metric for time since updates finished (#15442)
  crates/engine/tree/src/tree/payload_processor/multiproof.rs
Due: none

use PayloadTypes in Node and NodeTypes impls
  examples/custom-node/src/engine.rs
  examples/custom-node/src/lib.rs
Due: none

add comment
  crates/trie/trie/src/node_iter.rs
Due: trie

chore: improve log messages and order
  crates/trie/trie/src/node_iter.rs
Due: trie

wip: reduce hashed seeks in TrieNodeIter
  crates/trie/trie/src/node_iter.rs
Due: trie

fix test
  crates/trie/trie/src/node_iter.rs
Due: trie

remove map
  crates/trie/trie/src/walker.rs
Due: trie

change arguments order
  crates/trie/trie/src/node_iter.rs
  crates/trie/trie/src/walker.rs
Due: trie

check walker key has a prefix of the next unprocessed key
  crates/trie/trie/src/node_iter.rs
  crates/trie/trie/src/walker.rs
Due: trie

revertme: more logs for walker advance
  crates/trie/trie/src/node_iter.rs
Due: trie

Removed reth-ethereum-cli from dependencies to dev-dependencies and made necessary changes (#15439)
  Cargo.lock
  crates/cli/commands/Cargo.toml
  crates/cli/commands/src/node.rs
  crates/ethereum/cli/Cargo.toml
  crates/ethereum/cli/src/lib.rs
Due: none

use enum to add more docs
  crates/engine/tree/src/tree/cached_state.rs
Due: none

fix: always set empty request hash after isthmus
  crates/optimism/evm/src/build.rs
Due: none

make comment for concise and put None cases on one line
  crates/engine/tree/src/tree/cached_state.rs
Due: none

clippy
  crates/optimism/evm/src/build.rs
Due: none

prevent extra lookup
  crates/optimism/evm/src/build.rs
Due: none

chore: removed outdated comment in init-state
  crates/cli/commands/src/init_state/mod.rs
Due: none

Path conditions:
  reth binary: any of: bin/**, crates/config/**, crates/metrics/**, crates/tracing/**
  blockchain tree: any of: crates/blockchain-tree/**
  pipeline: any of: crates/stages/**, crates/staged-sync/**
  storage (db): any of: crates/storage/**
  trie: any of: crates/trie/**
  txpool: any of: crates/transaction-pool/**
  networking: any of: crates/net/**
  rpc: any of: crates/rpc/**
  consensus/evm: any of: crates/revm/**, crates/consensus/**
  payload builder: any of: crates/payload/**
  primitives: any of: crates/primitives/**, crates/tasks/**, crates/rlp/**, crates/interfaces/**
