Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

refactor: clean-up discv5 configuration
  Cargo.lock
  bin/reth/src/commands/debug_cmd/execution.rs
  bin/reth/src/commands/debug_cmd/in_memory_merkle.rs
  bin/reth/src/commands/debug_cmd/merkle.rs
  bin/reth/src/commands/debug_cmd/replay_engine.rs
  bin/reth/src/commands/p2p/mod.rs
  bin/reth/src/commands/stage/run.rs
  crates/net/network/src/config.rs
  crates/node-core/src/args/network.rs
  crates/node/builder/Cargo.toml
  crates/node/builder/src/builder/mod.rs
  crates/optimism/node/src/node.rs
Due: reth binary, networking

fix: use 8 byte SHA in getClientVersionV1 (#9137)
  Cargo.lock
  Cargo.toml
  crates/node-core/Cargo.toml
  crates/node-core/build.rs
  crates/node-core/src/metrics/version_metrics.rs
  crates/node-core/src/version.rs
  deny.toml
Due: none

make etherem forks fn const without type erasure
  crates/chainspec/src/spec.rs
  crates/ethereum-forks/src/hardfork/ethereum.rs
Due: none

Fix node builder doc link
  crates/node/builder/src/builder/mod.rs
  examples/custom-node-components/src/main.rs
Due: none

fixup! Fix node builder doc link
  crates/node/builder/src/builder/mod.rs
Due: none

use FxHashMap instead
  Cargo.lock
  crates/ethereum-forks/Cargo.toml
  crates/ethereum-forks/src/hardforks/mod.rs
Due: none

Fix merge conflicts
  crates/rpc/rpc-eth-api/src/api/servers/server.rs
  crates/rpc/rpc-eth-api/src/core.rs
  crates/rpc/rpc-eth-api/src/helpers/block.rs
Due: rpc

fix(docs): Fix links node builder docs (#9140)
  crates/node/builder/src/builder/mod.rs
  examples/custom-node-components/src/main.rs
Due: none

clippy
  crates/ethereum-forks/src/hardfork/ethereum.rs
Due: none

Remove redundant dev-deps, tests moved into reth-rpc/src/eth/core.rs
  Cargo.lock
  crates/rpc/rpc-eth-api/Cargo.toml
Due: rpc

add doc to OptimismHardfork
  crates/ethereum-forks/src/hardfork/optimism.rs
Due: none

Fix crate descriptions
  crates/rpc/rpc-eth-api/Cargo.toml
  crates/rpc/rpc-eth-server-types/Cargo.toml
Due: rpc

prep
  Cargo.lock
  crates/cli/commands/Cargo.toml
  crates/cli/commands/src/db/checksum.rs
  crates/cli/commands/src/db/clear.rs
  crates/cli/commands/src/db/diff.rs
  crates/cli/commands/src/db/get.rs
  crates/cli/commands/src/db/list.rs
  crates/cli/commands/src/db/mod.rs
  crates/cli/commands/src/db/stats.rs
  crates/cli/commands/src/db/tui.rs
Due: none

fix debug impl
  crates/ethereum-forks/src/hardfork/mod.rs
Due: none

Fix description of reth-rpc-eth-api crate
  crates/rpc/rpc-eth-api/Cargo.toml
Due: rpc

fix: apply instance earlier
  bin/reth/src/commands/debug_cmd/execution.rs
  bin/reth/src/commands/debug_cmd/in_memory_merkle.rs
  bin/reth/src/commands/debug_cmd/merkle.rs
  bin/reth/src/commands/debug_cmd/replay_engine.rs
  bin/reth/src/commands/p2p/mod.rs
  bin/reth/src/commands/stage/run.rs
  crates/node-core/src/args/network.rs
  crates/node-core/src/node_config.rs
  crates/node/builder/src/builder/mod.rs
  crates/node/builder/src/launch/common.rs
Due: reth binary

fix
  crates/optimism/node/src/node.rs
Due: none

use condition instead of clone
  crates/chainspec/src/spec.rs
Due: none

just clone hardforks
  crates/chainspec/src/spec.rs
Due: none

rm box from forks_iter
  Cargo.lock
  crates/chainspec/src/spec.rs
  crates/ethereum-forks/Cargo.toml
  crates/ethereum-forks/src/hardfork/mod.rs
  crates/ethereum-forks/src/hardforks/mod.rs
Due: none

clippy
  crates/ethereum-forks/src/hardfork/mod.rs
Due: none

return just chain
  Cargo.lock
  crates/exex/exex/src/backfill.rs
  crates/exex/types/Cargo.toml
  crates/exex/types/src/lib.rs
Due: none

Add emhane to rpc codeowners
  CODEOWNERS
Due: none

remove bt integration
  crates/blockchain-tree/src/blockchain_tree.rs
  crates/blockchain-tree/src/chain.rs
  crates/evm/execution-types/src/chain.rs
  crates/trie/parallel/benches/root.rs
  crates/trie/parallel/src/parallel_root.rs
Due: blockchain tree, trie

chore(rpc): add me to RPC codeowners (#9144)
  CODEOWNERS
Due: none

chore: rename `TrieCursorFactory::storage_tries_cursor` to `TrieCursorFactory::storage_trie_cursor`
  crates/trie/trie/src/trie.rs
  crates/trie/trie/src/trie_cursor/database_cursors.rs
  crates/trie/trie/src/trie_cursor/mod.rs
  crates/trie/trie/src/trie_cursor/noop.rs
Due: trie

clippy
  crates/trie/trie/src/trie_cursor/noop.rs
  crates/trie/trie/src/trie_cursor/update.rs
Due: trie

remove unused imports
  crates/trie/parallel/src/parallel_root.rs
Due: trie

feat: integrate CLI runner in CLI trait
  Cargo.lock
  crates/cli/cli/Cargo.toml
  crates/cli/cli/src/lib.rs
Due: none

fix doc
  crates/exex/exex/src/backfill.rs
Due: none

feat: implement pipeline BackfillSync
  Cargo.lock
  crates/engine/tree/Cargo.toml
  crates/engine/tree/src/backfill.rs
  crates/engine/tree/src/chain.rs
  crates/engine/tree/src/download.rs
  crates/engine/tree/src/lib.rs
  crates/engine/tree/src/test_utils.rs
Due: none

rm fill_block_env_at and fill_block_env_with_header from provider
  crates/evm/src/provider.rs
  crates/storage/provider/src/providers/database/mod.rs
  crates/storage/provider/src/providers/database/provider.rs
  crates/storage/provider/src/providers/mod.rs
  crates/storage/provider/src/test_utils/mock.rs
  crates/storage/provider/src/test_utils/noop.rs
Due: storage (db)

Path conditions:
  reth binary: any of: bin/**, crates/config/**, crates/metrics/**, crates/tracing/**
  blockchain tree: any of: crates/blockchain-tree/**
  pipeline: any of: crates/stages/**, crates/staged-sync/**
  storage (db): any of: crates/storage/**
  trie: any of: crates/trie/**
  txpool: any of: crates/transaction-pool/**
  networking: any of: crates/net/**
  rpc: any of: crates/rpc/**
  consensus/evm: any of: crates/revm/**, crates/consensus/**
  payload builder: any of: crates/payload/**
  primitives: any of: crates/primitives/**, crates/tasks/**, crates/rlp/**, crates/interfaces/**
