Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

reth-stages
  crates/stages/stages/src/lib.rs
  crates/stages/stages/src/sets.rs
  crates/stages/stages/src/stages/bodies.rs
  crates/stages/stages/src/stages/headers.rs
  crates/stages/stages/src/stages/mod.rs
  crates/stages/stages/src/test_utils/test_db.rs
Due: pipeline

reth-exex-test-utils
  crates/exex/test-utils/src/lib.rs
Due: none

reth-db-common
  crates/storage/db-common/Cargo.toml
  crates/storage/db-common/src/db_tool/mod.rs
  crates/storage/db-common/src/init.rs
Due: storage (db)

reth-downloaders
  crates/net/downloaders/src/bodies/bodies.rs
Due: networking

reth-e2e-test-utils
  crates/e2e-test-utils/src/lib.rs
Due: none

reth-static-file
  crates/static-file/static-file/src/static_file_producer.rs
Due: none

reth-provider
  crates/storage/provider/Cargo.toml
  crates/storage/provider/src/providers/blockchain_provider.rs
  crates/storage/provider/src/providers/database/mod.rs
  crates/storage/provider/src/providers/mod.rs
  crates/storage/provider/src/test_utils/mod.rs
  crates/storage/provider/src/test_utils/node.rs
  crates/storage/provider/src/traits/mod.rs
  crates/storage/provider/src/traits/node.rs
Due: storage (db)

reth-node-builder
  crates/node/builder/src/builder/mod.rs
  crates/node/builder/src/launch/common.rs
  crates/node/builder/src/launch/engine.rs
  crates/node/builder/src/launch/mod.rs
  crates/node/builder/src/node.rs
  crates/node/builder/src/setup.rs
Due: none

reth-node-ethereum
  crates/ethereum/node/Cargo.toml
  crates/ethereum/node/src/node.rs
  crates/ethereum/node/tests/it/builder.rs
Due: none

reth-blockchain-tree
  crates/blockchain-tree/src/blockchain_tree.rs
  crates/blockchain-tree/src/chain.rs
  crates/blockchain-tree/src/externals.rs
  crates/blockchain-tree/src/shareable.rs
Due: blockchain tree

reth-node-types
  crates/node/types/src/lib.rs
Due: none

reth-exex
  crates/exex/exex/src/backfill/test_utils.rs
Due: none

reth
  bin/reth/src/commands/debug_cmd/build_block.rs
  bin/reth/src/commands/debug_cmd/execution.rs
  bin/reth/src/commands/debug_cmd/in_memory_merkle.rs
  bin/reth/src/commands/debug_cmd/merkle.rs
  bin/reth/src/commands/debug_cmd/mod.rs
  bin/reth/src/commands/debug_cmd/replay_engine.rs
Due: reth binary

reth-engine-tree
  crates/engine/tree/src/backfill.rs
  crates/engine/tree/src/persistence.rs
  crates/engine/tree/src/test_utils.rs
Due: none

reth-prune
  crates/prune/prune/src/pruner.rs
Due: none

reth-node-api
  crates/node/api/src/lib.rs
  crates/node/api/src/node.rs
Due: none

reth-node-core
  crates/node/core/Cargo.toml
  crates/node/core/src/node_config.rs
Due: none

example-db-access
  examples/db-access/src/main.rs
Due: none

example-custom-engine-types
  examples/custom-engine-types/Cargo.toml
  examples/custom-engine-types/src/main.rs
Due: none

example-rpc-db
  examples/rpc-db/src/main.rs
Due: none

Cargo.lock
  Cargo.lock
Due: none

remove poc
  crates/storage/provider/src/providers/database/mod.rs
Due: storage (db)

rm constraint
  crates/rpc/rpc/src/engine.rs
Due: rpc

testing: clean up reth-primitives import
  Cargo.lock
  testing/ef-tests/src/models.rs
  testing/testing-utils/Cargo.toml
  testing/testing-utils/src/generators.rs
  testing/testing-utils/src/genesis_allocator.rs
Due: none

reth-storage-api: clean up reth-primitives import
  Cargo.lock
  crates/storage/storage-api/Cargo.toml
  crates/storage/storage-api/src/account.rs
  crates/storage/storage-api/src/block.rs
  crates/storage/storage-api/src/block_hash.rs
  crates/storage/storage-api/src/block_id.rs
  crates/storage/storage-api/src/header.rs
  crates/storage/storage-api/src/noop.rs
  crates/storage/storage-api/src/receipts.rs
  crates/storage/storage-api/src/stage_checkpoint.rs
  crates/storage/storage-api/src/state.rs
  crates/storage/storage-api/src/storage.rs
  crates/storage/storage-api/src/transactions.rs
  crates/storage/storage-api/src/trie.rs
Due: storage (db)

fix
  testing/testing-utils/src/generators.rs
Due: none

fix
  Cargo.lock
  testing/ef-tests/Cargo.toml
Due: none

reth-storage-errors: clean up reth-primitives import
  Cargo.lock
  crates/storage/errors/Cargo.toml
  crates/storage/errors/src/provider.rs
Due: storage (db)

reth-db-common: clean up reth-primitives import
  crates/storage/db-common/Cargo.toml
  crates/storage/db-common/src/init.rs
Due: storage (db)

update Cargo.lock
  Cargo.lock
Due: none

chore: add rpgf json
  funding.json
Due: none

feat(db): move reth-storage-api::ClientVersion and StoredBlockWithdrawals to reth-db-models
  Cargo.lock
  crates/node/core/Cargo.toml
  crates/node/core/src/version.rs
  crates/storage/db-api/src/models/blocks.rs
  crates/storage/db-api/src/models/mod.rs
  crates/storage/db-models/src/blocks.rs
  crates/storage/db-models/src/client_version.rs
  crates/storage/db-models/src/lib.rs
  crates/storage/db/src/implementation/mdbx/mod.rs
  crates/storage/db/src/tables/mod.rs
  examples/rpc-db/Cargo.toml
  examples/rpc-db/src/main.rs
Due: storage (db)

chore(reth-primitives): clean unused file
  crates/primitives/src/transaction/eip1559.rs
  crates/primitives/src/transaction/eip2930.rs
  crates/primitives/src/transaction/eip4844.rs
  crates/primitives/src/transaction/eip7702.rs
  crates/primitives/src/transaction/legacy.rs
  crates/primitives/src/transaction/mod.rs
  crates/primitives/src/transaction/optimism.rs
Due: primitives

feat: return executed block in eth payload builder
  Cargo.lock
  crates/ethereum/engine-primitives/Cargo.toml
  crates/ethereum/engine-primitives/src/payload.rs
  crates/ethereum/payload/Cargo.toml
  crates/ethereum/payload/src/lib.rs
  crates/payload/builder/src/lib.rs
  crates/payload/builder/src/test_utils.rs
Due: payload builder

transaction-pool: replace reth-primitive imports
  Cargo.lock
  crates/transaction-pool/Cargo.toml
  crates/transaction-pool/benches/truncate.rs
  crates/transaction-pool/src/blobstore/disk.rs
  crates/transaction-pool/src/blobstore/mem.rs
  crates/transaction-pool/src/blobstore/mod.rs
  crates/transaction-pool/src/blobstore/noop.rs
  crates/transaction-pool/src/blobstore/tracker.rs
  crates/transaction-pool/src/config.rs
  crates/transaction-pool/src/error.rs
  crates/transaction-pool/src/identifier.rs
  crates/transaction-pool/src/lib.rs
  crates/transaction-pool/src/maintain.rs
  crates/transaction-pool/src/noop.rs
  crates/transaction-pool/src/ordering.rs
  crates/transaction-pool/src/pool/best.rs
  crates/transaction-pool/src/pool/events.rs
  crates/transaction-pool/src/pool/listener.rs
  crates/transaction-pool/src/pool/mod.rs
  crates/transaction-pool/src/pool/parked.rs
  crates/transaction-pool/src/pool/pending.rs
  crates/transaction-pool/src/pool/txpool.rs
  crates/transaction-pool/src/pool/update.rs
  crates/transaction-pool/src/test_utils/gen.rs
  crates/transaction-pool/src/test_utils/mock.rs
  crates/transaction-pool/src/test_utils/pool.rs
  crates/transaction-pool/src/traits.rs
  crates/transaction-pool/src/validate/eth.rs
  crates/transaction-pool/src/validate/mod.rs
  crates/transaction-pool/tests/it/evict.rs
Due: txpool

rustfmt
  crates/transaction-pool/benches/truncate.rs
  crates/transaction-pool/src/blobstore/tracker.rs
  crates/transaction-pool/src/pool/listener.rs
  crates/transaction-pool/src/test_utils/pool.rs
Due: txpool

chore(reth-primitives): clean unused file (#10765)
  crates/primitives/src/transaction/eip1559.rs
  crates/primitives/src/transaction/eip2930.rs
  crates/primitives/src/transaction/eip4844.rs
  crates/primitives/src/transaction/eip7702.rs
  crates/primitives/src/transaction/legacy.rs
  crates/primitives/src/transaction/mod.rs
  crates/primitives/src/transaction/optimism.rs
Due: primitives

doc
  crates/transaction-pool/src/validate/mod.rs
Due: txpool

Path conditions:
  reth binary: any of: bin/**, crates/config/**, crates/metrics/**, crates/tracing/**
  blockchain tree: any of: crates/blockchain-tree/**
  pipeline: any of: crates/stages/**, crates/staged-sync/**
  storage (db): any of: crates/storage/**
  trie: any of: crates/trie/**
  txpool: any of: crates/transaction-pool/**
  networking: any of: crates/net/**
  rpc: any of: crates/rpc/**
  consensus/evm: any of: crates/revm/**, crates/consensus/**
  payload builder: any of: crates/payload/**
  primitives: any of: crates/primitives/**, crates/tasks/**, crates/rlp/**, crates/interfaces/**
