Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

fix: only mark propagated txs as seen (#10234)
  crates/net/network/src/transactions/mod.rs
Due: networking

chore: use exact max full peer count or round (#10228)
  crates/net/network/src/transactions/mod.rs
Due: networking

chore: add trace for when nothing to propagate (#10226)
  crates/net/network/src/transactions/mod.rs
Due: networking

add doc
  crates/storage/codecs/derive/src/lib.rs
Due: storage (db)

test: add test for prune.segments toml parsing
  crates/config/src/config.rs
Due: reth binary

feat: add setting for how many blocks can be persisted
  crates/engine/tree/src/tree/config.rs
  crates/engine/tree/src/tree/mod.rs
Due: none

feat: function-like macro for generating tests (#10233)
  crates/storage/codecs/derive/src/arbitrary.rs
  crates/storage/codecs/derive/src/lib.rs
Due: storage (db)

Update crates/engine/tree/src/tree/config.rs
  crates/engine/tree/src/tree/config.rs
Due: none

typo
  crates/engine/tree/src/tree/config.rs
Due: none

feat: add setting for how many blocks can be persisted (#10237)
  crates/engine/tree/src/tree/config.rs
  crates/engine/tree/src/tree/mod.rs
Due: none

minor refine
  crates/ethereum/evm/src/execute.rs
Due: none

fix: TreeState::on_new_head fork and reorg handling
  Cargo.lock
  crates/chain-state/Cargo.toml
  crates/chain-state/src/test_utils.rs
  crates/engine/tree/src/tree/mod.rs
Due: none

simpler test
  crates/engine/tree/src/tree/mod.rs
Due: none

clippy
  crates/engine/tree/src/tree/mod.rs
Due: none

chore: rename forkchoicesubs impl funcs
  crates/chain-state/src/chain_info.rs
  crates/chain-state/src/notifications.rs
  crates/storage/provider/src/providers/mod.rs
  crates/storage/provider/src/test_utils/noop.rs
Due: storage (db)

update test
  crates/engine/tree/src/tree/mod.rs
Due: none

test: add test for prune.segments toml parsing (#10236)
  crates/config/src/config.rs
Due: reth binary

more progress
  crates/engine/tree/src/lib.rs
Due: none

docs: add comprehensive engine design docs
  crates/engine/tree/src/backfill.rs
  crates/engine/tree/src/lib.rs
Due: none

chore: remove reference to EngineApiTreeHandlerImpl
  crates/engine/tree/src/tree/mod.rs
Due: none

chore: remove reference to EngineApiTreeHandlerImpl (#10239)
  crates/engine/tree/src/tree/mod.rs
Due: none

fix: fix tx propagation when full
  crates/net/network/src/transactions/mod.rs
Due: networking

cleanup docs
  crates/engine/tree/src/lib.rs
Due: none

fix typo
  crates/engine/tree/src/lib.rs
Due: none

make docs more concise
  crates/engine/tree/src/lib.rs
Due: none

more cleanup
  crates/engine/tree/src/lib.rs
Due: none

fix: make EvmEnvProvider methods aware of in-memory state
  crates/storage/provider/src/providers/blockchain_provider.rs
Due: storage (db)

chore: remove WriteTransactions from PersistenceAction
  crates/engine/tree/src/persistence.rs
Due: none

add nat
  crates/net/network/src/config.rs
  crates/net/network/src/manager.rs
  crates/net/network/src/network.rs
  crates/node/core/src/args/network.rs
Due: networking

feat: add stage run <STAGE> tests (#10164)
  .github/workflows/eth-sync.yml
  .github/workflows/op-sync.yml
  .github/workflows/stage.yml
Due: none

chore: release 1.0.5
  Cargo.lock
  Cargo.toml
Due: none

chore: release 1.0.5 (#10242)
  Cargo.lock
  Cargo.toml
Due: none

Path conditions:
  reth binary: any of: bin/**, crates/config/**, crates/metrics/**, crates/tracing/**
  blockchain tree: any of: crates/blockchain-tree/**
  pipeline: any of: crates/stages/**, crates/staged-sync/**
  storage (db): any of: crates/storage/**
  trie: any of: crates/trie/**
  txpool: any of: crates/transaction-pool/**
  networking: any of: crates/net/**
  rpc: any of: crates/rpc/**
  consensus/evm: any of: crates/revm/**, crates/consensus/**
  payload builder: any of: crates/payload/**
  primitives: any of: crates/primitives/**, crates/tasks/**, crates/rlp/**, crates/interfaces/**
