Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

codecov.yml:

coverage:
  status:
    patch: off
    project:
      default:
        threshold: null
        informational: true
github_checks:
  annotations: false
comment:
  layout: "reach, files, flags, components"
  require_changes: true
component_management:
  individual_components:
    - component_id: reth_binary
      name: reth binary
      paths:
        - bin/**
        - crates/config/**
        - crates/metrics/**
        - crates/tracing/**
    - component_id: blockchain_tree
      name: blockchain tree
      paths:
        - crates/blockchain-tree/**
    - component_id: staged_sync
      name: pipeline
      paths:
        - crates/stages/**
        - crates/staged-sync/**
    - component_id: storage
      name: storage (db)
      paths:
        - crates/storage/**
    - component_id: trie
      name: trie
      paths:
        - crates/trie/**
    - component_id: txpool
      name: txpool
      paths:
        - crates/transaction-pool/**
    - component_id: networking
      name: networking
      paths:
        - crates/net/**
    - component_id: rpc
      name: rpc
      paths:
        - crates/rpc/**
    - component_id: core
      name: consensus/evm
      paths:
        - crates/revm/**
        - crates/consensus/**
    - component_id: builder
      name: payload builder
      paths:
        - crates/payload/**
    - component_id: primitives
      name: primitives
      paths:
        - crates/primitives/**
        - crates/tasks/**
        - crates/rlp/**
        - crates/interfaces/**

chore(root): state root task and sparse trie task logs (#14495)
  crates/engine/tree/src/tree/root.rs
Due: none

wip
  Cargo.lock
  Cargo.toml
  bin/reth/src/commands/debug_cmd/build_block.rs
  crates/ethereum/evm/Cargo.toml
  crates/ethereum/node/src/node.rs
  crates/optimism/primitives/Cargo.toml
  crates/optimism/primitives/src/transaction/signed.rs
  crates/rpc/rpc/src/debug.rs
  crates/rpc/rpc/src/eth/sim_bundle.rs
  crates/rpc/rpc/src/otterscan.rs
Due: reth binary, rpc

fix
  crates/chain-state/Cargo.toml
  crates/ethereum/evm/src/lib.rs
  crates/evm/execution-types/Cargo.toml
  crates/optimism/cli/Cargo.toml
  crates/optimism/primitives/Cargo.toml
Due: none

fix
  Cargo.lock
  crates/chain-state/Cargo.toml
  crates/ethereum/evm/src/lib.rs
  crates/ethereum/node/tests/e2e/utils.rs
  crates/evm/execution-types/src/chain.rs
  crates/evm/src/test_utils.rs
  crates/storage/provider/src/test_utils/mock.rs
  crates/trie/common/Cargo.toml
  crates/trie/common/src/hashedstate.rs
Due: storage (db), trie

wip
  Cargo.lock
  crates/ethereum/primitives/src/transaction.rs
  crates/evm/src/test_utils.rs
  crates/optimism/evm/Cargo.toml
  crates/optimism/evm/src/config.rs
  crates/optimism/evm/src/execute.rs
  crates/optimism/evm/src/l1.rs
  crates/optimism/evm/src/lib.rs
  crates/optimism/primitives/Cargo.toml
  crates/optimism/primitives/src/transaction/signed.rs
  crates/trie/common/Cargo.toml
Due: trie

fix book patch
  book/sources/Cargo.toml
Due: none

bump precompile evm example
  examples/custom-evm/src/main.rs
  examples/custom-inspector/src/main.rs
  examples/custom-rlpx-subprotocol/src/subprotocol/protocol/proto.rs
  examples/stateful-precompile/src/main.rs
Due: none

bump and simplification
  examples/stateful-precompile/src/main.rs
Due: none

nit
  examples/stateful-precompile/src/main.rs
Due: none

fixes
  Cargo.lock
  examples/custom-beacon-withdrawals/src/main.rs
  examples/custom-inspector/Cargo.toml
  examples/custom-inspector/src/main.rs
  examples/stateful-precompile/src/main.rs
Due: none

custom evm example
  Cargo.lock
  examples/custom-evm/Cargo.toml
  examples/custom-evm/src/main.rs
Due: none

fix
  Cargo.lock
Due: none

add search_transactions_before method
  crates/rpc/rpc-api/src/otterscan.rs
  crates/rpc/rpc/src/otterscan.rs
Due: rpc

fix search_transactions_before test
  crates/rpc/rpc-builder/tests/it/http.rs
Due: rpc

chore(trie): small cleanups
  crates/engine/tree/src/tree/mod.rs
  crates/engine/tree/src/tree/root.rs
  crates/trie/common/src/hashedstate.rs
Due: trie

log on multiproof
  crates/engine/tree/src/tree/root.rs
Due: none

feat: pending session first structure
  crates/net/network/src/session/active.rs
  crates/net/network/src/session/mod.rs
  crates/net/network/src/session/pending/mod.rs
Due: networking

fix: rolling back existing repo changes
  crates/net/network/src/session/active.rs
  crates/net/network/src/session/mod.rs
Due: networking

feat: restructured authenticate
  crates/net/network/src/protocol.rs
  crates/net/network/src/session/mod.rs
  crates/net/network/src/session/pending/mod.rs
Due: networking

feat: first shape with trait
  crates/net/network/src/session/pending/eth.rs
  crates/net/network/src/session/pending/mod.rs
Due: networking

wip
  crates/net/network/src/session/mod.rs
Due: networking

fix: removed redundant arc box
  crates/net/network/src/config.rs
  crates/net/network/src/session/mod.rs
  crates/net/network/src/session/protocol.rs
Due: networking

feat: eth-protocol-handler
  crates/net/network/src/protocol.rs
  crates/net/network/src/session/mod.rs
  crates/net/network/src/session/pending.rs
  crates/net/network/src/session/pending/eth.rs
  crates/net/network/src/session/pending/mod.rs
  crates/net/network/src/session/protocol.rs
Due: networking

Connection stream as associated type to ProtocolConnection
  crates/net/network/src/config.rs
  crates/net/network/src/lib.rs
  crates/net/network/src/manager.rs
  crates/net/network/src/network.rs
  crates/net/network/src/protocol/eth.rs
  crates/net/network/src/protocol/mod.rs
  crates/net/network/src/session/active.rs
  crates/net/network/src/session/conn.rs
  crates/net/network/src/session/handle.rs
  crates/net/network/src/session/mod.rs
  crates/net/network/src/subprotocol.rs
  crates/net/network/src/swarm.rs
  crates/net/network/src/test_utils/testnet.rs
  crates/net/network/tests/it/multiplex.rs
  crates/node/core/src/cli/config.rs
  examples/custom-rlpx-subprotocol/src/main.rs
  examples/custom-rlpx-subprotocol/src/subprotocol/connection/handler.rs
  examples/custom-rlpx-subprotocol/src/subprotocol/protocol/handler.rs
Due: networking

fix: moving back get_ecies_stream
  crates/net/network/src/session/mod.rs
Due: networking

feat: eth protocol overridable from network config builder
  crates/net/network/src/config.rs
  crates/net/network/src/manager.rs
  crates/net/network/src/session/mod.rs
  crates/net/network/src/session/pending.rs
  crates/net/network/src/session/protocol.rs
Due: networking

smol improvemnet
  crates/net/network/src/config.rs
  crates/net/network/src/session/mod.rs
  crates/net/network/src/session/protocol.rs
Due: networking

smoll refactor
  crates/net/network/src/session/mod.rs
Due: networking

EthProtocol
  crates/net/network/src/session/pending.rs
  crates/net/network/src/session/protocol.rs
Due: networking

feat: should be able to set eth request handler as generic from NetworkConfigBuilder and defaulting to EthProtocol concrete type
  crates/net/network/src/builder.rs
  crates/net/network/src/config.rs
  crates/net/network/src/manager.rs
  crates/net/network/src/protocol/eth.rs
  crates/net/network/src/protocol/mod.rs
  crates/net/network/src/session/active.rs
  crates/net/network/src/session/mod.rs
  crates/net/network/src/swarm.rs
Due: networking

feat: removed dyn dispatch, starting to work on the active session part
  crates/net/network/src/protocol/eth.rs
  crates/net/network/src/protocol/mod.rs
  crates/net/network/src/session/active.rs
  crates/net/network/src/session/conn.rs
  crates/net/network/src/session/handle.rs
  crates/net/network/src/session/mod.rs
Due: networking

feat: smol refactor
  crates/net/network/src/builder.rs
  crates/net/network/src/config.rs
  crates/net/network/src/manager.rs
  crates/net/network/src/protocol/eth.rs
  crates/net/network/src/protocol/mod.rs
  crates/net/network/src/session/mod.rs
  crates/net/network/src/swarm.rs
Due: networking

feat: active session generic to network message, need to handle on incoming msg
  Cargo.lock
  crates/net/network-api/Cargo.toml
  crates/net/network-api/src/events.rs
  crates/net/network-api/src/lib.rs
  crates/net/network-api/src/message.rs
  crates/net/network/src/lib.rs
  crates/net/network/src/message.rs
  crates/net/network/src/protocol/mod.rs
  crates/net/network/src/session/active.rs
  crates/net/network/src/session/conn.rs
  crates/net/network/src/session/handle.rs
  crates/net/network/src/session/mod.rs
Due: networking

removed subprotocol updates
  crates/net/network/src/builder.rs
  crates/net/network/src/config.rs
  crates/net/network/src/eth_protocol/eth.rs
  crates/net/network/src/eth_protocol/mod.rs
  crates/net/network/src/lib.rs
  crates/net/network/src/manager.rs
  crates/net/network/src/network.rs
  crates/net/network/src/protocol.rs
  crates/net/network/src/session/active.rs
  crates/net/network/src/session/conn.rs
  crates/net/network/src/session/handle.rs
  crates/net/network/src/session/mod.rs
  crates/net/network/src/swarm.rs
  crates/net/network/src/test_utils/testnet.rs
  crates/net/network/tests/it/multiplex.rs
  crates/node/core/src/cli/config.rs
  examples/custom-rlpx-subprotocol/src/main.rs
  examples/custom-rlpx-subprotocol/src/subprotocol/connection/handler.rs
  examples/custom-rlpx-subprotocol/src/subprotocol/protocol/handler.rs
Due: networking

started to think how to handle incoming messages in the ActiveSession
  crates/net/network-api/src/message.rs
  crates/net/network/src/session/active.rs
Due: networking

improve search_transactions_after method
  crates/rpc/rpc/src/otterscan.rs
Due: rpc

sync
  crates/net/network/src/manager.rs
Due: networking
