Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

feat(exex): do not log ID on ExEx start (#7846)
  crates/node-builder/src/builder.rs
Due: none

make it compile
  bin/reth/src/cli/mod.rs
  bin/reth/src/commands/node/mod.rs
  crates/e2e-test-utils/src/lib.rs
  crates/node-builder/src/builder/builder2.rs
  crates/node-builder/src/builder/mod.rs
  crates/node-builder/src/builder/states.rs
  crates/node-builder/src/components/builder.rs
  crates/node-builder/src/components/mod.rs
  crates/node-builder/src/launch.rs
  crates/node-builder/src/lib.rs
  crates/node-core/src/node_config.rs
  crates/node/api/src/node.rs
Due: reth binary

fix(rpc): correct `Other` error msg (#7845)
  crates/rpc/rpc/src/eth/error.rs
Due: rpc

feat: add new crate op-beacon-core
  Cargo.lock
  Cargo.toml
  crates/optimism/op-beacon-core/Cargo.toml
  crates/optimism/op-beacon-core/src/lib.rs
Due: none

cleanup
  crates/node-builder/src/builder/mod.rs
  crates/node-builder/src/components/builder.rs
  crates/node-builder/src/launch.rs
Due: none

comment
  crates/node-builder/src/launch.rs
Due: none

fmt
  crates/e2e-test-utils/src/node.rs
  crates/optimism/node/tests/e2e/p2p.rs
  crates/optimism/node/tests/e2e/utils.rs
Due: none

if a peer returns an empty response, make sure we dont retry it
  crates/net/network/src/fetch/mod.rs
Due: networking

feat: add thorough error message to state root error
  crates/consensus/consensus/src/lib.rs
  crates/interfaces/src/blockchain_tree/error.rs
  crates/interfaces/src/executor.rs
  crates/stages-api/src/error.rs
  crates/stages/src/stages/merkle.rs
Due: pipeline, consensus/evm, primitives

feat: split nodebuilder generics into separate states (#7847)
  bin/reth/src/cli/mod.rs
  bin/reth/src/commands/node/mod.rs
  crates/e2e-test-utils/src/lib.rs
  crates/node-builder/src/builder.rs
  crates/node-builder/src/builder/mod.rs
  crates/node-builder/src/builder/states.rs
  crates/node-builder/src/components/builder.rs
  crates/node-builder/src/components/mod.rs
  crates/node-builder/src/launch.rs
  crates/node-builder/src/lib.rs
  crates/node-core/src/node_config.rs
  crates/node/api/src/node.rs
Due: reth binary

feat: add thorough error message to state root error (#7607)
  crates/consensus/consensus/src/lib.rs
  crates/interfaces/src/blockchain_tree/error.rs
  crates/interfaces/src/executor.rs
  crates/stages-api/src/error.rs
  crates/stages/src/stages/merkle.rs
Due: pipeline, consensus/evm, primitives

fix: still delete headers from db in headers unwind (#7579)
  crates/stages/src/stages/headers.rs
Due: pipeline

chore: log failed tip fetch only after 20 tries
  crates/node-core/src/node_config.rs
Due: none

chore: log failed tip fetch only after 20 tries (#7850)
  crates/node-core/src/node_config.rs
Due: none

chore: rename exex example crate names
  Cargo.lock
  examples/exex/minimal/Cargo.toml
  examples/exex/op-bridge/Cargo.toml
Due: none

use associated type instead of generic
  crates/evm/src/lib.rs
Due: none

chore: rename exex example crate names (#7851)
  Cargo.lock
  examples/exex/minimal/Cargo.toml
  examples/exex/op-bridge/Cargo.toml
Due: none

docs: add examples readme
  examples/README.md
Due: none

chore: fix table header
  examples/README.md
Due: none

chore: reorder tables
  examples/README.md
Due: none

bt changes
  examples/beacon-api-sidecar-fetcher/src/main.rs
Due: none

docs: update examples readme (#7852)
  examples/README.md
Due: none

improved blobt logic
  examples/beacon-api-sidecar-fetcher/src/main.rs
Due: none

require implementor to use evm method
  crates/ethereum/evm/src/execute.rs
  crates/ethereum/evm/src/lib.rs
  crates/evm/src/lib.rs
  crates/optimism/evm/src/lib.rs
  crates/optimism/node/src/evm/execute.rs
  crates/payload/optimism/src/builder.rs
  crates/revm/src/test_utils.rs
  crates/rpc/rpc/src/eth/api/transactions.rs
  examples/custom-evm/src/main.rs
Due: rpc, consensus/evm, payload builder

feat: add launch setup
  crates/node-builder/src/launch/common.rs
  crates/node-builder/src/launch/mod.rs
Due: none

feat: rm secp256k1 from workspace
  Cargo.lock
  crates/primitives/Cargo.toml
  crates/rpc/rpc-types/Cargo.toml
Due: rpc, primitives

clean
  Cargo.lock
  crates/rpc/rpc-types/Cargo.toml
Due: rpc

make the associated type a GAT
  crates/ethereum/evm/src/lib.rs
  crates/evm/src/lib.rs
  crates/optimism/evm/src/lib.rs
  crates/revm/src/test_utils.rs
  examples/custom-evm/src/main.rs
Due: consensus/evm

attempt fix
  crates/primitives/Cargo.toml
Due: primitives

fix: derank peers that responded with bad data
  crates/net/network/src/fetch/mod.rs
Due: networking

chore: integrate discv5 config builder in networkconfig builder
  crates/net/discv5/src/config.rs
  crates/net/network/src/config.rs
  crates/node-core/src/args/network_args.rs
Due: networking

wip
  Cargo.lock
  crates/interfaces/src/test_utils/generators.rs
  crates/primitives/Cargo.toml
  crates/primitives/src/genesis.rs
  crates/primitives/src/lib.rs
  crates/primitives/src/revm/env.rs
  crates/primitives/src/transaction/mod.rs
  crates/primitives/src/transaction/util.rs
  crates/rpc/rpc-types/Cargo.toml
  crates/rpc/rpc-types/src/lib.rs
  crates/rpc/rpc/src/eth/signer.rs
Due: rpc, primitives

replace TransactionKind for alloy TxKind
  crates/primitives/src/lib.rs
  crates/primitives/src/revm/compat.rs
  crates/primitives/src/revm/env.rs
  crates/primitives/src/transaction/eip1559.rs
  crates/primitives/src/transaction/eip2930.rs
  crates/primitives/src/transaction/eip4844.rs
  crates/primitives/src/transaction/legacy.rs
  crates/primitives/src/transaction/mod.rs
  crates/primitives/src/transaction/optimism.rs
Due: primitives

Path conditions:
  reth binary: any of: bin/**, crates/config/**, crates/metrics/**, crates/tracing/**
  blockchain tree: any of: crates/blockchain-tree/**
  pipeline: any of: crates/stages/**, crates/staged-sync/**
  storage (db): any of: crates/storage/**
  trie: any of: crates/trie/**
  txpool: any of: crates/transaction-pool/**
  networking: any of: crates/net/**
  rpc: any of: crates/rpc/**
  consensus/evm: any of: crates/revm/**, crates/consensus/**
  payload builder: any of: crates/payload/**
  primitives: any of: crates/primitives/**, crates/tasks/**, crates/rlp/**, crates/interfaces/**
