Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

codecov.yml:

coverage:
  status:
    patch: off
    project:
      default:
        threshold: null
        informational: true
github_checks:
  annotations: false
comment:
  layout: "reach, files, flags, components"
  require_changes: true
component_management:
  individual_components:
    - component_id: reth_binary
      name: reth binary
      paths:
        - bin/**
        - crates/config/**
        - crates/metrics/**
        - crates/tracing/**
    - component_id: blockchain_tree
      name: blockchain tree
      paths:
        - crates/blockchain-tree/**
    - component_id: staged_sync
      name: pipeline
      paths:
        - crates/stages/**
        - crates/staged-sync/**
    - component_id: storage
      name: storage (db)
      paths:
        - crates/storage/**
    - component_id: trie
      name: trie
      paths:
        - crates/trie/**
    - component_id: txpool
      name: txpool
      paths:
        - crates/transaction-pool/**
    - component_id: networking
      name: networking
      paths:
        - crates/net/**
    - component_id: rpc
      name: rpc
      paths:
        - crates/rpc/**
    - component_id: core
      name: consensus/evm
      paths:
        - crates/revm/**
        - crates/consensus/**
    - component_id: builder
      name: payload builder
      paths:
        - crates/payload/**
    - component_id: primitives
      name: primitives
      paths:
        - crates/primitives/**
        - crates/tasks/**
        - crates/rlp/**
        - crates/interfaces/**

chore: add default gpo constants (#5662)
  bin/reth/src/args/gas_price_oracle_args.rs
  bin/reth/src/args/rpc_server_args.rs
  crates/rpc/rpc-builder/src/constants.rs
  crates/rpc/rpc/src/eth/gas_oracle.rs
Due: reth binary, rpc

chore: promote trace bad txs to debug
  crates/net/network/src/transactions.rs
Due: networking

chore: add blob debug trace
  crates/net/network/src/transactions.rs
Due: networking

chore: use deref + derefmut
  crates/net/network/src/protocol.rs
Due: networking

chore: promote trace bad txs to debug (#5714)
  crates/net/network/src/transactions.rs
Due: networking

display blocks being queried
  crates/rpc/rpc/src/eth/filter.rs
Due: rpc

more tracing
  crates/rpc/rpc/src/eth/filter.rs
Due: rpc

Update mod.rs
  bin/reth/src/cli/mod.rs
Due: reth binary

fix: use receover_signer_unchecked for tx receipt
  crates/primitives/src/transaction/mod.rs
  crates/rpc/rpc/src/eth/api/transactions.rs
Due: rpc, primitives

one statement with builder pattern
  bin/reth/src/cli/mod.rs
Due: reth binary

fix comments
  bin/reth/src/cli/mod.rs
Due: reth binary

fmt
  bin/reth/src/cli/mod.rs
Due: reth binary

Revert "chore: temporarily disable doc related CI (#5704)"
  .github/workflows/book.yml
  .github/workflows/lint.yml
Due: none

chore(book): update some expired links
  book/jsonrpc/txpool.md
Due: none

chore(book): update some expired links (#5718)
  book/jsonrpc/txpool.md
Due: none

fix: use receover_signer_unchecked for tx receipt (#5715)
  crates/primitives/src/transaction/mod.rs
  crates/rpc/rpc/src/eth/api/transactions.rs
Due: rpc, primitives

chore(deps): weekly `cargo update`
  Cargo.lock
Due: none

Revert "chore: temporarily disable doc related CI" (#5716)
  .github/workflows/book.yml
  .github/workflows/lint.yml
Due: none

fix: use unchecked sender recovery in rpc
  crates/primitives/src/chain/spec.rs
  crates/primitives/src/transaction/mod.rs
  crates/rpc/rpc/src/debug.rs
  crates/rpc/rpc/src/eth/api/transactions.rs
Due: rpc, primitives

add activation_block method for Ethereum hardforks
  crates/ethereum-forks/src/hardfork.rs
Due: none

Improved Masking Function for Message IDs
  crates/net/eth-wire/src/muxdemux.rs
Due: networking

Simplified logic for determining shared capability versions
  crates/net/eth-wire/src/capability.rs
Due: networking

fix mask_msg_id
  crates/net/eth-wire/src/muxdemux.rs
Due: networking

refactor(net): Improved Masking Function for Message IDs (#5724)
  crates/net/eth-wire/src/muxdemux.rs
Due: networking

feat: add RethTransactionPoolConfig
  bin/reth/src/args/txpool_args.rs
  bin/reth/src/cli/config.rs
  bin/reth/src/node/mod.rs
Due: reth binary

feat: add network bench
  Cargo.lock
  crates/net/network/Cargo.toml
  crates/net/network/benches/bench.rs
  crates/net/network/src/test_utils/testnet.rs
Due: networking

fix: use unchecked sender recovery in rpc (#5721)
  crates/primitives/src/chain/spec.rs
  crates/primitives/src/transaction/mod.rs
  crates/rpc/rpc/src/debug.rs
  crates/rpc/rpc/src/eth/api/transactions.rs
Due: rpc, primitives

feat: add network bench (#5728)
  Cargo.lock
  crates/net/network/Cargo.toml
  crates/net/network/benches/bench.rs
  crates/net/network/src/test_utils/testnet.rs
Due: networking

feat(bin) enhance logging config to make RUST_LOG for journalId and File writers (#5687)
  bin/reth/src/cli/mod.rs
Due: reth binary

feat: add RethTransactionPoolConfig (#5729)
  bin/reth/src/args/txpool_args.rs
  bin/reth/src/cli/config.rs
  bin/reth/src/node/mod.rs
Due: reth binary

docs(book): update CLI
  book/cli/cli.md
  book/cli/config.md
  book/cli/db.md
  book/cli/debug.md
  book/cli/import.md
  book/cli/init.md
  book/cli/node.md
  book/cli/p2p.md
  book/cli/recover.md
  book/cli/stage.md
  book/cli/test-vectors.md
Due: none
