Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

feat(tree): compare tree masks of trie updates
  crates/engine/tree/src/tree/trie_updates.rs
Due: none

migrate consensus
  Cargo.lock
  crates/consensus/common/src/validation.rs
  crates/consensus/consensus/src/lib.rs
  crates/consensus/consensus/src/noop.rs
  crates/consensus/consensus/src/test_utils.rs
  crates/ethereum/consensus/src/lib.rs
  crates/optimism/chainspec/src/lib.rs
  crates/optimism/consensus/Cargo.toml
  crates/optimism/consensus/src/lib.rs
  crates/primitives-traits/src/block/recovered.rs
Due: consensus/evm

chore(trie): reveal witness by ref (#13751)
  crates/trie/sparse/src/state.rs
Due: trie

refactor: update most of println with tracing::info except one
  crates/cli/commands/src/download.rs
Due: none

migrate p2p
  crates/net/p2p/src/bodies/downloader.rs
  crates/net/p2p/src/bodies/response.rs
  crates/net/p2p/src/full_block.rs
  crates/net/p2p/src/lib.rs
  crates/net/p2p/src/test_utils/full_block.rs
  crates/net/p2p/src/test_utils/headers.rs
  crates/primitives-traits/src/block/sealed.rs
Due: networking

always calculate regular state root
  crates/engine/tree/src/tree/mod.rs
Due: none

fix existence logging
  crates/engine/tree/src/tree/trie_updates.rs
Due: none

feat(validation): add tests for EIP-7702 transaction filtering in EthMessageFilter
  crates/net/network/src/transactions/validation.rs
Due: networking

fix: fmt
  crates/net/network/src/transactions/validation.rs
Due: networking

some progress
  crates/evm/execution-types/src/chain.rs
  crates/primitives-traits/src/block/recovered.rs
Due: none

bincompat block
  crates/primitives-traits/src/block/recovered.rs
  crates/primitives-traits/src/serde_bincode_compat.rs
Due: none

set tree mask bit only for extension and branch nodes
  crates/trie/sparse/src/trie.rs
Due: trie

bincompat block
  crates/primitives-traits/src/serde_bincode_compat.rs
Due: none

bincompat block
  crates/evm/execution-types/src/chain.rs
Due: none

rename
  crates/primitives-traits/src/block/mod.rs
  crates/primitives-traits/src/block/sealed.rs
Due: none

chidlren are in trie log
  crates/trie/trie/src/walker.rs
Due: trie

also log full node
  crates/trie/trie/src/walker.rs
Due: trie

also log node bruh
  crates/trie/trie/src/trie_cursor/subnode.rs
Due: trie

log store in db trie and calculated in sparse trie
  crates/trie/sparse/src/trie.rs
Due: trie

Revert "set tree mask bit only for extension and branch nodes"
  crates/trie/sparse/src/trie.rs
Due: trie

chore: use MultiProofTargets instead
  crates/engine/tree/src/tree/root.rs
Due: none

save tree masks
  crates/trie/common/src/proofs.rs
  crates/trie/parallel/src/proof.rs
  crates/trie/sparse/src/state.rs
  crates/trie/sparse/src/trie.rs
  crates/trie/trie/src/proof/mod.rs
Due: trie

if hash node has a tree mask bit set, persist it
  crates/trie/sparse/src/trie.rs
Due: trie

log if tree mask bit is set in parent
  crates/trie/sparse/src/trie.rs
Due: trie

just log node type
  crates/trie/sparse/src/trie.rs
Due: trie

chore(tree): use MultiProofTargets for PrefetchProofs (#13717)
  crates/engine/tree/src/tree/root.rs
Due: none

log parent tree mask
  crates/trie/sparse/src/trie.rs
Due: trie

do not check calculated
  crates/trie/sparse/src/trie.rs
Due: trie

set store_in_db_trie on reveal
  crates/trie/sparse/src/trie.rs
Due: trie

fix tests
  crates/trie/sparse/src/state.rs
  crates/trie/sparse/src/trie.rs
Due: trie

remove calculated stuff
  crates/trie/sparse/src/trie.rs
Due: trie

some comments formatting
  crates/trie/sparse/src/trie.rs
Due: trie

add some debug logs
  crates/ethereum/evm/src/execute.rs
  crates/ethereum/payload/src/lib.rs
  crates/evm/src/state_change.rs
Due: none

Path conditions:
  reth binary: any of: bin/**, crates/config/**, crates/metrics/**, crates/tracing/**
  blockchain tree: any of: crates/blockchain-tree/**
  pipeline: any of: crates/stages/**, crates/staged-sync/**
  storage (db): any of: crates/storage/**
  trie: any of: crates/trie/**
  txpool: any of: crates/transaction-pool/**
  networking: any of: crates/net/**
  rpc: any of: crates/rpc/**
  consensus/evm: any of: crates/revm/**, crates/consensus/**
  payload builder: any of: crates/payload/**
  primitives: any of: crates/primitives/**, crates/tasks/**, crates/rlp/**, crates/interfaces/**
