Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

remove load; do it in `revm`
  Cargo.lock
  crates/revm/src/processor.rs
  deny.toml
Due: consensus/evm

Delete rust bug report
  rustc-ice-2024-02-23T01_24_58-42399.txt
Due: none

replace async_trait' with '->impl' for trait 'Peer'
  crates/net/network-api/src/lib.rs
  crates/net/network-api/src/noop.rs
  crates/net/network/src/network.rs
Due: networking

replace 'async_trait' with '->impl' for trait 'CanDisconnect'
  crates/net/eth-wire/src/disconnect.rs
  crates/net/eth-wire/src/ethstream.rs
  crates/net/eth-wire/src/multiplex.rs
  crates/net/eth-wire/src/muxdemux.rs
  crates/net/eth-wire/src/p2pstream.rs
Due: networking

replace async_trait' with '->impl' for trait 'NetworkInfo'
  crates/net/network-api/src/lib.rs
  crates/net/network-api/src/noop.rs
  crates/net/network/src/network.rs
Due: networking

replace async_trait' with '->impl' for trait 'DebugApiExt'
  crates/rpc/rpc-testing-util/src/debug.rs
Due: rpc

replace async_trait' with '->impl' for trait 'TraceApiClient'
  crates/rpc/rpc-testing-util/src/trace.rs
Due: rpc

more symbols
  crates/primitives/src/static_file/mod.rs
  crates/storage/db/src/lib.rs
  crates/storage/provider/src/providers/snapshot/manager.rs
  crates/storage/provider/src/providers/snapshot/mod.rs
Due: storage (db), primitives

clippy
  crates/rpc/rpc-testing-util/src/debug.rs
Due: rpc

db/static_file
  bin/reth/src/commands/db/clear.rs
  bin/reth/src/commands/db/get.rs
  bin/reth/src/commands/db/snapshots/headers.rs
  bin/reth/src/commands/db/snapshots/receipts.rs
  bin/reth/src/commands/db/snapshots/transactions.rs
  bin/reth/src/commands/db/stats.rs
  bin/reth/src/commands/stage/drop.rs
  crates/blockchain-tree/src/externals.rs
  crates/snapshot/src/segments/headers.rs
  crates/snapshot/src/segments/receipts.rs
  crates/snapshot/src/segments/transactions.rs
  crates/stages/src/stages/bodies.rs
  crates/stages/src/stages/execution.rs
  crates/stages/src/stages/sender_recovery.rs
  crates/storage/db/src/lib.rs
  crates/storage/db/src/static_file/cursor.rs
  crates/storage/db/src/static_file/generation.rs
  crates/storage/db/src/static_file/mask.rs
  crates/storage/db/src/static_file/masks.rs
  crates/storage/db/src/static_file/mod.rs
  crates/storage/provider/src/providers/snapshot/jar.rs
  crates/storage/provider/src/providers/snapshot/manager.rs
  crates/storage/provider/src/providers/snapshot/mod.rs
Due: reth binary, blockchain tree, pipeline, storage (db)

Rewrite async fn with ->impl<Future>
  crates/rpc/rpc-testing-util/src/debug.rs
Due: rpc

more renames
  bin/reth/src/commands/db/clear.rs
  bin/reth/src/commands/db/get.rs
  bin/reth/src/commands/db/mod.rs
  bin/reth/src/commands/db/static_files/bench.rs
  bin/reth/src/commands/db/static_files/headers.rs
  bin/reth/src/commands/db/static_files/mod.rs
  bin/reth/src/commands/db/static_files/receipts.rs
  bin/reth/src/commands/db/static_files/transactions.rs
  crates/consensus/beacon/src/engine/hooks/mod.rs
  crates/consensus/beacon/src/engine/hooks/static_file.rs
  crates/node-core/src/events/node.rs
  crates/primitives/src/prune/segment.rs
  crates/primitives/src/stage/id.rs
  crates/prune/src/pruner.rs
  crates/snapshot/src/lib.rs
  crates/snapshot/src/static_file_producer.rs
  crates/stages/src/stages/mod.rs
  crates/stages/src/stages/static_file.rs
  crates/storage/provider/src/providers/database/provider.rs
  crates/storage/provider/src/providers/mod.rs
  crates/storage/provider/src/providers/static_file/jar.rs
  crates/storage/provider/src/providers/static_file/manager.rs
  crates/storage/provider/src/providers/static_file/metrics.rs
  crates/storage/provider/src/providers/static_file/mod.rs
  crates/storage/provider/src/providers/static_file/writer.rs
Due: reth binary, pipeline, storage (db), consensus/evm, primitives

@mattsse review
  crates/node-api/src/engine/traits.rs
  crates/payload/builder/src/payload.rs
  crates/rpc/rpc-engine-api/src/engine_api.rs
  crates/transaction-pool/src/pool/best.rs
Due: txpool, rpc, payload builder

reth-static-file crate
  Cargo.lock
  Cargo.toml
  bin/reth/Cargo.toml
  bin/reth/src/builder.rs
  bin/reth/src/commands/db/static_files/mod.rs
  bin/reth/src/commands/debug_cmd/execution.rs
  bin/reth/src/commands/import.rs
  crates/consensus/beacon/Cargo.toml
  crates/consensus/beacon/src/engine/hooks/static_file.rs
  crates/consensus/beacon/src/engine/test_utils.rs
  crates/node-builder/Cargo.toml
  crates/node-builder/src/builder.rs
  crates/node-core/Cargo.toml
  crates/node-core/src/events/node.rs
  crates/node-core/src/node_config.rs
  crates/prune/Cargo.toml
  crates/stages/Cargo.toml
  crates/stages/src/lib.rs
  crates/stages/src/sets.rs
  crates/stages/src/stages/static_file.rs
  crates/static-file/Cargo.toml
  crates/static-file/README.md
  crates/static-file/src/event.rs
  crates/static-file/src/lib.rs
  crates/static-file/src/segments/headers.rs
  crates/static-file/src/segments/mod.rs
  crates/static-file/src/segments/receipts.rs
  crates/static-file/src/segments/transactions.rs
  crates/static-file/src/static_file_producer.rs
Due: reth binary, pipeline, consensus/evm

Remove async-trait as dependency from rpc-testing-util
  Cargo.lock
  crates/rpc/rpc-testing-util/Cargo.toml
Due: rpc

Remove async-trait as dependency from `eth-wire`
  Cargo.lock
  crates/net/eth-wire/Cargo.toml
Due: networking

Replace `#[async_trait]` with `->imp` for traits in eth_wire (#6756)
  Cargo.lock
  crates/net/eth-wire/Cargo.toml
  crates/net/eth-wire/src/disconnect.rs
  crates/net/eth-wire/src/ethstream.rs
  crates/net/eth-wire/src/multiplex.rs
  crates/net/eth-wire/src/muxdemux.rs
  crates/net/eth-wire/src/p2pstream.rs
  crates/net/network-api/src/lib.rs
  crates/net/network-api/src/noop.rs
  crates/net/network/src/network.rs
Due: networking

Replace #[async_trait] with `->imp` for traits in `rpc_testing_util` (#6757)
  Cargo.lock
  crates/rpc/rpc-testing-util/Cargo.toml
  crates/rpc/rpc-testing-util/src/debug.rs
  crates/rpc/rpc-testing-util/src/trace.rs
Due: rpc

remove optimism network config from reth-network
  bin/reth/Cargo.toml
  crates/node-core/src/args/rpc_server_args.rs
  crates/rpc/rpc-builder/Cargo.toml
  crates/rpc/rpc-builder/src/auth.rs
  crates/rpc/rpc-builder/src/lib.rs
  crates/rpc/rpc/src/eth/api/mod.rs
  crates/rpc/rpc/src/eth/api/optimism.rs
  crates/rpc/rpc/src/eth/api/transactions.rs
  crates/rpc/rpc/src/eth/mod.rs
Due: reth binary, rpc

cli fixes
  bin/reth/src/commands/db/mod.rs
  bin/reth/src/commands/db/static_files/mod.rs
Due: reth binary

more cli fixes, minor case changes
  Cargo.toml
  bin/reth/src/commands/db/static_files/mod.rs
  book/SUMMARY.md
  book/cli/SUMMARY.md
  book/cli/reth/db/clear.md
  book/cli/reth/db/clear/static-file.md
  book/cli/reth/db/create-static-files.md
  book/cli/reth/db/get.md
  book/cli/reth/db/get/static-file.md
  book/cli/reth/db/stats.md
  book/cli/reth/stage/drop.md
  book/cli/reth/stage/run.md
  crates/consensus/beacon/src/engine/hooks/static_file.rs
  crates/interfaces/src/provider.rs
  crates/primitives/src/stage/id.rs
  crates/primitives/src/static_file/compression.rs
  crates/primitives/src/static_file/filters.rs
  crates/primitives/src/static_file/segment.rs
  crates/stages/src/error.rs
  crates/stages/src/stages/execution.rs
  crates/static-file/src/segments/headers.rs
  crates/static-file/src/segments/receipts.rs
  crates/static-file/src/segments/transactions.rs
  crates/static-file/src/static_file_producer.rs
  crates/storage/db/src/static_file/generation.rs
  crates/storage/provider/src/providers/database/mod.rs
  crates/storage/provider/src/providers/database/provider.rs
  crates/storage/provider/src/providers/state/historical.rs
  crates/storage/provider/src/providers/state/latest.rs
Due: reth binary, pipeline, storage (db), consensus/evm, primitives

feat(stages): remove static files stage, run before loop
  bin/reth/src/commands/debug_cmd/execution.rs
  bin/reth/src/commands/debug_cmd/replay_engine.rs
  bin/reth/src/commands/import.rs
  crates/consensus/beacon/src/engine/sync.rs
  crates/consensus/beacon/src/engine/test_utils.rs
  crates/node-core/src/node_config.rs
  crates/stages/src/error.rs
  crates/stages/src/lib.rs
  crates/stages/src/pipeline/builder.rs
  crates/stages/src/pipeline/mod.rs
  crates/stages/src/sets.rs
  crates/stages/src/stages/mod.rs
  crates/stages/src/stages/snapshot.rs
Due: reth binary, pipeline, consensus/evm

@mattsse review
  crates/net/network/src/transactions/fetcher.rs
  crates/node-api/src/engine/traits.rs
  crates/rpc/rpc-engine-api/src/engine_api.rs
  crates/transaction-pool/src/blobstore/disk.rs
  crates/transaction-pool/src/pool/best.rs
Due: txpool, networking, rpc

feat(op): Cancun support in payload builder and processor (#6731)
  Cargo.lock
  Cargo.toml
  crates/payload/builder/src/payload.rs
  crates/payload/optimism/src/lib.rs
  crates/primitives/src/revm/env.rs
  crates/rpc/rpc-engine-api/src/engine_api.rs
Due: rpc, payload builder, primitives

Disable jemalloc for aarch64 cross builds
  Makefile
Due: none

fix: make config backwards compat
  crates/config/src/config.rs
Due: reth binary

feat(pruner, static-file, node-core): add Started events
  crates/node-core/src/events/node.rs
  crates/prune/src/event.rs
  crates/prune/src/pruner.rs
  crates/static-file/src/event.rs
  crates/static-file/src/static_file_producer.rs
  crates/storage/db/src/static_file/generation.rs
Due: storage (db)

fix: make config backwards compat (#6768)
  crates/config/src/config.rs
Due: reth binary

fix doc comment
  crates/stages/src/sets.rs
Due: pipeline

feat: introduce evm config trait
  crates/node-api/src/evm/mod.rs
Due: none

use types
  Cargo.lock
  crates/node-api/Cargo.toml
  crates/node-api/src/evm/mod.rs
Due: none

chore: change api
  crates/node-api/src/evm/mod.rs
Due: none

Path conditions:
  reth binary: any of: bin/**, crates/config/**, crates/metrics/**, crates/tracing/**
  blockchain tree: any of: crates/blockchain-tree/**
  pipeline: any of: crates/stages/**, crates/staged-sync/**
  storage (db): any of: crates/storage/**
  trie: any of: crates/trie/**
  txpool: any of: crates/transaction-pool/**
  networking: any of: crates/net/**
  rpc: any of: crates/rpc/**
  consensus/evm: any of: crates/revm/**, crates/consensus/**
  payload builder: any of: crates/payload/**
  primitives: any of: crates/primitives/**, crates/tasks/**, crates/rlp/**, crates/interfaces/**
