Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

codecov.yml:

coverage:
  status:
    patch: off
    project:
      default:
        threshold: null
        informational: true
github_checks:
  annotations: false
comment:
  layout: "reach, files, flags, components"
  require_changes: true
component_management:
  individual_components:
    - component_id: reth_binary
      name: reth binary
      paths:
        - bin/**
        - crates/config/**
        - crates/metrics/**
        - crates/tracing/**
    - component_id: blockchain_tree
      name: blockchain tree
      paths:
        - crates/blockchain-tree/**
    - component_id: staged_sync
      name: pipeline
      paths:
        - crates/stages/**
        - crates/staged-sync/**
    - component_id: storage
      name: storage (db)
      paths:
        - crates/storage/**
    - component_id: trie
      name: trie
      paths:
        - crates/trie/**
    - component_id: txpool
      name: txpool
      paths:
        - crates/transaction-pool/**
    - component_id: networking
      name: networking
      paths:
        - crates/net/**
    - component_id: rpc
      name: rpc
      paths:
        - crates/rpc/**
    - component_id: core
      name: consensus/evm
      paths:
        - crates/revm/**
        - crates/consensus/**
    - component_id: builder
      name: payload builder
      paths:
        - crates/payload/**
    - component_id: primitives
      name: primitives
      paths:
        - crates/primitives/**
        - crates/tasks/**
        - crates/rlp/**
        - crates/interfaces/**

chore: move `Bytecode`, `Requests` and `Withdrawals` to `reth-primitives-traits` (#8954)
  Cargo.lock
  crates/primitives-traits/Cargo.toml
  crates/primitives-traits/src/account.rs
  crates/primitives-traits/src/lib.rs
  crates/primitives-traits/src/request.rs
  crates/primitives-traits/src/withdrawal.rs
  crates/primitives/Cargo.toml
  crates/primitives/src/account.rs
  crates/primitives/src/block.rs
  crates/primitives/src/lib.rs
Due: primitives

optimism feature
  examples/exex/remote/Cargo.toml
  examples/exex/remote/src/codec.rs
Due: none

do not exclude examples from integration testing
  .github/workflows/integration.yml
Due: none

install protoc in cargo hack check
  .github/workflows/lint.yml
Due: none

mv storage
  crates/primitives-traits/src/lib.rs
  crates/primitives-traits/src/storage.rs
  crates/primitives/src/lib.rs
Due: primitives

move gas units constants
  crates/primitives-traits/src/constants/gas_units.rs
  crates/primitives-traits/src/constants/mod.rs
  crates/primitives/src/constants/mod.rs
Due: primitives

move GotExpected
  crates/primitives-traits/src/error.rs
  crates/primitives-traits/src/lib.rs
  crates/primitives/src/lib.rs
Due: primitives

mv log
  crates/primitives-traits/src/lib.rs
  crates/primitives-traits/src/log.rs
  crates/primitives/src/lib.rs
Due: primitives

chore(makefile): remove cfg-check
  Makefile
Due: none

rm revm/compat
  crates/evm/execution-types/src/execution_outcome.rs
  crates/primitives-traits/src/account.rs
  crates/primitives/src/revm/compat.rs
  crates/primitives/src/revm/mod.rs
  crates/storage/provider/src/bundle_state/bundle_state_with_receipts.rs
  crates/storage/provider/src/bundle_state/state_changes.rs
  crates/storage/provider/src/bundle_state/state_reverts.rs
  crates/storage/provider/src/test_utils/blocks.rs
  crates/trie/trie/benches/hash_post_state.rs
  crates/trie/trie/src/state.rs
Due: storage (db), trie, primitives

fmt
  crates/primitives/src/constants/mod.rs
  crates/primitives/src/lib.rs
Due: primitives

fix: enable autoseal in op correctly
  Cargo.lock
  crates/optimism/node/Cargo.toml
  crates/optimism/node/src/node.rs
Due: none

chore(makefile): remove cfg-check (#8959)
  Makefile
Due: none

chore: move `StorageEntry` to `reth-primitives-traits` (#8949)
  crates/primitives-traits/src/lib.rs
  crates/primitives-traits/src/storage.rs
  crates/primitives/src/lib.rs
Due: primitives

chore: remove `revm/compat` from `reth-primitives` (#8960)
  crates/evm/execution-types/src/execution_outcome.rs
  crates/primitives-traits/src/account.rs
  crates/primitives/src/revm/compat.rs
  crates/primitives/src/revm/mod.rs
  crates/storage/provider/src/bundle_state/bundle_state_with_receipts.rs
  crates/storage/provider/src/bundle_state/state_changes.rs
  crates/storage/provider/src/bundle_state/state_reverts.rs
  crates/storage/provider/src/test_utils/blocks.rs
  crates/trie/trie/benches/hash_post_state.rs
  crates/trie/trie/src/state.rs
Due: storage (db), trie, primitives

chore(ci): exclude examples from docs (#8953)
  .github/workflows/book.yml
  .github/workflows/integration.yml
  .github/workflows/unit.yml
  Cargo.lock
  examples/beacon-api-sidecar-fetcher/Cargo.toml
  examples/beacon-api-sse/Cargo.toml
  examples/bsc-p2p/Cargo.toml
  examples/custom-dev-node/Cargo.toml
  examples/custom-engine-types/Cargo.toml
  examples/custom-evm/Cargo.toml
  examples/custom-inspector/Cargo.toml
  examples/custom-node-components/Cargo.toml
  examples/custom-payload-builder/Cargo.toml
  examples/db-access/Cargo.toml
  examples/exex/in-memory-state/Cargo.toml
  examples/exex/minimal/Cargo.toml
  examples/exex/op-bridge/Cargo.toml
  examples/exex/rollup/Cargo.toml
  examples/manual-p2p/Cargo.toml
  examples/network-txpool/Cargo.toml
  examples/network/Cargo.toml
  examples/node-custom-rpc/Cargo.toml
  examples/node-event-hooks/Cargo.toml
  examples/polygon-p2p/Cargo.toml
  examples/rpc-db/Cargo.toml
  examples/stateful-precompile/Cargo.toml
  examples/txpool-tracing/Cargo.toml
Due: none

fix: enable autoseal in op correctly (#8961)
  Cargo.lock
  crates/optimism/node/Cargo.toml
  crates/optimism/node/src/node.rs
Due: none

chore: move `GotExpected`, `log` and `gas_units` to `reth-primitives-traits` (#8958)
  crates/primitives-traits/src/constants/gas_units.rs
  crates/primitives-traits/src/constants/mod.rs
  crates/primitives-traits/src/error.rs
  crates/primitives-traits/src/lib.rs
  crates/primitives-traits/src/log.rs
  crates/primitives/src/constants/mod.rs
  crates/primitives/src/lib.rs
Due: primitives

use watch channels instead of rwlock (#8950)
  crates/storage/provider/src/providers/chain_info.rs
Due: storage (db)

chore: rebranded
  Cargo.lock
  Cargo.toml
  bin/reth/Cargo.toml
  bin/reth/build.rs
  crates/evm/compiler/Cargo.toml
  crates/evm/compiler/build.rs
  crates/evm/compiler/src/compiler.rs
  crates/evm/compiler/src/dll.rs
  crates/evm/compiler/src/error.rs
Due: reth binary

implement From for ChainSplitTarget
  crates/blockchain-tree/src/blockchain_tree.rs
  crates/evm/execution-types/src/chain.rs
Due: blockchain tree

feat(exex): derive serde ser/deser for `ExExNotification`
  Cargo.lock
  crates/evm/execution-types/Cargo.toml
  crates/evm/execution-types/src/chain.rs
  crates/evm/execution-types/src/execution_outcome.rs
  crates/exex/exex/Cargo.toml
  crates/exex/exex/src/notification.rs
  crates/primitives-traits/src/lib.rs
  crates/primitives-traits/src/log.rs
  crates/primitives/src/lib.rs
  crates/primitives/src/receipt.rs
  crates/storage/provider/Cargo.toml
  crates/trie/trie/Cargo.toml
  crates/trie/trie/src/updates.rs
Due: storage (db), trie, primitives

implement `From` for `ChainSplitTarget` (#8962)
  crates/blockchain-tree/src/blockchain_tree.rs
  crates/evm/execution-types/src/chain.rs
Due: blockchain tree

reorder features
  crates/ethereum-forks/Cargo.toml
  crates/evm/execution-types/Cargo.toml
  crates/net/discv4/Cargo.toml
  crates/net/eth-wire-types/Cargo.toml
  crates/net/eth-wire/Cargo.toml
  crates/net/network/Cargo.toml
  crates/primitives/src/lib.rs
  crates/storage/provider/Cargo.toml
  crates/transaction-pool/Cargo.toml
Due: storage (db), txpool, networking, primitives

chore: add stateful precompile example to readme
  examples/README.md
Due: none

chore: add stateful precompile example to readme (#8965)
  examples/README.md
Due: none

feat: make FullNodeComponents Clone
  crates/exex/exex/src/context.rs
  crates/node/api/src/node.rs
Due: none

feat: make FullNodeComponents Clone (#8966)
  crates/exex/exex/src/context.rs
  crates/node/api/src/node.rs
Due: none

chore: remove cursed comments from broken proptest impl
  crates/primitives-traits/src/header/mod.rs
Due: none
