Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

codecov.yml:

coverage:
  status:
    patch: off
    project:
      default:
        threshold: null
        informational: true
github_checks:
  annotations: false
comment:
  layout: "reach, files, flags, components"
  require_changes: true
component_management:
  individual_components:
    - component_id: reth_binary
      name: reth binary
      paths:
        - bin/**
        - crates/config/**
        - crates/metrics/**
        - crates/tracing/**
    - component_id: blockchain_tree
      name: blockchain tree
      paths:
        - crates/blockchain-tree/**
    - component_id: staged_sync
      name: pipeline
      paths:
        - crates/stages/**
        - crates/staged-sync/**
    - component_id: storage
      name: storage (db)
      paths:
        - crates/storage/**
    - component_id: trie
      name: trie
      paths:
        - crates/trie/**
    - component_id: txpool
      name: txpool
      paths:
        - crates/transaction-pool/**
    - component_id: networking
      name: networking
      paths:
        - crates/net/**
    - component_id: rpc
      name: rpc
      paths:
        - crates/rpc/**
    - component_id: core
      name: consensus/evm
      paths:
        - crates/revm/**
        - crates/consensus/**
    - component_id: builder
      name: payload builder
      paths:
        - crates/payload/**
    - component_id: primitives
      name: primitives
      paths:
        - crates/primitives/**
        - crates/tasks/**
        - crates/rlp/**
        - crates/interfaces/**

fix: avoid panic in new-payload-fcu benchmark (#18602)
  bin/reth-bench/src/bench/new_payload_fcu.rs
Due: reth binary

feat(db): add MDBX put-append for fast ordered puts (#18603)
  crates/storage/db-api/src/transaction.rs
  crates/storage/db/Cargo.toml
  crates/storage/db/benches/put.rs
  crates/storage/db/src/implementation/mdbx/tx.rs
  crates/storage/db/src/metrics.rs
  crates/storage/errors/src/db.rs
Due: storage (db)

refactor: simplify EthApiSpec trait
  crates/optimism/rpc/src/eth/mod.rs
  crates/rpc/rpc-eth-api/src/core.rs
  crates/rpc/rpc-eth-api/src/helpers/spec.rs
  crates/rpc/rpc-eth-api/src/helpers/transaction.rs
  crates/rpc/rpc/src/eth/helpers/spec.rs
Due: rpc

update latest
  crates/net/eth-wire-types/src/version.rs
Due: networking

refactor: simplify `EthApiSpeс` trait (#18674)
  crates/optimism/rpc/src/eth/mod.rs
  crates/rpc/rpc-eth-api/src/core.rs
  crates/rpc/rpc-eth-api/src/helpers/spec.rs
  crates/rpc/rpc-eth-api/src/helpers/transaction.rs
  crates/rpc/rpc/src/eth/helpers/spec.rs
Due: rpc

feat(bootnode): Persists the discovery secret key (#18643)
  crates/cli/commands/src/node.rs
  crates/cli/commands/src/p2p/bootnode.rs
  docs/vocs/docs/pages/cli/reth/p2p/bootnode.mdx
Due: none

added bal to payload attr
  Cargo.lock
  crates/engine/tree/src/tree/mod.rs
  crates/ethereum/payload/src/validator.rs
  crates/payload/primitives/src/lib.rs
  crates/payload/primitives/src/payload.rs
Due: payload builder

chore: enable all Ethereum protocol versions instead of hardcoding (#18065)
  crates/net/eth-wire-types/src/version.rs
  crates/net/eth-wire/src/hello.rs
Due: networking

feat(net): correct per-response size metric to avoid capacity/empty-block inflation (#18553)
  crates/net/downloaders/src/bodies/request.rs
Due: networking

docs
  crates/net/discv4/src/lib.rs
Due: networking

fixes
  crates/payload/primitives/src/payload.rs
  examples/custom-node/src/engine.rs
Due: payload builder

docs: some fixes on discv4 docs (#18601)
  crates/net/discv4/README.md
  crates/net/discv4/src/lib.rs
Due: networking

Update modify-node.mdx
  docs/vocs/docs/pages/sdk/examples/modify-node.mdx
Due: none

test: add unwind parse test
  crates/cli/commands/src/stage/mod.rs
  crates/cli/commands/src/stage/unwind.rs
  crates/ethereum/cli/src/interface.rs
Due: none

docs: add comprehensive e2e test actions reference documentation (#18621)
  crates/e2e-test-utils/src/testsuite/README.md
Due: none

feat: add osaka+bpo timestamps (#18627)
  Cargo.lock
  Cargo.toml
  crates/chainspec/src/spec.rs
Due: none

fix: Prevent potential underflow in static file header healing (#18628)
  crates/storage/provider/src/providers/static_file/writer.rs
Due: storage (db)

docs: update dashboard table and rpc urls (#18637)
  docs/vocs/docs/pages/overview.mdx
  docs/vocs/docs/pages/run/overview.mdx
Due: none

chore: update version to 1.8.0 in Cargo.toml (#18638)
  Cargo.lock
  Cargo.toml
Due: none

chore: update voc.config.to text to v1.8.0 (#18644)
  docs/vocs/vocs.config.ts
Due: none

chore: bump inspectors 0.30 (#18633)
  Cargo.lock
  Cargo.toml
Due: none

chore(observability): add tokio runtime with custom thread naming (#18635)
  crates/cli/runner/src/lib.rs
  crates/engine/tree/src/tree/payload_processor/executor.rs
  crates/tasks/src/pool.rs
  crates/trie/parallel/src/root.rs
Due: trie, primitives

feat(e2e): add beacon consensus handle to NodeClient (#18632)
  Cargo.lock
  crates/e2e-test-utils/Cargo.toml
  crates/e2e-test-utils/src/node.rs
  crates/e2e-test-utils/src/testsuite/mod.rs
  crates/e2e-test-utils/src/testsuite/setup.rs
Due: none

fix: check request gas limit before (#18639)
  crates/rpc/rpc-eth-api/src/helpers/call.rs
Due: rpc

simplify the logic
  crates/engine/invalid-block-hooks/src/original_witness.rs
  crates/engine/invalid-block-hooks/src/witness.rs
Due: none

remove original_witness.rs file
  crates/engine/invalid-block-hooks/src/original_witness.rs
Due: none
