Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

fix: prevent node info zero address (#4268)
  crates/net/network/src/network.rs
Due: networking

feat(pipeline): prune receipts based on log emitters (#4044)
  bin/reth/src/args/pruning_args.rs
  bin/reth/src/debug_cmd/execution.rs
  bin/reth/src/node/mod.rs
  crates/config/src/config.rs
  crates/primitives/src/lib.rs
  crates/primitives/src/prune/mod.rs
  crates/primitives/src/prune/mode.rs
  crates/primitives/src/prune/part.rs
  crates/primitives/src/prune/target.rs
  crates/stages/src/stages/execution.rs
  crates/stages/src/stages/mod.rs
  crates/storage/provider/src/post_state/mod.rs
Due: reth binary, pipeline, storage (db), primitives

chore(deps): bump boa + thiserror (#4234)
  Cargo.lock
  Cargo.toml
  crates/revm/revm-inspectors/Cargo.toml
Due: consensus/evm

feat(doc): enhance `append_blocks_with_post_state` doc (#4195)
  crates/storage/provider/src/traits/block.rs
Due: storage (db)

feat: integrate blobstore in pool (#4266)
  bin/reth/src/node/mod.rs
  crates/transaction-pool/src/lib.rs
  crates/transaction-pool/src/metrics.rs
  crates/transaction-pool/src/pool/mod.rs
  crates/transaction-pool/src/test_utils/mod.rs
  examples/network-txpool.rs
Due: reth binary, txpool

chore: move bitflags to workspace (#4220)
  Cargo.lock
  Cargo.toml
  crates/storage/libmdbx-rs/Cargo.toml
  crates/transaction-pool/Cargo.toml
  crates/transaction-pool/src/pool/state.rs
Due: storage (db), txpool

perf: use futures unordered for active requests (#4231)
  crates/net/network/src/transactions.rs
Due: networking

feat: support custom PoolTransaction errors (#4237)
  crates/rpc/rpc/src/eth/error.rs
  crates/transaction-pool/src/error.rs
Due: txpool, rpc

fix: return None instead of BlockBodyIndicesNotFound in BlockReader (#4239)
  crates/storage/provider/src/providers/database/provider.rs
Due: storage (db)

feat(db): add search to `reth db list` command (#4165)
  Cargo.lock
  bin/reth/Cargo.toml
  bin/reth/src/db/list.rs
  bin/reth/src/db/tui.rs
  bin/reth/src/init.rs
  bin/reth/src/test_vectors/tables.rs
  bin/reth/src/utils.rs
  crates/stages/src/test_utils/test_db.rs
  crates/storage/db/benches/hash_keys.rs
  crates/storage/db/benches/utils.rs
  crates/storage/db/src/abstraction/cursor.rs
  crates/storage/db/src/abstraction/table.rs
  crates/storage/db/src/tables/mod.rs
  crates/storage/db/src/tables/raw.rs
  crates/storage/db/src/tables/utils.rs
Due: reth binary, pipeline, storage (db)

fix(pruner): percentage progress (#4197)
  crates/prune/src/pruner.rs
  crates/storage/provider/src/providers/database/provider.rs
Due: storage (db)

style: use unwrap or default (#4169)
  crates/revm/revm-inspectors/src/tracing/builder/parity.rs
  crates/rpc/rpc-types/src/eth/trace/parity.rs
Due: rpc, consensus/evm

Move parking_lot dependency to workspace dep (#4228)
  Cargo.toml
  crates/blockchain-tree/Cargo.toml
  crates/interfaces/Cargo.toml
  crates/net/dns/Cargo.toml
  crates/net/network/Cargo.toml
  crates/storage/db/Cargo.toml
  crates/storage/libmdbx-rs/Cargo.toml
  crates/storage/provider/Cargo.toml
  crates/transaction-pool/Cargo.toml
Due: blockchain tree, storage (db), txpool, networking, primitives

fix: propagate promoted transactions (#4236)
  crates/transaction-pool/src/pool/mod.rs
Due: txpool

fix(txpool): maintenance tracing target (#4160)
  crates/transaction-pool/src/maintain.rs
Due: txpool

feat(trie): account proofs (#4249)
  Cargo.lock
  crates/primitives/src/trie/nodes/mod.rs
  crates/trie/Cargo.toml
  crates/trie/src/errors.rs
  crates/trie/src/lib.rs
  crates/trie/src/proof.rs
Due: trie, primitives

docs: fix smol typo (#4177)
  crates/transaction-pool/src/traits.rs
Due: txpool

chore(tree): log error on unreachable (#4185)
  crates/blockchain-tree/src/blockchain_tree.rs
Due: blockchain tree

chore: rm some unused (#4208)
  crates/storage/provider/src/providers/chain_info.rs
Due: storage (db)

chore(cli): remove unused `debug.tip` argument from execution debug script (#4183)
  bin/reth/src/debug_cmd/execution.rs
Due: reth binary

feat(doc): document ARM limitations (#4196)
  book/installation/build-for-arm-devices.md
Due: none

chore: rename transaction (#4252)
  crates/transaction-pool/src/lib.rs
  crates/transaction-pool/src/noop.rs
  crates/transaction-pool/src/traits.rs
  examples/network-txpool.rs
Due: txpool

fix: remove discarded transactions (#4164)
  crates/transaction-pool/src/pool/txpool.rs
Due: txpool

feat: add TransactionPool blob getters (#4272)
  crates/transaction-pool/src/lib.rs
  crates/transaction-pool/src/noop.rs
  crates/transaction-pool/src/pool/mod.rs
  crates/transaction-pool/src/traits.rs
Due: txpool

chore: enforce recommended soft limit for get pooled requests (#4210)
  crates/net/network/src/transactions.rs
Due: networking

feat: download blocks in merkle debug script (#4137)
  bin/reth/src/debug_cmd/merkle.rs
  bin/reth/src/debug_cmd/mod.rs
Due: reth binary

feat: add 4844 config and basic checks (#4245)
  crates/primitives/src/transaction/error.rs
  crates/rpc/rpc/src/eth/error.rs
  crates/transaction-pool/src/error.rs
  crates/transaction-pool/src/validate/eth.rs
Due: txpool, rpc, primitives

fix: return engine on fatal error (#4184)
  crates/consensus/beacon/src/engine/mod.rs
  crates/interfaces/src/executor.rs
Due: consensus/evm, primitives

feat(txpool): Make TransactionPool trait object safe (#4156)
  crates/consensus/auto-seal/src/task.rs
  crates/net/network/src/transactions.rs
  crates/transaction-pool/src/lib.rs
  crates/transaction-pool/src/noop.rs
  crates/transaction-pool/src/pool/mod.rs
  crates/transaction-pool/src/pool/txpool.rs
  crates/transaction-pool/src/traits.rs
Due: txpool, networking, consensus/evm

use recover_signers method
  crates/storage/provider/src/providers/database/provider.rs
Due: storage (db)

feat: add blob sidecar extraction to tx validation (#4254)
  crates/transaction-pool/src/noop.rs
  crates/transaction-pool/src/pool/mod.rs
  crates/transaction-pool/src/validate/eth.rs
  crates/transaction-pool/src/validate/mod.rs
  examples/network-txpool.rs
Due: txpool

perf: create buffer once (#4226)
  crates/net/discv4/src/lib.rs
Due: networking

feat(interfaces): database write error details (#4190)
  crates/interfaces/src/db.rs
  crates/storage/db/src/implementation/mdbx/cursor.rs
  crates/storage/db/src/implementation/mdbx/mod.rs
  crates/storage/db/src/implementation/mdbx/tx.rs
  crates/storage/db/src/lib.rs
Due: storage (db), primitives

docs(tx-pool): fix pending tx listener typo (#4171)
  crates/transaction-pool/src/traits.rs
Due: txpool

feat(payload): make the actual payload build function generic (#4153)
  crates/payload/basic/src/lib.rs
Due: payload builder

chore(txpool): bench requires arbitrary feature (#4204)
  crates/transaction-pool/Cargo.toml
Due: txpool

debug_backtraceAt (#4232)
  Cargo.lock
  crates/rpc/rpc-api/src/debug.rs
  crates/rpc/rpc/Cargo.toml
  crates/rpc/rpc/src/debug.rs
Due: rpc

chore(clippy): make clippy happy (#4163)
  crates/transaction-pool/benches/reorder.rs
Due: txpool

dev: use U64 for `transaction_index` (#4261)
  crates/rpc/rpc-types/src/eth/transaction/receipt.rs
  crates/rpc/rpc/src/eth/api/transactions.rs
Due: rpc

(fix)db commit on debug_traceCallMany (#4219)
  crates/rpc/rpc/src/debug.rs
Due: rpc

Path conditions:
  reth binary: any of: bin/**, crates/config/**, crates/metrics/**, crates/tracing/**
  blockchain tree: any of: crates/blockchain-tree/**
  pipeline: any of: crates/stages/**, crates/staged-sync/**
  storage (db): any of: crates/storage/**
  trie: any of: crates/trie/**
  txpool: any of: crates/transaction-pool/**
  networking: any of: crates/net/**
  rpc: any of: crates/rpc/**
  consensus/evm: any of: crates/revm/**, crates/consensus/**
  payload builder: any of: crates/payload/**
  primitives: any of: crates/primitives/**, crates/tasks/**, crates/rlp/**, crates/interfaces/**
