Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

test: reduce proptest complexity
  crates/net/eth-wire/src/types/receipts.rs
  crates/primitives/src/log.rs
  crates/primitives/src/receipt.rs
  crates/primitives/src/transaction/access_list.rs
Due: networking, primitives

test: limit ommers and tx's in proptest
  crates/net/eth-wire/src/types/blocks.rs
  crates/primitives/src/block.rs
Due: networking, primitives

refactor: move `mdbx::test-utils` to `reth_db::test-utils` and add `DatabaseEnvRO` (#3466)
  bin/reth/src/db/list.rs
  bin/reth/src/db/mod.rs
  bin/reth/src/p2p/mod.rs
  bin/reth/src/stage/drop.rs
  bin/reth/src/stage/dump/execution.rs
  bin/reth/src/stage/dump/hashing_account.rs
  bin/reth/src/stage/dump/hashing_storage.rs
  bin/reth/src/stage/dump/merkle.rs
  bin/reth/src/stage/dump/mod.rs
  bin/reth/src/stage/unwind.rs
  crates/blockchain-tree/src/blockchain_tree.rs
  crates/consensus/beacon/src/engine/mod.rs
  crates/net/downloaders/src/bodies/bodies.rs
  crates/net/downloaders/src/bodies/task.rs
  crates/net/downloaders/src/bodies/test_utils.rs
  crates/net/downloaders/src/test_utils/file_client.rs
  crates/staged-sync/src/utils/init.rs
  crates/stages/src/lib.rs
  crates/stages/src/pipeline/mod.rs
  crates/stages/src/sets.rs
  crates/stages/src/stages/execution.rs
  crates/stages/src/stages/hashing_storage.rs
  crates/stages/src/test_utils/runner.rs
  crates/stages/src/test_utils/test_db.rs
  crates/storage/db/benches/criterion.rs
  crates/storage/db/benches/hash_keys.rs
  crates/storage/db/benches/utils.rs
  crates/storage/db/src/implementation/mdbx/mod.rs
  crates/storage/db/src/lib.rs
  crates/storage/provider/src/post_state/mod.rs
  crates/storage/provider/src/providers/database/mod.rs
  crates/storage/provider/src/providers/state/historical.rs
  crates/storage/provider/src/transaction.rs
  crates/trie/src/hashed_cursor/post_state.rs
  crates/trie/src/trie.rs
  crates/trie/src/trie_cursor/account_cursor.rs
  crates/trie/src/trie_cursor/storage_cursor.rs
  crates/trie/src/walker.rs
  testing/ef-tests/src/cases/blockchain_test.rs
Due: reth binary, blockchain tree, pipeline, storage (db), trie, networking, consensus/evm

fix: use correct address for log
  crates/revm/revm-inspectors/src/tracing/types.rs
Due: consensus/evm

test: limit block body proptest
  crates/net/eth-wire/src/types/blocks.rs
  crates/primitives/src/block.rs
Due: networking, primitives

fix: use correct address for log (#3481)
  crates/revm/revm-inspectors/src/tracing/types.rs
Due: consensus/evm

test: further limit block body test
  crates/net/eth-wire/src/types/blocks.rs
  crates/primitives/src/block.rs
Due: networking, primitives

test: half incremental state root fuzz test
  crates/trie/src/trie.rs
Due: trie

fix fork_id
  crates/primitives/src/chain/spec.rs
Due: primitives

remove println statements
  crates/primitives/src/chain/spec.rs
Due: primitives

fix block and timestamp conditions
  crates/primitives/src/chain/spec.rs
Due: primitives

Create stream-mempool.rs
  crates/transaction-pool/tests/it/stream-mempool.rs
Due: txpool

add docker compose
  README.md
  docker-compose.yml
  grafana/provisioning/dashboards/dashboard.yml
  grafana/provisioning/dashboards/lighthouse.json
  grafana/provisioning/dashboards/reth.json
  grafana/provisioning/datasources/datasource.yml
  prometheus/prometheus.yml
Due: none

refactor to /etc. dir
  README.md
  etc/README.md
  etc/docker-compose.yml
  etc/docker-monitoring.yml
  etc/grafana/dashboards/dashboard.yml
  etc/grafana/dashboards/overview.json
  etc/grafana/datasources/prometheus.yml
  etc/grafana/provisioning/dashboards/dashboard.yml
  etc/grafana/provisioning/dashboards/lighthouse.json
  etc/grafana/provisioning/dashboards/reth.json
  etc/grafana/provisioning/datasources/datasource.yml
  etc/prometheus/prometheus.yml
  prometheus/prometheus.yml
Due: none

fix: only check timestamped forks after the merge (#2503)
  crates/primitives/src/chain/spec.rs
Due: primitives

chore(deps): move proc-macro and syn to workspace deps
  Cargo.lock
  Cargo.toml
  crates/metrics/metrics-derive/Cargo.toml
  crates/rlp/rlp-derive/Cargo.toml
  crates/storage/codecs/derive/Cargo.toml
Due: reth binary, storage (db), primitives

add metrics + test
  crates/blockchain-tree/src/blockchain_tree.rs
  crates/blockchain-tree/src/metrics.rs
Due: blockchain tree

docs: more docs
  crates/blockchain-tree/src/block_buffer.rs
  crates/blockchain-tree/src/blockchain_tree.rs
Due: blockchain tree

perf: try to append buffered blocks one by one
  crates/blockchain-tree/src/block_buffer.rs
  crates/blockchain-tree/src/block_indices.rs
  crates/blockchain-tree/src/blockchain_tree.rs
  crates/blockchain-tree/src/shareable.rs
  crates/consensus/beacon/src/engine/mod.rs
  crates/interfaces/src/blockchain_tree/mod.rs
  crates/storage/provider/src/providers/mod.rs
Due: blockchain tree, storage (db), consensus/evm, primitives

check all chain blocks
  crates/blockchain-tree/src/blockchain_tree.rs
Due: blockchain tree

feat(txpool): add transaction_event_listener function to subscribe to tx changes
  crates/transaction-pool/src/lib.rs
  crates/transaction-pool/src/pool/listener.rs
  crates/transaction-pool/src/pool/mod.rs
  crates/transaction-pool/src/traits.rs
Due: txpool

perf(rpc): remove full block lookup
  crates/rpc/rpc/src/eth/filter.rs
Due: rpc

chore(deps): move proc-macro and syn to workspace deps (#3492)
  Cargo.lock
  Cargo.toml
  crates/metrics/metrics-derive/Cargo.toml
  crates/rlp/rlp-derive/Cargo.toml
  crates/storage/codecs/derive/Cargo.toml
Due: reth binary, storage (db), primitives

feat(txpool): add transaction_event_listener function (#3493)
  crates/transaction-pool/src/lib.rs
  crates/transaction-pool/src/pool/listener.rs
  crates/transaction-pool/src/pool/mod.rs
  crates/transaction-pool/src/traits.rs
Due: txpool

replacing eyre::Result in jwt_secret
  bin/reth/src/args/rpc_server_args.rs
  crates/rpc/rpc/src/layers/jwt_secret.rs
Due: reth binary, rpc

removing eyre::Result from secret_key
  bin/reth/src/args/secret_key.rs
Due: reth binary

fix(engine): logs for new payload v2
  crates/rpc/rpc-engine-api/src/engine_api.rs
Due: rpc

fix(engine): logs for new payload v2 (#3494)
  crates/rpc/rpc-engine-api/src/engine_api.rs
Due: rpc

feat(docker): add docker compose files and docs
  book/installation/docker.md
  docker-compose.yml
  etc/prometheus/prometheus-docker.yml
Due: none

rm some spammy traces
  crates/blockchain-tree/src/shareable.rs
Due: blockchain tree

some traces
  crates/blockchain-tree/src/blockchain_tree.rs
  crates/consensus/beacon/src/engine/mod.rs
Due: blockchain tree, consensus/evm

fix tests jwt_secret
  crates/rpc/rpc/src/layers/jwt_secret.rs
Due: rpc

add some dbgs
  crates/consensus/beacon/src/engine/mod.rs
Due: consensus/evm

fix clippy
  crates/rpc/rpc/src/eth/filter.rs
Due: rpc

Path conditions:
  reth binary: any of: bin/**, crates/config/**, crates/metrics/**, crates/tracing/**
  blockchain tree: any of: crates/blockchain-tree/**
  pipeline: any of: crates/stages/**, crates/staged-sync/**
  storage (db): any of: crates/storage/**
  trie: any of: crates/trie/**
  txpool: any of: crates/transaction-pool/**
  networking: any of: crates/net/**
  rpc: any of: crates/rpc/**
  consensus/evm: any of: crates/revm/**, crates/consensus/**
  payload builder: any of: crates/payload/**
  primitives: any of: crates/primitives/**, crates/tasks/**, crates/rlp/**, crates/interfaces/**
