Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

format unfinalized exexs with itertools helper
  crates/exex/exex/src/manager.rs
Due: none

feat(exex): finalize WAL only when all ExExes are on the canonical chain (#11289)
  Cargo.lock
  crates/exex/exex/Cargo.toml
  crates/exex/exex/src/manager.rs
  crates/exex/exex/src/notifications.rs
  crates/exex/exex/src/wal/mod.rs
  crates/node/builder/src/launch/exex.rs
Due: none

chore: update default payload builder logs (#11315)
  crates/ethereum/payload/src/lib.rs
  crates/optimism/payload/src/builder.rs
Due: none

Arc for chain_spec
  crates/evm/src/system_calls/mod.rs
Due: none

clippy
  crates/evm/src/system_calls/mod.rs
Due: none

feat(exex): finalize WAL with the lowest finished height
  crates/exex/exex/src/manager.rs
  crates/exex/exex/src/wal/cache.rs
Due: none

hand-rolled either
  crates/payload/basic/src/builder_stack.rs
  crates/payload/basic/src/lib.rs
Due: payload builder

rm
  crates/payload/basic/src/builder_stack.rs
Due: payload builder

feat(exex): finalize WAL below the given block
  Cargo.lock
  crates/exex/exex/Cargo.toml
  crates/exex/exex/src/manager.rs
  crates/exex/exex/src/notifications.rs
  crates/exex/exex/src/wal/cache.rs
  crates/exex/exex/src/wal/mod.rs
  crates/exex/exex/src/wal/storage.rs
Due: none

clarify docs
  crates/exex/exex/src/wal/mod.rs
  crates/exex/exex/src/wal/storage.rs
Due: none

fix popping from the heap
  crates/exex/exex/src/wal/cache.rs
Due: none

use `core::error::Error` (#11317)
  crates/blockchain-tree-api/src/error.rs
  crates/consensus/beacon/src/engine/error.rs
  crates/consensus/beacon/src/engine/hooks/mod.rs
  crates/errors/src/error.rs
  crates/evm/execution-errors/src/lib.rs
  crates/evm/execution-errors/src/trie.rs
  crates/fs-util/src/lib.rs
  crates/payload/primitives/src/error.rs
  crates/payload/primitives/src/traits.rs
  crates/primitives/src/transaction/error.rs
  crates/rpc/ipc/src/client/mod.rs
  crates/rpc/ipc/src/server/connection.rs
  crates/rpc/ipc/src/server/mod.rs
  crates/rpc/rpc-engine-api/src/error.rs
  crates/rpc/rpc-eth-types/src/error.rs
  crates/rpc/rpc-types/src/eth/error.rs
  crates/stages/api/src/error.rs
  crates/stages/stages/src/test_utils/runner.rs
  crates/storage/errors/src/db.rs
  crates/storage/errors/src/lockfile.rs
  crates/storage/errors/src/provider.rs
  crates/storage/nippy-jar/src/error.rs
  crates/transaction-pool/src/blobstore/mod.rs
  crates/transaction-pool/src/error.rs
  crates/transaction-pool/src/validate/mod.rs
Due: pipeline, storage (db), txpool, rpc, consensus/evm, payload builder, primitives

fix doc
  testing/testing-utils/src/genesis_allocator.rs
Due: none

Print the exact unknown error code in error message
  crates/storage/libmdbx-rs/src/error.rs
Due: storage (db)

MDBX_opt_sync_bytes and MDBX_opt_sync_period can only be set after mdbx_env_open
  crates/storage/libmdbx-rs/src/environment.rs
  crates/storage/libmdbx-rs/src/error.rs
Due: storage (db)

fix doc test
  crates/net/eth-wire-types/Cargo.toml
Due: networking

test(trie): witness empty root node
  crates/trie/common/src/proofs.rs
  crates/trie/db/tests/proof.rs
  crates/trie/db/tests/witness.rs
  crates/trie/trie/src/proof.rs
  crates/trie/trie/src/witness.rs
Due: trie

feat(exex): finalize WAL with the lowest finished height (#11323)
  crates/exex/exex/src/manager.rs
  crates/exex/exex/src/wal/cache.rs
Due: none

fix(trie): witness empty root node (#10972)
  crates/trie/common/src/proofs.rs
  crates/trie/db/tests/proof.rs
  crates/trie/db/tests/witness.rs
  crates/trie/trie/src/proof.rs
  crates/trie/trie/src/witness.rs
Due: trie

Replace TaskExecutor with Box<dyn TaskSpawner>
  crates/node/builder/src/builder/mod.rs
  crates/node/builder/src/launch/common.rs
  crates/node/builder/src/launch/engine.rs
  crates/node/builder/src/launch/mod.rs
  crates/node/metrics/src/server.rs
Due: none

Update crates/evm/src/system_calls/mod.rs
  crates/evm/src/system_calls/mod.rs
Due: none

add doc for post_commit functions
  crates/evm/src/system_calls/eip7002.rs
  crates/evm/src/system_calls/eip7251.rs
Due: none

remove Arc
  crates/evm/src/system_calls/mod.rs
Due: none

feat: add SystemCaller helper type (#11068)
  crates/evm/src/system_calls/eip7002.rs
  crates/evm/src/system_calls/eip7251.rs
  crates/evm/src/system_calls/mod.rs
Due: none

chore(builder): reorder revm `State` import (#11316)
  crates/ethereum/payload/src/lib.rs
  crates/optimism/payload/src/builder.rs
Due: none

feat(exex): finalize WAL below the given block (#11324)
  Cargo.lock
  crates/exex/exex/Cargo.toml
  crates/exex/exex/src/manager.rs
  crates/exex/exex/src/notifications.rs
  crates/exex/exex/src/wal/cache.rs
  crates/exex/exex/src/wal/mod.rs
  crates/exex/exex/src/wal/storage.rs
  examples/custom-dev-node/Cargo.toml
Due: none

Path conditions:
  reth binary: any of: bin/**, crates/config/**, crates/metrics/**, crates/tracing/**
  blockchain tree: any of: crates/blockchain-tree/**
  pipeline: any of: crates/stages/**, crates/staged-sync/**
  storage (db): any of: crates/storage/**
  trie: any of: crates/trie/**
  txpool: any of: crates/transaction-pool/**
  networking: any of: crates/net/**
  rpc: any of: crates/rpc/**
  consensus/evm: any of: crates/revm/**, crates/consensus/**
  payload builder: any of: crates/payload/**
  primitives: any of: crates/primitives/**, crates/tasks/**, crates/rlp/**, crates/interfaces/**
