Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

extern crate alloc
  crates/optimism/hardforks/src/lib.rs
Due: none

features
  Cargo.lock
  crates/ethereum-forks/Cargo.toml
  crates/optimism/hardforks/Cargo.toml
Due: none

use just sorted, extend fetched proof targets in one go
  crates/engine/tree/src/tree/payload_processor/multiproof.rs
  crates/primitives-traits/src/account.rs
  crates/trie/common/src/hashed_state.rs
Due: trie

collect proof targets and extend in one go
  crates/engine/tree/src/tree/payload_processor/multiproof.rs
Due: none

fix chunking
  crates/trie/common/src/hashed_state.rs
Due: trie

fix
  Cargo.toml
  deny.toml
Due: none

fix
  Cargo.lock
Due: none

set wiped flag
  crates/trie/common/src/hashed_state.rs
Due: trie

fix: simplify known accounts mismatch check in validation for efficiency
  crates/optimism/rpc/src/eth/ext.rs
Due: none

chore: remove with_runtime
  bin/reth/src/cli/mod.rs
  crates/optimism/cli/src/lib.rs
Due: reth binary

fix
  crates/chainspec/src/spec.rs
Due: none

feat: configuration of the tokio runtime (#14837)
  bin/reth-bench/src/main.rs
  bin/reth/src/cli/mod.rs
  crates/cli/cli/src/lib.rs
  crates/cli/runner/src/lib.rs
  crates/optimism/cli/src/lib.rs
Due: reth binary

touchups
  crates/optimism/rpc/src/error.rs
  crates/optimism/rpc/src/eth/ext.rs
Due: none

revertme: assert that partition works
  crates/trie/common/src/hashed_state.rs
Due: trie

touchups
  crates/optimism/rpc/src/eth/ext.rs
  crates/rpc/rpc-eth-types/src/error/mod.rs
Due: rpc

feat: integrate alloy-hardforks (#14853)
  Cargo.lock
  Cargo.toml
  crates/chainspec/src/spec.rs
  crates/ethereum-forks/Cargo.toml
  crates/ethereum-forks/src/forkcondition.rs
  crates/ethereum-forks/src/hardfork/ethereum.rs
  crates/ethereum-forks/src/hardfork/macros.rs
  crates/ethereum-forks/src/hardfork/mod.rs
  crates/ethereum-forks/src/hardforks/dev.rs
  crates/ethereum-forks/src/hardforks/ethereum.rs
  crates/ethereum-forks/src/hardforks/mod.rs
  crates/ethereum-forks/src/lib.rs
  crates/optimism/chainspec/src/base.rs
  crates/optimism/chainspec/src/base_sepolia.rs
  crates/optimism/chainspec/src/lib.rs
  crates/optimism/chainspec/src/op.rs
  crates/optimism/chainspec/src/op_sepolia.rs
  crates/optimism/consensus/src/validation/mod.rs
  crates/optimism/hardforks/Cargo.toml
  crates/optimism/hardforks/src/dev.rs
  crates/optimism/hardforks/src/hardfork.rs
  crates/optimism/hardforks/src/lib.rs
  crates/optimism/node/src/engine.rs
  deny.toml
  examples/bsc-p2p/src/chainspec.rs
Due: none

Update notifications.rs
  crates/chain-state/src/notifications.rs
Due: none

use sorted by key
  crates/primitives-traits/src/account.rs
  crates/trie/common/src/hashed_state.rs
Due: trie

feat: add validate known account to optimism rpc (#14851)
  crates/optimism/rpc/src/error.rs
  crates/optimism/rpc/src/eth/ext.rs
Due: none

revertme: assert that chunking works
  crates/engine/tree/src/tree/payload_processor/multiproof.rs
Due: none

revertme: send as one chunk
  crates/engine/tree/src/tree/payload_processor/multiproof.rs
Due: none

state root task finished log
  crates/engine/tree/src/tree/mod.rs
Due: none

ok just send one msg
  crates/engine/tree/src/tree/payload_processor/multiproof.rs
Due: none

chore: bump alloy-evm and revm
  Cargo.lock
  Cargo.toml
  book/sources/Cargo.toml
  crates/ethereum/evm/src/execute.rs
  crates/evm/Cargo.toml
  crates/evm/src/lib.rs
  crates/optimism/evm/Cargo.toml
  crates/optimism/evm/src/config.rs
  crates/optimism/evm/src/execute.rs
  crates/optimism/evm/src/l1.rs
  crates/optimism/evm/src/lib.rs
  crates/optimism/node/Cargo.toml
  crates/optimism/node/src/node.rs
  crates/optimism/primitives/Cargo.toml
  crates/optimism/primitives/src/transaction/signed.rs
  crates/optimism/rpc/Cargo.toml
  crates/optimism/rpc/src/error.rs
  crates/optimism/rpc/src/eth/call.rs
  crates/optimism/rpc/src/eth/ext.rs
  crates/optimism/rpc/src/eth/receipt.rs
  crates/optimism/txpool/Cargo.toml
  crates/optimism/txpool/src/validator.rs
  crates/primitives-traits/src/account.rs
  crates/rpc/rpc-eth-types/src/error/mod.rs
  crates/rpc/rpc-eth-types/src/revm_utils.rs
  crates/rpc/rpc-server-types/src/constants.rs
  examples/custom-evm/src/main.rs
  examples/stateful-precompile/src/main.rs
Due: rpc

works, now chunk
  crates/engine/tree/src/tree/payload_processor/multiproof.rs
Due: none

chore: auto_impl TrieCursorFactory for reference
  crates/trie/trie/src/trie_cursor/mod.rs
Due: trie

revert asserts etc
  crates/engine/tree/src/tree/payload_processor/multiproof.rs
  crates/trie/common/src/hashed_state.rs
Due: trie

use default bloom filter for OtsReceipt
  crates/rpc/rpc/src/otterscan.rs
Due: rpc

first storage, then accounts
  crates/trie/common/src/hashed_state.rs
Due: trie

extend fetched proof targets
  crates/engine/tree/src/tree/payload_processor/multiproof.rs
  crates/trie/common/src/hashed_state.rs
Due: trie

add accounts to not in targets if storage is
  crates/trie/common/src/hashed_state.rs
Due: trie

crunchy
  Cargo.lock
Due: none

Fix book
  book/sources/Cargo.toml
Due: none

refactor partition fn
  crates/trie/common/src/hashed_state.rs
Due: trie

Path conditions:
  reth binary: any of: bin/**, crates/config/**, crates/metrics/**, crates/tracing/**
  blockchain tree: any of: crates/blockchain-tree/**
  pipeline: any of: crates/stages/**, crates/staged-sync/**
  storage (db): any of: crates/storage/**
  trie: any of: crates/trie/**
  txpool: any of: crates/transaction-pool/**
  networking: any of: crates/net/**
  rpc: any of: crates/rpc/**
  consensus/evm: any of: crates/revm/**, crates/consensus/**
  payload builder: any of: crates/payload/**
  primitives: any of: crates/primitives/**, crates/tasks/**, crates/rlp/**, crates/interfaces/**
