Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

codecov.yml:

coverage:
  status:
    patch: off
    project:
      default:
        threshold: null
        informational: true
github_checks:
  annotations: false
comment:
  layout: "reach, files, flags, components"
  require_changes: true
component_management:
  individual_components:
    - component_id: reth_binary
      name: reth binary
      paths:
        - bin/**
        - crates/config/**
        - crates/metrics/**
        - crates/tracing/**
    - component_id: blockchain_tree
      name: blockchain tree
      paths:
        - crates/blockchain-tree/**
    - component_id: staged_sync
      name: pipeline
      paths:
        - crates/stages/**
        - crates/staged-sync/**
    - component_id: storage
      name: storage (db)
      paths:
        - crates/storage/**
    - component_id: trie
      name: trie
      paths:
        - crates/trie/**
    - component_id: txpool
      name: txpool
      paths:
        - crates/transaction-pool/**
    - component_id: networking
      name: networking
      paths:
        - crates/net/**
    - component_id: rpc
      name: rpc
      paths:
        - crates/rpc/**
    - component_id: core
      name: consensus/evm
      paths:
        - crates/revm/**
        - crates/consensus/**
    - component_id: builder
      name: payload builder
      paths:
        - crates/payload/**
    - component_id: primitives
      name: primitives
      paths:
        - crates/primitives/**
        - crates/tasks/**
        - crates/rlp/**
        - crates/interfaces/**

chore: rm redundant clippy allow
  crates/net/eth-wire-types/src/lib.rs
Due: networking

adding v2 payload bodies, prague fn and moving caps to top file
  crates/rpc/rpc-engine-api/src/capabilities.rs
Due: rpc

update readme with local reth image deployment
  packages/protocol/deployments/local_deployment.md
Due: none

Added wrapper type defaulting to prague engine caps (#9413)
  crates/node/builder/src/launch/mod.rs
  crates/rpc/rpc-builder/tests/it/utils.rs
  crates/rpc/rpc-engine-api/src/capabilities.rs
  crates/rpc/rpc-engine-api/src/engine_api.rs
  crates/rpc/rpc-engine-api/src/lib.rs
Due: rpc

feat: parsers
  Cargo.lock
  Cargo.toml
  bin/reth/Cargo.toml
  bin/reth/src/cli/mod.rs
  crates/cli/cli/Cargo.toml
  crates/cli/cli/src/chainspec/eth.rs
  crates/cli/cli/src/chainspec/mod.rs
  crates/cli/cli/src/chainspec/optimism.rs
  crates/cli/cli/src/lib.rs
  crates/node/core/Cargo.toml
Due: reth binary

reverting import in reth bin
  Cargo.lock
  bin/reth/Cargo.toml
  bin/reth/src/cli/mod.rs
  crates/cli/cli/Cargo.toml
Due: reth binary

chore: clippy
  crates/cli/cli/src/chainspec/eth.rs
  crates/cli/cli/src/chainspec/optimism.rs
  crates/cli/cli/src/lib.rs
Due: none

incremental progress
  Cargo.lock
  crates/cli/cli/Cargo.toml
  crates/cli/cli/src/chainspec.rs
  crates/cli/cli/src/chainspec/eth.rs
  crates/cli/cli/src/chainspec/optimism.rs
  crates/ethereum/cli/Cargo.toml
  crates/ethereum/cli/src/chainspec.rs
  crates/ethereum/cli/src/lib.rs
  crates/optimism/cli/Cargo.toml
  crates/optimism/cli/src/chainspec.rs
  crates/optimism/cli/src/lib.rs
Due: none

removed cfg
  crates/ethereum/cli/src/chainspec.rs
  crates/optimism/cli/src/chainspec.rs
Due: none

feat: parsers (#9366)
  Cargo.lock
  Cargo.toml
  crates/cli/cli/Cargo.toml
  crates/cli/cli/src/chainspec.rs
  crates/cli/cli/src/lib.rs
  crates/ethereum/cli/Cargo.toml
  crates/ethereum/cli/src/chainspec.rs
  crates/ethereum/cli/src/lib.rs
  crates/node/core/Cargo.toml
  crates/optimism/cli/Cargo.toml
  crates/optimism/cli/src/chainspec.rs
  crates/optimism/cli/src/lib.rs
Due: none

feat: API scaffolding
  crates/node/builder/src/builder/mod.rs
  crates/node/builder/src/builder/states.rs
  crates/node/builder/src/launch/mod.rs
  crates/node/builder/src/node.rs
Due: none

duplicating cli struct
  crates/optimism/cli/Cargo.toml
  crates/optimism/cli/src/commands/build_pipeline.rs
  crates/optimism/cli/src/commands/mod.rs
  crates/optimism/cli/src/lib.rs
Due: none

removing dev cfg
  crates/optimism/cli/src/commands/mod.rs
Due: none

removed duplicate key in cargo
  crates/optimism/cli/Cargo.toml
Due: none

added chain specific chainspec parser
  crates/optimism/cli/src/lib.rs
Due: none

Optimism Cli struct (#9416)
  crates/optimism/cli/Cargo.toml
  crates/optimism/cli/src/commands/build_pipeline.rs
  crates/optimism/cli/src/commands/mod.rs
  crates/optimism/cli/src/lib.rs
Due: none

add feature gated fs-util for reading, writing json files
  Cargo.lock
  crates/fs-util/Cargo.toml
  crates/fs-util/src/lib.rs
  crates/net/network/src/manager.rs
Due: networking

chore: rm redundant clippy allow (#9415)
  crates/net/eth-wire-types/src/lib.rs
Due: networking

feat: add fs-util for reading, writing json files (#9418)
  Cargo.lock
  crates/fs-util/Cargo.toml
  crates/fs-util/src/lib.rs
  crates/net/network/src/manager.rs
Due: networking

feat(prune, stages): prune pipeline stage
  Cargo.lock
  crates/cli/commands/src/prune.rs
  crates/config/src/config.rs
  crates/consensus/beacon/src/engine/hooks/prune.rs
  crates/consensus/beacon/src/engine/test_utils.rs
  crates/engine/tree/src/persistence.rs
  crates/node/builder/src/launch/common.rs
  crates/node/builder/src/launch/mod.rs
  crates/prune/prune/src/builder.rs
  crates/prune/prune/src/lib.rs
  crates/prune/prune/src/pruner.rs
  crates/stages/api/src/error.rs
  crates/stages/api/src/pipeline/mod.rs
  crates/stages/stages/Cargo.toml
  crates/stages/stages/src/sets.rs
  crates/stages/stages/src/stages/mod.rs
  crates/stages/stages/src/stages/prune.rs
  crates/stages/types/src/id.rs
  crates/storage/provider/src/providers/database/mod.rs
  crates/storage/provider/src/providers/database/provider.rs
  crates/storage/provider/src/providers/mod.rs
  crates/storage/provider/src/test_utils/noop.rs
  crates/storage/storage-api/src/prune_checkpoint.rs
Due: reth binary, pipeline, storage (db), consensus/evm

fix some lints
  crates/config/src/config.rs
  crates/prune/prune/src/pruner.rs
  crates/stages/stages/src/stages/prune.rs
  crates/stages/types/src/id.rs
Due: reth binary, pipeline

feat: remove get or take usage (#9412)
  crates/stages/stages/src/stages/execution.rs
  crates/storage/provider/src/providers/database/mod.rs
  crates/storage/provider/src/providers/database/provider.rs
  crates/storage/provider/src/traits/block.rs
Due: pipeline, storage (db)

refactor
  Cargo.lock
  bin/reth/src/lib.rs
  bin/reth/src/main.rs
  bin/reth/src/optimism.rs
  crates/cli/util/Cargo.toml
  crates/cli/util/src/lib.rs
  crates/cli/util/src/sigsegv_handler.rs
Due: reth binary

return previous checkpoint if pruner didn't finish
  crates/stages/stages/src/stages/prune.rs
  crates/storage/provider/src/providers/database/mod.rs
  crates/storage/provider/src/providers/database/provider.rs
  crates/storage/provider/src/providers/mod.rs
  crates/storage/provider/src/test_utils/noop.rs
  crates/storage/storage-api/src/prune_checkpoint.rs
Due: pipeline, storage (db)

clippy
  crates/storage/codecs/src/alloy/authorization_list.rs
Due: storage (db)

fix: remove random pub from transaction docs
  crates/primitives/src/transaction/eip1559.rs
  crates/primitives/src/transaction/eip2930.rs
  crates/primitives/src/transaction/eip4844.rs
Due: primitives

chore: move `sigsegv handler` to `reth-cli-util` crate (#9421)
  Cargo.lock
  bin/reth/src/lib.rs
  bin/reth/src/main.rs
  bin/reth/src/optimism.rs
  crates/cli/util/Cargo.toml
  crates/cli/util/src/lib.rs
  crates/cli/util/src/sigsegv_handler.rs
Due: reth binary

fix docs
  crates/primitives/src/transaction/eip4844.rs
Due: primitives

add test
  crates/stages/stages/src/stages/prune.rs
Due: pipeline

Implement generalizable RPC middleware
  crates/rpc/rpc-builder/src/lib.rs
  crates/rpc/rpc-builder/src/metrics.rs
  examples/rpc-db/src/main.rs
Due: rpc

chore: remove node-core from CODEOWNERS
  CODEOWNERS
Due: none
