Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

codecov.yml:

coverage:
  status:
    patch: off
    project:
      default:
        threshold: null
        informational: true
github_checks:
  annotations: false
comment:
  layout: "reach, files, flags, components"
  require_changes: true
component_management:
  individual_components:
    - component_id: reth_binary
      name: reth binary
      paths:
        - bin/**
        - crates/config/**
        - crates/metrics/**
        - crates/tracing/**
    - component_id: blockchain_tree
      name: blockchain tree
      paths:
        - crates/blockchain-tree/**
    - component_id: staged_sync
      name: pipeline
      paths:
        - crates/stages/**
        - crates/staged-sync/**
    - component_id: storage
      name: storage (db)
      paths:
        - crates/storage/**
    - component_id: trie
      name: trie
      paths:
        - crates/trie/**
    - component_id: txpool
      name: txpool
      paths:
        - crates/transaction-pool/**
    - component_id: networking
      name: networking
      paths:
        - crates/net/**
    - component_id: rpc
      name: rpc
      paths:
        - crates/rpc/**
    - component_id: core
      name: consensus/evm
      paths:
        - crates/revm/**
        - crates/consensus/**
    - component_id: builder
      name: payload builder
      paths:
        - crates/payload/**
    - component_id: primitives
      name: primitives
      paths:
        - crates/primitives/**
        - crates/tasks/**
        - crates/rlp/**
        - crates/interfaces/**

box dyn
  Cargo.lock
  crates/engine/tree/src/tree/root.rs
  crates/trie/sparse/Cargo.toml
  crates/trie/sparse/src/blinded.rs
  crates/trie/trie/src/proof/blinded.rs
Due: trie

wip
  Cargo.lock
  crates/ethereum/primitives/Cargo.toml
  crates/ethereum/primitives/src/lib.rs
  crates/ethereum/primitives/src/receipt.rs
  crates/evm/execution-types/src/chain.rs
  crates/evm/execution-types/src/execution_outcome.rs
  crates/primitives-traits/src/receipt.rs
Due: none

fix
  Cargo.lock
  crates/ethereum/node/Cargo.toml
  crates/ethereum/node/src/lib.rs
Due: none

fix
  Cargo.lock
  crates/ethereum/primitives/Cargo.toml
  crates/ethereum/primitives/src/lib.rs
  crates/primitives-traits/Cargo.toml
  crates/primitives/Cargo.toml
  crates/prune/types/Cargo.toml
  crates/stages/types/Cargo.toml
  crates/storage/codecs/Cargo.toml
  crates/storage/codecs/derive/src/compact/generator.rs
  crates/storage/codecs/src/private.rs
  crates/storage/db-models/Cargo.toml
Due: pipeline, storage (db), primitives

fix
  Cargo.lock
  crates/ethereum/node/Cargo.toml
  crates/ethereum/node/src/lib.rs
  crates/ethereum/primitives/Cargo.toml
  crates/ethereum/primitives/src/lib.rs
  crates/ethereum/primitives/src/receipt.rs
Due: none

fix
  crates/ethereum/primitives/src/lib.rs
Due: none

fix
  crates/storage/codecs/derive/src/compact/mod.rs
Due: storage (db)

fix
  crates/ethereum/primitives/Cargo.toml
Due: none

wip
  crates/primitives-traits/src/transaction/signed.rs
  crates/primitives/src/transaction/pooled.rs
  crates/primitives/src/transaction/signature.rs
  crates/transaction-pool/src/traits.rs
Due: txpool, primitives

Revert "box dyn"
  Cargo.lock
  crates/engine/tree/src/tree/root.rs
  crates/trie/sparse/Cargo.toml
  crates/trie/sparse/src/blinded.rs
  crates/trie/trie/src/proof/blinded.rs
Due: trie

feat(rpc): remove total difficulty
  crates/rpc/rpc-eth-api/src/helpers/block.rs
Due: rpc

chore: remove unused imports
  crates/rpc/rpc-eth-api/src/helpers/block.rs
Due: rpc

revert test-fuzz changes
  Cargo.lock
  crates/ethereum/primitives/Cargo.toml
  crates/primitives-traits/Cargo.toml
  crates/primitives/Cargo.toml
  crates/prune/types/Cargo.toml
  crates/stages/types/Cargo.toml
  crates/storage/codecs/Cargo.toml
  crates/storage/codecs/derive/src/compact/generator.rs
  crates/storage/codecs/derive/src/compact/mod.rs
  crates/storage/codecs/src/private.rs
  crates/storage/db-models/Cargo.toml
Due: pipeline, storage (db), primitives

chore(ci): run kurtosis-op twice a day
  .github/workflows/kurtosis-op.yml
Due: none

chore(ci): refactor code to build image used in several workflows
  .github/workflows/hive.yml
  .github/workflows/kurtosis-op.yml
  .github/workflows/kurtosis.yml
  .github/workflows/prepare-reth.yml
Due: none

remove outputs
  .github/workflows/prepare-reth.yml
Due: none

feat: ethereum-specific receipt (#13295)
  Cargo.lock
  crates/ethereum/primitives/Cargo.toml
  crates/ethereum/primitives/src/lib.rs
  crates/ethereum/primitives/src/receipt.rs
  crates/evm/execution-types/src/chain.rs
  crates/evm/execution-types/src/execution_outcome.rs
  crates/primitives-traits/src/receipt.rs
Due: none

chore: use consistent naming for tx fns
  crates/payload/validator/src/lib.rs
  crates/primitives/src/block.rs
Due: payload builder, primitives

chore: use consistent naming for tx fns (#13306)
  crates/payload/validator/src/lib.rs
  crates/primitives/src/block.rs
Due: payload builder, primitives

Add link to issue in todo
  crates/consensus/consensus/src/lib.rs
Due: consensus/evm

solve some consistent view failing tests
  crates/engine/tree/benches/state_root_task.rs
  crates/engine/tree/src/tree/mod.rs
  crates/engine/tree/src/tree/root.rs
  crates/trie/sparse/src/blinded.rs
Due: trie

feat(engine): integrate blinded provider factory into state root task (#13294)
  crates/engine/tree/benches/state_root_task.rs
  crates/engine/tree/src/tree/root.rs
  crates/trie/trie/src/proof/blinded.rs
  crates/trie/trie/src/witness.rs
Due: trie

chore: rm chainspec max gas limit
  crates/blockchain-tree/src/blockchain_tree.rs
  crates/chain-state/src/test_utils.rs
  crates/chainspec/src/api.rs
  crates/chainspec/src/spec.rs
  crates/consensus/beacon/src/engine/sync.rs
  crates/engine/tree/src/backfill.rs
  crates/engine/tree/src/download.rs
  crates/optimism/chainspec/src/base.rs
  crates/optimism/chainspec/src/base_sepolia.rs
  crates/optimism/chainspec/src/lib.rs
  crates/optimism/chainspec/src/op.rs
  crates/optimism/chainspec/src/op_sepolia.rs
  crates/optimism/node/src/engine.rs
  crates/rpc/rpc-eth-api/src/helpers/estimate.rs
  crates/rpc/rpc/src/eth/core.rs
  crates/transaction-pool/src/validate/eth.rs
  examples/bsc-p2p/src/chainspec.rs
  examples/polygon-p2p/src/chain_cfg.rs
Due: blockchain tree, txpool, rpc, consensus/evm

chore(ci): run kurtosis-op twice a day (#13305)
  .github/workflows/kurtosis-op.yml
Due: none

chore: remove unnecessary parameters
  crates/rpc/rpc-eth-api/src/helpers/block.rs
  crates/rpc/rpc-types-compat/src/block.rs
Due: rpc

perf(engine): cache proof targets in proof sequencer for state root task
  crates/engine/tree/src/tree/root.rs
  crates/trie/common/src/proofs.rs
  crates/trie/db/src/proof.rs
  crates/trie/db/tests/witness.rs
  crates/trie/sparse/src/state.rs
  crates/trie/trie/src/proof/blinded.rs
  crates/trie/trie/src/proof/mod.rs
  crates/trie/trie/src/witness.rs
Due: trie

use extend_ref
  crates/engine/tree/src/tree/root.rs
Due: none

reorder fields
  crates/engine/tree/src/tree/root.rs
Due: none

Impl isthmus l1tol2-msg-passer storage root validation
  Cargo.lock
  crates/consensus/consensus/src/lib.rs
  crates/optimism/consensus/Cargo.toml
  crates/optimism/consensus/src/error.rs
  crates/optimism/consensus/src/lib.rs
  crates/optimism/consensus/src/validation/isthmus.rs
  crates/optimism/consensus/src/validation/mod.rs
  crates/optimism/primitives/src/lib.rs
  crates/optimism/primitives/src/predeploys.rs
Due: consensus/evm

Revert "Revert "Revert "perf(engine): use ParallelProof::multiproof in StateRootTask"""
  crates/engine/tree/Cargo.toml
  crates/engine/tree/src/tree/root.rs
Due: none

chore(ci): refactor code to build image used in several workflows (#13304)
  .github/workflows/hive.yml
  .github/workflows/kurtosis-op.yml
  .github/workflows/kurtosis.yml
  .github/workflows/prepare-reth.yml
Due: none

feat(builder): respect desired block gas limit
  bin/reth/src/commands/debug_cmd/build_block.rs
  crates/ethereum/consensus/src/lib.rs
  crates/ethereum/evm/src/lib.rs
  crates/ethereum/node/src/node.rs
  crates/ethereum/payload/src/lib.rs
  crates/evm/src/lib.rs
  crates/optimism/evm/src/lib.rs
  crates/payload/basic/src/lib.rs
  crates/payload/basic/src/stack.rs
  crates/primitives-traits/src/constants/mod.rs
  crates/rpc/rpc-eth-api/src/helpers/pending_block.rs
  crates/rpc/rpc/src/validation.rs
Due: reth binary, rpc, payload builder

Impl Debug for BlockchainProvider
  crates/storage/provider/src/providers/mod.rs
Due: storage (db)

fix
  crates/ethereum/payload/src/lib.rs
  crates/optimism/payload/src/builder.rs
Due: none

fix
  crates/optimism/payload/src/builder.rs
Due: none
