Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

Compression only in std
  crates/primitives/src/compression/mod.rs
  crates/primitives/src/lib.rs
Due: primitives

update anchor def
  crates/ethereum/evm/src/taiko.rs
Due: none

feat: add EngineApi metrics (#10125)
  crates/engine/tree/src/tree/metrics.rs
  crates/engine/tree/src/tree/mod.rs
Due: none

Fixes
  Cargo.lock
  Cargo.toml
  crates/rpc/rpc-types/src/eth/error.rs
Due: rpc

Untouch it
  Cargo.toml
Due: none

remove redundant code
  crates/optimism/rpc/src/eth/pending_block.rs
Due: none

add enum EngineApiKind and create a method for get kind of engine api
  crates/chainspec/src/spec.rs
Due: none

linting
  crates/chainspec/src/spec.rs
Due: none

remove nits, improving docs
  crates/chainspec/src/spec.rs
Due: none

remove pending block support from OpEthApi (#10074)
  crates/optimism/rpc/src/eth/pending_block.rs
Due: none

move file, add a couple of docs
  crates/chainspec/src/spec.rs
  crates/engine/tree/src/engine.rs
Due: none

fmt things
  crates/chainspec/src/spec.rs
Due: none

trie: add Default impl for AccountProof
  crates/trie/common/src/proofs.rs
Due: trie

trie: add `Default` impl for `AccountProof` (#10132)
  crates/trie/common/src/proofs.rs
Due: trie

chore: ensure persistence receiver is dropped
  crates/engine/tree/src/tree/mod.rs
Due: none

reassing persistence_state.rx on TryRecvError::Empty
  crates/engine/tree/src/tree/mod.rs
Due: none

Handle features powerset in `reth-codecs`
  Cargo.toml
  Makefile
  crates/storage/codecs/Cargo.toml
  crates/storage/codecs/src/alloy/access_list.rs
  crates/storage/codecs/src/alloy/genesis_account.rs
  crates/storage/codecs/src/alloy/log.rs
  crates/storage/codecs/src/alloy/trie.rs
  crates/storage/codecs/src/lib.rs
Due: storage (db)

Rollback leftover
  crates/storage/codecs/Cargo.toml
Due: storage (db)

typo: replace [BlockId] by [`BlockId`] (#10121)
  crates/storage/storage-api/src/block.rs
  crates/storage/storage-api/src/block_id.rs
  crates/storage/storage-api/src/state.rs
Due: storage (db)

feat: add EngineApiKind enum (#10128)
  crates/engine/tree/src/engine.rs
Due: none

docs: misc engine docs
  crates/engine/tree/src/engine.rs
Due: none

add cl context
  crates/engine/tree/src/engine.rs
Due: none

Use explicit alloc Vec
  crates/storage/codecs/src/alloy/access_list.rs
  crates/storage/codecs/src/alloy/genesis_account.rs
  crates/storage/codecs/src/alloy/log.rs
  crates/storage/codecs/src/alloy/trie.rs
  crates/storage/codecs/src/lib.rs
Due: storage (db)

Rollback alloy-primitives double "no-default-features"
  crates/storage/codecs/Cargo.toml
Due: storage (db)

move methods, remove trait and other smoll things
  crates/engine/tree/src/tree/mod.rs
Due: none

docs: misc engine docs (#10135)
  crates/engine/tree/src/engine.rs
Due: none

remove old type, use T::PayloadAttributes
  crates/engine/tree/src/tree/mod.rs
Due: none

formating code
  crates/engine/tree/src/tree/mod.rs
Due: none

store receipts for local pending block
  crates/rpc/rpc-eth-api/src/helpers/block.rs
  crates/rpc/rpc-eth-api/src/helpers/pending_block.rs
Due: rpc

improve docs
  crates/engine/tree/src/tree/mod.rs
Due: none

chore: release 1.0.4 (#10122)
  Cargo.lock
  Cargo.toml
Due: none

fix: use actual latest state for BlockchainProvider2
  crates/chain-state/src/memory_overlay.rs
  crates/storage/provider/src/providers/blockchain_provider.rs
Due: storage (db)

Check features powerset in `reth-codecs` (#10134)
  Cargo.toml
  Makefile
  crates/storage/codecs/Cargo.toml
  crates/storage/codecs/src/alloy/access_list.rs
  crates/storage/codecs/src/alloy/genesis_account.rs
  crates/storage/codecs/src/alloy/log.rs
  crates/storage/codecs/src/alloy/trie.rs
Due: storage (db)

Path conditions:
  reth binary: any of: bin/**, crates/config/**, crates/metrics/**, crates/tracing/**
  blockchain tree: any of: crates/blockchain-tree/**
  pipeline: any of: crates/stages/**, crates/staged-sync/**
  storage (db): any of: crates/storage/**
  trie: any of: crates/trie/**
  txpool: any of: crates/transaction-pool/**
  networking: any of: crates/net/**
  rpc: any of: crates/rpc/**
  consensus/evm: any of: crates/revm/**, crates/consensus/**
  payload builder: any of: crates/payload/**
  primitives: any of: crates/primitives/**, crates/tasks/**, crates/rlp/**, crates/interfaces/**
