Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

use unwrap_or_else
  testing/ef-tests/src/cases/blockchain_test.rs
Due: none

fix: check scheduled blob activations (#16088)
  crates/chainspec/src/api.rs
Due: none

chore: rm reth-provider from rpc-builder (#16087)
  Cargo.lock
  crates/rpc/rpc-builder/Cargo.toml
  crates/rpc/rpc-builder/src/lib.rs
Due: rpc

refactor(stages): Initialize `EraStage::stream` only once
  Cargo.lock
  crates/stages/stages/Cargo.toml
  crates/stages/stages/src/stages/era.rs
Due: pipeline

fix
  crates/stateless/src/validation.rs
Due: none

Update eth69 status message
  crates/net/eth-wire-types/src/status.rs
  crates/net/eth-wire/src/ethstream.rs
  crates/net/eth-wire/src/handshake.rs
  crates/net/network/src/session/mod.rs
Due: networking

feat: add executor fn
  crates/evm/evm/src/lib.rs
Due: none

feat: add stateless crate to expose stateless validation (#15591)
  .github/assets/check_rv32imac.sh
  Cargo.lock
  Cargo.toml
  crates/stateless/Cargo.toml
  crates/stateless/src/execution_witness.rs
  crates/stateless/src/lib.rs
  crates/stateless/src/root.rs
  crates/stateless/src/validation.rs
  crates/stateless/src/witness_db.rs
  crates/trie/sparse/src/state.rs
  testing/ef-tests/Cargo.toml
  testing/ef-tests/src/cases/blockchain_test.rs
  testing/ef-tests/tests/tests.rs
Due: trie

feat(stages): Build header number to hash index past last era file
  crates/era-utils/src/history.rs
  crates/era-utils/src/lib.rs
  crates/stages/stages/src/stages/era.rs
Due: pipeline

feat: add executor fn (#16090)
  crates/evm/evm/src/lib.rs
Due: none

add comment on previously tracked changes being removed
  crates/trie/sparse/src/trie.rs
Due: trie

feat(stages): Implement `EraStage::unwind`
  crates/stages/api/src/stage.rs
  crates/stages/stages/src/stages/bodies.rs
  crates/stages/stages/src/stages/era.rs
Due: pipeline

Update crates/trie/sparse/src/trie.rs
  crates/trie/sparse/src/trie.rs
Due: trie

cargo fmt
  crates/trie/sparse/src/trie.rs
Due: trie

fmt + draft changes
  crates/net/eth-wire-types/src/status.rs
  crates/net/eth-wire/src/ethstream.rs
  crates/net/eth-wire/src/handshake.rs
  crates/net/network/src/config.rs
  crates/net/network/src/manager.rs
  crates/net/network/src/session/mod.rs
  crates/optimism/rpc/src/sequencer.rs
Due: networking

chore(meta): restrict mdbx vendored attribute
  .gitattributes
Due: none

removing unnecessary clone on copy
  crates/net/eth-wire/src/handshake.rs
  crates/optimism/rpc/src/sequencer.rs
Due: networking

chore(meta): restrict mdbx vendored attribute (#16092)
  .gitattributes
Due: none

removing from chainspec ,adding in mainnet
  crates/chainspec/src/spec.rs
Due: none

chore: relaxed insp in trace_block_until_with_inspector(rpc-eth-api)
  Cargo.lock
  crates/rpc/rpc-eth-api/src/helpers/trace.rs
Due: rpc

chore: add more docs to SparseTrie (#15750)
  crates/trie/sparse/src/trie.rs
Due: trie

feat(stages): Pass optional `ImportSource` to the `EraStage`
  crates/cli/commands/src/common.rs
  crates/cli/commands/src/import.rs
  crates/cli/commands/src/stage/unwind.rs
  crates/ethereum/cli/src/debug_cmd/execution.rs
  crates/node/builder/src/launch/common.rs
  crates/node/builder/src/setup.rs
  crates/stages/stages/src/lib.rs
  crates/stages/stages/src/sets.rs
Due: pipeline

refactor(stages): Rename `ImportSource` => `EraImportSource`
  crates/node/builder/src/setup.rs
  crates/stages/stages/src/sets.rs
  crates/stages/stages/src/stages/era.rs
Due: pipeline

chore: relaxed insp in trace rpc-eth-api
  crates/rpc/rpc-eth-api/src/helpers/trace.rs
Due: rpc

fixes
  crates/rpc/rpc-eth-api/src/helpers/trace.rs
Due: rpc

check if the branch was destroyed, and then don't skip it
  Cargo.lock
  Cargo.toml
  crates/stages/stages/src/stages/merkle.rs
  crates/trie/common/src/prefix_set.rs
  crates/trie/parallel/src/proof.rs
  crates/trie/parallel/src/root.rs
  crates/trie/trie/src/proof/mod.rs
  crates/trie/trie/src/trie.rs
  crates/trie/trie/src/walker.rs
Due: pipeline, trie

remove aliases
  crates/net/eth-wire-types/src/primitives.rs
  crates/net/network-api/src/events.rs
  crates/net/network-api/src/lib.rs
  crates/node/builder/src/components/builder.rs
  crates/node/builder/src/components/mod.rs
Due: networking

remove comment about the problem
  crates/trie/trie/src/node_iter.rs
Due: trie

Path conditions:
  reth binary: any of: bin/**, crates/config/**, crates/metrics/**, crates/tracing/**
  blockchain tree: any of: crates/blockchain-tree/**
  pipeline: any of: crates/stages/**, crates/staged-sync/**
  storage (db): any of: crates/storage/**
  trie: any of: crates/trie/**
  txpool: any of: crates/transaction-pool/**
  networking: any of: crates/net/**
  rpc: any of: crates/rpc/**
  consensus/evm: any of: crates/revm/**, crates/consensus/**
  payload builder: any of: crates/payload/**
  primitives: any of: crates/primitives/**, crates/tasks/**, crates/rlp/**, crates/interfaces/**
