Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

fix: correctly set extra_data
  crates/ethereum/node/src/payload.rs
Due: none

chore: bump alloy 0.15 (#15874)
  Cargo.lock
  Cargo.toml
  crates/ethereum/node/tests/e2e/p2p.rs
  crates/ethereum/node/tests/e2e/rpc.rs
  crates/ethereum/node/tests/e2e/utils.rs
  crates/net/network/tests/it/connect.rs
  crates/rpc/rpc-builder/src/lib.rs
  crates/rpc/rpc/src/otterscan.rs
Due: networking, rpc

fix: correctly set `extra_data` for eth payload builder (#15875)
  crates/ethereum/node/src/payload.rs
Due: none

wip
  crates/primitives/benches/recover_ecdsa_crit.rs
  testing/testing-utils/src/generators.rs
Due: primitives

chore: relax default constraints
  crates/storage/db/benches/criterion.rs
  crates/storage/db/benches/utils.rs
Due: storage (db)

chore: relax default constraints (#15879)
  crates/storage/db/benches/criterion.rs
  crates/storage/db/benches/utils.rs
Due: storage (db)

wip
  crates/chain-state/src/notifications.rs
Due: none

chore: relax more default
  crates/net/eth-wire/tests/fuzz_roundtrip.rs
Due: networking

fix(ci): install cargo-cache in reproducible build action (#15873)
  .github/workflows/reproducible-build.yml
Due: none

chore: relax more default (#15880)
  crates/net/eth-wire/tests/fuzz_roundtrip.rs
Due: networking

bump alloy
  Cargo.lock
  Cargo.toml
Due: none

feat: added support for --debug.rpc-consensus-ws (#15858)
  Cargo.lock
  crates/node/builder/Cargo.toml
  crates/node/builder/src/launch/debug.rs
Due: none

wip
  crates/chain-state/src/notifications.rs
  crates/transaction-pool/src/test_utils/mock.rs
  crates/transaction-pool/src/traits.rs
Due: txpool

wip
  crates/storage/provider/src/providers/static_file/mod.rs
  crates/storage/provider/src/test_utils/blocks.rs
  crates/transaction-pool/src/test_utils/mock.rs
  crates/transaction-pool/src/traits.rs
Due: storage (db), txpool

wip
  Cargo.lock
  Cargo.toml
  crates/storage/provider/src/providers/static_file/mod.rs
  crates/storage/provider/src/test_utils/mock.rs
  crates/transaction-pool/src/test_utils/mock.rs
  crates/transaction-pool/src/traits.rs
Due: storage (db), txpool

chore: add value for version info
  crates/node/metrics/src/version.rs
Due: none

wip
  crates/ethereum/payload/src/lib.rs
  crates/net/network/tests/it/txgossip.rs
  crates/prune/prune/src/segments/user/sender_recovery.rs
  crates/prune/prune/src/segments/user/transaction_lookup.rs
  crates/stages/stages/src/stages/hashing_storage.rs
  crates/stages/stages/src/stages/prune.rs
  crates/stages/stages/src/stages/sender_recovery.rs
  crates/storage/provider/src/providers/database/mod.rs
  crates/transaction-pool/src/test_utils/gen.rs
  crates/transaction-pool/src/test_utils/mock.rs
  crates/transaction-pool/src/traits.rs
  crates/transaction-pool/src/validate/eth.rs
Due: pipeline, storage (db), txpool, networking

feat: add op-reth metric for raw tx forwarding duration
  Cargo.lock
  crates/optimism/rpc/Cargo.toml
  crates/optimism/rpc/src/sequencer.rs
Due: none

chore: add update_db_with_and_check
  crates/stages/stages/src/stages/mod.rs
Due: pipeline

exposed EvmConfig to PayloadServiceBuilder
  Cargo.lock
  crates/ethereum/node/src/payload.rs
  crates/node/builder/Cargo.toml
  crates/node/builder/src/components/builder.rs
  crates/node/builder/src/components/payload.rs
  examples/custom-engine-types/src/main.rs
  examples/custom-evm/src/main.rs
Due: none

chore(metrics): summable reth_info value (#15884)
  crates/node/metrics/src/version.rs
Due: none

chore: add update_db_with_and_check (#15885)
  crates/stages/stages/src/stages/mod.rs
Due: pipeline

Fix symbol names
  crates/optimism/txpool/src/validator.rs
  crates/transaction-pool/src/validate/eth.rs
Due: txpool

made evmconfig generic in payload
  Cargo.lock
  crates/node/builder/Cargo.toml
  crates/node/builder/src/components/builder.rs
  crates/node/builder/src/components/payload.rs
Due: none

chore: simplify op chainspec parser
  crates/optimism/chainspec/src/superchain/chain_spec_macro.rs
  crates/optimism/cli/build.rs
  crates/optimism/cli/src/chainspec.rs
Due: none

update cargo.lock
  Cargo.lock
Due: none

chore: simplify op chainspec parser (#15888)
  crates/optimism/chainspec/src/superchain/chain_spec_macro.rs
  crates/optimism/cli/build.rs
  crates/optimism/cli/src/chainspec.rs
Due: none

fixed clippy warning
  crates/trie/db/src/proof.rs
Due: trie

made DatabaseStorageProof stateful
  crates/trie/db/src/proof.rs
  crates/trie/trie/src/proof/mod.rs
Due: trie

fixed requested changes
  crates/storage/provider/src/providers/state/historical.rs
  crates/storage/provider/src/providers/state/latest.rs
  crates/trie/db/src/lib.rs
  crates/trie/db/src/proof.rs
Due: storage (db), trie

fixed errors
  crates/storage/provider/src/providers/state/historical.rs
  crates/storage/provider/src/providers/state/latest.rs
Due: storage (db)

Path conditions:
  reth binary: any of: bin/**, crates/config/**, crates/metrics/**, crates/tracing/**
  blockchain tree: any of: crates/blockchain-tree/**
  pipeline: any of: crates/stages/**, crates/staged-sync/**
  storage (db): any of: crates/storage/**
  trie: any of: crates/trie/**
  txpool: any of: crates/transaction-pool/**
  networking: any of: crates/net/**
  rpc: any of: crates/rpc/**
  consensus/evm: any of: crates/revm/**, crates/consensus/**
  payload builder: any of: crates/payload/**
  primitives: any of: crates/primitives/**, crates/tasks/**, crates/rlp/**, crates/interfaces/**
