Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

codecov.yml:

coverage:
  status:
    patch: off
    project:
      default:
        threshold: null
        informational: true
github_checks:
  annotations: false
comment:
  layout: "reach, files, flags, components"
  require_changes: true
component_management:
  individual_components:
    - component_id: reth_binary
      name: reth binary
      paths:
        - bin/**
        - crates/config/**
        - crates/metrics/**
        - crates/tracing/**
    - component_id: blockchain_tree
      name: blockchain tree
      paths:
        - crates/blockchain-tree/**
    - component_id: staged_sync
      name: pipeline
      paths:
        - crates/stages/**
        - crates/staged-sync/**
    - component_id: storage
      name: storage (db)
      paths:
        - crates/storage/**
    - component_id: trie
      name: trie
      paths:
        - crates/trie/**
    - component_id: txpool
      name: txpool
      paths:
        - crates/transaction-pool/**
    - component_id: networking
      name: networking
      paths:
        - crates/net/**
    - component_id: rpc
      name: rpc
      paths:
        - crates/rpc/**
    - component_id: core
      name: consensus/evm
      paths:
        - crates/revm/**
        - crates/consensus/**
    - component_id: builder
      name: payload builder
      paths:
        - crates/payload/**
    - component_id: primitives
      name: primitives
      paths:
        - crates/primitives/**
        - crates/tasks/**
        - crates/rlp/**
        - crates/interfaces/**

Revert changes to reth-network
  crates/net/network/src/config.rs
  crates/net/network/src/manager.rs
  crates/net/network/src/network.rs
Due: networking

Disable --docker flag for windows
  crates/node/core/src/args/network.rs
Due: none

sync anchorV2 structure with taiko-mono
  crates/ethereum/evm/src/execute.rs
  crates/ethereum/evm/src/taiko.rs
  crates/rpc/rpc/src/eth/revm_utils.rs
Due: rpc

Add error handling for docker IP resolution
  bin/reth/src/commands/debug_cmd/execution.rs
  bin/reth/src/commands/debug_cmd/in_memory_merkle.rs
  bin/reth/src/commands/debug_cmd/merkle.rs
  bin/reth/src/commands/debug_cmd/replay_engine.rs
  crates/cli/commands/src/stage/run.rs
  crates/net/nat/src/lib.rs
  crates/node/builder/src/builder/mod.rs
  crates/node/core/src/args/network.rs
Due: reth binary, networking

Extract docker IP resolution to own reth-net-nat module
  crates/net/nat/src/docker.rs
  crates/net/nat/src/lib.rs
  crates/node/core/src/args/network.rs
Due: networking

Remove optimism dep for reth-blockchain-tree
  Cargo.lock
  crates/blockchain-tree/Cargo.toml
  crates/blockchain-tree/src/blockchain_tree.rs
  crates/optimism/consensus/src/lib.rs
  crates/optimism/consensus/src/proof.rs
  crates/optimism/consensus/src/validation.rs
  crates/optimism/primitives/src/lib.rs
  crates/primitives/src/proofs.rs
Due: blockchain tree, primitives

feat(rpc): dedup rpc getTxBySenderAndNonce (#10600)
  crates/rpc/rpc-builder/src/lib.rs
  crates/rpc/rpc-eth-api/src/core.rs
  crates/rpc/rpc-eth-api/src/helpers/state.rs
  crates/rpc/rpc-eth-api/src/helpers/transaction.rs
  crates/rpc/rpc/src/otterscan.rs
Due: rpc

Return discv5 local node record in reth_network_api::PeersInfo impl for NetworkHandle
  crates/net/network/src/discovery.rs
  crates/net/network/src/manager.rs
  crates/net/network/src/network.rs
Due: networking

Feat: Extend BuiltPayload type (#10583)
  crates/ethereum/engine-primitives/src/payload.rs
  crates/ethereum/payload/src/lib.rs
  crates/optimism/payload/src/builder.rs
  crates/optimism/payload/src/payload.rs
  crates/payload/builder/src/lib.rs
  crates/payload/builder/src/test_utils.rs
  crates/payload/primitives/src/traits.rs
Due: payload builder

feat: migrate to alloy TxEip1559 (#10262)
  crates/net/eth-wire-types/src/transactions.rs
  crates/primitives/src/alloy_compat.rs
  crates/primitives/src/transaction/compat.rs
  crates/primitives/src/transaction/eip1559.rs
  crates/primitives/src/transaction/mod.rs
  crates/primitives/src/transaction/pooled.rs
  crates/primitives/src/transaction/signature.rs
  crates/storage/codecs/Cargo.toml
  crates/storage/codecs/src/alloy/transaction/eip1559.rs
  crates/storage/codecs/src/alloy/transaction/legacy.rs
  crates/storage/codecs/src/alloy/transaction/mod.rs
  crates/storage/db-api/src/models/mod.rs
  crates/transaction-pool/src/test_utils/gen.rs
  crates/transaction-pool/src/test_utils/mock.rs
Due: storage (db), txpool, networking, primitives

fix: rm extra line in md files
  book/cli/reth/debug/execution.md
  book/cli/reth/debug/in-memory-merkle.md
  book/cli/reth/debug/merkle.md
  book/cli/reth/debug/replay-engine.md
  book/cli/reth/node.md
  book/cli/reth/p2p.md
  book/cli/reth/stage/run.md
  book/cli/reth/stage/unwind.md
Due: none

Fix lint
  book/cli/reth/debug/execution.md
  book/cli/reth/debug/in-memory-merkle.md
  book/cli/reth/debug/merkle.md
  book/cli/reth/debug/replay-engine.md
  book/cli/reth/node.md
  book/cli/reth/p2p.md
  book/cli/reth/stage/run.md
  book/cli/reth/stage/unwind.md
Due: none

Fix lint
  book/cli/reth/node.md
Due: none

chore: resolve pr comments
  crates/net/network/src/transactions/config.rs
  crates/net/network/src/transactions/fetcher.rs
Due: networking

Fix broken test
  crates/net/nat/src/docker.rs
Due: networking

chore: expose TransactionFetcher param in cli (#10635)
  book/cli/reth/debug/execution.md
  book/cli/reth/debug/in-memory-merkle.md
  book/cli/reth/debug/merkle.md
  book/cli/reth/debug/replay-engine.md
  book/cli/reth/node.md
  book/cli/reth/p2p.md
  book/cli/reth/stage/run.md
  book/cli/reth/stage/unwind.md
  crates/net/network/src/transactions/config.rs
  crates/net/network/src/transactions/fetcher.rs
  crates/node/core/src/args/network.rs
Due: networking

Fix lint
  book/cli/reth/debug/execution.md
Due: none

add tests back
  crates/primitives/src/transaction/eip2930.rs
Due: primitives

clean up
  crates/primitives/src/transaction/eip2930.rs
Due: primitives

clean up
  crates/primitives/src/transaction/mod.rs
  crates/primitives/src/transaction/pooled.rs
Due: primitives

fix clippy
  crates/storage/db-api/src/models/mod.rs
Due: storage (db)

fixes
  Cargo.lock
  Cargo.toml
  bin/reth/Cargo.toml
  bin/reth/src/lib.rs
  crates/optimism/bin/Cargo.toml
  crates/optimism/bin/src/main.rs
  crates/optimism/chainspec/src/lib.rs
  crates/optimism/cli/src/chainspec.rs
Due: reth binary

rename to op-reth
  Cargo.toml
Due: none

docs(NodeBuilder): fix broken include_mmd, suppress clippy warn
  crates/node/builder/src/builder/mod.rs
Due: none

fix lint
  crates/optimism/consensus/src/proof.rs
Due: none

add receiptslogfilter
  crates/node/core/src/args/pruning.rs
Due: none

rm useless test
  crates/primitives/src/transaction/mod.rs
Due: primitives

add back test_ensure_backwards_compatibility
  crates/storage/codecs/src/alloy/mod.rs
  crates/storage/codecs/src/alloy/transaction/eip2930.rs
  crates/storage/codecs/src/alloy/transaction/mod.rs
Due: storage (db)

fix conflicts
  crates/primitives/src/transaction/mod.rs
  crates/primitives/src/transaction/sidecar.rs
  crates/primitives/src/transaction/signature.rs
Due: primitives

add bitflag_encoded_bytes back
  crates/storage/codecs/src/alloy/mod.rs
  crates/storage/codecs/src/alloy/transaction/eip4844.rs
  crates/storage/codecs/src/alloy/transaction/mod.rs
Due: storage (db)

add tests back
  crates/storage/codecs/src/alloy/transaction/eip4844.rs
Due: storage (db)

fix clippy
  crates/primitives/src/transaction/mod.rs
  crates/storage/db-api/src/models/mod.rs
Due: storage (db), primitives

respect cli args
  crates/node/builder/src/launch/common.rs
  crates/node/core/src/args/pruning.rs
  crates/node/core/src/node_config.rs
Due: none

eip2930: use alloy `TxEip2930` (#10623)
  crates/primitives/src/alloy_compat.rs
  crates/primitives/src/transaction/compat.rs
  crates/primitives/src/transaction/eip2930.rs
  crates/primitives/src/transaction/mod.rs
  crates/primitives/src/transaction/pooled.rs
  crates/storage/codecs/src/alloy/transaction/eip2930.rs
  crates/storage/codecs/src/alloy/transaction/mod.rs
  crates/storage/db-api/src/models/mod.rs
  crates/transaction-pool/src/test_utils/mock.rs
Due: storage (db), txpool, primitives

chore(deps): bump op-alloy-rpc-types
  Cargo.lock
  Cargo.toml
  crates/optimism/rpc/src/eth/receipt.rs
Due: none
