Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

codecov.yml:

coverage:
  status:
    patch: off
    project:
      default:
        threshold: null
        informational: true
github_checks:
  annotations: false
comment:
  layout: "reach, files, flags, components"
  require_changes: true
component_management:
  individual_components:
    - component_id: reth_binary
      name: reth binary
      paths:
        - bin/**
        - crates/config/**
        - crates/metrics/**
        - crates/tracing/**
    - component_id: blockchain_tree
      name: blockchain tree
      paths:
        - crates/blockchain-tree/**
    - component_id: staged_sync
      name: pipeline
      paths:
        - crates/stages/**
        - crates/staged-sync/**
    - component_id: storage
      name: storage (db)
      paths:
        - crates/storage/**
    - component_id: trie
      name: trie
      paths:
        - crates/trie/**
    - component_id: txpool
      name: txpool
      paths:
        - crates/transaction-pool/**
    - component_id: networking
      name: networking
      paths:
        - crates/net/**
    - component_id: rpc
      name: rpc
      paths:
        - crates/rpc/**
    - component_id: core
      name: consensus/evm
      paths:
        - crates/revm/**
        - crates/consensus/**
    - component_id: builder
      name: payload builder
      paths:
        - crates/payload/**
    - component_id: primitives
      name: primitives
      paths:
        - crates/primitives/**
        - crates/tasks/**
        - crates/rlp/**
        - crates/interfaces/**

test(storage): recover senders if not found in database (#4470)
  crates/storage/provider/Cargo.toml
  crates/storage/provider/src/providers/database/mod.rs
  crates/storage/provider/src/providers/database/provider.rs
Due: storage (db)

chore(executor): optional first block
  crates/revm/src/processor.rs
Due: consensus/evm

chore(executor): split bundle state on write
  crates/storage/provider/src/change.rs
Due: storage (db)

chore(executor): split bundle state on write (#4474)
  crates/storage/provider/src/change.rs
Due: storage (db)

chore(executor): optional first block (#4473)
  crates/revm/src/processor.rs
Due: consensus/evm

docs: add note
  crates/transaction-pool/src/pool/best.rs
Due: txpool

chore: fix deps sanity check (#4462)
  crates/consensus/beacon/src/engine/mod.rs
  crates/transaction-pool/src/pool/best.rs
Due: txpool, consensus/evm

update revm. Add Tree traces in make_canonical
  Cargo.lock
  Cargo.toml
  crates/blockchain-tree/src/blockchain_tree.rs
  crates/primitives/src/account.rs
  crates/storage/provider/src/chain.rs
  crates/storage/provider/src/change.rs
Due: blockchain tree, storage (db), primitives

add-semaphore-to-EthStateCacheService
  crates/rpc/rpc/src/eth/cache/mod.rs
Due: rpc

chore: add cancun to hive job
  .github/workflows/hive.yml
Due: none

replace paradigmxyz fork with ethereum upstream
  .github/workflows/hive.yml
Due: none

feat: pass parent beacon block root to payload builder (#4425)
  crates/payload/basic/src/lib.rs
  crates/payload/builder/src/payload.rs
Due: payload builder

feat(txpool): add `skip_blob_transactions` function to `BestTransactions` (#4455)
  crates/transaction-pool/src/pool/best.rs
  crates/transaction-pool/src/pool/pending.rs
  crates/transaction-pool/src/traits.rs
Due: txpool

frienship ended with peeking next
  crates/storage/provider/src/providers/database/provider.rs
Due: storage (db)

chore: add cancun to hive job (#4478)
  .github/workflows/hive.yml
Due: none

move max_concurrent_db_operations inside EthCahcheStateConfig
  crates/rpc/rpc/src/eth/cache/config.rs
  crates/rpc/rpc/src/eth/cache/mod.rs
Due: rpc

perf: skip blobs if no blob space available
  crates/payload/basic/src/lib.rs
  crates/transaction-pool/src/pool/best.rs
  crates/transaction-pool/src/traits.rs
Due: txpool, payload builder

add metrics counter for finished spawned tasks
  crates/tasks/src/lib.rs
  crates/tasks/src/metrics.rs
Due: primitives

feat: add get blobs exact
  crates/payload/basic/src/lib.rs
  crates/transaction-pool/src/blobstore/mem.rs
  crates/transaction-pool/src/blobstore/mod.rs
  crates/transaction-pool/src/blobstore/noop.rs
  crates/transaction-pool/src/lib.rs
  crates/transaction-pool/src/noop.rs
  crates/transaction-pool/src/traits.rs
Due: txpool, payload builder

chore: rename var
  crates/rpc/rpc/src/eth/cache/config.rs
  crates/rpc/rpc/src/eth/cache/mod.rs
Due: rpc

add semaphore to EthStateCacheService (#4477)
  crates/rpc/rpc/src/eth/cache/config.rs
  crates/rpc/rpc/src/eth/cache/mod.rs
Due: rpc

add helper fn
  crates/transaction-pool/src/pool/mod.rs
Due: txpool

remove redundant clones
  bin/reth/src/recover/storage_tries.rs
  crates/consensus/beacon/src/engine/mod.rs
  crates/prune/src/pruner.rs
  crates/storage/provider/src/providers/database/provider.rs
Due: reth binary, storage (db), consensus/evm

Remove redundant clones (#4485)
  bin/reth/src/recover/storage_tries.rs
  crates/consensus/beacon/src/engine/mod.rs
  crates/prune/src/pruner.rs
  crates/storage/provider/src/providers/database/provider.rs
Due: reth binary, storage (db), consensus/evm

use IncCounterOnDrop
  crates/tasks/src/lib.rs
  crates/tasks/src/metrics.rs
Due: primitives

feat(state): receipts pruning
  crates/blockchain-tree/src/blockchain_tree.rs
  crates/blockchain-tree/src/shareable.rs
  crates/consensus/auto-seal/src/lib.rs
  crates/consensus/beacon/src/engine/test_utils.rs
  crates/payload/basic/src/lib.rs
  crates/primitives/src/proofs.rs
  crates/primitives/src/prune/part.rs
  crates/revm/src/factory.rs
  crates/revm/src/processor.rs
  crates/rpc/rpc/src/eth/api/pending_block.rs
  crates/rpc/rpc/src/eth/cache/mod.rs
  crates/stages/src/stages/execution.rs
  crates/storage/provider/src/chain.rs
  crates/storage/provider/src/change.rs
  crates/storage/provider/src/lib.rs
  crates/storage/provider/src/providers/database/provider.rs
  crates/storage/provider/src/test_utils/blocks.rs
  crates/storage/provider/src/test_utils/executor.rs
  crates/storage/provider/src/traits/executor.rs
  crates/storage/provider/src/traits/mod.rs
Due: blockchain tree, pipeline, storage (db), rpc, consensus/evm, payload builder, primitives

fix(State): revert_to had wrong index
  crates/storage/provider/src/change.rs
Due: storage (db)

shrink block receipts hashmap
  crates/revm/src/processor.rs
Due: consensus/evm

more comments
  crates/storage/provider/src/providers/database/provider.rs
Due: storage (db)

reserve senders
  crates/storage/provider/src/providers/database/provider.rs
Due: storage (db)

feat(storage): better sender recovery if not found in database (#4471)
  crates/storage/provider/src/providers/database/mod.rs
  crates/storage/provider/src/providers/database/provider.rs
  crates/transaction-pool/src/pool/best.rs
Due: storage (db), txpool

feat: add get blobs exact (#4482)
  crates/payload/basic/src/lib.rs
  crates/transaction-pool/src/blobstore/mem.rs
  crates/transaction-pool/src/blobstore/mod.rs
  crates/transaction-pool/src/blobstore/noop.rs
  crates/transaction-pool/src/lib.rs
  crates/transaction-pool/src/noop.rs
  crates/transaction-pool/src/traits.rs
Due: txpool, payload builder
