Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

codecov.yml:

coverage:
  status:
    patch: off
    project:
      default:
        threshold: null
        informational: true
github_checks:
  annotations: false
comment:
  layout: "reach, files, flags, components"
  require_changes: true
component_management:
  individual_components:
    - component_id: reth_binary
      name: reth binary
      paths:
        - bin/**
        - crates/config/**
        - crates/metrics/**
        - crates/tracing/**
    - component_id: blockchain_tree
      name: blockchain tree
      paths:
        - crates/blockchain-tree/**
    - component_id: staged_sync
      name: pipeline
      paths:
        - crates/stages/**
        - crates/staged-sync/**
    - component_id: storage
      name: storage (db)
      paths:
        - crates/storage/**
    - component_id: trie
      name: trie
      paths:
        - crates/trie/**
    - component_id: txpool
      name: txpool
      paths:
        - crates/transaction-pool/**
    - component_id: networking
      name: networking
      paths:
        - crates/net/**
    - component_id: rpc
      name: rpc
      paths:
        - crates/rpc/**
    - component_id: core
      name: consensus/evm
      paths:
        - crates/revm/**
        - crates/consensus/**
    - component_id: builder
      name: payload builder
      paths:
        - crates/payload/**
    - component_id: primitives
      name: primitives
      paths:
        - crates/primitives/**
        - crates/tasks/**
        - crates/rlp/**
        - crates/interfaces/**

Update storage-tries.mdx
  docs/vocs/docs/pages/cli/reth/recover/storage-tries.mdx
Due: none

Update num-blocks.mdx
  docs/vocs/docs/pages/cli/reth/stage/unwind/num-blocks.mdx
Due: none

Update drop.mdx
  docs/vocs/docs/pages/cli/reth/stage/drop.mdx
Due: none

Update dump.mdx
  docs/vocs/docs/pages/cli/reth/stage/dump.mdx
Due: none

Update run.mdx
  docs/vocs/docs/pages/cli/reth/stage/run.mdx
Due: none

Update unwind.mdx
  docs/vocs/docs/pages/cli/reth/stage/unwind.mdx
Due: none

Update db.mdx
  docs/vocs/docs/pages/cli/reth/db.mdx
Due: none

Update download.mdx
  docs/vocs/docs/pages/cli/reth/download.mdx
Due: none

fix: replace panic! calls in engine API functions
  bin/reth-bench/src/valid_payload.rs
Due: reth binary

fix: Bearer token parsing vulnerability (#18712)
  crates/rpc/rpc-layer/src/jwt_validator.rs
Due: rpc

feat(reth-rpc-convert): make `context_for_block` and `context_for_next_block`fallible
  crates/engine/tree/src/tree/payload_validator.rs
  crates/engine/util/src/reorg.rs
  crates/ethereum/evm/src/lib.rs
  crates/ethereum/evm/src/test_utils.rs
  crates/evm/evm/src/lib.rs
  crates/evm/evm/src/noop.rs
  crates/optimism/evm/src/lib.rs
  crates/rpc/rpc-eth-api/src/helpers/call.rs
  examples/custom-beacon-withdrawals/src/main.rs
  examples/custom-node/src/evm/config.rs
Due: rpc

fix: enforce error::Error type for conversion traits
  crates/rpc/rpc-convert/src/transaction.rs
Due: rpc

refactor(test): simplify e2e reorg trie test to match actual incident
  crates/e2e-test-utils/tests/e2e_testsuite/testdata/trie_corruption/genesis.json
  crates/e2e-test-utils/tests/e2e_testsuite/trie_updates_test.rs
Due: none

fix: resolve compilation error in test genesis setup
  crates/e2e-test-utils/tests/e2e_testsuite/trie_updates_test.rs
Due: none

chore(node): compact duration formatting in stage progress logs
  crates/node/events/src/node.rs
Due: none

refactor: introduce new macro for error handling in payload validation
  crates/engine/tree/src/tree/payload_validator.rs
Due: none

Update crates/engine/tree/src/tree/payload_validator.rs
  crates/engine/tree/src/tree/payload_validator.rs
Due: none

refactor strategy + post hash validation
  crates/engine/tree/src/tree/payload_processor/mod.rs
  crates/engine/tree/src/tree/payload_validator.rs
Due: none

refactor: enhance payload validation and strategy handling in block processing
  crates/engine/tree/src/tree/payload_validator.rs
Due: none

small fix
  crates/engine/tree/src/tree/payload_validator.rs
Due: none

refactor: remove payload_validator.rs as part of code cleanup
  crates/engine/tree/src/tree/payload_validator.rs
Due: none

fix clippy
  crates/engine/tree/src/tree/payload_validator.rs
Due: none

update tests
  crates/engine/tree/src/tree/tests.rs
Due: none

added comments back
  crates/engine/tree/src/tree/payload_validator.rs
Due: none

fmt
  crates/engine/tree/src/tree/payload_validator.rs
Due: none

Refactor payload processor argument handling in validation logic
  crates/engine/tree/src/tree/payload_validator.rs
  crates/engine/tree/src/tree/tests.rs
Due: none

feat: add optional state root calc for flashblocks
  Cargo.lock
  crates/optimism/flashblocks/Cargo.toml
  crates/optimism/flashblocks/src/consensus.rs
  crates/optimism/flashblocks/src/sequence.rs
  crates/optimism/flashblocks/src/service.rs
  crates/optimism/flashblocks/src/worker.rs
Due: none

fix: doc
  crates/optimism/flashblocks/src/service.rs
Due: none

feat: keep track of most recently emitted range update and change interval
  crates/net/network/src/session/active.rs
  crates/net/network/src/session/mod.rs
Due: networking

refactor: Simplify the process of prune handling for u64::MAX shard
  crates/prune/prune/src/segments/user/history.rs
  crates/storage/db-api/src/cursor.rs
Due: storage (db)

perf(engine): reduce redundant hash calculations
  crates/engine/invalid-block-hooks/src/witness.rs
  crates/engine/tree/src/tree/mod.rs
Due: none

perf: reduce DEFAULT_MAX_PROOF_TASK_CONCURRENCY from 256 to 128
  crates/engine/primitives/src/config.rs
Due: none

fix: replace panic-prone expect() with safe Option handling in remove_blocks_above
  crates/storage/provider/src/writer/mod.rs
Due: storage (db)

fix compile errors:
  crates/engine/tree/src/tree/payload_validator.rs
Due: none

refactor(transaction-pool): pass state provider as parameter to batch validation
  crates/optimism/txpool/src/validator.rs
  crates/transaction-pool/src/lib.rs
  crates/transaction-pool/src/noop.rs
  crates/transaction-pool/src/test_utils/okvalidator.rs
  crates/transaction-pool/src/validate/eth.rs
  crates/transaction-pool/src/validate/mod.rs
  crates/transaction-pool/src/validate/task.rs
Due: txpool

chore: Accept range in HashedPostState::from_reverts
  crates/engine/tree/src/tree/mod.rs
  crates/engine/tree/src/tree/payload_validator.rs
  crates/storage/db-api/src/models/accounts.rs
  crates/storage/provider/src/providers/state/historical.rs
  crates/trie/db/src/state.rs
Due: storage (db), trie

chore(trie): Implement clear trie changeset methods
  crates/storage/db-api/src/models/accounts.rs
  crates/storage/provider/src/providers/database/provider.rs
  crates/storage/storage-api/src/trie.rs
Due: storage (db)

feat(downloaders): add file-client feature gate
  crates/cli/commands/Cargo.toml
  crates/net/downloaders/Cargo.toml
  crates/net/downloaders/src/lib.rs
  crates/net/downloaders/src/test_utils/mod.rs
Due: networking
