Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

codecov.yml:

coverage:
  status:
    patch: off
    project:
      default:
        threshold: null
        informational: true
github_checks:
  annotations: false
comment:
  layout: "reach, files, flags, components"
  require_changes: true
component_management:
  individual_components:
    - component_id: reth_binary
      name: reth binary
      paths:
        - bin/**
        - crates/config/**
        - crates/metrics/**
        - crates/tracing/**
    - component_id: blockchain_tree
      name: blockchain tree
      paths:
        - crates/blockchain-tree/**
    - component_id: staged_sync
      name: pipeline
      paths:
        - crates/stages/**
        - crates/staged-sync/**
    - component_id: storage
      name: storage (db)
      paths:
        - crates/storage/**
    - component_id: trie
      name: trie
      paths:
        - crates/trie/**
    - component_id: txpool
      name: txpool
      paths:
        - crates/transaction-pool/**
    - component_id: networking
      name: networking
      paths:
        - crates/net/**
    - component_id: rpc
      name: rpc
      paths:
        - crates/rpc/**
    - component_id: core
      name: consensus/evm
      paths:
        - crates/revm/**
        - crates/consensus/**
    - component_id: builder
      name: payload builder
      paths:
        - crates/payload/**
    - component_id: primitives
      name: primitives
      paths:
        - crates/primitives/**
        - crates/tasks/**
        - crates/rlp/**
        - crates/interfaces/**

refactor: use chainspec.next_block_base_fee directly
  crates/rpc/rpc-eth-types/src/fee_history.rs
Due: rpc

perf(trie): `ParallelSparseTrie::get_changed_subtries` method (#16908)
  crates/trie/common/src/prefix_set.rs
  crates/trie/sparse/src/parallel_trie.rs
Due: trie

lint
  crates/rpc/rpc-eth-api/src/helpers/fee.rs
  crates/rpc/rpc-eth-types/src/fee_history.rs
Due: rpc

lint
  crates/rpc/rpc-eth-api/src/helpers/fee.rs
Due: rpc

Update fee.rs
  crates/rpc/rpc-eth-api/src/helpers/fee.rs
Due: rpc

Update fee_history.rs
  crates/rpc/rpc-eth-types/src/fee_history.rs
Due: rpc

perf: optimize chain_spec access in fee history
  crates/rpc/rpc-eth-api/src/helpers/fee.rs
Due: rpc

Update core.rs
  crates/rpc/rpc/src/eth/core.rs
Due: rpc

Update maintain.rs
  crates/transaction-pool/src/maintain.rs
Due: txpool

style: improve code formatting and remove excessive comments
  crates/rpc/rpc-eth-api/src/helpers/fee.rs
  crates/rpc/rpc-eth-types/src/fee_history.rs
Due: rpc

docs: clarify header field limitations for next_block_base_fee
  crates/chainspec/src/api.rs
Due: none

lint
  crates/chainspec/src/api.rs
  crates/rpc/rpc-eth-api/src/helpers/fee.rs
Due: rpc

refactor: update Optimism tests to use centralized base fee calculation
  crates/optimism/consensus/src/validation/mod.rs
Due: none

fix: add backticks to code items in documentation
  crates/chainspec/src/api.rs
Due: none

lint
  crates/chainspec/src/api.rs
  crates/optimism/consensus/src/validation/mod.rs
Due: none

Update api.rs
  crates/chainspec/src/api.rs
Due: none

chore(tx-validation): reduce the number of validate methods
  crates/optimism/txpool/src/validator.rs
  crates/transaction-pool/src/validate/eth.rs
Due: txpool

WIP
  crates/trie/sparse/src/parallel_trie.rs
Due: trie

Expose payload_id so it's possible to use this function in id calculation outside
  crates/ethereum/engine-primitives/src/lib.rs
  crates/ethereum/engine-primitives/src/payload.rs
  crates/optimism/payload/src/lib.rs
  crates/optimism/payload/src/payload.rs
Due: none

Updated based on PR feedback, added unit tests
  crates/trie/sparse/src/parallel_trie.rs
Due: trie

Update debug.rs
  crates/node/builder/src/launch/debug.rs
Due: none

Clippy fixes
  crates/trie/sparse/src/parallel_trie.rs
Due: trie

chore(tx-validation): remove redundant validate methods (#16929)
  crates/optimism/txpool/src/validator.rs
  crates/transaction-pool/src/validate/eth.rs
Due: txpool

docs: Fix Typo in DebugNode Trait Documentation (#16932)
  crates/node/builder/src/launch/debug.rs
Due: none

feat: require only account & bytecode reader for tx validation
  crates/optimism/txpool/src/validator.rs
  crates/storage/storage-api/src/state.rs
  crates/transaction-pool/src/validate/eth.rs
Due: storage (db), txpool

chore: add type alias for PayloadAttributes
  crates/node/types/src/lib.rs
Due: none

refactor: replace DebugNode trait with RpcBlockConversion in NodeTypes
  Cargo.lock
  crates/alloy-provider/Cargo.toml
  crates/alloy-provider/src/lib.rs
  crates/ethereum/node/Cargo.toml
  crates/ethereum/node/src/node.rs
  crates/ethereum/primitives/Cargo.toml
  crates/ethereum/primitives/src/lib.rs
  crates/ethereum/primitives/src/rpc.rs
  crates/node/builder/Cargo.toml
  crates/node/builder/src/builder/mod.rs
  crates/node/builder/src/launch/debug.rs
  crates/node/builder/src/lib.rs
  crates/optimism/node/Cargo.toml
  crates/optimism/node/src/node.rs
  crates/optimism/primitives/Cargo.toml
  crates/optimism/primitives/src/lib.rs
  crates/optimism/primitives/src/rpc.rs
  crates/primitives-traits/src/lib.rs
  crates/primitives-traits/src/rpc.rs
Due: none

fix feature propagation
  crates/ethereum/primitives/Cargo.toml
  crates/node/builder/Cargo.toml
  crates/optimism/primitives/Cargo.toml
Due: none

No need for optional here
  crates/alloy-provider/src/lib.rs
  crates/ethereum/primitives/src/rpc.rs
  crates/node/builder/src/launch/debug.rs
  crates/optimism/primitives/src/rpc.rs
  crates/primitives-traits/src/rpc.rs
Due: none

Fetch full block
  crates/alloy-provider/src/lib.rs
Due: none

Use convert_transactions()
  crates/ethereum/primitives/src/rpc.rs
Due: none

refactor: move metered execution functions to EngineApiTreeHandler
  crates/engine/tree/src/tree/mod.rs
Due: none

chore: remove duplicate metered execution functions from ExecutorMetrics
  crates/evm/evm/src/metrics.rs
Due: none

Update crates/trie/sparse/src/parallel_trie.rs
  crates/trie/sparse/src/parallel_trie.rs
Due: trie
