Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

docs: update memory-block-buffer-target default
  docs/vocs/docs/pages/cli/reth/node.mdx
  docs/vocs/docs/pages/sdk/examples/standalone-components.mdx
Due: none

fix(arbitrum/follower): update forkchoice to new head after import so eth_blockNumber advances
  crates/arbitrum/node/src/node.rs
Due: none

remove the not used executor
  crates/engine/tree/src/tree/payload_processor/mod.rs
  crates/engine/tree/src/tree/payload_processor/sparse_trie.rs
Due: none

fix(arbitrum/follower): call forkchoiceUpdated after non-Send locals drop to satisfy Send and advance head
  crates/arbitrum/node/src/node.rs
Due: none

fix(arbitrum/follower): update forkchoice after direct import so eth_blockNumber advances
  crates/arbitrum/node/src/node.rs
Due: none

feat(optimism): add supervisor_revalidation_duration_seconds metrics (#17897)
  crates/optimism/txpool/src/maintain.rs
Due: none

fix(arbitrum/follower): make future Send by doing sync execution before await; fix ArbInternalTx fields; update forkchoice to advance head
  crates/arbitrum/node/src/node.rs
Due: none

fix(arbitrum/follower): execute message synchronously before await; update forkchoice so eth_blockNumber advances; align ProviderFactory generics
  crates/arbitrum/node/src/node.rs
Due: none

feat(engine): set default_memory_block_buffer_target to zero (#17963)
  crates/engine/primitives/src/config.rs
  docs/vocs/docs/pages/cli/reth/node.mdx
  docs/vocs/docs/pages/sdk/examples/standalone-components.mdx
Due: none

chore: rename to "Engine Task"
  crates/engine/tree/src/tree/mod.rs
  crates/engine/tree/src/tree/tests.rs
Due: none

fix: Properly handle unwinds in forkchoiceUpdated
  crates/engine/tree/src/tree/mod.rs
Due: none

fix(arbitrum/follower): align message kinds with Nitro; implement EthDeposit (12) and BatchPostingReport (13) parsing; remove incorrect len checks; use msg.batch_gas_cost + extraGas
  crates/arbitrum/node/src/node.rs
Due: none

chore(engine): rename block validation task (#17964)
  crates/engine/tree/src/tree/mod.rs
  crates/engine/tree/src/tree/tests.rs
Due: none

fix(arbitrum/follower): treat Initialize (kind=11) as no-op during replay; Sepolia genesis is baked-in
  crates/arbitrum/node/src/node.rs
Due: none

docs(trie): document MDBX ordering assumptions in TrieWalker and Trie… (#17906)
  crates/trie/trie/src/node_iter.rs
  crates/trie/trie/src/trie_cursor/mod.rs
  crates/trie/trie/src/walker.rs
Due: trie

fix(arbitrum/follower): allow missing batch_gas_cost for kind=13 by defaulting to 0; log warning and proceed to unblock replay
  crates/arbitrum/node/src/node.rs
Due: none

fix(arbitrum/follower): submit newPayload for imported block before forkchoice; advance engine head so eth_blockNumber progresses
  crates/arbitrum/node/src/node.rs
Due: none

fix(arbitrum/follower): call engine newPayload with generic PayloadTypes and import BlockReader; ensure engine head advances
  crates/arbitrum/node/src/node.rs
Due: none

perf
  crates/net/network/src/transactions/mod.rs
Due: networking

fix: use len() instead of iter().count() for trace logging (#17968)
  crates/net/network/src/transactions/mod.rs
Due: networking

fix(net): Receipts69 should respond with Receipts69 message (#17880)
  crates/net/network/src/session/active.rs
  crates/net/network/tests/it/requests.rs
Due: networking

fix(arbitrum/follower): wire follower executor and submit newPayload+forkchoice so engine head advances
  crates/arbitrum/node/src/node.rs
Due: none

update docstring
  crates/engine/tree/src/tree/payload_processor/prewarm.rs
Due: none

add comments
  crates/engine/tree/src/tree/payload_validator.rs
Due: none

rebased alloy-evm alexey patch to 0.18.3
  Cargo.lock
Due: none

op-evm patch
  Cargo.lock
  Cargo.toml
Due: none

chore: add traces to txn result caching
  crates/engine/tree/src/tree/payload_processor/prewarm.rs
  crates/engine/tree/src/tree/payload_validator.rs
  crates/evm/evm/src/metrics.rs
Due: none

new patch
  Cargo.lock
  Cargo.toml
Due: none

fixes
  Cargo.toml
  crates/ethereum/evm/Cargo.toml
  crates/storage/codecs/src/alloy/header.rs
Due: storage (db)

fixes
  crates/storage/codecs/src/alloy/header.rs
Due: storage (db)

fix: ParallelSparseTrie::update_leaf edge-case, and not correctly clearing all fields for re-use (#17955)
  crates/trie/sparse-parallel/src/trie.rs
Due: trie

perf(trie): default ParallelSparseTrie to enabled (accounts only still) (#17956)
  crates/engine/primitives/src/config.rs
  crates/engine/tree/src/tree/payload_processor/mod.rs
  crates/engine/tree/tests/e2e-testsuite/main.rs
  crates/node/core/src/args/engine.rs
  docs/cli/help.rs
  docs/vocs/docs/pages/cli/reth/node.mdx
Due: none

Path conditions:
  reth binary: any of: bin/**, crates/config/**, crates/metrics/**, crates/tracing/**
  blockchain tree: any of: crates/blockchain-tree/**
  pipeline: any of: crates/stages/**, crates/staged-sync/**
  storage (db): any of: crates/storage/**
  trie: any of: crates/trie/**
  txpool: any of: crates/transaction-pool/**
  networking: any of: crates/net/**
  rpc: any of: crates/rpc/**
  consensus/evm: any of: crates/revm/**, crates/consensus/**
  payload builder: any of: crates/payload/**
  primitives: any of: crates/primitives/**, crates/tasks/**, crates/rlp/**, crates/interfaces/**
