Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

codecov.yml:

coverage:
  status:
    patch: off
    project:
      default:
        threshold: null
        informational: true
github_checks:
  annotations: false
comment:
  layout: "reach, files, flags, components"
  require_changes: true
component_management:
  individual_components:
    - component_id: reth_binary
      name: reth binary
      paths:
        - bin/**
        - crates/config/**
        - crates/metrics/**
        - crates/tracing/**
    - component_id: blockchain_tree
      name: blockchain tree
      paths:
        - crates/blockchain-tree/**
    - component_id: staged_sync
      name: pipeline
      paths:
        - crates/stages/**
        - crates/staged-sync/**
    - component_id: storage
      name: storage (db)
      paths:
        - crates/storage/**
    - component_id: trie
      name: trie
      paths:
        - crates/trie/**
    - component_id: txpool
      name: txpool
      paths:
        - crates/transaction-pool/**
    - component_id: networking
      name: networking
      paths:
        - crates/net/**
    - component_id: rpc
      name: rpc
      paths:
        - crates/rpc/**
    - component_id: core
      name: consensus/evm
      paths:
        - crates/revm/**
        - crates/consensus/**
    - component_id: builder
      name: payload builder
      paths:
        - crates/payload/**
    - component_id: primitives
      name: primitives
      paths:
        - crates/primitives/**
        - crates/tasks/**
        - crates/rlp/**
        - crates/interfaces/**

remove default from imports
  crates/revm/src/processor.rs
Due: consensus/evm

chore(merkle): remove last walker key from checkpoint (#5069)
  crates/primitives/src/stage/checkpoints.rs
  crates/stages/src/stages/merkle.rs
Due: pipeline, primitives

feat(rpc): enable `eth_getProof`
  crates/revm/src/processor.rs
  crates/rpc/rpc-types/src/eth/account.rs
  crates/rpc/rpc/src/eth/api/server.rs
  crates/rpc/rpc/src/eth/api/state.rs
  crates/storage/provider/src/providers/bundle_state_provider.rs
  crates/storage/provider/src/providers/state/historical.rs
  crates/storage/provider/src/providers/state/latest.rs
  crates/storage/provider/src/providers/state/macros.rs
  crates/storage/provider/src/test_utils/mock.rs
  crates/storage/provider/src/test_utils/noop.rs
  crates/storage/provider/src/traits/state.rs
Due: storage (db), rpc, consensus/evm

fix rpc it test
  crates/rpc/rpc-builder/tests/it/http.rs
Due: rpc

chore(cli): allow dupsort in db list (#5068)
  bin/reth/src/db/list.rs
Due: reth binary

feat: add more rpc-api bindings
  crates/rpc/rpc-api/src/bundle.rs
  crates/rpc/rpc-api/src/lib.rs
  crates/rpc/rpc-api/src/mev.rs
Due: rpc

feat: add more rpc-api bindings (#5072)
  crates/rpc/rpc-api/src/bundle.rs
  crates/rpc/rpc-api/src/lib.rs
  crates/rpc/rpc-api/src/mev.rs
Due: rpc

move conversion fns to rpc compat
  crates/consensus/beacon/src/engine/mod.rs
  crates/rpc/rpc-types-compat/src/lib.rs
  crates/rpc/rpc-types-compat/src/proof.rs
  crates/rpc/rpc-types/src/eth/account.rs
  crates/rpc/rpc/src/eth/api/state.rs
  crates/rpc/rpc/src/eth/api/transactions.rs
  examples/trace-transaction-cli/src/main.rs
Due: rpc, consensus/evm

feat: payload future also sync
  crates/payload/builder/src/service.rs
Due: payload builder

feat: payload future also sync (#5073)
  crates/payload/builder/src/service.rs
Due: payload builder

refactor tracing call pool to blocking task pool
  crates/rpc/rpc-builder/src/auth.rs
  crates/rpc/rpc-builder/src/eth.rs
  crates/rpc/rpc-builder/src/lib.rs
  crates/rpc/rpc/src/blocking_pool.rs
  crates/rpc/rpc/src/debug.rs
  crates/rpc/rpc/src/eth/api/mod.rs
  crates/rpc/rpc/src/eth/api/server.rs
  crates/rpc/rpc/src/eth/api/state.rs
  crates/rpc/rpc/src/eth/api/transactions.rs
  crates/rpc/rpc/src/eth/error.rs
  crates/rpc/rpc/src/lib.rs
  crates/rpc/rpc/src/trace.rs
Due: rpc

feat(rpc): enable `eth_getProof` (#5071)
  crates/consensus/beacon/src/engine/mod.rs
  crates/revm/src/processor.rs
  crates/rpc/rpc-builder/src/auth.rs
  crates/rpc/rpc-builder/src/eth.rs
  crates/rpc/rpc-builder/src/lib.rs
  crates/rpc/rpc-builder/tests/it/http.rs
  crates/rpc/rpc-types-compat/src/lib.rs
  crates/rpc/rpc-types-compat/src/proof.rs
  crates/rpc/rpc-types/src/eth/account.rs
  crates/rpc/rpc/src/blocking_pool.rs
  crates/rpc/rpc/src/debug.rs
  crates/rpc/rpc/src/eth/api/mod.rs
  crates/rpc/rpc/src/eth/api/server.rs
  crates/rpc/rpc/src/eth/api/state.rs
  crates/rpc/rpc/src/eth/api/transactions.rs
  crates/rpc/rpc/src/eth/error.rs
  crates/rpc/rpc/src/lib.rs
  crates/rpc/rpc/src/trace.rs
  crates/storage/provider/src/providers/bundle_state_provider.rs
  crates/storage/provider/src/providers/state/historical.rs
  crates/storage/provider/src/providers/state/latest.rs
  crates/storage/provider/src/providers/state/macros.rs
  crates/storage/provider/src/test_utils/mock.rs
  crates/storage/provider/src/test_utils/noop.rs
  crates/storage/provider/src/traits/state.rs
  examples/trace-transaction-cli/src/main.rs
Due: storage (db), rpc, consensus/evm

complete ✨
  crates/rpc/rpc-api/src/trace.rs
  crates/rpc/rpc-types/src/eth/trace/mod.rs
  crates/rpc/rpc-types/src/eth/trace/tracerequest.rs
  crates/rpc/rpc-types/src/eth/tracerequest.rs
  crates/rpc/rpc/src/trace.rs
  examples/trace-transaction-cli/src/main.rs
Due: rpc

update
  examples/trace-transaction-cli/src/main.rs
Due: none

update
  crates/net/network/src/transactions.rs
Due: networking

recommendations
  crates/rpc/rpc-types/src/eth/trace/tracerequest.rs
  crates/rpc/rpc/src/trace.rs
  examples/trace-transaction-cli/src/main.rs
Due: rpc

fmt
  crates/rpc/rpc-types/src/eth/trace/tracerequest.rs
  crates/rpc/rpc/src/trace.rs
  examples/trace-transaction-cli/src/main.rs
Due: rpc

smol touchup
  crates/rpc/rpc-types-compat/src/log.rs
  crates/rpc/rpc-types/src/eth/transaction/access_list.rs
Due: rpc

export pub
  crates/rpc/rpc-types-compat/src/log.rs
  crates/rpc/rpc-types-compat/src/transaction/mod.rs
  crates/rpc/rpc-types/src/eth/transaction/access_list.rs
  crates/rpc/rpc-types/src/eth/transaction/mod.rs
Due: rpc

cleanup deps
  Cargo.lock
  crates/rpc/rpc-types/Cargo.toml
Due: rpc

adding access list to rpc type crate (#4992)
  crates/rpc/rpc-types-compat/src/log.rs
  crates/rpc/rpc-types-compat/src/transaction/mod.rs
  crates/rpc/rpc-types/Cargo.toml
  crates/rpc/rpc-types/src/eth/call.rs
  crates/rpc/rpc-types/src/eth/transaction/access_list.rs
  crates/rpc/rpc-types/src/eth/transaction/mod.rs
Due: rpc

saving tempfile approach. still unable to successfully write chainspec to file and read - invalid format error
  Cargo.lock
  bin/reth/src/node/mod.rs
  crates/consensus/auto-seal/Cargo.toml
  crates/consensus/auto-seal/tests/it/auto_mine.rs
  crates/rpc/rpc/src/eth/api/server.rs
Due: reth binary, rpc, consensus/evm

fix names
  crates/rpc/rpc-types/src/eth/trace/tracerequest.rs
Due: rpc

perf: get rid of body clone
  crates/rpc/rpc-types-compat/src/block.rs
Due: rpc

Builder style implementation for trace_call (#5074)
  crates/rpc/rpc-api/src/trace.rs
  crates/rpc/rpc-types/src/eth/trace/mod.rs
  crates/rpc/rpc-types/src/eth/trace/tracerequest.rs
  crates/rpc/rpc-types/src/eth/tracerequest.rs
  crates/rpc/rpc/src/trace.rs
  examples/trace-transaction-cli/src/main.rs
Due: rpc

perf: get rid of body clone (#5077)
  crates/rpc/rpc-types-compat/src/block.rs
Due: rpc

use alloy_primitives in rpc-types
  Cargo.lock
  crates/rpc/rpc-types/Cargo.toml
  crates/rpc/rpc-types/src/admin.rs
  crates/rpc/rpc-types/src/eth/account.rs
  crates/rpc/rpc-types/src/eth/block.rs
  crates/rpc/rpc-types/src/eth/call.rs
  crates/rpc/rpc-types/src/eth/engine/cancun.rs
  crates/rpc/rpc-types/src/eth/engine/forkchoice.rs
  crates/rpc/rpc-types/src/eth/engine/payload.rs
  crates/rpc/rpc-types/src/eth/engine/transition.rs
  crates/rpc/rpc-types/src/eth/fee.rs
  crates/rpc/rpc-types/src/eth/filter.rs
  crates/rpc/rpc-types/src/eth/index.rs
  crates/rpc/rpc-types/src/eth/log.rs
  crates/rpc/rpc-types/src/eth/pubsub.rs
  crates/rpc/rpc-types/src/eth/state.rs
  crates/rpc/rpc-types/src/eth/syncing.rs
  crates/rpc/rpc-types/src/eth/trace/filter.rs
  crates/rpc/rpc-types/src/eth/trace/geth/call.rs
  crates/rpc/rpc-types/src/eth/trace/geth/mod.rs
  crates/rpc/rpc-types/src/eth/trace/geth/pre_state.rs
  crates/rpc/rpc-types/src/eth/trace/parity.rs
  crates/rpc/rpc-types/src/eth/transaction/common.rs
  crates/rpc/rpc-types/src/eth/transaction/mod.rs
  crates/rpc/rpc-types/src/eth/transaction/receipt.rs
  crates/rpc/rpc-types/src/eth/transaction/request.rs
  crates/rpc/rpc-types/src/eth/transaction/signature.rs
  crates/rpc/rpc-types/src/eth/transaction/typed.rs
  crates/rpc/rpc-types/src/eth/txpool.rs
  crates/rpc/rpc-types/src/eth/withdrawal.rs
  crates/rpc/rpc-types/src/eth/work.rs
  crates/rpc/rpc-types/src/mev.rs
  crates/rpc/rpc-types/src/otterscan.rs
Due: rpc

re-use TransactionSigned arbitrary and use add_arbitrary_tests
  crates/primitives/src/transaction/eip4844.rs
  crates/primitives/src/transaction/pooled.rs
Due: primitives

remove AccessListWithGasUsed in primitives
  crates/primitives/src/lib.rs
  crates/primitives/src/transaction/access_list.rs
  crates/primitives/src/transaction/mod.rs
  crates/rpc/rpc-api/src/eth.rs
  crates/rpc/rpc/src/eth/api/call.rs
  crates/rpc/rpc/src/eth/api/server.rs
Due: rpc, primitives

fix fmt
  crates/rpc/rpc-types/src/eth/transaction/mod.rs
Due: rpc

feat(rpc): use `alloy_primitives` in `rpc-types` (#5078)
  Cargo.lock
  crates/rpc/rpc-types/Cargo.toml
  crates/rpc/rpc-types/src/admin.rs
  crates/rpc/rpc-types/src/eth/account.rs
  crates/rpc/rpc-types/src/eth/block.rs
  crates/rpc/rpc-types/src/eth/call.rs
  crates/rpc/rpc-types/src/eth/engine/cancun.rs
  crates/rpc/rpc-types/src/eth/engine/forkchoice.rs
  crates/rpc/rpc-types/src/eth/engine/payload.rs
  crates/rpc/rpc-types/src/eth/engine/transition.rs
  crates/rpc/rpc-types/src/eth/fee.rs
  crates/rpc/rpc-types/src/eth/filter.rs
  crates/rpc/rpc-types/src/eth/index.rs
  crates/rpc/rpc-types/src/eth/log.rs
  crates/rpc/rpc-types/src/eth/pubsub.rs
  crates/rpc/rpc-types/src/eth/state.rs
  crates/rpc/rpc-types/src/eth/syncing.rs
  crates/rpc/rpc-types/src/eth/trace/filter.rs
  crates/rpc/rpc-types/src/eth/trace/geth/call.rs
  crates/rpc/rpc-types/src/eth/trace/geth/mod.rs
  crates/rpc/rpc-types/src/eth/trace/geth/pre_state.rs
  crates/rpc/rpc-types/src/eth/trace/parity.rs
  crates/rpc/rpc-types/src/eth/transaction/common.rs
  crates/rpc/rpc-types/src/eth/transaction/mod.rs
  crates/rpc/rpc-types/src/eth/transaction/receipt.rs
  crates/rpc/rpc-types/src/eth/transaction/request.rs
  crates/rpc/rpc-types/src/eth/transaction/signature.rs
  crates/rpc/rpc-types/src/eth/transaction/typed.rs
  crates/rpc/rpc-types/src/eth/txpool.rs
  crates/rpc/rpc-types/src/eth/withdrawal.rs
  crates/rpc/rpc-types/src/eth/work.rs
  crates/rpc/rpc-types/src/mev.rs
  crates/rpc/rpc-types/src/otterscan.rs
Due: rpc

enforce both proper basefee and blobfee
  crates/transaction-pool/src/pool/blob.rs
  crates/transaction-pool/src/pool/txpool.rs
Due: txpool
