Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

refactor(trie): convert proof workers to struct-based design
  crates/trie/parallel/src/proof_task.rs
Due: trie

move to prune crate
  Cargo.lock
  Cargo.toml
  crates/prune/prune/Cargo.toml
  crates/prune/prune/src/segments/mod.rs
  crates/prune/prune/src/segments/set.rs
  crates/prune/prune/src/segments/user/bodies.rs
  crates/prune/prune/src/segments/user/mod.rs
  crates/prune/static-files/Cargo.toml
  crates/prune/static-files/src/bodies.rs
  crates/prune/static-files/src/lib.rs
Due: none

refactor(trie): consolidate blinded node processing in ProofTaskTx
  crates/trie/parallel/src/proof_task.rs
Due: trie

docs(network): update network crate guide to current APIs and architecture
  docs/crates/network.md
Due: none

Resolve conflicts
  crates/engine/tree/src/tree/payload_processor/mod.rs
Due: none

resolve conflicts
  crates/engine/tree/src/tree/payload_processor/mod.rs
  crates/engine/tree/src/tree/payload_processor/prewarm.rs
  crates/evm/evm/src/engine.rs
  crates/evm/evm/src/execute.rs
Due: none

lint
  crates/static-file/types/src/segment.rs
Due: none

run bodies segment first
  crates/prune/prune/src/segments/set.rs
Due: none

chore(trie): Move `OpProofsStorageError` to own module (#317)
  crates/optimism/trie/src/api.rs
  crates/optimism/trie/src/error.rs
  crates/optimism/trie/src/lib.rs
  crates/optimism/trie/src/live.rs
Due: none

feat: Named fields for OpProofsStorageError variants (#319)
  crates/optimism/trie/src/error.rs
  crates/optimism/trie/src/live.rs
Due: none

notes
  crates/engine/tree/src/tree/mod.rs
  crates/engine/tree/src/tree/payload_validator.rs
  crates/engine/tree/src/tree/state.rs
  crates/node/builder/src/launch/engine.rs
  crates/storage/provider/src/providers/blockchain_provider.rs
  crates/storage/provider/src/providers/consistent.rs
  crates/storage/provider/src/providers/database/mod.rs
Due: storage (db)

ensure we dont pass an outdated target to header stage
  crates/stages/stages/src/sets.rs
  crates/stages/stages/src/stages/era.rs
Due: pipeline

feat: implement `debug_executionWitness` (#312)
  Cargo.lock
  crates/optimism/rpc/Cargo.toml
  crates/optimism/rpc/src/debug.rs
Due: none

chore(trie): Rename metrics scope (#322)
  crates/optimism/trie/src/metrics.rs
Due: none

feat: implemented wiped storage handling on `store_trie_updates` (#300)
  crates/optimism/trie/src/db/store.rs
Due: none

fix(pipeline): ensure we dont pass an outdated target to header stage (#19351)
  crates/stages/stages/src/sets.rs
  crates/stages/stages/src/stages/era.rs
Due: pipeline

fix(trie): use block hash in OverlayStateProviderFactory
  crates/engine/tree/src/tree/payload_validator.rs
  crates/storage/provider/src/providers/state/overlay.rs
Due: storage (db)

perf(codecs): avoid String allocation in proc macro type checking
  crates/storage/codecs/derive/src/compact/mod.rs
Due: storage (db)

ensure we never delete the highest static file of the segment
  crates/storage/provider/src/providers/static_file/manager.rs
Due: storage (db)

Disable trie overlay changeset range validation
  crates/storage/provider/src/providers/state/overlay.rs
Due: storage (db)

Update mod.rs
  crates/storage/codecs/derive/src/compact/mod.rs
Due: storage (db)

feat(exex): Provide TrieUpdates in all ExEx notifications
  crates/chain-state/src/in_memory.rs
  crates/chain-state/src/notifications.rs
  crates/evm/execution-types/src/chain.rs
  crates/exex/exex/src/backfill/job.rs
  crates/exex/exex/src/manager.rs
  crates/exex/exex/src/notifications.rs
  crates/exex/exex/src/wal/mod.rs
  crates/exex/exex/src/wal/storage.rs
  crates/exex/types/src/notification.rs
  crates/optimism/evm/src/lib.rs
  crates/stages/stages/src/stages/execution.rs
  crates/storage/provider/src/providers/blockchain_provider.rs
  crates/storage/provider/src/providers/database/provider.rs
  crates/transaction-pool/src/blobstore/tracker.rs
Due: pipeline, storage (db), txpool

fix: remove PersistenceState from TreeCtx
  crates/engine/tree/src/tree/mod.rs
  crates/engine/tree/src/tree/payload_validator.rs
  crates/engine/tree/src/tree/persistence_state.rs
  crates/engine/tree/src/tree/state.rs
  crates/engine/tree/src/tree/tests.rs
Due: none

chore: update docs for expected test failure (#19343)
  .github/assets/hive/expected_failures.yaml
Due: none

fix(docker): fix docker image builds for ubuntu
  Cross.toml
Due: none

reth-stateless: Output the block execution outputs after validating
  crates/stateless/src/validation.rs
Due: none

chore(trie): Rename `OpProofsStorageError` variant (#324)
  crates/optimism/trie/src/error.rs
  crates/optimism/trie/src/live.rs
Due: none

feat: display blob params alongside hardfork info
  crates/chainspec/src/spec.rs
  crates/ethereum/hardforks/src/display.rs
Due: none

dont write receipts to both storage on archive node
  crates/storage/provider/src/providers/database/provider.rs
Due: storage (db)

chore: inline alloy BlockWithParent in tree state tests
  crates/engine/tree/src/tree/state.rs
Due: none

chore: dont write receipts to both storages on archive node (#19361)
  crates/storage/provider/src/providers/database/provider.rs
Due: storage (db)

Add more context to expected hive failures
  .github/assets/hive/expected_failures.yaml
Due: none

fix(cli): restrict mouse click selection to list content area
  crates/cli/commands/src/db/tui.rs
Due: none

Rework HashedPostStateCursors
  crates/storage/provider/src/providers/database/provider.rs
  crates/trie/common/src/hashed_state.rs
  crates/trie/db/tests/post_state.rs
  crates/trie/sparse-parallel/src/trie.rs
  crates/trie/sparse/benches/root.rs
  crates/trie/sparse/src/trie.rs
  crates/trie/trie/src/forward_cursor.rs
  crates/trie/trie/src/hashed_cursor/noop.rs
  crates/trie/trie/src/hashed_cursor/post_state.rs
  crates/trie/trie/src/node_iter.rs
  crates/trie/trie/src/trie_cursor/in_memory.rs
Due: storage (db), trie

chore: add ChainHardforks::extend (#19332)
  crates/ethereum/hardforks/src/hardforks/mod.rs
Due: none

feat: insert at timestamp
  crates/ethereum/hardforks/src/hardforks/mod.rs
Due: none

Path conditions:
  reth binary: any of: bin/**, crates/config/**, crates/metrics/**, crates/tracing/**
  blockchain tree: any of: crates/blockchain-tree/**
  pipeline: any of: crates/stages/**, crates/staged-sync/**
  storage (db): any of: crates/storage/**
  trie: any of: crates/trie/**
  txpool: any of: crates/transaction-pool/**
  networking: any of: crates/net/**
  rpc: any of: crates/rpc/**
  consensus/evm: any of: crates/revm/**, crates/consensus/**
  payload builder: any of: crates/payload/**
  primitives: any of: crates/primitives/**, crates/tasks/**, crates/rlp/**, crates/interfaces/**
