Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

codecov.yml:

coverage:
  status:
    patch: off
    project:
      default:
        threshold: null
        informational: true
github_checks:
  annotations: false
comment:
  layout: "reach, files, flags, components"
  require_changes: true
component_management:
  individual_components:
    - component_id: reth_binary
      name: reth binary
      paths:
        - bin/**
        - crates/config/**
        - crates/metrics/**
        - crates/tracing/**
    - component_id: blockchain_tree
      name: blockchain tree
      paths:
        - crates/blockchain-tree/**
    - component_id: staged_sync
      name: pipeline
      paths:
        - crates/stages/**
        - crates/staged-sync/**
    - component_id: storage
      name: storage (db)
      paths:
        - crates/storage/**
    - component_id: trie
      name: trie
      paths:
        - crates/trie/**
    - component_id: txpool
      name: txpool
      paths:
        - crates/transaction-pool/**
    - component_id: networking
      name: networking
      paths:
        - crates/net/**
    - component_id: rpc
      name: rpc
      paths:
        - crates/rpc/**
    - component_id: core
      name: consensus/evm
      paths:
        - crates/revm/**
        - crates/consensus/**
    - component_id: builder
      name: payload builder
      paths:
        - crates/payload/**
    - component_id: primitives
      name: primitives
      paths:
        - crates/primitives/**
        - crates/tasks/**
        - crates/rlp/**
        - crates/interfaces/**

fix: use block id for block receipts (#5105)
  crates/rpc/rpc-api/src/eth.rs
  crates/rpc/rpc/src/eth/api/block.rs
  crates/rpc/rpc/src/eth/api/server.rs
Due: rpc

Refactor: refactoring the code of get cachedb metric (#9)
  Cargo.lock
  bin/reth/Cargo.toml
  crates/payload/basic/src/lib.rs
  crates/revm/Cargo.toml
  crates/revm/src/executor.rs
  crates/rpc/rpc/Cargo.toml
  crates/rpc/rpc/src/debug.rs
  crates/rpc/rpc/src/eth/api/call.rs
  crates/rpc/rpc/src/eth/api/pending_block.rs
  crates/rpc/rpc/src/eth/api/transactions.rs
  crates/rpc/rpc/src/eth/revm_utils.rs
  crates/rpc/rpc/src/trace.rs
  crates/stages/Cargo.toml
  crates/stages/src/stages/execution.rs
  crates/storage/provider/Cargo.toml
  crates/storage/provider/src/traits/executor.rs
Due: reth binary, pipeline, storage (db), rpc, consensus/evm, payload builder

add feature 'enable_tps_gas_record' (#7)
  bin/reth/Cargo.toml
  crates/stages/Cargo.toml
  crates/stages/src/metrics/listener.rs
  crates/stages/src/metrics/sync_metrics.rs
  crates/stages/src/stages/execution.rs
Due: reth binary, pipeline

changes
  crates/primitives/src/transaction/transactionvariant.rs
Due: primitives

feat(bin): `db get --raw`
  bin/reth/src/db/get.rs
Due: reth binary

group StageError Validation and Execution into BlockError
  crates/stages/src/error.rs
  crates/stages/src/pipeline/mod.rs
  crates/stages/src/stages/execution.rs
  crates/stages/src/stages/merkle.rs
  crates/stages/src/stages/sender_recovery.rs
  crates/stages/src/stages/total_difficulty.rs
Due: pipeline

use minstant instead of TimeRecord (#10)
  Cargo.lock
  bin/reth/Cargo.toml
  bin/reth/src/performance_metrics/metric_handler.rs
  crates/stages/Cargo.toml
  crates/stages/src/metrics/listener.rs
  crates/stages/src/metrics/util.rs
  crates/stages/src/stages/execution.rs
Due: reth binary, pipeline

support list --json
  bin/reth/src/db/get.rs
  bin/reth/src/db/list.rs
  bin/reth/src/db/tui.rs
  crates/storage/db/src/tables/raw.rs
Due: reth binary, storage (db)

simplify trie walker logic
  crates/primitives/src/trie/nibbles.rs
  crates/trie/src/node_iter.rs
  crates/trie/src/trie.rs
  crates/trie/src/trie_cursor/subnode.rs
  crates/trie/src/walker.rs
Due: trie, primitives

add min size
  bin/reth/src/db/list.rs
  bin/reth/src/utils.rs
Due: reth binary

poll mut hashes
  crates/net/network/src/transactions.rs
Due: networking

chore: nits
  crates/rpc/rpc-types/src/mev.rs
  crates/rpc/rpc/src/eth/bundle.rs
Due: rpc

chore: small changes
  crates/primitives/src/transaction/mod.rs
  crates/primitives/src/transaction/transactionvariant.rs
  crates/primitives/src/transaction/variant.rs
Due: primitives

feat(rpc):transaction variant for all available transaction formats (#5098)
  crates/primitives/src/transaction/mod.rs
  crates/primitives/src/transaction/variant.rs
  crates/rpc/rpc/src/lib.rs
Due: rpc, primitives

restore node mod
  bin/reth/src/node/mod.rs
Due: reth binary

min row/key/value size
  bin/reth/src/db/list.rs
  bin/reth/src/db/tui.rs
  bin/reth/src/utils.rs
Due: reth binary

chore: update js tracer
  crates/revm/revm-inspectors/src/tracing/js/mod.rs
Due: consensus/evm

test passing
  crates/consensus/auto-seal/tests/it/auto_mine.rs
Due: consensus/evm

cleanup
  crates/revm/revm-inspectors/src/tracing/js/mod.rs
  crates/revm/revm-inspectors/src/tracing/mod.rs
Due: consensus/evm

chore: update deny
  deny.toml
Due: none

feat: update mainnet trusted setup
  crates/primitives/res/eip4844/trusted_setup.txt
Due: primitives

cleanup
  Cargo.lock
  crates/consensus/auto-seal/Cargo.toml
  crates/consensus/auto-seal/src/lib.rs
  crates/consensus/auto-seal/tests/it/auto_mine.rs
  crates/revm/src/processor.rs
  crates/storage/provider/src/bundle_state/bundle_state_with_receipts.rs
Due: storage (db), consensus/evm

cleanup
  crates/consensus/auto-seal/Cargo.toml
  crates/revm/src/processor.rs
  crates/rpc/rpc/src/eth/api/server.rs
  deleteme.json
Due: rpc, consensus/evm

more cleanup
  crates/consensus/auto-seal/src/lib.rs
Due: consensus/evm

update
  crates/net/network/src/transactions.rs
Due: networking

wrong sub order
  crates/rpc/rpc/src/eth/bundle.rs
Due: rpc

use correct state block number
  crates/rpc/rpc/src/eth/bundle.rs
Due: rpc

cleanup
  crates/consensus/auto-seal/tests/it/auto_mine.rs
Due: consensus/evm

feat: add call bundle (#5100)
  crates/primitives/src/transaction/pooled.rs
  crates/rpc/rpc-types/src/mev.rs
  crates/rpc/rpc/src/eth/bundle.rs
  crates/rpc/rpc/src/eth/mod.rs
Due: rpc, primitives

cargo fmt
  crates/consensus/auto-seal/tests/it/auto_mine.rs
Due: consensus/evm

remove added line
  crates/consensus/auto-seal/src/lib.rs
Due: consensus/evm

chore: create reth-tokio-utils crate
  crates/reth-tokio-utils/Cargo.toml
  crates/reth-tokio-utils/src/event_listeners.rs
  crates/reth-tokio-utils/src/lib.rs
Due: none

chore: add reth-tokio-utils dependency to workspace
  Cargo.lock
  Cargo.toml
  crates/consensus/beacon/Cargo.toml
  crates/net/network/Cargo.toml
  crates/prune/Cargo.toml
  crates/stages/Cargo.toml
Due: pipeline, networking, consensus/evm

chore: update event listeners module path
  crates/consensus/beacon/src/engine/mod.rs
  crates/net/network/src/manager.rs
  crates/primitives/src/lib.rs
  crates/primitives/src/listener/event_listeners.rs
  crates/primitives/src/listener/mod.rs
  crates/prune/src/pruner.rs
  crates/stages/src/pipeline/mod.rs
Due: pipeline, networking, consensus/evm, primitives

remove cfg(test) for mod in main
  crates/consensus/auto-seal/tests/it/main.rs
Due: consensus/evm

chore: remove tokio and tokio-stream dependencies
  Cargo.lock
  crates/primitives/Cargo.toml
Due: primitives

Update to newest revm
  Cargo.lock
  Cargo.toml
  crates/revm/revm-inspectors/src/access_list.rs
  crates/revm/revm-inspectors/src/stack/maybe_owned.rs
  crates/revm/revm-inspectors/src/stack/mod.rs
  crates/revm/revm-inspectors/src/tracing/js/mod.rs
  crates/revm/revm-inspectors/src/tracing/mod.rs
  crates/revm/revm-inspectors/src/tracing/opcount.rs
Due: consensus/evm
