Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

chore(primitive-traits): remove redundant auto-trait bounds from FullNodePrimitives (#18626)
  crates/primitives-traits/src/node.rs
Due: none

chore(observability): add tokio runtime with custom thread naming (#18623)
  crates/cli/runner/src/lib.rs
  crates/engine/tree/src/tree/payload_processor/executor.rs
  crates/tasks/src/pool.rs
  crates/trie/parallel/src/root.rs
Due: trie, primitives

Update crates/chainspec/src/spec.rs
  crates/chainspec/src/spec.rs
Due: none

Revert unrelated formatting change
  crates/tasks/src/lib.rs
Due: primitives

chore: bump deps
  Cargo.lock
  Cargo.toml
Due: none

chore: bump alloy-hardforks/alloy-op-hardforks to v0.3.5
  Cargo.lock
  Cargo.toml
Due: none

Simplify StorageTrieCurrentValuesIter implementation
  crates/storage/provider/src/changesets_utils/trie.rs
Due: storage (db)

balance fix
  Cargo.lock
Due: none

chore: bump deps (#18630)
  Cargo.lock
  Cargo.toml
Due: none

Revert "chore(observability): add tokio runtime with custom thread naming (#1…"
  crates/cli/runner/src/lib.rs
  crates/engine/tree/src/tree/payload_processor/executor.rs
  crates/tasks/src/pool.rs
  crates/trie/parallel/src/root.rs
Due: trie, primitives

fix: import Vec from alloc
  crates/optimism/hardforks/src/lib.rs
Due: none

chore(revert): revert tokio runtime with custom thread naming (#18631)
  crates/cli/runner/src/lib.rs
  crates/engine/tree/src/tree/payload_processor/executor.rs
  crates/tasks/src/pool.rs
  crates/trie/parallel/src/root.rs
Due: trie, primitives

chore: bump inspectors 0.30
  Cargo.lock
  Cargo.toml
Due: none

chore: disable fee charge in env
  Cargo.lock
  crates/rpc/rpc-eth-api/Cargo.toml
  crates/rpc/rpc-eth-api/src/helpers/call.rs
  crates/rpc/rpc-eth-api/src/lib.rs
Due: rpc

retry again
  Cargo.lock
Due: none

Revert "chore(revert): revert tokio runtime with custom thread naming (#18631)"
  crates/cli/runner/src/lib.rs
  crates/engine/tree/src/tree/payload_processor/executor.rs
  crates/tasks/src/pool.rs
  crates/trie/parallel/src/root.rs
Due: trie, primitives

chore: bump inspectors 0.30 (#18633)
  Cargo.lock
  Cargo.toml
Due: none

chore: disable fee charge in env (#18634)
  Cargo.lock
  crates/rpc/rpc-eth-api/Cargo.toml
  crates/rpc/rpc-eth-api/src/helpers/call.rs
  crates/rpc/rpc-eth-api/src/lib.rs
Due: rpc

trimmed down to 15 chars
  crates/cli/runner/src/lib.rs
  crates/engine/tree/src/tree/payload_processor/executor.rs
  crates/tasks/src/pool.rs
  crates/trie/parallel/src/root.rs
Due: trie, primitives

feat: add osaka+bpo timestamps (#18627)
  Cargo.lock
  Cargo.toml
  crates/chainspec/src/spec.rs
Due: none

This closes issue #18513
  crates/engine/invalid-block-hooks/src/witness.rs
Due: none

add more tests
  crates/engine/invalid-block-hooks/src/witness.rs
Due: none

docs: update dashboard table and rpc urls
  docs/vocs/docs/pages/overview.mdx
  docs/vocs/docs/pages/run/overview.mdx
Due: none

Apply suggestion from @yongkangc
  crates/cli/runner/src/lib.rs
Due: none

Update crates/engine/tree/src/tree/payload_processor/executor.rs
  crates/engine/tree/src/tree/payload_processor/executor.rs
Due: none

Update crates/trie/parallel/src/root.rs
  crates/trie/parallel/src/root.rs
Due: trie

Update crates/tasks/src/pool.rs
  crates/tasks/src/pool.rs
Due: primitives

chore: update version to 1.8.0 in Cargo.toml
  Cargo.toml
Due: none

docs: update dashboard table and rpc urls (#18637)
  docs/vocs/docs/pages/overview.mdx
  docs/vocs/docs/pages/run/overview.mdx
Due: none

chore(observability): add tokio runtime with custom thread naming (#18635)
  crates/cli/runner/src/lib.rs
  crates/engine/tree/src/tree/payload_processor/executor.rs
  crates/tasks/src/pool.rs
  crates/trie/parallel/src/root.rs
Due: trie, primitives

Path conditions:
  reth binary: any of: bin/**, crates/config/**, crates/metrics/**, crates/tracing/**
  blockchain tree: any of: crates/blockchain-tree/**
  pipeline: any of: crates/stages/**, crates/staged-sync/**
  storage (db): any of: crates/storage/**
  trie: any of: crates/trie/**
  txpool: any of: crates/transaction-pool/**
  networking: any of: crates/net/**
  rpc: any of: crates/rpc/**
  consensus/evm: any of: crates/revm/**, crates/consensus/**
  payload builder: any of: crates/payload/**
  primitives: any of: crates/primitives/**, crates/tasks/**, crates/rlp/**, crates/interfaces/**
