Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

fix feature
  crates/interfaces/Cargo.toml
  crates/interfaces/src/p2p/full_block.rs
Due: primitives

feat: support short issue links in label workflow
  .github/scripts/label_pr.js
Due: none

fucking imports man
  crates/net/downloaders/src/headers/reverse_headers.rs
  crates/net/downloaders/src/headers/task.rs
Due: networking

Revert set block header
  crates/node-core/src/init.rs
Due: none

fix features
  crates/blockchain-tree/src/blockchain_tree.rs
  crates/consensus/beacon/Cargo.toml
  crates/consensus/beacon/src/engine/test_utils.rs
  crates/net/downloaders/Cargo.toml
  crates/net/downloaders/src/bodies/bodies.rs
  crates/net/downloaders/src/bodies/request.rs
  crates/net/downloaders/src/bodies/task.rs
  crates/net/downloaders/src/file_client.rs
  crates/stages/Cargo.toml
  crates/stages/src/stages/headers.rs
Due: blockchain tree, pipeline, networking, consensus/evm

feat: support short issue links in label workflow (#7814)
  .github/scripts/label_pr.js
Due: none

chore(bin/stage): add explicit doc of the use of to-block and hashing stage (#7805)
  bin/reth/src/commands/stage/unwind.rs
  crates/node-core/src/args/stage_args.rs
Due: reth binary

fix docs
  crates/stages/src/lib.rs
Due: pipeline

Fix bug, commit static files
  crates/node-core/src/init.rs
  crates/storage/provider/src/bundle_state/bundle_state_with_receipts.rs
Due: storage (db)

chore: move TestConensus to reth-consensus (#7813)
  crates/blockchain-tree/src/blockchain_tree.rs
  crates/consensus/beacon/Cargo.toml
  crates/consensus/beacon/src/engine/test_utils.rs
  crates/consensus/consensus/Cargo.toml
  crates/consensus/consensus/src/lib.rs
  crates/consensus/consensus/src/test_utils.rs
  crates/interfaces/Cargo.toml
  crates/interfaces/src/p2p/full_block.rs
  crates/interfaces/src/test_utils/headers.rs
  crates/net/downloaders/Cargo.toml
  crates/net/downloaders/src/bodies/bodies.rs
  crates/net/downloaders/src/bodies/request.rs
  crates/net/downloaders/src/bodies/task.rs
  crates/net/downloaders/src/file_client.rs
  crates/net/downloaders/src/headers/reverse_headers.rs
  crates/net/downloaders/src/headers/task.rs
  crates/stages/Cargo.toml
  crates/stages/src/lib.rs
  crates/stages/src/stages/headers.rs
Due: blockchain tree, pipeline, networking, consensus/evm, primitives

Set start block
  crates/node-core/src/init.rs
Due: none

Revert bundle_state_with_receipts.rs to main
  crates/storage/provider/src/bundle_state/bundle_state_with_receipts.rs
Due: storage (db)

add metrics middleware for IPC
  crates/rpc/ipc/src/server/mod.rs
  crates/rpc/rpc-builder/src/lib.rs
Due: rpc

fix: don't auto install codespell
  Makefile
Due: none

Write account changes with insert
  crates/node-core/src/init.rs
  crates/storage/provider/src/bundle_state/bundle_state_with_receipts.rs
  crates/storage/provider/src/bundle_state/state_reverts.rs
Due: storage (db)

Replace insert with upsert
  crates/storage/provider/src/bundle_state/state_reverts.rs
Due: storage (db)

add ATTENTION comment
  crates/storage/provider/src/bundle_state/bundle_state_with_receipts.rs
Due: storage (db)

feat: add UX improvements on e2e testing (#7804)
  Cargo.lock
  crates/consensus/beacon/Cargo.toml
  crates/e2e-test-utils/Cargo.toml
  crates/e2e-test-utils/src/engine_api.rs
  crates/e2e-test-utils/src/lib.rs
  crates/e2e-test-utils/src/node.rs
  crates/e2e-test-utils/src/payload.rs
  crates/e2e-test-utils/src/wallet.rs
  crates/node-ethereum/tests/e2e/dev.rs
  crates/node-ethereum/tests/e2e/eth.rs
  crates/node-ethereum/tests/e2e/p2p.rs
  crates/node-ethereum/tests/e2e/utils.rs
  crates/optimism/node/Cargo.toml
  crates/optimism/node/tests/e2e/p2p.rs
  crates/optimism/node/tests/e2e/utils.rs
  crates/storage/provider/src/traits/full.rs
Due: storage (db), consensus/evm

Replace debug code
  crates/node-core/src/init.rs
Due: none

feat: add prague helpers to spec
  crates/primitives/src/chain/spec.rs
Due: primitives

feat: add prague helpers to spec (#7817)
  crates/primitives/src/chain/spec.rs
Due: primitives

fix
  crates/e2e-test-utils/src/lib.rs
Due: none

feat: integrate RpcMiddleware in IPC (#7790)
  Cargo.lock
  crates/ethereum/evm/src/execute.rs
  crates/node-core/src/args/rpc_server_args.rs
  crates/node-core/src/cli/config.rs
  crates/optimism/node/src/evm/execute.rs
  crates/rpc/ipc/Cargo.toml
  crates/rpc/ipc/src/server/future.rs
  crates/rpc/ipc/src/server/ipc.rs
  crates/rpc/ipc/src/server/mod.rs
  crates/rpc/ipc/src/server/rpc_service.rs
  crates/rpc/rpc-builder/src/auth.rs
  crates/rpc/rpc-builder/src/lib.rs
Due: rpc

add why to doc
  crates/storage/provider/src/bundle_state/bundle_state_with_receipts.rs
Due: storage (db)

feat: blob e2e functional
  crates/e2e-test-utils/src/engine_api.rs
  crates/e2e-test-utils/src/lib.rs
  crates/e2e-test-utils/src/node.rs
  crates/e2e-test-utils/src/transaction.rs
  crates/e2e-test-utils/src/wallet.rs
  crates/node-ethereum/tests/e2e/blobs.rs
  crates/node-ethereum/tests/e2e/eth.rs
  crates/node-ethereum/tests/e2e/p2p.rs
  crates/optimism/node/tests/e2e/p2p.rs
Due: none

docs(book): fix list items numbering
  book/intro.md
Due: none

added the crate and moved evm config from node
  Cargo.lock
  Cargo.toml
  bin/reth/Cargo.toml
  bin/reth/src/commands/debug_cmd/build_block.rs
  bin/reth/src/commands/debug_cmd/replay_engine.rs
  crates/optimism/evm/Cargo.toml
  crates/optimism/evm/src/execute.rs
  crates/optimism/evm/src/lib.rs
  crates/optimism/node/Cargo.toml
  crates/optimism/node/src/evm/mod.rs
  crates/optimism/node/src/lib.rs
  crates/optimism/node/src/node.rs
  crates/rpc/rpc/Cargo.toml
Due: reth binary, rpc

docs: add warning regarding `increment_block` necessity on `write_to_storage` (#7816)
  crates/storage/provider/src/bundle_state/bundle_state_with_receipts.rs
Due: storage (db)

transition to interprocess
  Cargo.lock
  crates/node-builder/src/rpc.rs
  crates/node-core/src/args/rpc_server_args.rs
  crates/rpc/ipc/Cargo.toml
  crates/rpc/ipc/src/client/mod.rs
  crates/rpc/ipc/src/server/connection.rs
  crates/rpc/ipc/src/server/mod.rs
  crates/rpc/rpc-builder/src/auth.rs
  crates/rpc/rpc-builder/src/lib.rs
Due: rpc

cargo fmt
  crates/stages/src/stages/headers.rs
Due: pipeline

fix: still delete headers from db in headers unwind
  crates/stages/src/stages/headers.rs
Due: pipeline

make clippy happy
  crates/stages/src/stages/headers.rs
Due: pipeline

fix: also revert HeaderTerminalDifficulties tables
  crates/stages/src/stages/headers.rs
Due: pipeline

Path conditions:
  reth binary: any of: bin/**, crates/config/**, crates/metrics/**, crates/tracing/**
  blockchain tree: any of: crates/blockchain-tree/**
  pipeline: any of: crates/stages/**, crates/staged-sync/**
  storage (db): any of: crates/storage/**
  trie: any of: crates/trie/**
  txpool: any of: crates/transaction-pool/**
  networking: any of: crates/net/**
  rpc: any of: crates/rpc/**
  consensus/evm: any of: crates/revm/**, crates/consensus/**
  payload builder: any of: crates/payload/**
  primitives: any of: crates/primitives/**, crates/tasks/**, crates/rlp/**, crates/interfaces/**
