Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

perf: remove redundant metrics update
  crates/transaction-pool/src/pool/txpool.rs
Due: txpool

refactor: stream transactions while executing payload
  Cargo.lock
  crates/engine/tree/Cargo.toml
  crates/engine/tree/benches/state_root_task.rs
  crates/engine/tree/src/tree/payload_processor/mod.rs
  crates/engine/tree/src/tree/payload_processor/prewarm.rs
  crates/engine/tree/src/tree/payload_validator.rs
  crates/evm/evm/src/execute.rs
  crates/evm/evm/src/lib.rs
  crates/evm/evm/src/metrics.rs
Due: none

fm trait
  crates/evm/evm/src/execute.rs
Due: none

fix
  crates/engine/tree/Cargo.toml
  crates/engine/tree/src/tree/payload_processor/mod.rs
  crates/evm/evm/src/execute.rs
Due: none

bump rust to version 1.88
  .github/workflows/lint.yml
  Cargo.toml
  Dockerfile.reproducible
  README.md
  clippy.toml
Due: none

wip: update process_batches
  crates/rpc/rpc/src/eth/builder.rs
  crates/rpc/rpc/src/eth/core.rs
  crates/rpc/rpc/src/eth/helpers/batcher.rs
Due: rpc

fix rust version bump leads lint issue
  crates/chain-state/src/in_memory.rs
  crates/cli/commands/src/db/checksum.rs
  crates/e2e-test-utils/src/testsuite/mod.rs
  crates/era/src/era_types.rs
  crates/evm/execution-types/src/execution_outcome.rs
  crates/net/downloaders/src/bodies/bodies.rs
  crates/net/downloaders/src/file_client.rs
  crates/net/downloaders/src/test_utils/bodies_client.rs
  crates/net/eth-wire-types/src/broadcast.rs
  crates/net/eth-wire/src/capability.rs
  crates/storage/db-common/src/db_tool/mod.rs
  crates/storage/db-models/src/client_version.rs
  crates/transaction-pool/benches/canonical_state_change.rs
  crates/transaction-pool/src/pool/best.rs
  crates/transaction-pool/src/pool/listener.rs
  crates/trie/common/src/prefix_set.rs
Due: storage (db), trie, txpool, networking

refactor(cli): replace From<Header> with CliHeader trait (#17656)
  Cargo.lock
  crates/cli/commands/src/common.rs
  crates/cli/commands/src/init_state/mod.rs
  crates/ethereum/cli/Cargo.toml
  crates/ethereum/cli/src/interface.rs
  crates/optimism/cli/src/commands/init_state.rs
Due: none

feat: added max-readers flag for db
  crates/node/core/src/args/database.rs
  crates/storage/db/src/implementation/mdbx/mod.rs
  docs/vocs/docs/pages/cli/reth/db.mdx
  docs/vocs/docs/pages/cli/reth/db/diff.mdx
  docs/vocs/docs/pages/cli/reth/download.mdx
  docs/vocs/docs/pages/cli/reth/export-era.mdx
  docs/vocs/docs/pages/cli/reth/import-era.mdx
  docs/vocs/docs/pages/cli/reth/import.mdx
  docs/vocs/docs/pages/cli/reth/init-state.mdx
  docs/vocs/docs/pages/cli/reth/init.mdx
  docs/vocs/docs/pages/cli/reth/node.mdx
  docs/vocs/docs/pages/cli/reth/prune.mdx
  docs/vocs/docs/pages/cli/reth/re-execute.mdx
  docs/vocs/docs/pages/cli/reth/recover/storage-tries.mdx
  docs/vocs/docs/pages/cli/reth/stage/drop.mdx
  docs/vocs/docs/pages/cli/reth/stage/dump.mdx
  docs/vocs/docs/pages/cli/reth/stage/run.mdx
  docs/vocs/docs/pages/cli/reth/stage/unwind.mdx
Due: storage (db)

book fix
  docs/vocs/docs/pages/cli/reth/node.mdx
Due: none

clippy
  crates/ethereum/cli/src/interface.rs
Due: none

clippy
  crates/optimism/cli/src/commands/mod.rs
Due: none

address comments
  crates/rpc/rpc-eth-types/src/gas_oracle.rs
  crates/scroll/rpc/src/eth/mod.rs
Due: rpc

test: test process batch
  crates/rpc/rpc/src/eth/helpers/batcher.rs
Due: rpc

wip: use local tx origin
  crates/rpc/rpc/src/eth/helpers/batcher.rs
  crates/rpc/rpc/src/eth/helpers/transaction.rs
Due: rpc

Test fee_history_entry.blob_gas_used_ratio when blob_params.max_blob_count == 0
  crates/rpc/rpc-eth-types/Cargo.toml
  crates/rpc/rpc-eth-types/src/fee_history.rs
Due: rpc

RPC: eth_feeHistory: Return 0.0 for blob_gas_used_ratio entries when blob_schedule.max_blob_count == 0
  crates/rpc/rpc-eth-types/src/fee_history.rs
Due: rpc

feat: added max-readers flag for db (#17663)
  crates/ethereum/cli/src/interface.rs
  crates/node/core/src/args/database.rs
  crates/optimism/cli/src/commands/mod.rs
  crates/storage/db/src/implementation/mdbx/mod.rs
  docs/vocs/docs/pages/cli/reth/db.mdx
  docs/vocs/docs/pages/cli/reth/db/diff.mdx
  docs/vocs/docs/pages/cli/reth/download.mdx
  docs/vocs/docs/pages/cli/reth/export-era.mdx
  docs/vocs/docs/pages/cli/reth/import-era.mdx
  docs/vocs/docs/pages/cli/reth/import.mdx
  docs/vocs/docs/pages/cli/reth/init-state.mdx
  docs/vocs/docs/pages/cli/reth/init.mdx
  docs/vocs/docs/pages/cli/reth/node.mdx
  docs/vocs/docs/pages/cli/reth/prune.mdx
  docs/vocs/docs/pages/cli/reth/re-execute.mdx
  docs/vocs/docs/pages/cli/reth/recover/storage-tries.mdx
  docs/vocs/docs/pages/cli/reth/stage/drop.mdx
  docs/vocs/docs/pages/cli/reth/stage/dump.mdx
  docs/vocs/docs/pages/cli/reth/stage/run.mdx
  docs/vocs/docs/pages/cli/reth/stage/unwind.mdx
Due: storage (db)

fix: test process batch
  crates/rpc/rpc/src/eth/helpers/batcher.rs
Due: rpc

test: add transaction, process batches
  crates/rpc/rpc/src/eth/helpers/batcher.rs
Due: rpc

feat: BatchTxRequest::new
  crates/rpc/rpc/src/eth/helpers/batcher.rs
Due: rpc

refactor: move BasicEngineValidator creation into EngineApiValidatorBuilder trait
  Cargo.lock
  crates/engine/primitives/src/lib.rs
  crates/engine/service/src/service.rs
  crates/engine/tree/src/tree/mod.rs
  crates/engine/tree/src/tree/payload_validator.rs
  crates/engine/tree/src/tree/tests.rs
  crates/ethereum/node/src/engine.rs
  crates/ethereum/node/src/node.rs
  crates/node/builder/src/launch/engine.rs
  crates/node/builder/src/rpc.rs
  crates/optimism/node/Cargo.toml
  crates/optimism/node/src/engine.rs
  crates/optimism/node/src/node.rs
  crates/optimism/node/src/rpc.rs
  crates/optimism/rpc/src/engine.rs
  crates/rpc/rpc-engine-api/src/engine_api.rs
  examples/custom-engine-types/src/main.rs
  examples/custom-node/src/engine.rs
Due: rpc

feat: add batch threshold
  crates/rpc/rpc/src/eth/builder.rs
  crates/rpc/rpc/src/eth/helpers/batcher.rs
Due: rpc

fix doc
  crates/optimism/node/src/node.rs
Due: none

test: test_batch_threshold
  crates/rpc/rpc/src/eth/helpers/batcher.rs
Due: rpc

error
  crates/engine/tree/benches/state_root_task.rs
  crates/engine/tree/src/tree/payload_processor/mod.rs
  crates/engine/tree/src/tree/payload_processor/prewarm.rs
  crates/engine/tree/src/tree/payload_validator.rs
  crates/evm/evm/src/metrics.rs
Due: none

chore: clippy
  crates/rpc/rpc/src/eth/helpers/batcher.rs
Due: rpc

chore: move tx batcher to tx-pool
  Cargo.lock
  crates/node/core/src/args/txpool.rs
  crates/node/core/src/cli/config.rs
  crates/transaction-pool/Cargo.toml
  crates/transaction-pool/src/batcher.rs
  crates/transaction-pool/src/lib.rs
Due: txpool

txpool-blob-trait
  crates/transaction-pool/Cargo.toml
  crates/transaction-pool/benches/canonical_state_change.rs
  crates/transaction-pool/src/traits.rs
  crates/transaction-pool/src/traits/blob.rs
Due: txpool

fix: update error types, imports
  crates/rpc/rpc/src/eth/builder.rs
  crates/rpc/rpc/src/eth/core.rs
  crates/rpc/rpc/src/eth/helpers/mod.rs
  crates/rpc/rpc/src/eth/helpers/transaction.rs
  crates/transaction-pool/src/batcher.rs
Due: txpool, rpc

chore: remove unused dep
  Cargo.lock
  crates/transaction-pool/Cargo.toml
  crates/transaction-pool/src/lib.rs
Due: txpool

chore: clippy
  crates/node/core/src/args/txpool.rs
  crates/transaction-pool/src/batcher.rs
Due: txpool

create tx_env after applying state overrides for estimate_gas
  crates/rpc/rpc-eth-api/src/helpers/estimate.rs
Due: rpc

chore: remove unneeded hash trait
  crates/transaction-pool/src/traits.rs
Due: txpool

fmt
  crates/rpc/rpc-eth-api/src/helpers/estimate.rs
Due: rpc

wip: add todo to drain channel
  crates/transaction-pool/src/batcher.rs
Due: txpool

Path conditions:
  reth binary: any of: bin/**, crates/config/**, crates/metrics/**, crates/tracing/**
  blockchain tree: any of: crates/blockchain-tree/**
  pipeline: any of: crates/stages/**, crates/staged-sync/**
  storage (db): any of: crates/storage/**
  trie: any of: crates/trie/**
  txpool: any of: crates/transaction-pool/**
  networking: any of: crates/net/**
  rpc: any of: crates/rpc/**
  consensus/evm: any of: crates/revm/**, crates/consensus/**
  payload builder: any of: crates/payload/**
  primitives: any of: crates/primitives/**, crates/tasks/**, crates/rlp/**, crates/interfaces/**
