Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

codecov.yml:

coverage:
  status:
    patch: off
    project:
      default:
        threshold: null
        informational: true
github_checks:
  annotations: false
comment:
  layout: "reach, files, flags, components"
  require_changes: true
component_management:
  individual_components:
    - component_id: reth_binary
      name: reth binary
      paths:
        - bin/**
        - crates/config/**
        - crates/metrics/**
        - crates/tracing/**
    - component_id: blockchain_tree
      name: blockchain tree
      paths:
        - crates/blockchain-tree/**
    - component_id: staged_sync
      name: pipeline
      paths:
        - crates/stages/**
        - crates/staged-sync/**
    - component_id: storage
      name: storage (db)
      paths:
        - crates/storage/**
    - component_id: trie
      name: trie
      paths:
        - crates/trie/**
    - component_id: txpool
      name: txpool
      paths:
        - crates/transaction-pool/**
    - component_id: networking
      name: networking
      paths:
        - crates/net/**
    - component_id: rpc
      name: rpc
      paths:
        - crates/rpc/**
    - component_id: core
      name: consensus/evm
      paths:
        - crates/revm/**
        - crates/consensus/**
    - component_id: builder
      name: payload builder
      paths:
        - crates/payload/**
    - component_id: primitives
      name: primitives
      paths:
        - crates/primitives/**
        - crates/tasks/**
        - crates/rlp/**
        - crates/interfaces/**

Remove generalisation of conversion from enr to node record
  crates/primitives/src/lib.rs
  crates/primitives/src/net.rs
  crates/rpc/rpc-types/src/net.rs
Due: rpc, primitives

Checkout method support method for node rec conversion
  crates/rpc/rpc-types/src/peer.rs
Due: rpc

fixup! Remove generalisation of conversion from enr to node record
  crates/rpc/rpc-types/src/peer.rs
Due: rpc

public ::new() for BuilderContext. update launch method
  crates/node-builder/src/builder.rs
Due: none

Remove use of local method
  crates/net/network/src/config.rs
Due: networking

feat(discv5): open dns for discv5 (#7328)
  Cargo.lock
  crates/net/dns/src/lib.rs
  crates/rpc/rpc-types/Cargo.toml
Due: networking, rpc

Show disconnected bootnodes
  crates/net/discv5/src/lib.rs
  crates/net/network/src/config.rs
Due: networking

Use op mainnet bootstrap nodes for base mainnet
  crates/net/network/src/config.rs
Due: networking

crit(dep): bump zstd (#7356)
  Cargo.lock
  crates/primitives/Cargo.toml
  crates/storage/nippy-jar/Cargo.toml
Due: storage (db), primitives

Use op sepolia bootnodes for base sepolia
  crates/net/discv5/src/config.rs
  crates/net/network/src/config.rs
Due: networking

fix: err if no incoming capacity and no trusted nodes
  crates/net/network/src/peers/manager.rs
Due: networking

fmt
  crates/node-builder/src/builder.rs
Due: none

feat: public ::new() for BuilderContext (#7358)
  crates/node-builder/src/builder.rs
Due: none

fix: err if no incoming capacity and no trusted nodes (#7361)
  crates/net/network/src/peers/manager.rs
Due: networking

fix: eth_callMany pending tag (#7351)
  crates/rpc/rpc/src/eth/api/call.rs
  crates/rpc/rpc/src/eth/api/mod.rs
Due: rpc

Port changes to config from emhane/discv5-support
  Cargo.lock
  crates/net/discv5/src/config.rs
  crates/net/discv5/src/filter.rs
  crates/net/discv5/src/lib.rs
  crates/rpc/rpc-types/Cargo.toml
Due: networking, rpc

dev: use stream_batch_size to limit queued_bodies
  crates/net/downloaders/src/bodies/bodies.rs
Due: networking

fix: ignore pprof on windows
  crates/stages/Cargo.toml
  crates/stages/benches/criterion.rs
Due: pipeline

doc: improve doc
  crates/net/downloaders/src/bodies/bodies.rs
Due: networking

chore: fix docs
  crates/node-builder/src/exex.rs
Due: none

feat(node-builder): ExEx (Execution Extensions) installation (#7235)
  Cargo.lock
  crates/node-builder/src/builder.rs
  crates/node-builder/src/components/builder.rs
  crates/node-builder/src/exex.rs
  crates/node-builder/src/lib.rs
  crates/node-ethereum/Cargo.toml
  crates/node-ethereum/tests/it/exex.rs
  crates/node-ethereum/tests/it/main.rs
Due: none

change log
  crates/consensus/clayer/src/consensus.rs
  crates/consensus/clayer/src/task.rs
Due: consensus/evm

chore: add `.editorconfig`
  .editorconfig
Due: none

chore: add `.editorconfig` (#7369)
  .editorconfig
Due: none

Wip
  Cargo.lock
  Cargo.toml
  crates/net/eth-wire-types/Cargo.toml
  crates/net/eth-wire-types/src/blocks.rs
  crates/net/eth-wire-types/src/broadcast.rs
  crates/net/eth-wire-types/src/lib.rs
  crates/net/eth-wire-types/src/message.rs
  crates/net/eth-wire-types/src/receipts.rs
  crates/net/eth-wire-types/src/response.rs
  crates/net/eth-wire-types/src/state.rs
  crates/net/eth-wire-types/src/status.rs
  crates/net/eth-wire-types/src/transactions.rs
  crates/net/eth-wire-types/src/version.rs
Due: networking

fix: return an error if block does nit exist
  crates/rpc/rpc/src/eth/filter.rs
Due: rpc

cleanup:
  Cargo.lock
  crates/net/eth-wire-types/Cargo.toml
  crates/net/eth-wire-types/src/lib.rs
Due: networking

test: update test
  crates/rpc/rpc-builder/tests/it/http.rs
Due: rpc

fix: return an error if block does nit exist (#7374)
  crates/rpc/rpc-builder/tests/it/http.rs
  crates/rpc/rpc/src/eth/filter.rs
Due: rpc

add recover_signer_unchecked_with_buffer to TransactionSignedNoHash
  crates/primitives/src/transaction/mod.rs
  crates/stages/src/stages/sender_recovery.rs
Due: pipeline, primitives

use static files provider for missing static files data unwind point
  crates/consensus/beacon/src/engine/mod.rs
  crates/stages/src/stages/execution.rs
Due: pipeline, consensus/evm

clippy
  crates/primitives/src/transaction/mod.rs
  crates/stages/src/stages/sender_recovery.rs
Due: pipeline, primitives
