Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

codecov.yml:

coverage:
  status:
    patch: off
    project:
      default:
        threshold: null
        informational: true
github_checks:
  annotations: false
comment:
  layout: "reach, files, flags, components"
  require_changes: true
component_management:
  individual_components:
    - component_id: reth_binary
      name: reth binary
      paths:
        - bin/**
        - crates/config/**
        - crates/metrics/**
        - crates/tracing/**
    - component_id: blockchain_tree
      name: blockchain tree
      paths:
        - crates/blockchain-tree/**
    - component_id: staged_sync
      name: pipeline
      paths:
        - crates/stages/**
        - crates/staged-sync/**
    - component_id: storage
      name: storage (db)
      paths:
        - crates/storage/**
    - component_id: trie
      name: trie
      paths:
        - crates/trie/**
    - component_id: txpool
      name: txpool
      paths:
        - crates/transaction-pool/**
    - component_id: networking
      name: networking
      paths:
        - crates/net/**
    - component_id: rpc
      name: rpc
      paths:
        - crates/rpc/**
    - component_id: core
      name: consensus/evm
      paths:
        - crates/revm/**
        - crates/consensus/**
    - component_id: builder
      name: payload builder
      paths:
        - crates/payload/**
    - component_id: primitives
      name: primitives
      paths:
        - crates/primitives/**
        - crates/tasks/**
        - crates/rlp/**
        - crates/interfaces/**

docs: misc in memory docs (#11365)
  crates/chain-state/src/in_memory.rs
Due: none

feat(trie): deserialize trie updates with serde as hex
  crates/trie/trie/src/updates.rs
Due: trie

fix(provider): use `canonical_chain` on range lookups (#11332)
  crates/storage/provider/src/providers/blockchain_provider.rs
Due: storage (db)

increment next file id counter
  crates/exex/exex/src/wal/mod.rs
Due: none

chore: propagate std feature to alloy-trie
  crates/chainspec/Cargo.toml
Due: none

add test
  crates/exex/exex/src/wal/mod.rs
Due: none

use u32
  crates/exex/exex/src/wal/cache.rs
  crates/exex/exex/src/wal/mod.rs
  crates/exex/exex/src/wal/storage.rs
Due: none

feat(node): export `EngineArgs`
  Cargo.lock
  bin/reth/src/lib.rs
  bin/reth/src/main.rs
  crates/engine/primitives/src/lib.rs
  crates/engine/primitives/src/tree.rs
  crates/engine/tree/src/tree/config.rs
  crates/node/core/Cargo.toml
  crates/node/core/src/args/engine.rs
  crates/node/core/src/args/mod.rs
Due: reth binary

fix(evm): propagate optimism and test features correctly
  crates/evm/execution-types/Cargo.toml
Due: none

fix(evm): propagate optimism and test features correctly (#11373)
  crates/evm/execution-types/Cargo.toml
Due: none

Add optimism feature gate to reth-optimism-primitives crate
  crates/optimism/primitives/src/lib.rs
Due: none

dev: block_with_senders on BlockState (#11363)
  crates/chain-state/src/in_memory.rs
  crates/storage/provider/src/providers/blockchain_provider.rs
Due: storage (db)

feat: add ReputationChangeWeights::zero
  crates/net/network-types/src/peers/reputation.rs
Due: networking

Fix lint reth-net-nat
  crates/net/nat/src/lib.rs
Due: networking

chore: limit tracing logs to debug by default
  Makefile
Due: none

fix tracing targets
  crates/exex/exex/src/manager.rs
  crates/exex/exex/src/notifications.rs
  crates/exex/exex/src/wal/mod.rs
  crates/exex/exex/src/wal/storage.rs
Due: none

fix clippy
  crates/node/core/src/args/mod.rs
Due: none

test(engine): improve deep reorg test
  crates/engine/tree/src/tree/mod.rs
Due: none

Use stable toolchain for make lint
  Makefile
Due: none

format with to string
  crates/exex/exex/src/manager.rs
Due: none

get_in_memory_or_storage_by_tx with HashOrNumber
  crates/storage/provider/src/providers/blockchain_provider.rs
Due: storage (db)

perf(engine): avoid unnecessary arc clones on new head
  crates/engine/tree/src/tree/mod.rs
Due: none

chore: propagate std feature to alloy-trie (#11371)
  crates/chainspec/Cargo.toml
Due: none

test(engine): improve deep reorg test (#11378)
  crates/engine/tree/src/tree/mod.rs
Due: none

feat: add ReputationChangeWeights::zero (#11375)
  crates/net/network-types/src/peers/reputation.rs
Due: networking

perf(engine): avoid unnecessary arc clones on new head (#11381)
  crates/engine/tree/src/tree/mod.rs
Due: none

account for finalized header when finalizing the wal
  crates/exex/exex/src/manager.rs
Due: none

Fix conflicts
  crates/optimism/primitives/Cargo.toml
  crates/primitives/src/block.rs
Due: primitives

feat(trie): deserialize trie updates with serde as hex (#11369)
  crates/trie/trie/src/updates.rs
Due: trie

Fix conflicts
  Makefile
  crates/ethereum/evm/src/execute.rs
  crates/evm/src/test_utils.rs
  crates/optimism/evm/src/execute.rs
Due: none

(wip): handle recovery in batches , then in chunks
  Cargo.lock
  crates/stages/stages/Cargo.toml
  crates/stages/stages/src/stages/sender_recovery.rs
Due: pipeline
