Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

codecov.yml:

coverage:
  status:
    patch: off
    project:
      default:
        threshold: null
        informational: true
github_checks:
  annotations: false
comment:
  layout: "reach, files, flags, components"
  require_changes: true
component_management:
  individual_components:
    - component_id: reth_binary
      name: reth binary
      paths:
        - bin/**
        - crates/config/**
        - crates/metrics/**
        - crates/tracing/**
    - component_id: blockchain_tree
      name: blockchain tree
      paths:
        - crates/blockchain-tree/**
    - component_id: staged_sync
      name: pipeline
      paths:
        - crates/stages/**
        - crates/staged-sync/**
    - component_id: storage
      name: storage (db)
      paths:
        - crates/storage/**
    - component_id: trie
      name: trie
      paths:
        - crates/trie/**
    - component_id: txpool
      name: txpool
      paths:
        - crates/transaction-pool/**
    - component_id: networking
      name: networking
      paths:
        - crates/net/**
    - component_id: rpc
      name: rpc
      paths:
        - crates/rpc/**
    - component_id: core
      name: consensus/evm
      paths:
        - crates/revm/**
        - crates/consensus/**
    - component_id: builder
      name: payload builder
      paths:
        - crates/payload/**
    - component_id: primitives
      name: primitives
      paths:
        - crates/primitives/**
        - crates/tasks/**
        - crates/rlp/**
        - crates/interfaces/**

refactored tests
  crates/net/common/src/bandwidth_meter.rs
  crates/net/network/src/session/active.rs
Due: networking

removed MeteredStream
  Cargo.lock
  crates/net/common/Cargo.toml
  crates/net/common/src/bandwidth_meter.rs
  crates/net/common/src/lib.rs
  crates/net/network/src/session/active.rs
  crates/net/network/src/session/conn.rs
  crates/net/network/src/session/mod.rs
Due: networking

feat: remove Bandwidthmeter type (#8698)
  Cargo.lock
  crates/net/common/Cargo.toml
  crates/net/common/src/bandwidth_meter.rs
  crates/net/common/src/lib.rs
  crates/net/network/src/manager.rs
  crates/net/network/src/network.rs
  crates/net/network/src/session/active.rs
  crates/net/network/src/session/conn.rs
  crates/net/network/src/session/mod.rs
Due: networking

chore: replace secp256k1 with fully qualified path
  crates/net/peers/src/lib.rs
  crates/net/peers/src/node_record.rs
  crates/net/peers/src/trusted_peer.rs
Due: networking

chore: replace secp256k1 with fully qualified path (#8701)
  crates/net/peers/src/lib.rs
  crates/net/peers/src/node_record.rs
  crates/net/peers/src/trusted_peer.rs
Due: networking

wip error no-std support
  crates/storage/errors/src/db.rs
  crates/storage/errors/src/lib.rs
  crates/storage/errors/src/lockfile.rs
  crates/storage/errors/src/provider.rs
Due: storage (db)

cargo supprot
  crates/storage/errors/Cargo.toml
Due: storage (db)

exex notifiation ordering - execution stage
  crates/stages/stages/src/stages/execution.rs
Due: pipeline

nits
  crates/storage/errors/Cargo.toml
  crates/storage/errors/src/lockfile.rs
  crates/storage/errors/src/provider.rs
Due: storage (db)

lock update
  Cargo.lock
Due: none

docs: improve custom-evm example docs
  examples/custom-evm/src/main.rs
Due: none

docs: improve custom-evm example docs (#8703)
  examples/custom-evm/src/main.rs
Due: none

nits
  crates/storage/errors/src/db.rs
  crates/storage/errors/src/lockfile.rs
  crates/storage/errors/src/provider.rs
Due: storage (db)

trie
  crates/evm/execution-errors/src/trie.rs
Due: none

replace BatchBlockExecutionOutput by BundleStateWithReceipts
  Cargo.lock
  bin/reth/src/commands/debug_cmd/build_block.rs
  bin/reth/src/commands/debug_cmd/in_memory_merkle.rs
  bin/reth/src/commands/debug_cmd/merkle.rs
  bin/reth/src/commands/import_receipts_op.rs
  crates/blockchain-tree/src/chain.rs
  crates/consensus/auto-seal/src/lib.rs
  crates/ethereum/evm/Cargo.toml
  crates/ethereum/evm/src/execute.rs
  crates/ethereum/payload/src/lib.rs
  crates/evm/Cargo.toml
  crates/evm/execution-types/Cargo.toml
  crates/evm/execution-types/src/bundle.rs
  crates/evm/execution-types/src/chain.rs
  crates/evm/src/either.rs
  crates/evm/src/execute.rs
  crates/evm/src/noop.rs
  crates/evm/src/test_utils.rs
  crates/optimism/evm/src/execute.rs
  crates/optimism/payload/src/builder.rs
  crates/rpc/rpc/src/eth/api/pending_block.rs
  crates/stages/stages/src/stages/execution.rs
  crates/storage/db-common/src/init.rs
  crates/storage/provider/src/bundle_state/bundle_state_with_receipts.rs
  crates/storage/provider/src/providers/database/provider.rs
  crates/storage/provider/src/test_utils/blocks.rs
  examples/exex/op-bridge/src/main.rs
Due: reth binary, blockchain tree, pipeline, storage (db), rpc, consensus/evm

remvoe this error
  crates/evm/execution-errors/src/lib.rs
  crates/evm/execution-errors/src/lib2.rs
Due: none

Simplify Receipts implementation
  bin/reth/src/commands/debug_cmd/build_block.rs
  bin/reth/src/commands/debug_cmd/in_memory_merkle.rs
  crates/blockchain-tree/src/chain.rs
  crates/consensus/auto-seal/src/lib.rs
  crates/ethereum/payload/src/lib.rs
  crates/evm/execution-types/src/bundle.rs
  crates/evm/execution-types/src/chain.rs
  crates/net/downloaders/src/receipt_file_client.rs
  crates/optimism/payload/src/builder.rs
  crates/primitives/src/receipt.rs
  crates/rpc/rpc/src/eth/api/pending_block.rs
  crates/storage/db-common/src/init.rs
  crates/storage/provider/src/bundle_state/bundle_state_with_receipts.rs
  crates/storage/provider/src/providers/database/provider.rs
  crates/storage/provider/src/test_utils/blocks.rs
  examples/exex/op-bridge/src/main.rs
Due: reth binary, blockchain tree, storage (db), networking, rpc, consensus/evm, primitives

fix clippy
  crates/evm/src/test_utils.rs
  crates/optimism/evm/src/execute.rs
  crates/storage/provider/src/bundle_state/bundle_state_with_receipts.rs
  examples/exex/op-bridge/src/main.rs
Due: storage (db)

fix clippy
  crates/evm/execution-types/src/chain.rs
  crates/optimism/payload/src/builder.rs
  examples/exex/op-bridge/src/main.rs
Due: none

no-std support
  crates/evm/execution-errors/src/lib.rs
  crates/evm/execution-errors/src/lib2.rs
Due: none

cargo updates
  Cargo.lock
  crates/evm/execution-errors/Cargo.toml
Due: none

write! macro rewrite
  crates/storage/errors/src/db.rs
  crates/storage/errors/src/lockfile.rs
Due: storage (db)

update write
  crates/evm/execution-errors/src/lib.rs
  crates/evm/execution-errors/src/trie.rs
Due: none

bump
  crates/storage/errors/src/db.rs
  crates/storage/errors/src/lib.rs
Due: storage (db)

nits
  crates/evm/execution-errors/src/lib.rs
  crates/evm/execution-errors/src/trie.rs
Due: none

lock bump
  Cargo.lock
Due: none

clippy
  book/cli/reth/node.md
  crates/node-core/src/args/debug.rs
Due: none

clippy
  crates/consensus/debug-client/src/providers/etherscan.rs
Due: consensus/evm

attri no -std
  crates/evm/execution-errors/src/lib.rs
Due: none

alloc imports
  crates/storage/errors/src/db.rs
  crates/storage/errors/src/lockfile.rs
  crates/storage/errors/src/provider.rs
Due: storage (db)

feat: add secp256k1 feature in reth-network-peers
  Cargo.toml
  crates/net/ecies/Cargo.toml
  crates/net/peers/Cargo.toml
  crates/net/peers/src/lib.rs
  crates/net/peers/src/node_record.rs
  crates/net/peers/src/trusted_peer.rs
Due: networking

fix: add secp256k1 in reth-discv4
  crates/net/discv4/Cargo.toml
  crates/net/ecies/Cargo.toml
Due: networking

fix: add secp256k1 in reth-discv5
  crates/net/discv5/Cargo.toml
Due: networking

fix: add secp256k1 feature in reth-dns-discovery
  crates/net/dns/Cargo.toml
Due: networking
