Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

Add exception for key-value removal by setting value to 0
  crates/telos/rpc-engine-api/src/compare.rs
Due: none

fix comments
  Cargo.lock
  crates/consensus/beacon/src/engine/message.rs
  crates/consensus/beacon/src/engine/mod.rs
  crates/e2e-test-utils/Cargo.toml
  crates/e2e-test-utils/src/payload.rs
  crates/engine/tree/src/tree/mod.rs
  crates/ethereum/payload/src/lib.rs
  crates/node/builder/Cargo.toml
  crates/node/builder/src/launch/engine.rs
  crates/optimism/payload/src/builder.rs
  crates/payload/basic/src/lib.rs
  crates/payload/builder/Cargo.toml
  crates/payload/builder/src/error.rs
  crates/payload/builder/src/lib.rs
  crates/payload/builder/src/noop.rs
  crates/payload/builder/src/service.rs
  crates/payload/builder/src/test_utils.rs
  crates/payload/builder/src/traits.rs
  crates/payload/primitives/Cargo.toml
  crates/payload/primitives/src/error.rs
  crates/payload/primitives/src/events.rs
  crates/payload/primitives/src/lib.rs
  crates/payload/primitives/src/traits.rs
  crates/rpc/rpc-engine-api/src/error.rs
  examples/custom-engine-types/Cargo.toml
  examples/custom-engine-types/src/main.rs
  examples/custom-payload-builder/Cargo.toml
  examples/custom-payload-builder/src/generator.rs
  examples/custom-payload-builder/src/job.rs
Due: rpc, consensus/evm, payload builder

first draft
  Cargo.lock
  crates/consensus/beacon/src/engine/mod.rs
  crates/e2e-test-utils/src/payload.rs
  crates/engine/tree/src/tree/mod.rs
  crates/node/builder/src/launch/engine.rs
  crates/payload/builder/Cargo.toml
  crates/payload/builder/src/lib.rs
  crates/payload/builder/src/service.rs
  crates/payload/builder/src/traits.rs
Due: consensus/evm, payload builder

fix rebasing
  crates/payload/primitives/src/error.rs
Due: payload builder

fix rebasing
  crates/engine/local/src/service.rs
  crates/node/builder/src/launch/engine.rs
  crates/payload/primitives/src/lib.rs
Due: payload builder

refactor: move reth-db-api::encode to reth-codecs
  Cargo.lock
  crates/prune/types/src/segment.rs
  crates/stages/stages/src/stages/utils.rs
  crates/storage/codecs/Cargo.toml
  crates/storage/codecs/src/error.rs
  crates/storage/codecs/src/lib.rs
  crates/storage/db-api/Cargo.toml
  crates/storage/db-api/src/lib.rs
  crates/storage/db-api/src/models/accounts.rs
  crates/storage/db-api/src/models/mod.rs
  crates/storage/db-api/src/table.rs
  crates/storage/db-models/Cargo.toml
  crates/storage/db-models/src/accounts.rs
  crates/storage/db-models/src/client_version.rs
  crates/storage/db-models/src/lib.rs
  crates/storage/db-models/src/sharded_key.rs
  crates/storage/db-models/src/storage_sharded_key.rs
  crates/storage/db-models/src/utils.rs
  crates/storage/db/Cargo.toml
  crates/storage/db/src/tables/mod.rs
  crates/storage/db/src/tables/raw.rs
  crates/storage/db/src/tables/utils.rs
  crates/storage/errors/Cargo.toml
  crates/storage/errors/src/db.rs
  crates/trie/common/src/nibbles.rs
Due: pipeline, storage (db), trie

add crate reth-db-serialization
  Cargo.lock
  Cargo.toml
  crates/storage/codecs/Cargo.toml
  crates/storage/codecs/src/lib.rs
  crates/storage/db-api/src/models/mod.rs
  crates/storage/db-models/src/sharded_key.rs
  crates/storage/db-models/src/storage_sharded_key.rs
  crates/storage/db-serialization/Cargo.toml
  crates/storage/db-serialization/src/decode.rs
  crates/storage/db-serialization/src/encode.rs
  crates/storage/db-serialization/src/error.rs
  crates/storage/db-serialization/src/lib.rs
Due: storage (db)

add mod encode, decode
  crates/storage/codecs/src/decode.rs
  crates/storage/codecs/src/encode.rs
  crates/storage/codecs/src/lib.rs
Due: storage (db)

init
  bin/reth/src/cli/mod.rs
  crates/chainspec/src/api.rs
  crates/cli/commands/src/node.rs
  crates/ethereum/node/src/node.rs
  crates/exex/exex/src/context.rs
  crates/node/builder/src/builder/mod.rs
  crates/node/builder/src/builder/states.rs
  crates/node/builder/src/launch/common.rs
  crates/node/builder/src/launch/engine.rs
  crates/node/builder/src/launch/exex.rs
  crates/node/builder/src/launch/mod.rs
  crates/node/builder/src/node.rs
  crates/node/builder/src/rpc.rs
  crates/node/core/src/args/pruning.rs
  crates/node/core/src/node_config.rs
  crates/optimism/cli/src/lib.rs
Due: reth binary

move reth-db-api::compress and decompress to reth-db-serialization
  crates/storage/codecs/src/lib.rs
  crates/storage/db-api/src/table.rs
  crates/storage/db-serialization/src/compress.rs
  crates/storage/db-serialization/src/decompress.rs
  crates/storage/db-serialization/src/lib.rs
Due: storage (db)

hash_keys bench: use HashSet::with_capacity (#11044)
  crates/storage/db/benches/hash_keys.rs
Due: storage (db)

Revert "chore(engine): disable parallel state root (#11024)"
  crates/engine/tree/src/tree/mod.rs
Due: none

Revert "chore(op-payload-builder): Refactor `optimism_payload` into smaller, reusable functions" (#11041)
  crates/optimism/node/src/lib.rs
  crates/optimism/payload/src/builder.rs
  crates/optimism/payload/src/lib.rs
  crates/payload/builder/src/error.rs
Due: payload builder

re-export PayloadBuilderError in reth-payload-builder
  Cargo.lock
  crates/payload/builder/src/lib.rs
  examples/custom-engine-types/Cargo.toml
  examples/custom-engine-types/src/main.rs
  examples/custom-payload-builder/Cargo.toml
  examples/custom-payload-builder/src/generator.rs
  examples/custom-payload-builder/src/job.rs
Due: payload builder

Add an exception for addresses that are not actually changed on revm in comparision
  crates/telos/rpc-engine-api/src/compare.rs
Due: none

chore(engine): revert disabling parallel state root (#11047)
  crates/engine/tree/src/tree/mod.rs
Due: none

add test cases for header truncation
  crates/storage/provider/src/providers/static_file/mod.rs
Due: storage (db)

set new writer as dirty during pruning
  crates/storage/nippy-jar/src/writer.rs
  crates/storage/provider/src/providers/static_file/writer.rs
Due: storage (db)

feat: make `NodeConfig` generic over `ChainSpec` (#11039)
  bin/reth/src/cli/mod.rs
  crates/chainspec/src/api.rs
  crates/cli/commands/src/node.rs
  crates/ethereum/node/src/node.rs
  crates/exex/exex/src/context.rs
  crates/node/builder/src/builder/mod.rs
  crates/node/builder/src/builder/states.rs
  crates/node/builder/src/launch/common.rs
  crates/node/builder/src/launch/engine.rs
  crates/node/builder/src/launch/exex.rs
  crates/node/builder/src/launch/mod.rs
  crates/node/builder/src/node.rs
  crates/node/builder/src/rpc.rs
  crates/node/core/src/args/pruning.rs
  crates/node/core/src/node_config.rs
  crates/optimism/cli/src/lib.rs
Due: reth binary

chore: use alloy-chains is_ethereum
  Cargo.lock
  crates/chainspec/src/spec.rs
  crates/net/discv5/src/network_stack_id.rs
Due: networking

Update docs
  crates/rpc/rpc-types-compat/src/transaction/mod.rs
Due: rpc

Add lost code comment
  crates/optimism/rpc/src/eth/transaction.rs
Due: none

Add todo
  crates/rpc/rpc-types-compat/src/transaction/mod.rs
Due: rpc

oof a lot of changes but i fixed the format and added tests
  Cargo.lock
  crates/exex/exex/Cargo.toml
  crates/exex/exex/src/wal.rs
  testing/testing-utils/src/generators.rs
Due: none

add dedicated functions for read/write
  crates/exex/exex/src/wal.rs
Due: none

also update Cargo.toml
  Cargo.toml
Due: none

reorganize tests
  crates/exex/exex/src/wal.rs
Due: none

chore: use alloy-chains is_ethereum (#11049)
  Cargo.lock
  Cargo.toml
  crates/chainspec/src/spec.rs
  crates/net/discv5/src/network_stack_id.rs
Due: networking

Fix merge conflicts
  crates/rpc/rpc-eth-api/src/helpers/call.rs
  crates/rpc/rpc-eth-types/src/simulate.rs
Due: rpc

finalization test
  crates/exex/exex/src/wal.rs
Due: none

dedup file creation
  crates/exex/exex/src/wal.rs
Due: none

Fix merge conflicts
  crates/rpc/rpc-eth-api/src/helpers/block.rs
  crates/rpc/rpc-eth-api/src/helpers/transaction.rs
Due: rpc

add cfg test test-utils
  crates/storage/provider/src/providers/static_file/manager.rs
Due: storage (db)

feat: add `blocks_per_file` field to `StaticFileProvider` (#11043)
  crates/cli/commands/src/db/clear.rs
  crates/cli/commands/src/db/stats.rs
  crates/cli/commands/src/stage/drop.rs
  crates/static-file/types/src/lib.rs
  crates/storage/provider/src/providers/static_file/manager.rs
  crates/storage/provider/src/providers/static_file/mod.rs
  crates/storage/provider/src/providers/static_file/writer.rs
  crates/storage/provider/src/test_utils/noop.rs
Due: storage (db)

Path conditions:
  reth binary: any of: bin/**, crates/config/**, crates/metrics/**, crates/tracing/**
  blockchain tree: any of: crates/blockchain-tree/**
  pipeline: any of: crates/stages/**, crates/staged-sync/**
  storage (db): any of: crates/storage/**
  trie: any of: crates/trie/**
  txpool: any of: crates/transaction-pool/**
  networking: any of: crates/net/**
  rpc: any of: crates/rpc/**
  consensus/evm: any of: crates/revm/**, crates/consensus/**
  payload builder: any of: crates/payload/**
  primitives: any of: crates/primitives/**, crates/tasks/**, crates/rlp/**, crates/interfaces/**
