Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

codecov.yml:

coverage:
  status:
    patch: off
    project:
      default:
        threshold: null
        informational: true
github_checks:
  annotations: false
comment:
  layout: "reach, files, flags, components"
  require_changes: true
component_management:
  individual_components:
    - component_id: reth_binary
      name: reth binary
      paths:
        - bin/**
        - crates/config/**
        - crates/metrics/**
        - crates/tracing/**
    - component_id: blockchain_tree
      name: blockchain tree
      paths:
        - crates/blockchain-tree/**
    - component_id: staged_sync
      name: pipeline
      paths:
        - crates/stages/**
        - crates/staged-sync/**
    - component_id: storage
      name: storage (db)
      paths:
        - crates/storage/**
    - component_id: trie
      name: trie
      paths:
        - crates/trie/**
    - component_id: txpool
      name: txpool
      paths:
        - crates/transaction-pool/**
    - component_id: networking
      name: networking
      paths:
        - crates/net/**
    - component_id: rpc
      name: rpc
      paths:
        - crates/rpc/**
    - component_id: core
      name: consensus/evm
      paths:
        - crates/revm/**
        - crates/consensus/**
    - component_id: builder
      name: payload builder
      paths:
        - crates/payload/**
    - component_id: primitives
      name: primitives
      paths:
        - crates/primitives/**
        - crates/tasks/**
        - crates/rlp/**
        - crates/interfaces/**

Update Cargo.toml
  crates/rpc/rpc-engine-api/Cargo.toml
Due: rpc

Update Cargo.toml
  crates/rpc/rpc-eth-api/Cargo.toml
Due: rpc

Update Cargo.toml
  crates/rpc/rpc-eth-types/Cargo.toml
Due: rpc

Update Cargo.toml
  crates/rpc/rpc-layer/Cargo.toml
Due: rpc

simplify
  crates/rpc/rpc-eth-api/src/types.rs
Due: rpc

format
  crates/rpc/rpc-engine-api/src/capabilities.rs
Due: rpc

Update Cargo.toml
  crates/stages/stages/Cargo.toml
Due: pipeline

Update Cargo.toml
  crates/stages/api/Cargo.toml
Due: pipeline

Update Cargo.toml
  crates/static-file/static-file/Cargo.toml
Due: none

Update Cargo.toml
  crates/storage/db-common/Cargo.toml
Due: storage (db)

Update Cargo.toml
  crates/storage/libmdbx-rs/Cargo.toml
Due: storage (db)

Update Cargo.toml
  crates/storage/nippy-jar/Cargo.toml
Due: storage (db)

Update Cargo.toml
  crates/storage/provider/Cargo.toml
Due: storage (db)

Update Cargo.toml
  crates/tasks/Cargo.toml
Due: primitives

Update Cargo.toml
  crates/tokio-util/Cargo.toml
Due: none

Update Cargo.toml
  crates/tracing/Cargo.toml
Due: reth binary

Update Cargo.toml
  crates/transaction-pool/Cargo.toml
Due: txpool

Update Cargo.toml
  crates/trie/trie/Cargo.toml
Due: trie

Update Cargo.toml
  crates/trie/parallel/Cargo.toml
Due: trie

Update Cargo.toml
  crates/trie/db/Cargo.toml
Due: trie

chore: relax bounds on RPC types (#14529)
  crates/optimism/rpc/src/eth/block.rs
  crates/optimism/rpc/src/eth/pending_block.rs
  crates/rpc/rpc-eth-api/src/helpers/pending_block.rs
  crates/rpc/rpc-eth-api/src/types.rs
  crates/rpc/rpc/src/eth/helpers/block.rs
  crates/rpc/rpc/src/eth/helpers/pending_block.rs
Due: rpc

docs: update broken link run-a-node.md (#14521)
  book/run/run-a-node.md
Due: none

chore(optimism/chainspec): Remove redundant crate prefixes. (#14525)
  crates/optimism/chainspec/src/lib.rs
Due: none

fix: codebase updates
  Cargo.lock
  Cargo.toml
  crates/ethereum/consensus/src/validation.rs
  crates/evm/Cargo.toml
  crates/optimism/reth/Cargo.toml
  crates/optimism/reth/src/lib.rs
  crates/scroll/chainspec/src/dev.rs
  crates/scroll/chainspec/src/lib.rs
  crates/scroll/chainspec/src/scroll.rs
  crates/scroll/chainspec/src/scroll_sepolia.rs
  crates/scroll/cli/Cargo.toml
  crates/scroll/cli/src/lib.rs
  crates/scroll/engine-primitives/src/payload/mod.rs
  crates/scroll/evm/src/error.rs
  crates/scroll/evm/src/execute.rs
  crates/scroll/node/src/addons.rs
  crates/scroll/node/src/builder/engine.rs
  crates/scroll/node/src/pool.rs
  crates/scroll/primitives/src/receipt.rs
  crates/scroll/primitives/src/transaction/signed.rs
Due: none

refactor: clean features + fix udeps
  .github/workflows/lint.yml
  Cargo.lock
  crates/ethereum/payload/Cargo.toml
  crates/payload/primitives/Cargo.toml
  crates/scroll/chainspec/Cargo.toml
Due: payload builder

refactor: bump revm to v56
  Cargo.lock
  Cargo.toml
Due: none

feat(rpc): Implement debug_codeByHash. (#14524)
  crates/rpc/rpc-api/src/debug.rs
  crates/rpc/rpc/src/debug.rs
Due: rpc

Update dependencies in Cargo.toml and improve code formatting in Bitfinity EVM client
  Cargo.lock
  Cargo.toml
  bin/reth/src/commands/bitfinity_import.rs
  bin/reth/tests/commands/bitfinity_import_it.rs
  crates/bitfinity-block-validator/Cargo.toml
  crates/bitfinity-block-validator/src/lib.rs
  crates/net/downloaders/src/bitfinity_evm_client.rs
Due: reth binary, networking

test: fix scroll tests
  Cargo.lock
  crates/scroll/chainspec/Cargo.toml
  crates/scroll/chainspec/src/dev.rs
  crates/scroll/chainspec/src/lib.rs
  crates/scroll/chainspec/src/scroll.rs
  crates/scroll/chainspec/src/scroll_sepolia.rs
  crates/scroll/evm/src/execute.rs
Due: none

feat: use provided PROMETHEUS_URL env var for Grafana in Docker
  etc/docker-compose.yml
Due: none

update name of expected failure
  .github/assets/hive/expected_failures.yaml
Due: none

chore(hive): update name of expected failure `eip7702_set_code_tx` (#14532)
  .github/assets/hive/expected_failures.yaml
Due: none

chore: allow missing total difficulty when loading node head
  crates/node/core/src/node_config.rs
Due: none

feat: use `PROMETHEUS_URL` env var for Grafana in Docker Compose (#14531)
  etc/docker-compose.yml
Due: none
