Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

codecov.yml:

coverage:
  status:
    patch: off
    project:
      default:
        threshold: null
        informational: true
github_checks:
  annotations: false
comment:
  layout: "reach, files, flags, components"
  require_changes: true
component_management:
  individual_components:
    - component_id: reth_binary
      name: reth binary
      paths:
        - bin/**
        - crates/config/**
        - crates/metrics/**
        - crates/tracing/**
    - component_id: blockchain_tree
      name: blockchain tree
      paths:
        - crates/blockchain-tree/**
    - component_id: staged_sync
      name: pipeline
      paths:
        - crates/stages/**
        - crates/staged-sync/**
    - component_id: storage
      name: storage (db)
      paths:
        - crates/storage/**
    - component_id: trie
      name: trie
      paths:
        - crates/trie/**
    - component_id: txpool
      name: txpool
      paths:
        - crates/transaction-pool/**
    - component_id: networking
      name: networking
      paths:
        - crates/net/**
    - component_id: rpc
      name: rpc
      paths:
        - crates/rpc/**
    - component_id: core
      name: consensus/evm
      paths:
        - crates/revm/**
        - crates/consensus/**
    - component_id: builder
      name: payload builder
      paths:
        - crates/payload/**
    - component_id: primitives
      name: primitives
      paths:
        - crates/primitives/**
        - crates/tasks/**
        - crates/rlp/**
        - crates/interfaces/**

bump sdk version
  Cargo.lock
  Cargo.toml
Due: none

bump sdk version
  Cargo.lock
Due: none

feature gate serde in ethereum-primitives
  crates/ethereum/primitives/Cargo.toml
  crates/ethereum/primitives/src/lib.rs
  crates/ethereum/primitives/src/receipt.rs
  crates/ethereum/primitives/src/transaction.rs
Due: none

fixed error in toml
  crates/ethereum/primitives/Cargo.toml
Due: none

use ethconfig
  Cargo.lock
  crates/rpc/rpc-builder/src/lib.rs
Due: rpc

feat: make trace_filter block range configurable (#14939)
  book/cli/reth/node.md
  crates/node/core/src/args/rpc_server.rs
  crates/rpc/rpc-builder/src/config.rs
  crates/rpc/rpc-builder/src/lib.rs
  crates/rpc/rpc-eth-types/src/builder/config.rs
  crates/rpc/rpc-server-types/src/constants.rs
  crates/rpc/rpc/src/trace.rs
Due: rpc

touchups
  crates/engine/tree/src/tree/mod.rs
Due: none

chore: invoke invalid block hook for new invalid blocks (#14776)
  crates/engine/tree/src/tree/mod.rs
Due: none

fixed errors
  Cargo.lock
  crates/ethereum/primitives/Cargo.toml
  crates/ethereum/primitives/src/lib.rs
  crates/ethereum/primitives/src/receipt.rs
  crates/ethereum/primitives/src/transaction.rs
Due: none

fixed errors
  crates/ethereum/primitives/Cargo.toml
Due: none

fixed errors in toml
  crates/ethereum/primitives/Cargo.toml
Due: none

fmt
  crates/ethereum/primitives/Cargo.toml
Due: none

Bump op-alloy
  Cargo.lock
  Cargo.toml
  crates/optimism/payload/src/payload.rs
Due: none

fix(l2-withdrawals-root): conversion of block to `OpExecutionPayloadEnvelopeV4` (#15038)
  Cargo.lock
  Cargo.toml
  crates/optimism/payload/src/payload.rs
Due: none

more comments
  crates/net/network/src/transactions/mod.rs
Due: networking

Build and push images in parallel
  .github/workflows/docker-git.yml
  .github/workflows/docker-nightly.yml
  .github/workflows/docker.yml
Due: none

feat: add total multiproof task duration grafana (#15034)
  etc/grafana/dashboards/overview.json
Due: none

Update body.rs
  crates/primitives-traits/src/block/body.rs
Due: none

fix: handling of on-disk reorgs
  crates/engine/tree/src/tree/mod.rs
  crates/engine/tree/src/tree/persistence_state.rs
Due: none

feat: add wait_time optional argument to reth-bench
  Cargo.lock
  bin/reth-bench/Cargo.toml
  bin/reth-bench/src/bench/new_payload_fcu.rs
Due: reth binary

fix
  crates/engine/tree/src/tree/mod.rs
Due: none

add debug namespace to auth module in op-reth
  Cargo.lock
  crates/ethereum/node/src/node.rs
  crates/node/builder/src/rpc.rs
  crates/optimism/node/Cargo.toml
  crates/optimism/node/src/node.rs
Due: none

remove reth-rpc dep
  Cargo.lock
  crates/optimism/node/Cargo.toml
Due: none

remove errors
  crates/optimism/node/src/node.rs
Due: none

chore: add handling for TryRecvError::Disconnected
  crates/engine/tree/benches/state_root_task.rs
  crates/trie/parallel/Cargo.toml
  crates/trie/parallel/src/lib.rs
  crates/trie/parallel/src/proof_task.rs
Due: trie

fix: use single channel
  crates/engine/tree/src/tree/payload_processor/multiproof.rs
  crates/trie/parallel/src/proof.rs
  crates/trie/parallel/src/proof_task.rs
Due: trie

chore: bump concurrency to 256
  crates/engine/tree/src/tree/payload_processor/multiproof.rs
Due: none

feat: use fixed number of db transactions for storage proofs
  Cargo.lock
  crates/trie/parallel/Cargo.toml
  crates/trie/parallel/src/lib.rs
  crates/trie/parallel/src/proof_task.rs
Due: trie

chore: check pending proofs before tx
  crates/trie/parallel/src/proof_task.rs
Due: trie

chore: send result directly when calculating proof
  crates/trie/parallel/src/proof_task.rs
Due: trie

chore: fix docs
  crates/trie/parallel/src/proof_task.rs
Due: trie

fix pending proof / task handling
  crates/engine/tree/src/tree/mod.rs
  crates/engine/tree/src/tree/payload_processor/mod.rs
  crates/engine/tree/src/tree/payload_processor/multiproof.rs
  crates/trie/parallel/src/proof.rs
  crates/trie/parallel/src/proof_task.rs
Due: trie

remove todo comment
  crates/engine/tree/src/tree/payload_processor/mod.rs
  crates/trie/parallel/src/proof.rs
Due: trie

chore: make the io task longer living
  crates/engine/tree/src/tree/payload_processor/mod.rs
  crates/engine/tree/src/tree/payload_processor/multiproof.rs
  crates/trie/parallel/src/proof.rs
  crates/trie/parallel/src/proof_task.rs
Due: trie

chore: fix incorrect running task removal
  crates/engine/tree/benches/state_root_task.rs
  crates/engine/tree/src/tree/mod.rs
  crates/engine/tree/src/tree/payload_processor/mod.rs
  crates/engine/tree/src/tree/payload_processor/multiproof.rs
  crates/trie/parallel/src/proof.rs
  crates/trie/parallel/src/proof_task.rs
Due: trie
