Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

bump version of revm-inspectors
  Cargo.lock
  Cargo.toml
Due: none

refactor(exex): use async fns in op bridge example
  examples/exex/op-bridge/src/main.rs
Due: none

chore: rm unused imports
  examples/exex/op-bridge/src/main.rs
Due: none

refactor: use async fns in minimal example (#7600)
  Cargo.toml
  examples/exex/minimal/src/main.rs
Due: none

Fix bug set boundaries downloaders
  bin/reth/src/commands/import.rs
  crates/net/downloaders/src/file_client.rs
Due: reth binary, networking

merge from main
  Cargo.lock
Due: none

Add method to get start header
  crates/net/downloaders/src/file_client.rs
Due: networking

fix(cli): import cmd logs (#7592)
  bin/reth/src/commands/import.rs
Due: reth binary

fix(cli): bug fix import cmd (#7602)
  bin/reth/src/commands/import.rs
  crates/net/downloaders/src/file_client.rs
Due: reth binary, networking

chore: pass connection to init as arg
  examples/exex/op-bridge/src/main.rs
Due: none

refactor(exex): use async fns in op bridge example (#7601)
  examples/exex/op-bridge/src/main.rs
Due: none

feat: Implement BlockReader::block_with_senders_range (#7402)
  crates/storage/provider/src/providers/database/mod.rs
  crates/storage/provider/src/providers/database/provider.rs
  crates/storage/provider/src/providers/mod.rs
  crates/storage/provider/src/providers/static_file/manager.rs
  crates/storage/provider/src/test_utils/mock.rs
  crates/storage/provider/src/test_utils/noop.rs
  crates/storage/provider/src/traits/block.rs
Due: storage (db)

fix examples
  examples/exex/minimal/src/main.rs
  examples/exex/op-bridge/src/main.rs
Due: none

fixup! Fix merge conflicts with emhane/chunked-chain-import
  bin/reth/src/commands/import.rs
  crates/net/downloaders/src/file_client.rs
Due: reth binary, networking

fix op-bridge example
  examples/exex/op-bridge/src/main.rs
Due: none

feat(exex): add `Pool` to `ExExContext` (#7573)
  crates/exex/src/context.rs
  crates/node-builder/src/builder.rs
  crates/node-builder/src/exex.rs
  crates/node-ethereum/tests/it/exex.rs
  examples/exex/minimal/src/main.rs
  examples/exex/op-bridge/src/main.rs
Due: none

lable PR
  .github/workflows/label-prs
Due: none

add block timestamp to logs filter
  crates/rpc/rpc/src/eth/filter.rs
  crates/rpc/rpc/src/eth/logs_utils.rs
Due: rpc

lable PR
  .github/workflows/label-prs.yml
Due: none

feat: impl TryFrom<reth_rpc_types::Transaction> for Transaction (#7551)
  Cargo.lock
  Cargo.toml
  crates/primitives/src/transaction/mod.rs
Due: primitives

block timestamp for range logs
  crates/rpc/rpc/src/eth/filter.rs
Due: rpc

single call for header
  crates/rpc/rpc/src/eth/filter.rs
Due: rpc

feat(rpc): add block timestamp to logs (#7606)
  crates/rpc/rpc/src/eth/filter.rs
  crates/rpc/rpc/src/eth/logs_utils.rs
Due: rpc

perf: poll loop improvements
  crates/exex/src/manager.rs
Due: none

change OptimismBaseFeeParams to constants
  crates/primitives/src/basefee.rs
  crates/primitives/src/chain/mod.rs
  crates/primitives/src/chain/spec.rs
  crates/primitives/src/constants/mod.rs
Due: primitives

Automatically set pr labels upon open
  .github/workflows/label-pr.yml
Due: none

add permission
  .github/workflows/label-pr.yml
Due: none

add reopened for testing
  .github/workflows/label-pr.yml
Due: none

add edited for testing
  .github/workflows/label-pr.yml
Due: none

Path conditions:
  reth binary: any of: bin/**, crates/config/**, crates/metrics/**, crates/tracing/**
  blockchain tree: any of: crates/blockchain-tree/**
  pipeline: any of: crates/stages/**, crates/staged-sync/**
  storage (db): any of: crates/storage/**
  trie: any of: crates/trie/**
  txpool: any of: crates/transaction-pool/**
  networking: any of: crates/net/**
  rpc: any of: crates/rpc/**
  consensus/evm: any of: crates/revm/**, crates/consensus/**
  payload builder: any of: crates/payload/**
  primitives: any of: crates/primitives/**, crates/tasks/**, crates/rlp/**, crates/interfaces/**
