Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

codecov.yml:

coverage:
  status:
    patch: off
    project:
      default:
        threshold: null
        informational: true
github_checks:
  annotations: false
comment:
  layout: "reach, files, flags, components"
  require_changes: true
component_management:
  individual_components:
    - component_id: reth_binary
      name: reth binary
      paths:
        - bin/**
        - crates/config/**
        - crates/metrics/**
        - crates/tracing/**
    - component_id: blockchain_tree
      name: blockchain tree
      paths:
        - crates/blockchain-tree/**
    - component_id: staged_sync
      name: pipeline
      paths:
        - crates/stages/**
        - crates/staged-sync/**
    - component_id: storage
      name: storage (db)
      paths:
        - crates/storage/**
    - component_id: trie
      name: trie
      paths:
        - crates/trie/**
    - component_id: txpool
      name: txpool
      paths:
        - crates/transaction-pool/**
    - component_id: networking
      name: networking
      paths:
        - crates/net/**
    - component_id: rpc
      name: rpc
      paths:
        - crates/rpc/**
    - component_id: core
      name: consensus/evm
      paths:
        - crates/revm/**
        - crates/consensus/**
    - component_id: builder
      name: payload builder
      paths:
        - crates/payload/**
    - component_id: primitives
      name: primitives
      paths:
        - crates/primitives/**
        - crates/tasks/**
        - crates/rlp/**
        - crates/interfaces/**

debug(req-1): add LOUD verification logging to prove SignedTx fix is called
  crates/arbitrum/node/src/node.rs
Due: none

docs(req-1): comprehensive status - fixes correct but infrastructure broken
  CRITICAL_INFRASTRUCTURE_ISSUE_ITERATION_95.md
  URGENT_STATUS_FOR_USER_ITERATION_97.md
Due: none

refactor: extract deferred trie task logic into a dedicated method
  crates/engine/tree/src/tree/payload_validator.rs
Due: none

update TransactionValidationTaskExecutor::new() to return the ValidationTask
  crates/transaction-pool/src/validate/task.rs
Due: txpool

refactor(payload_validator): extract spawn_deferred_trie_task method
  crates/engine/tree/src/tree/payload_validator.rs
Due: none

added comments
  crates/chain-state/src/in_memory.rs
  crates/engine/tree/src/tree/payload_validator.rs
Due: none

feat: add comprehensive message type tracking
  ACTION_PLAN_FOR_NEXT_SESSION.md
  BREAKTHROUGH_ITERATION_99.md
  COMPREHENSIVE_STATUS_ITERATION_49.md
  CRITICAL_BUG_REPORT.md
  CRITICAL_FINDING.md
  CRITICAL_TX_TYPE_BUG.md
  CUMULATIVE_GAS_ISSUE.md
  CURRENT_STATUS_AND_NEXT_STEPS.md
  CURRENT_STATUS_FOR_TESTING.md
  FINAL_STATUS_ITERATION_45.md
  FINAL_STATUS_ITERATION_48.md
  FINAL_SUMMARY_SESSION.md
  GAS_DISCREPANCY_ANALYSIS.md
  LEGACY_RLP_FIX_EXPLANATION.md
  NEXT_STEPS_RECEIPT_FIX.md
  PROGRESS_SUMMARY.md
  RECEIPTS_ROOT_FIX.md
  RECEIPTS_ROOT_SUCCESS.md
  RECEIPT_ISSUES_FOUND.md
  RECEIPT_TYPE_FIX_RESULTS.md
  SESSION_SUMMARY.md
  STATUS_FOR_TESTING_AGENT.md
  STATUS_FOR_TESTING_AGENT_ITERATION_53.md
  STATUS_FOR_TESTING_AGENT_ITERATION_57.md
  STATUS_ITERATION_48.md
  STATUS_ITERATION_57.md
  TESTING_AGENT_STATUS.md
  TESTING_AGENT_UPDATE_ITERATION_49.md
  TESTING_STATUS.md
  WORK_SUMMARY_ITERATION_59.md
  crates/arbitrum/node/src/node.rs
  node.log
Due: none

docs: add message type distribution analysis (iteration 100)
  MESSAGE_TYPE_DISTRIBUTION_ITERATION_100.md
Due: none

docs: iteration 100 breakthrough summary
  ITERATION_100_BREAKTHROUGH_SUMMARY.md
Due: none

fmt
  crates/engine/tree/src/tree/mod.rs
  crates/engine/tree/src/tree/tests.rs
Due: none

refactor(txpool): unify pending pool notification channels
  crates/transaction-pool/src/pool/best.rs
  crates/transaction-pool/src/pool/pending.rs
Due: txpool

Apply suggestions from code review
  crates/trie/trie/src/proof_v2/mod.rs
  crates/trie/trie/src/proof_v2/node.rs
Due: trie

docs: iteration 101 breakthrough - state root issue identified
  ITERATION_101_STATE_ROOT_ISSUE.md
  crates/arbitrum/node/src/node.rs
Due: none

fix(metrics): remove duplicate trie_input_duration recording (#19955)
  crates/engine/tree/src/tree/payload_validator.rs
Due: none

add comments
  crates/chain-state/src/in_memory.rs
  crates/engine/tree/src/tree/payload_validator.rs
Due: none

support genesis number for L2 rollup init
  crates/cli/commands/src/init_cmd.rs
Due: none

remove an Option check in the common case from should_retain
  crates/trie/trie/src/proof_v2/mod.rs
Due: trie

Get rid of recursion in WindowIter
  crates/trie/trie/src/proof_v2/mod.rs
Due: trie

fix: docs link in https://reth.rs/cli/cli
  docs/cli/help.rs
  docs/vocs/docs/pages/cli/SUMMARY.mdx
  docs/vocs/vocs.config.ts
Due: none

feat(trie): Proof V2: retain proof nodes which match targets (#19941)
  crates/trie/trie/src/proof_v2/mod.rs
  crates/trie/trie/src/proof_v2/node.rs
Due: trie

move merge_overlay_trie_input into the trie task
  crates/engine/tree/src/tree/payload_validator.rs
Due: none

fallback comment for trie_data
  crates/chain-state/src/in_memory.rs
Due: none

fix(net): correct Debug impl for StatusEth69
  crates/net/eth-wire-types/src/status.rs
Due: networking

loose the comment
  crates/cli/commands/src/init_cmd.rs
Due: none

fix(net): correct Debug impl for StatusEth69 (#19963)
  crates/net/eth-wire-types/src/status.rs
Due: networking

Fix up benchmarks to do proper comparisons
  crates/trie/trie/benches/proof_v2.rs
Due: trie

docs: iteration 103 analysis - ArbOS state management focus
  ITERATION_103_ANALYSIS.md
Due: none

update comment
  crates/chain-state/src/in_memory.rs
Due: none

Switch to using storage tries
  crates/trie/trie/benches/proof_v2.rs
Due: trie

feat(txpool): add total_other_transactions metric
  crates/transaction-pool/src/metrics.rs
  crates/transaction-pool/src/pool/txpool.rs
Due: txpool

debug(req-1): add logging for Retry tx_env to diagnose value transfer issue
  crates/arbitrum/evm/src/build.rs
Due: none

Some perf improvements
  crates/trie/trie/benches/proof_v2.rs
  crates/trie/trie/src/proof_v2/mod.rs
  crates/trie/trie/src/proof_v2/node.rs
Due: trie

feat: make a few more things pub
  crates/transaction-pool/src/validate/mod.rs
Due: txpool

fix(req-1): CRITICAL - initialize network_fee_account and other ArbOS state fields
  crates/arbitrum/evm/src/arb_evm.rs
  crates/arbitrum/evm/src/build.rs
Due: none

feat(txpool): add total_other_transactions metric (#19965)
  crates/transaction-pool/src/metrics.rs
  crates/transaction-pool/src/pool/txpool.rs
Due: txpool
