Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

chore: update comment
  crates/primitives/src/snapshot/segment.rs
Due: primitives

feat: add `HeadersTD` static file segment (#6118)
  bin/reth/src/commands/db/snapshots/mod.rs
  crates/primitives/src/snapshot/mod.rs
  crates/primitives/src/snapshot/segment.rs
  crates/storage/provider/src/providers/database/provider.rs
  crates/storage/provider/src/providers/snapshot/manager.rs
Due: reth binary, storage (db), primitives

few nits
  crates/net/network/src/session/mod.rs
Due: networking

smol cleanup
  crates/net/network/src/session/mod.rs
  crates/net/network/src/swarm.rs
Due: networking

feat(snapshot, prune): transactions (#5822)
  bin/reth/src/builder/mod.rs
  bin/reth/src/commands/db/snapshots/mod.rs
  crates/consensus/beacon/src/engine/hooks/controller.rs
  crates/consensus/beacon/src/engine/hooks/snapshot.rs
  crates/consensus/beacon/src/engine/mod.rs
  crates/consensus/beacon/src/engine/test_utils.rs
  crates/primitives/src/prune/mode.rs
  crates/prune/src/builder.rs
  crates/prune/src/pruner.rs
  crates/prune/src/segments/set.rs
  crates/snapshot/src/lib.rs
  crates/snapshot/src/segments/headers.rs
  crates/snapshot/src/segments/mod.rs
  crates/snapshot/src/segments/receipts.rs
  crates/snapshot/src/segments/transactions.rs
  crates/snapshot/src/snapshotter.rs
  crates/stages/src/test_utils/test_db.rs
  crates/storage/db/src/snapshot/mod.rs
  crates/storage/provider/src/providers/database/mod.rs
  crates/storage/provider/src/providers/snapshot/manager.rs
Due: reth binary, pipeline, storage (db), consensus/evm, primitives

Revert "feat(snapshot, prune): transactions"
  bin/reth/src/builder/mod.rs
  bin/reth/src/commands/db/snapshots/mod.rs
  crates/consensus/beacon/src/engine/hooks/controller.rs
  crates/consensus/beacon/src/engine/hooks/snapshot.rs
  crates/consensus/beacon/src/engine/mod.rs
  crates/consensus/beacon/src/engine/test_utils.rs
  crates/primitives/src/prune/mode.rs
  crates/prune/src/builder.rs
  crates/prune/src/pruner.rs
  crates/prune/src/segments/set.rs
  crates/snapshot/src/lib.rs
  crates/snapshot/src/segments/headers.rs
  crates/snapshot/src/segments/mod.rs
  crates/snapshot/src/segments/receipts.rs
  crates/snapshot/src/segments/transactions.rs
  crates/snapshot/src/snapshotter.rs
  crates/stages/src/test_utils/test_db.rs
  crates/storage/db/src/snapshot/mod.rs
  crates/storage/provider/src/providers/database/mod.rs
  crates/storage/provider/src/providers/snapshot/manager.rs
Due: reth binary, pipeline, storage (db), consensus/evm, primitives

Cap max graceful disconnects (#6117)
  crates/net/network/src/session/mod.rs
Due: networking

chore: use alloy engine rpc type
  Cargo.lock
  Cargo.toml
  crates/node-api/src/engine/payload.rs
  crates/node-api/src/engine/traits.rs
  crates/payload/builder/src/optimism.rs
  crates/payload/builder/src/payload.rs
  crates/primitives/src/transaction/sidecar.rs
  crates/rpc/rpc-types-compat/src/engine/payload.rs
  crates/rpc/rpc-types/Cargo.toml
  crates/rpc/rpc-types/src/eth/engine/cancun.rs
  crates/rpc/rpc-types/src/eth/engine/forkchoice.rs
  crates/rpc/rpc-types/src/eth/engine/mod.rs
  crates/rpc/rpc-types/src/eth/engine/optimism.rs
  crates/rpc/rpc-types/src/eth/engine/payload.rs
  crates/rpc/rpc-types/src/eth/engine/transition.rs
  crates/rpc/rpc-types/src/eth/mod.rs
  crates/rpc/rpc-types/src/eth/transaction/request.rs
  crates/rpc/rpc-types/src/eth/transaction/typed.rs
  crates/rpc/rpc-types/src/lib.rs
Due: rpc, payload builder, primitives

feat(storage, mdbx): transaction manager
  Cargo.lock
  crates/storage/libmdbx-rs/Cargo.toml
  crates/storage/libmdbx-rs/src/environment.rs
  crates/storage/libmdbx-rs/src/lib.rs
  crates/storage/libmdbx-rs/src/transaction.rs
  crates/storage/libmdbx-rs/src/txn_manager.rs
Due: storage (db)

make clippy happy
  crates/rpc/rpc-engine-api/src/engine_api.rs
Due: rpc

test: add additional recover test
  crates/primitives/src/transaction/mod.rs
Due: primitives

chore: update cargo.lock
  Cargo.lock
Due: none

test: add additional recover test (#6124)
  crates/primitives/src/transaction/mod.rs
Due: primitives

feat: add with_unused_ports method to rpc and network args (#6109)
  bin/reth/src/args/network_args.rs
  bin/reth/src/args/rpc_server_args.rs
  bin/reth/src/builder/mod.rs
Due: reth binary

chore: update cargo.lock (#6125)
  Cargo.lock
Due: none

remove api from pubsub
  crates/rpc/rpc-builder/src/lib.rs
  crates/rpc/rpc/src/eth/pubsub.rs
Due: rpc

chore: bump alloy
  Cargo.lock
  crates/primitives/src/transaction/sidecar.rs
  crates/rpc/rpc-engine-api/src/engine_api.rs
  crates/rpc/rpc-types/src/eth/transaction/request.rs
  crates/rpc/rpc-types/src/eth/transaction/typed.rs
Due: rpc, primitives

enable ssz feature
  Cargo.lock
  crates/rpc/rpc-types/Cargo.toml
Due: rpc

Move TransactionFetcher to own file
  crates/net/network/src/transactions/fetcher.rs
  crates/net/network/src/transactions/mod.rs
Due: networking

Fix docs
  crates/net/network/src/transactions/fetcher.rs
  crates/net/network/src/transactions/mod.rs
Due: networking

fixup! Fix docs
  crates/net/network/src/transactions/fetcher.rs
Due: networking

optimise TransactionFetcher (#6012)
  Cargo.lock
  crates/net/eth-wire/src/types/broadcast.rs
  crates/net/network/Cargo.toml
  crates/net/network/src/cache.rs
  crates/net/network/src/session/active.rs
  crates/net/network/src/swarm.rs
  crates/net/network/src/transactions/fetcher.rs
  crates/net/network/src/transactions/mod.rs
Due: networking

update
  Cargo.lock
  crates/rpc/rpc/src/debug.rs
Due: rpc

fix docs
  crates/node-api/src/engine/mod.rs
Due: none

chore: use alloy engine rpc type (#6123)
  Cargo.lock
  Cargo.toml
  crates/node-api/src/engine/mod.rs
  crates/node-api/src/engine/payload.rs
  crates/node-api/src/engine/traits.rs
  crates/payload/builder/src/optimism.rs
  crates/payload/builder/src/payload.rs
  crates/primitives/src/transaction/sidecar.rs
  crates/rpc/rpc-engine-api/src/engine_api.rs
  crates/rpc/rpc-types-compat/src/engine/payload.rs
  crates/rpc/rpc-types/Cargo.toml
  crates/rpc/rpc-types/src/eth/engine/cancun.rs
  crates/rpc/rpc-types/src/eth/engine/forkchoice.rs
  crates/rpc/rpc-types/src/eth/engine/mod.rs
  crates/rpc/rpc-types/src/eth/engine/optimism.rs
  crates/rpc/rpc-types/src/eth/engine/payload.rs
  crates/rpc/rpc-types/src/eth/engine/transition.rs
  crates/rpc/rpc-types/src/eth/mod.rs
  crates/rpc/rpc-types/src/eth/transaction/request.rs
  crates/rpc/rpc-types/src/eth/transaction/typed.rs
  crates/rpc/rpc-types/src/lib.rs
Due: rpc, payload builder, primitives

better error handling, feature flag
  crates/storage/db/Cargo.toml
  crates/storage/libmdbx-rs/Cargo.toml
  crates/storage/libmdbx-rs/src/codec.rs
  crates/storage/libmdbx-rs/src/cursor.rs
  crates/storage/libmdbx-rs/src/environment.rs
  crates/storage/libmdbx-rs/src/error.rs
  crates/storage/libmdbx-rs/src/transaction.rs
  crates/storage/libmdbx-rs/src/txn_manager.rs
Due: storage (db)

more gates
  crates/storage/libmdbx-rs/src/error.rs
  crates/storage/libmdbx-rs/src/transaction.rs
Due: storage (db)

fix doccomments
  crates/storage/libmdbx-rs/src/environment.rs
Due: storage (db)

more comments, improve handling, fix deadlock
  Cargo.lock
  crates/storage/libmdbx-rs/Cargo.toml
  crates/storage/libmdbx-rs/src/error.rs
  crates/storage/libmdbx-rs/src/txn_manager.rs
Due: storage (db)

chore: update JS inspector
  Cargo.lock
  Cargo.toml
  crates/rpc/rpc-builder/src/lib.rs
  crates/rpc/rpc/src/debug.rs
  crates/rpc/rpc/src/eth/revm_utils.rs
Due: rpc

bump revm-inspectors
  Cargo.lock
  crates/rpc/rpc-builder/src/lib.rs
Due: rpc

wip
  crates/rpc/rpc-builder/src/lib.rs
Due: rpc

rm redundant arg
  crates/rpc/rpc/src/debug.rs
Due: rpc

feat(trie): historical & sidechain state root
  crates/blockchain-tree/src/chain.rs
  crates/storage/provider/src/providers/state/historical.rs
  crates/trie/src/hashed_cursor/post_state.rs
  crates/trie/src/state.rs
Due: blockchain tree, storage (db), trie

Path conditions:
  reth binary: any of: bin/**, crates/config/**, crates/metrics/**, crates/tracing/**
  blockchain tree: any of: crates/blockchain-tree/**
  pipeline: any of: crates/stages/**, crates/staged-sync/**
  storage (db): any of: crates/storage/**
  trie: any of: crates/trie/**
  txpool: any of: crates/transaction-pool/**
  networking: any of: crates/net/**
  rpc: any of: crates/rpc/**
  consensus/evm: any of: crates/revm/**, crates/consensus/**
  payload builder: any of: crates/payload/**
  primitives: any of: crates/primitives/**, crates/tasks/**, crates/rlp/**, crates/interfaces/**
