Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

Recyle code clean up
  crates/net/discv5/Cargo.toml
  crates/net/discv5/src/config.rs
  crates/net/discv5/src/filter.rs
  crates/net/discv5/src/fork_id.rs
  crates/net/discv5/src/lib.rs
  crates/net/discv5/src/metrics.rs
  crates/net/discv5/src/network_key.rs
Due: networking

feat: add pre bedrock recovery check (#7726)
  crates/primitives/src/transaction/mod.rs
Due: primitives

gracefully shutdown prometheus server
  crates/node-core/src/metrics/prometheus_exporter.rs
Due: none

graceful shutdown
  crates/node-core/src/metrics/prometheus_exporter.rs
Due: none

minor fixes
  crates/node-core/src/metrics/prometheus_exporter.rs
Due: none

Fix lint
  crates/net/network/src/transactions/fetcher.rs
Due: networking

docs
  crates/primitives/src/transaction/mod.rs
Due: primitives

fix(grafana): adds missing panel for tx fetcher (#7700)
  crates/net/network/src/transactions/fetcher.rs
  etc/grafana/dashboards/reth-mempool.json
Due: networking

.
  crates/node-core/src/metrics/prometheus_exporter.rs
Due: none

fix(examples): send finished height from minimal exex
  examples/exex/minimal/src/main.rs
Due: none

fix comment
  examples/exex/minimal/src/main.rs
Due: none

Update crates/evm/src/execute.rs
  crates/evm/src/execute.rs
Due: none

Fix merge conflicts
  crates/net/discv5/src/metrics.rs
  crates/net/network/src/config.rs
Due: networking

fix(examples): send finished height from minimal exex (#7730)
  examples/exex/minimal/src/main.rs
Due: none

naming
  crates/evm-ethereum/src/execute.rs
  crates/node-optimism/src/evm/execute.rs
Due: none

docs: update base sequencer url
  book/run/optimism.md
Due: none

chore(engine): remove `find_canonical_ancestor` (#7716)
  crates/blockchain-tree/src/block_indices.rs
  crates/blockchain-tree/src/noop.rs
  crates/blockchain-tree/src/shareable.rs
  crates/consensus/beacon/src/engine/mod.rs
  crates/interfaces/src/blockchain_tree/mod.rs
  crates/storage/provider/src/providers/mod.rs
Due: blockchain tree, storage (db), consensus/evm, primitives

chore: extract cli runner from node-core (#7719)
  Cargo.lock
  Cargo.toml
  bin/reth/Cargo.toml
  bin/reth/src/cli/mod.rs
  bin/reth/src/commands/debug_cmd/build_block.rs
  bin/reth/src/commands/debug_cmd/execution.rs
  bin/reth/src/commands/debug_cmd/in_memory_merkle.rs
  bin/reth/src/commands/debug_cmd/merkle.rs
  bin/reth/src/commands/debug_cmd/mod.rs
  bin/reth/src/commands/debug_cmd/replay_engine.rs
  bin/reth/src/commands/node/mod.rs
  bin/reth/src/commands/recover/mod.rs
  bin/reth/src/commands/recover/storage_tries.rs
  bin/reth/src/lib.rs
  crates/cli/runner/Cargo.toml
  crates/cli/runner/src/lib.rs
  crates/node-core/src/cli/mod.rs
Due: reth binary

docs: update base sequencer url (#7731)
  book/run/optimism.md
Due: none

chore(engine): remove map insert error
  crates/consensus/beacon/src/engine/mod.rs
Due: consensus/evm

fix name
  crates/consensus/beacon/src/engine/mod.rs
Due: consensus/evm

chore(engine): remove map insert error (#7733)
  crates/consensus/beacon/src/engine/mod.rs
Due: consensus/evm

bump, pending
  examples/beacon-api-sidecar-fetcher/src/main.rs
Due: none

chore(engine): extract fcu pre-validation
  crates/consensus/beacon/src/engine/mod.rs
Due: consensus/evm

chore(engine): extract fcu pre-validation (#7736)
  crates/consensus/beacon/src/engine/mod.rs
Due: consensus/evm

chore(engine): extract fcu make canonical result processing
  crates/consensus/beacon/src/engine/mod.rs
Due: consensus/evm

feat: block executor provider and ethereum + op impl (#7594)
  Cargo.lock
  crates/evm-ethereum/Cargo.toml
  crates/evm-ethereum/src/execute.rs
  crates/evm-ethereum/src/lib.rs
  crates/evm/Cargo.toml
  crates/evm/src/execute.rs
  crates/evm/src/lib.rs
  crates/node-optimism/Cargo.toml
  crates/node-optimism/src/evm/execute.rs
  crates/node-optimism/src/evm/mod.rs
  crates/node-optimism/src/rpc.rs
  crates/revm/Cargo.toml
  crates/revm/src/lib.rs
  crates/revm/src/processor.rs
  crates/revm/src/test_utils.rs
Due: consensus/evm

chore(engine): extract fcu make canonical result processing (#7737)
  crates/consensus/beacon/src/engine/mod.rs
Due: consensus/evm

fix(engine): remove block execution error matching
  crates/consensus/beacon/src/engine/mod.rs
Due: consensus/evm

Path conditions:
  reth binary: any of: bin/**, crates/config/**, crates/metrics/**, crates/tracing/**
  blockchain tree: any of: crates/blockchain-tree/**
  pipeline: any of: crates/stages/**, crates/staged-sync/**
  storage (db): any of: crates/storage/**
  trie: any of: crates/trie/**
  txpool: any of: crates/transaction-pool/**
  networking: any of: crates/net/**
  rpc: any of: crates/rpc/**
  consensus/evm: any of: crates/revm/**, crates/consensus/**
  payload builder: any of: crates/payload/**
  primitives: any of: crates/primitives/**, crates/tasks/**, crates/rlp/**, crates/interfaces/**
