Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

codecov.yml:

coverage:
  status:
    patch: off
    project:
      default:
        threshold: null
        informational: true
github_checks:
  annotations: false
comment:
  layout: "reach, files, flags, components"
  require_changes: true
component_management:
  individual_components:
    - component_id: reth_binary
      name: reth binary
      paths:
        - bin/**
        - crates/config/**
        - crates/metrics/**
        - crates/tracing/**
    - component_id: blockchain_tree
      name: blockchain tree
      paths:
        - crates/blockchain-tree/**
    - component_id: staged_sync
      name: pipeline
      paths:
        - crates/stages/**
        - crates/staged-sync/**
    - component_id: storage
      name: storage (db)
      paths:
        - crates/storage/**
    - component_id: trie
      name: trie
      paths:
        - crates/trie/**
    - component_id: txpool
      name: txpool
      paths:
        - crates/transaction-pool/**
    - component_id: networking
      name: networking
      paths:
        - crates/net/**
    - component_id: rpc
      name: rpc
      paths:
        - crates/rpc/**
    - component_id: core
      name: consensus/evm
      paths:
        - crates/revm/**
        - crates/consensus/**
    - component_id: builder
      name: payload builder
      paths:
        - crates/payload/**
    - component_id: primitives
      name: primitives
      paths:
        - crates/primitives/**
        - crates/tasks/**
        - crates/rlp/**
        - crates/interfaces/**

perf(trie): `ParallelSparseTrie::update_subtrie_hashes` boilerplate (#16948)
  Cargo.lock
  crates/trie/sparse-parallel/Cargo.toml
  crates/trie/sparse-parallel/src/trie.rs
  crates/trie/sparse/src/trie.rs
Due: trie

bench: disable sparse trie update bench as it's flaky
  crates/trie/sparse/Cargo.toml
Due: trie

feat: use alias
  crates/e2e-test-utils/src/lib.rs
Due: none

bench: disable sparse trie update bench as it's flaky (#16953)
  crates/trie/sparse/Cargo.toml
Due: trie

fix: simplify bounds
  crates/ethereum/node/src/node.rs
  crates/optimism/node/src/node.rs
Due: none

fix doc comment
  crates/trie/sparse-parallel/src/trie.rs
Due: trie

Revert "bench: disable sparse trie update bench as it's flaky (#16953)"
  crates/trie/sparse/Cargo.toml
Due: trie

feat(trie): add SparseSubtrie::update_leaf
  Cargo.lock
  crates/trie/sparse-parallel/Cargo.toml
  crates/trie/sparse-parallel/src/trie.rs
Due: trie

feat(test): rewrite test_engine_tree_live_sync_fcu_extends_canon_chain using e2e framework (#16949)
  crates/engine/tree/src/tree/e2e_tests.rs
  crates/engine/tree/src/tree/tests.rs
Due: none

chore: remove duplicate callfees
  crates/rpc/rpc-eth-types/src/revm_utils.rs
Due: rpc

chore: update codeowners
  .github/CODEOWNERS
Due: none

feat(trie): add ParallelSparseTrie::update_leaf
  crates/trie/sparse-parallel/src/trie.rs
Due: trie

chore: remove duplicate callfees (#16955)
  crates/rpc/rpc-eth-types/src/revm_utils.rs
Due: rpc

chore: update codeowners (#16957)
  .github/CODEOWNERS
Due: none

feat(rpc): optimize EVM reuse in `eth_estimateGas`
  crates/rpc/rpc-eth-api/src/helpers/estimate.rs
Due: rpc

feat: added DbTx and DbTxMut traits for Either
  crates/storage/db-api/src/db_either.rs
  crates/storage/db-api/src/lib.rs
Due: storage (db)

chore(trie): Replace magic numbers in ParallelSparseTrie code
  crates/trie/sparse-parallel/src/trie.rs
Due: trie

chore: use revm tx trait directly
  crates/rpc/rpc-eth-types/src/revm_utils.rs
Due: rpc

chore: remove unused features
  crates/rpc/rpc-types-compat/Cargo.toml
Due: rpc

fixes
  crates/storage/db-api/src/db_either.rs
Due: storage (db)

chore: feature gate all op rpc types compat impl
  crates/rpc/rpc-types-compat/Cargo.toml
  crates/rpc/rpc-types-compat/src/lib.rs
  crates/rpc/rpc-types-compat/src/transaction.rs
Due: rpc

feat: Add reproducible debian packaging and CI workflow job
  .github/workflows/release.yml
  Makefile
  bin/reth/Cargo.toml
  bin/reth/debian/postinst
  bin/reth/debian/postrm
  bin/reth/debian/prerm
  bin/reth/debian/reth.service
  scripts/test-deb-reproducible.sh
Due: reth binary

lint
  crates/rpc/rpc-types-compat/Cargo.toml
Due: rpc

re-exports
  crates/optimism/rpc/Cargo.toml
  crates/rpc/rpc-eth-api/Cargo.toml
  crates/rpc/rpc-eth-api/src/lib.rs
Due: rpc

Make consts public, use pow rather than bit shifting
  crates/trie/sparse-parallel/src/trie.rs
Due: trie

fix feature
  crates/optimism/rpc/Cargo.toml
Due: none

chore: use revm tx trait directly (#16961)
  crates/rpc/rpc-eth-types/src/revm_utils.rs
Due: rpc

refactor
  crates/rpc/rpc-eth-types/src/cache/mod.rs
  crates/rpc/rpc/src/eth/filter.rs
Due: rpc

fix: address reviewer comments
  crates/rpc/rpc-eth-api/src/helpers/estimate.rs
Due: rpc

docs: simplify next_block_base_fee documentation
  crates/chainspec/src/api.rs
Due: none

feat: complete checks
  Cargo.lock
  crates/config/src/config.rs
  crates/node/core/src/args/pruning.rs
  crates/node/core/src/node_config.rs
Due: reth binary

refactor: change next_block_base_fee to take individual gas fields
  crates/chainspec/src/api.rs
  crates/chainspec/src/lib.rs
  crates/consensus/common/src/validation.rs
  crates/ethereum/evm/src/lib.rs
  crates/ethereum/node/tests/e2e/rpc.rs
  crates/optimism/chainspec/src/lib.rs
  crates/optimism/consensus/src/validation/mod.rs
  crates/optimism/evm/src/lib.rs
  crates/rpc/rpc-eth-api/src/helpers/fee.rs
  crates/rpc/rpc-eth-types/src/fee_history.rs
  crates/rpc/rpc/src/eth/core.rs
  crates/transaction-pool/src/maintain.rs
Due: txpool, rpc, consensus/evm

chore: feature gate all op rpc types compat impl (#16964)
  crates/optimism/rpc/Cargo.toml
  crates/rpc/rpc-eth-api/Cargo.toml
  crates/rpc/rpc-eth-api/src/lib.rs
  crates/rpc/rpc-types-compat/Cargo.toml
  crates/rpc/rpc-types-compat/src/lib.rs
  crates/rpc/rpc-types-compat/src/transaction.rs
Due: rpc

ExEx copy
  book/vocs/docs/pages/index.mdx
Due: none
