Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

chore(rpc): relax some types (#11946)
  crates/rpc/rpc-eth-api/src/helpers/call.rs
  crates/rpc/rpc-eth-api/src/helpers/trace.rs
  crates/rpc/rpc-eth-types/src/cache/db.rs
Due: rpc

chore: relax payload traits
  crates/e2e-test-utils/src/payload.rs
Due: none

Add custom beacon withdrawals example (#9497)
  Cargo.lock
  Cargo.toml
  examples/custom-beacon-withdrawals/Cargo.toml
  examples/custom-beacon-withdrawals/src/main.rs
Due: none

create EngineForkchoiceValidator
  Cargo.lock
  crates/engine/local/src/service.rs
  crates/engine/primitives/Cargo.toml
  crates/engine/primitives/src/lib.rs
  crates/engine/service/Cargo.toml
  crates/engine/service/src/service.rs
  crates/engine/tree/src/tree/mod.rs
  crates/ethereum/engine-primitives/src/lib.rs
  crates/ethereum/node/src/node.rs
  crates/node/builder/src/components/builder.rs
  crates/node/builder/src/components/engine.rs
  crates/node/builder/src/components/mod.rs
  crates/node/builder/src/launch/engine.rs
Due: none

opt: reduce allocs for parse_deposits_from_receipts
  crates/ethereum/evm/src/eip6110.rs
Due: none

docs: expand them
  crates/ethereum/evm/src/eip6110.rs
Due: none

chore: relax payload traits (#11947)
  crates/e2e-test-utils/src/payload.rs
Due: none

Update crates/cli/commands/Cargo.toml
  crates/cli/commands/Cargo.toml
Due: none

use arbitrary
  bin/reth/Cargo.toml
Due: reth binary

refactor: break out a constant
  crates/ethereum/evm/src/eip6110.rs
Due: none

remove commented out code
  crates/node/builder/src/launch/engine.rs
Due: none

refactor(rpc): small refactor in block_with_senders
  crates/rpc/rpc-eth-api/src/helpers/block.rs
Due: rpc

fix: clippy
  crates/ethereum/evm/src/eip6110.rs
Due: none

remove fee traits; fix unwrap() usage
  crates/optimism/chainspec/src/lib.rs
  crates/optimism/evm/src/lib.rs
  crates/optimism/node/src/engine.rs
  crates/optimism/payload/src/builder.rs
Due: none

Change to configure read_transaction_timeout
  book/cli/reth/db.md
  book/cli/reth/db/diff.md
  book/cli/reth/debug/build-block.md
  book/cli/reth/debug/execution.md
  book/cli/reth/debug/in-memory-merkle.md
  book/cli/reth/debug/merkle.md
  book/cli/reth/debug/replay-engine.md
  book/cli/reth/import.md
  book/cli/reth/init-state.md
  book/cli/reth/init.md
  book/cli/reth/node.md
  book/cli/reth/p2p.md
  book/cli/reth/prune.md
  book/cli/reth/recover/storage-tries.md
  book/cli/reth/stage/drop.md
  book/cli/reth/stage/dump.md
  book/cli/reth/stage/run.md
  book/cli/reth/stage/unwind.md
  crates/node/builder/src/launch/common.rs
  crates/node/core/src/args/database.rs
  crates/storage/provider/src/providers/database/mod.rs
Due: storage (db)

rpc rate limiter impl
  crates/rpc/rpc-builder/Cargo.toml
  crates/rpc/rpc-builder/src/lib.rs
  crates/rpc/rpc-builder/src/rate_limiter.rs
Due: rpc

expose budgets for p2p via cli
  crates/net/network/src/lib.rs
  crates/node/core/src/args/network.rs
Due: networking

init
  crates/storage/codecs/derive/src/compact/generator.rs
  crates/storage/codecs/derive/src/compact/mod.rs
  crates/transaction-pool/src/traits.rs
  examples/custom-payload-builder/src/generator.rs
Due: storage (db), txpool

fix test
  crates/trie/sparse/src/trie.rs
Due: trie

use default/empty genesis in zkvm
  crates/chainspec/src/spec.rs
Due: none

pin serde
  Cargo.lock
  Cargo.toml
Due: none

chore(primitives): use alloy eth conversion constants (#11892)
  Cargo.lock
  crates/consensus/common/src/calc.rs
  crates/ethereum/evm/src/execute.rs
  crates/evm/Cargo.toml
  crates/evm/src/state_change.rs
  crates/exex/exex/src/backfill/test_utils.rs
  crates/node/events/Cargo.toml
  crates/node/events/src/node.rs
  crates/primitives-traits/src/constants/mod.rs
  crates/revm/Cargo.toml
  crates/rpc/rpc-eth-types/src/gas_oracle.rs
  crates/rpc/rpc-eth-types/src/revm_utils.rs
Due: rpc, consensus/evm

fix: spawn network manager on test exex ctx (#11907)
  crates/exex/test-utils/src/lib.rs
Due: none

refactor(rpc): small refactor in `block_with_senders` (#11950)
  crates/rpc/rpc-eth-api/src/helpers/block.rs
Due: rpc

pin exact, pin in book sources
  Cargo.lock
  Cargo.toml
  book/sources/Cargo.toml
Due: none

Impl TransactionCompat for OpEthApi to set deposit receipt version
  crates/optimism/rpc/src/eth/mod.rs
  crates/optimism/rpc/src/eth/transaction.rs
Due: none

undo book patch
  book/sources/Cargo.toml
Due: none

primitive-traits: rm unused SELECTOR_LEN
  crates/primitives-traits/src/constants/mod.rs
Due: none

fix incompatibility of randomstate
  crates/trie/sparse/benches/root.rs
  crates/trie/sparse/src/trie.rs
Due: trie

primitive-traits: use alloy _DURATION constants
  Cargo.lock
  crates/node/core/Cargo.toml
  crates/node/core/src/args/payload_builder.rs
  crates/payload/basic/Cargo.toml
  crates/payload/basic/src/lib.rs
  crates/primitives-traits/src/constants/mod.rs
Due: payload builder

revert unrelated changes
  book/sources/Cargo.toml
  crates/trie/sparse/benches/root.rs
  crates/trie/sparse/src/trie.rs
Due: trie

test(trie): proptest <-> alloy maps integration
  book/sources/Cargo.toml
  crates/trie/sparse/benches/root.rs
  crates/trie/sparse/src/trie.rs
Due: trie

chore: serde 1.0.210
  Cargo.toml
Due: none

chore: run clippy locked
  .github/workflows/lint.yml
Due: none

Path conditions:
  reth binary: any of: bin/**, crates/config/**, crates/metrics/**, crates/tracing/**
  blockchain tree: any of: crates/blockchain-tree/**
  pipeline: any of: crates/stages/**, crates/staged-sync/**
  storage (db): any of: crates/storage/**
  trie: any of: crates/trie/**
  txpool: any of: crates/transaction-pool/**
  networking: any of: crates/net/**
  rpc: any of: crates/rpc/**
  consensus/evm: any of: crates/revm/**, crates/consensus/**
  payload builder: any of: crates/payload/**
  primitives: any of: crates/primitives/**, crates/tasks/**, crates/rlp/**, crates/interfaces/**
