Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

cleanup
  crates/optimism/txpool/src/validator.rs
  crates/transaction-pool/src/validate/eth.rs
Due: txpool

fix: address review comments from mattsse
  crates/engine/tree/src/tree/mod.rs
  crates/transaction-pool/src/test_utils/mock.rs
Due: txpool

fix: use Rust 2024 let-chain syntax while preserving original logic
  crates/engine/tree/src/tree/mod.rs
Due: none

fix: use ref mut in set_value macro for proper mutable borrowing
  crates/transaction-pool/src/test_utils/mock.rs
Due: txpool

fix: simplify set_value macro to use or-patterns for Rust 2024
  crates/transaction-pool/src/test_utils/mock.rs
Due: txpool

fix: use separate match arms in set_value macro for Rust 2024
  crates/transaction-pool/src/test_utils/mock.rs
Due: txpool

fix: resolve remaining merge conflicts and format code
  crates/e2e-test-utils/src/node.rs
  libconfig.rlib
Due: none

fixing macro
  crates/transaction-pool/src/test_utils/mock.rs
Due: txpool

fix
  crates/transaction-pool/src/test_utils/mock.rs
Due: txpool

more fixes
  crates/transaction-pool/src/test_utils/mock.rs
Due: txpool

fix: properly handle Rust 2024 match ergonomics in set_value macro
  crates/transaction-pool/src/test_utils/mock.rs
Due: txpool

fix: refactor backfill threshold logic to avoid useless_let_if_seq
  crates/engine/tree/src/tree/mod.rs
Due: none

fix: restore original logic for backfill_sync_target
  crates/engine/tree/src/tree/mod.rs
Due: none

fix
  crates/engine/tree/src/tree/mod.rs
Due: none

fix: clippy
  crates/engine/tree/src/tree/mod.rs
Due: none

fix: allow clippy warning for useless_let_if_seq in backfill threshold logic
  crates/engine/tree/src/tree/mod.rs
Due: none

fix(primitives-traits): delegate is_create for Extended::Other to fix create-detection
  crates/primitives-traits/src/extended.rs
Due: none

feat(downloaders): add file-client feature gate
  crates/net/downloaders/Cargo.toml
  crates/net/downloaders/src/lib.rs
Due: networking

fix: refactor backfill threshold logic to use match expression
  crates/engine/tree/src/tree/mod.rs
Due: none

chore(flashblocks): flasblock service metrics (#18697)
  Cargo.lock
  crates/optimism/flashblocks/Cargo.toml
  crates/optimism/flashblocks/src/service.rs
Due: none

docs: add note about v5
  crates/payload/primitives/src/lib.rs
Due: payload builder

test: insert receipts into database
  crates/storage/provider/src/providers/blockchain_provider.rs
Due: storage (db)

fix(primitives-traits): delegate is_create for Extended::Other to fix create-detection (#18699)
  crates/primitives-traits/src/extended.rs
Due: none

Update multiplex.rs
  crates/net/eth-wire/src/multiplex.rs
Due: networking

test: increment receipts static file for genesis
  crates/storage/provider/src/providers/database/provider.rs
Due: storage (db)

refactor
  crates/engine/tree/src/tree/mod.rs
  crates/engine/tree/src/tree/tests.rs
Due: none

fix clippy
  crates/engine/tree/src/tree/mod.rs
Due: none

Update install_geth.sh
  .github/assets/install_geth.sh
Due: none

correct payload hash
  Cargo.lock
Due: none

Update Cargo.lock
  Cargo.lock
Due: none

Update Cargo.toml
  crates/primitives/Cargo.toml
Due: primitives

Update mod.rs
  crates/primitives/src/transaction/mod.rs
Due: primitives

Update mod.rs
  crates/rpc/rpc-eth-types/src/error/mod.rs
Due: rpc

Path conditions:
  reth binary: any of: bin/**, crates/config/**, crates/metrics/**, crates/tracing/**
  blockchain tree: any of: crates/blockchain-tree/**
  pipeline: any of: crates/stages/**, crates/staged-sync/**
  storage (db): any of: crates/storage/**
  trie: any of: crates/trie/**
  txpool: any of: crates/transaction-pool/**
  networking: any of: crates/net/**
  rpc: any of: crates/rpc/**
  consensus/evm: any of: crates/revm/**, crates/consensus/**
  payload builder: any of: crates/payload/**
  primitives: any of: crates/primitives/**, crates/tasks/**, crates/rlp/**, crates/interfaces/**
