Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

codecov.yml:

coverage:
  status:
    patch: off
    project:
      default:
        threshold: null
        informational: true
github_checks:
  annotations: false
comment:
  layout: "reach, files, flags, components"
  require_changes: true
component_management:
  individual_components:
    - component_id: reth_binary
      name: reth binary
      paths:
        - bin/**
        - crates/config/**
        - crates/metrics/**
        - crates/tracing/**
    - component_id: blockchain_tree
      name: blockchain tree
      paths:
        - crates/blockchain-tree/**
    - component_id: staged_sync
      name: pipeline
      paths:
        - crates/stages/**
        - crates/staged-sync/**
    - component_id: storage
      name: storage (db)
      paths:
        - crates/storage/**
    - component_id: trie
      name: trie
      paths:
        - crates/trie/**
    - component_id: txpool
      name: txpool
      paths:
        - crates/transaction-pool/**
    - component_id: networking
      name: networking
      paths:
        - crates/net/**
    - component_id: rpc
      name: rpc
      paths:
        - crates/rpc/**
    - component_id: core
      name: consensus/evm
      paths:
        - crates/revm/**
        - crates/consensus/**
    - component_id: builder
      name: payload builder
      paths:
        - crates/payload/**
    - component_id: primitives
      name: primitives
      paths:
        - crates/primitives/**
        - crates/tasks/**
        - crates/rlp/**
        - crates/interfaces/**

chore: rm reth-primitives from node crates (#15069)
  Cargo.lock
  crates/node/builder/Cargo.toml
  crates/node/builder/src/launch/common.rs
  crates/node/builder/src/launch/engine.rs
  crates/node/builder/src/launch/exex.rs
  crates/node/core/Cargo.toml
  crates/node/core/src/utils.rs
Due: none

chore: rm reth-primitives from trie
  Cargo.lock
  crates/trie/parallel/Cargo.toml
  crates/trie/parallel/src/lib.rs
  crates/trie/parallel/src/proof.rs
  crates/trie/parallel/src/root.rs
Due: trie

feature gate serde in config
  crates/config/Cargo.toml
  crates/config/src/config.rs
Due: reth binary

fix
  crates/trie/parallel/benches/root.rs
Due: trie

fixes
  crates/config/Cargo.toml
Due: reth binary

fixes again
  crates/config/Cargo.toml
Due: reth binary

Update README.md
  README.md
Due: none

central fn
  crates/rpc/rpc-builder/src/lib.rs
Due: rpc

feat: add wait_time optional argument to reth-bench (#15045)
  Cargo.lock
  bin/reth-bench/Cargo.toml
  bin/reth-bench/src/bench/new_payload_fcu.rs
Due: reth binary

chore: rm reth-primitives from trie (#15070)
  Cargo.lock
  crates/trie/parallel/Cargo.toml
  crates/trie/parallel/benches/root.rs
  crates/trie/parallel/src/lib.rs
  crates/trie/parallel/src/proof.rs
  crates/trie/parallel/src/root.rs
Due: trie

Update fee_history.rs
  crates/rpc/rpc-eth-types/src/fee_history.rs
Due: rpc

Update mod.rs
  crates/net/network/src/transactions/mod.rs
Due: networking

Exempt auth server from query limits
  crates/rpc/rpc/src/engine.rs
  crates/rpc/rpc/src/eth/filter.rs
  crates/rpc/rpc/src/eth/mod.rs
  crates/rpc/rpc/src/lib.rs
Due: rpc

fix default impl
  crates/rpc/rpc/src/eth/filter.rs
Due: rpc

chore(deps): weekly `cargo update`
  Cargo.lock
Due: none

crunchy
  Cargo.lock
Due: none

respect gas limit for test_best_transactions_prioritized_senders()
  crates/transaction-pool/src/pool/best.rs
Due: txpool

bsc block import
  Cargo.lock
  crates/net/network/Cargo.toml
  crates/net/network/src/import.rs
Due: networking

bsc block import
  Cargo.lock
  crates/net/network/Cargo.toml
  crates/net/network/src/import.rs
  examples/bsc-p2p/Cargo.toml
  examples/bsc-p2p/src/block_import.rs
  examples/bsc-p2p/src/main.rs
Due: networking

fix: ci
  Cargo.lock
  examples/bsc-p2p/Cargo.toml
  examples/bsc-p2p/src/block_import/handle.rs
Due: none

bsc block import service
  examples/bsc-p2p/src/block_import/mod.rs
  examples/bsc-p2p/src/block_import/service.rs
Due: none

review: where clause, type error on send block, docs on import handle
  examples/bsc-p2p/src/block_import/service.rs
Due: none

fcu
  Cargo.lock
  crates/net/network/src/import.rs
  examples/bsc-p2p/Cargo.toml
  examples/bsc-p2p/src/block_import/service.rs
Due: networking

service and handle comunicating
  examples/bsc-p2p/src/block_import/mod.rs
  examples/bsc-p2p/src/block_import/service.rs
Due: none

wip: it test
  Cargo.lock
  examples/bsc-p2p/Cargo.toml
  examples/bsc-p2p/src/block_import/service.rs
  examples/bsc-p2p/tests/it/block_import.rs
  examples/bsc-p2p/tests/it/main.rs
Due: none

clippy
  examples/bsc-p2p/Cargo.toml
Due: none

tests: unit test setup
  Cargo.lock
  examples/bsc-p2p/Cargo.toml
  examples/bsc-p2p/src/block_import/service.rs
Due: none

tokio spawn to futures unordered
  examples/bsc-p2p/src/block_import/service.rs
Due: none

review
  examples/bsc-p2p/src/block_import/service.rs
Due: none

feature propagation
  examples/bsc-p2p/Cargo.toml
Due: none

dprint
  crates/net/network/Cargo.toml
Due: networking

parlia consensus and newpayload and fcu decoupled
  Cargo.lock
  examples/bsc-p2p/Cargo.toml
  examples/bsc-p2p/src/block_import/handle.rs
  examples/bsc-p2p/src/block_import/mod.rs
  examples/bsc-p2p/src/block_import/parlia.rs
  examples/bsc-p2p/src/block_import/service.rs
  examples/bsc-p2p/tests/it/block_import.rs
  examples/bsc-p2p/tests/it/main.rs
Due: none
