Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

extend message second time too
  crates/engine/tree/src/tree/root.rs
Due: none

match on source
  crates/engine/tree/src/tree/root.rs
Due: none

chore: updates from rebase
  crates/engine/tree/src/tree/mod.rs
  crates/engine/tree/src/tree/persistence_state.rs
  crates/storage/provider/src/providers/consistent_view.rs
  crates/trie/parallel/src/root.rs
Due: storage (db), trie

chore: fetch headers from static file first
  crates/storage/provider/src/providers/consistent_view.rs
Due: storage (db)

chore: refactor into separate fn
  crates/engine/tree/src/tree/mod.rs
  crates/storage/provider/src/providers/consistent_view.rs
Due: storage (db)

strict -> direct
  crates/engine/tree/src/tree/mod.rs
Due: none

chore: add some logs
  crates/storage/provider/src/providers/consistent.rs
Due: storage (db)

feat: enable parallel root
  crates/engine/tree/src/persistence.rs
  crates/engine/tree/src/tree/mod.rs
  crates/engine/tree/src/tree/persistence_state.rs
  crates/trie/parallel/src/root.rs
Due: trie

chore: remove logs and TODOs
  crates/engine/tree/src/tree/mod.rs
  crates/storage/provider/src/providers/consistent.rs
  crates/storage/provider/src/providers/consistent_view.rs
  crates/trie/parallel/src/root.rs
Due: storage (db), trie

chore: add comment documenting race condition fix
  crates/engine/tree/src/tree/mod.rs
  crates/engine/tree/src/tree/persistence_state.rs
  crates/storage/provider/src/providers/consistent_view.rs
Due: storage (db)

feat: ensure that view is an extension
  crates/storage/errors/src/provider.rs
  crates/storage/provider/src/providers/consistent_view.rs
Due: storage (db)

wip: disable errors for consistent view provider
  crates/engine/tree/src/persistence.rs
  crates/engine/tree/src/tree/mod.rs
  crates/engine/tree/src/tree/persistence_state.rs
Due: none

chore: some comments
  crates/engine/tree/src/persistence.rs
  crates/storage/provider/src/providers/consistent_view.rs
  crates/storage/provider/src/providers/database/provider.rs
Due: storage (db)

Back out "chore: some comments"
  crates/engine/tree/src/persistence.rs
  crates/storage/provider/src/providers/database/provider.rs
Due: storage (db)

chore: use only last block in CurrentPersistenceAction
  Cargo.lock
  crates/engine/tree/src/tree/mod.rs
  crates/engine/tree/src/tree/persistence_state.rs
  crates/storage/db-common/src/init.rs
  crates/storage/provider/Cargo.toml
  crates/storage/provider/src/providers/consistent_view.rs
Due: storage (db)

fix: return early in is_descendant, persist_blocks
  crates/engine/tree/src/tree/mod.rs
Due: none

chore: add docs for why descendant checks are safe
  crates/engine/tree/src/tree/mod.rs
Due: none

perf: one less block lookup
  crates/engine/tree/src/tree/mod.rs
  crates/storage/provider/Cargo.toml
Due: storage (db)

validate block against header on file client
  crates/net/downloaders/src/file_client.rs
Due: networking

store a bool instead
  crates/engine/tree/src/tree/root.rs
Due: none

unused import
  crates/engine/tree/src/tree/root.rs
Due: none

fix comments
  crates/engine/tree/src/tree/root.rs
Due: none

two lists
  crates/engine/tree/src/tree/root.rs
Due: none

feat: enable state root task during persistence (#12392)
  Cargo.lock
  crates/engine/tree/src/tree/mod.rs
  crates/engine/tree/src/tree/persistence_state.rs
  crates/storage/db-common/src/init.rs
  crates/storage/errors/src/provider.rs
  crates/storage/provider/Cargo.toml
  crates/storage/provider/src/providers/consistent_view.rs
Due: storage (db)

feat(merkle): Automate debug info collection and fix entities checkpoint tracking
  crates/stages/stages/src/stages/merkle.rs
Due: pipeline

fix(root): do not re-calculate targets for sparse trie update (#14074)
  crates/engine/tree/src/tree/root.rs
Due: none

feat: add evm_config field to tree
  Cargo.lock
  crates/engine/local/src/service.rs
  crates/engine/service/src/service.rs
  crates/engine/tree/Cargo.toml
  crates/engine/tree/src/tree/mod.rs
  crates/node/builder/src/launch/engine.rs
Due: none

perf: warm transactions in parallel
  crates/engine/local/src/service.rs
  crates/engine/service/src/service.rs
  crates/engine/tree/src/tree/cached_state.rs
  crates/engine/tree/src/tree/mod.rs
Due: none

chore: add debug logs
  crates/engine/tree/src/tree/mod.rs
Due: none

chore: isolate prewarm logic to fn
  crates/engine/tree/src/tree/mod.rs
Due: none

feat: prefetch proofs in prewarm thread
  crates/engine/tree/src/tree/mod.rs
  crates/engine/tree/src/tree/root.rs
Due: none

fix: only increment proofs processed if the state is not empty
  crates/engine/tree/src/tree/mod.rs
  crates/engine/tree/src/tree/root.rs
Due: none

chore: use direct sender and track execution finishing with atomic
  crates/engine/tree/src/tree/mod.rs
  crates/engine/tree/src/tree/root.rs
Due: none

fix: do not panic when proof comes in late
  crates/engine/tree/src/tree/mod.rs
  crates/engine/tree/src/tree/root.rs
Due: none

chore: fix imports
  crates/engine/tree/src/tree/mod.rs
  crates/engine/tree/src/tree/root.rs
Due: none

chore(trie-db): remove reth-primitives dep
  Cargo.lock
  crates/trie/db/Cargo.toml
  crates/trie/db/src/hashed_cursor.rs
  crates/trie/db/src/prefix_set.rs
  crates/trie/db/src/state.rs
  crates/trie/db/tests/fuzz_in_memory_nodes.rs
  crates/trie/db/tests/post_state.rs
  crates/trie/db/tests/proof.rs
  crates/trie/db/tests/trie.rs
  crates/trie/db/tests/witness.rs
Due: trie

chore(ethereum-node): remove reth-primitives dep
  Cargo.lock
  crates/ethereum/node/Cargo.toml
  crates/ethereum/node/src/node.rs
  crates/ethereum/node/src/payload.rs
  crates/ethereum/node/tests/e2e/utils.rs
Due: none

no clones
  crates/net/downloaders/src/file_client.rs
Due: networking

Path conditions:
  reth binary: any of: bin/**, crates/config/**, crates/metrics/**, crates/tracing/**
  blockchain tree: any of: crates/blockchain-tree/**
  pipeline: any of: crates/stages/**, crates/staged-sync/**
  storage (db): any of: crates/storage/**
  trie: any of: crates/trie/**
  txpool: any of: crates/transaction-pool/**
  networking: any of: crates/net/**
  rpc: any of: crates/rpc/**
  consensus/evm: any of: crates/revm/**, crates/consensus/**
  payload builder: any of: crates/payload/**
  primitives: any of: crates/primitives/**, crates/tasks/**, crates/rlp/**, crates/interfaces/**
