Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

chore(exex): exclude node generic from macro
  crates/exex/exex/src/dyexex.rs
Due: none

refactor(tx-pool): move is_underpriced to ValidPoolTransaction impl
  crates/transaction-pool/src/pool/txpool.rs
  crates/transaction-pool/src/validate/mod.rs
Due: txpool

chore(exex): improve ExEx entrypoint macro doc
  crates/exex/exex/src/dyexex.rs
Due: none

clippy
  crates/transaction-pool/src/validate/mod.rs
Due: txpool

chore: fmt
  crates/exex/exex/src/dyexex.rs
Due: none

refactor a bit
  crates/trie/sparse/src/trie.rs
Due: trie

some fmt (#11933)
  crates/storage/provider/src/providers/blockchain_provider.rs
  crates/storage/provider/src/providers/mod.rs
  crates/transaction-pool/src/traits.rs
Due: storage (db), txpool

test(tx-pool): add unit test for remove_sender_count
  crates/transaction-pool/src/pool/parked.rs
Due: txpool

chore: rm redundant trait bound
  crates/rpc/rpc/src/debug.rs
Due: rpc

fix comments
  crates/rpc/rpc-eth-api/src/helpers/block.rs
Due: rpc

feat: default impl for BlockExecutionStrategy methods
  crates/ethereum/evm/src/execute.rs
  crates/evm/src/execute.rs
  crates/evm/src/test_utils.rs
  crates/optimism/evm/src/execute.rs
Due: none

feat(exex): made macro accept double-wrapped future
  crates/exex/exex/src/dyexex.rs
Due: none

refactor(primitives-traits): rm useless trait bounds for Receipt
  crates/primitives-traits/src/receipt.rs
Due: none

chore: rm redundant trait bound (#11940)
  crates/rpc/rpc/src/debug.rs
Due: rpc

chore: spawn eth_calls as blocking tasks
  crates/rpc/rpc-eth-api/src/helpers/call.rs
Due: rpc

feat: default impl for some BlockExecutionStrategy methods (#11941)
  crates/ethereum/evm/src/execute.rs
  crates/evm/src/execute.rs
  crates/evm/src/test_utils.rs
  crates/optimism/evm/src/execute.rs
Due: none

test
  crates/transaction-pool/src/pool/txpool.rs
Due: txpool

test(trie): narrow the range of keys for sparse trie fuzz (#11937)
  crates/trie/sparse/src/trie.rs
Due: trie

add optimsim field to TxEnv
  examples/custom-beacon-withdrawals/Cargo.toml
  examples/custom-beacon-withdrawals/src/main.rs
Due: none

Add custom beacon withdrawals example
  examples/custom-beacon-withdrawals/Cargo.toml
  examples/custom-beacon-withdrawals/src/main.rs
Due: none

fix feature propagation
  examples/custom-beacon-withdrawals/Cargo.toml
Due: none

update to composable executor
  Cargo.lock
  Cargo.toml
  examples/custom-beacon-withdrawals/Cargo.toml
  examples/custom-beacon-withdrawals/src/main.rs
Due: none

chore: spawn eth_calls as blocking tasks (#11944)
  crates/rpc/rpc-eth-api/src/helpers/call.rs
Due: rpc

refactor(primitives-traits): rm useless trait bounds for `Receipt` (#11942)
  crates/primitives-traits/src/receipt.rs
Due: none

chore: omit `"C"` from extern fn
  crates/exex/exex/src/dyexex.rs
Due: none

test(tx-pool): add unit test for `remove_sender_count` (#11939)
  crates/transaction-pool/src/pool/parked.rs
Due: txpool

refactor(tx-pool): small refactor for `contains_conflicting_transaction` (#11935)
  crates/transaction-pool/src/pool/txpool.rs
Due: txpool

fix: always accept transactions with current nonce (#11931)
  crates/transaction-pool/src/pool/txpool.rs
Due: txpool

chore: rm helper types
  crates/rpc/rpc-eth-api/src/helpers/trace.rs
  crates/rpc/rpc-eth-types/src/cache/db.rs
Due: rpc

chore: relax some args
  crates/rpc/rpc-eth-api/src/helpers/call.rs
Due: rpc

chore(rpc): relax some types (#11946)
  crates/rpc/rpc-eth-api/src/helpers/call.rs
  crates/rpc/rpc-eth-api/src/helpers/trace.rs
  crates/rpc/rpc-eth-types/src/cache/db.rs
Due: rpc

Path conditions:
  reth binary: any of: bin/**, crates/config/**, crates/metrics/**, crates/tracing/**
  blockchain tree: any of: crates/blockchain-tree/**
  pipeline: any of: crates/stages/**, crates/staged-sync/**
  storage (db): any of: crates/storage/**
  trie: any of: crates/trie/**
  txpool: any of: crates/transaction-pool/**
  networking: any of: crates/net/**
  rpc: any of: crates/rpc/**
  consensus/evm: any of: crates/revm/**, crates/consensus/**
  payload builder: any of: crates/payload/**
  primitives: any of: crates/primitives/**, crates/tasks/**, crates/rlp/**, crates/interfaces/**
