Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

codecov.yml:

coverage:
  status:
    patch: off
    project:
      default:
        threshold: null
        informational: true
github_checks:
  annotations: false
comment:
  layout: "reach, files, flags, components"
  require_changes: true
component_management:
  individual_components:
    - component_id: reth_binary
      name: reth binary
      paths:
        - bin/**
        - crates/config/**
        - crates/metrics/**
        - crates/tracing/**
    - component_id: blockchain_tree
      name: blockchain tree
      paths:
        - crates/blockchain-tree/**
    - component_id: staged_sync
      name: pipeline
      paths:
        - crates/stages/**
        - crates/staged-sync/**
    - component_id: storage
      name: storage (db)
      paths:
        - crates/storage/**
    - component_id: trie
      name: trie
      paths:
        - crates/trie/**
    - component_id: txpool
      name: txpool
      paths:
        - crates/transaction-pool/**
    - component_id: networking
      name: networking
      paths:
        - crates/net/**
    - component_id: rpc
      name: rpc
      paths:
        - crates/rpc/**
    - component_id: core
      name: consensus/evm
      paths:
        - crates/revm/**
        - crates/consensus/**
    - component_id: builder
      name: payload builder
      paths:
        - crates/payload/**
    - component_id: primitives
      name: primitives
      paths:
        - crates/primitives/**
        - crates/tasks/**
        - crates/rlp/**
        - crates/interfaces/**

mirror geth algo for discarding txs in parked pool
  crates/transaction-pool/src/pool/parked.rs
Due: txpool

convert to hashmap for better tracking
  crates/transaction-pool/src/pool/pending.rs
Due: txpool

small parked improvements
  crates/transaction-pool/src/pool/parked.rs
Due: txpool

penalize oldest tx first of the pending pool
  crates/transaction-pool/src/pool/pending.rs
Due: txpool

wip
  crates/transaction-pool/src/pool/parked.rs
  crates/transaction-pool/src/pool/pending.rs
Due: txpool

use HashMap for get_spammers instead of n^2 iteration
  crates/transaction-pool/src/pool/pending.rs
Due: txpool

remove txs_by_sender
  crates/transaction-pool/src/pool/pending.rs
Due: txpool

test spammers method
  crates/transaction-pool/src/pool/pending.rs
Due: txpool

fix
  crates/transaction-pool/src/pool/parked.rs
Due: txpool

add test for truncate
  crates/transaction-pool/src/pool/pending.rs
Due: txpool

penalize oldest tx first of the parked pool
  crates/transaction-pool/src/pool/parked.rs
  crates/transaction-pool/src/pool/pending.rs
Due: txpool

fmt
  crates/transaction-pool/src/pool/parked.rs
Due: txpool

re-add threshold for get_spammers
  crates/transaction-pool/src/pool/pending.rs
Due: txpool

nit
  crates/transaction-pool/src/pool/parked.rs
Due: txpool

fix test
  crates/transaction-pool/src/pool/pending.rs
Due: txpool

report elapsed in nanos and log better parallel blocks
  bin/reth/src/parallel_execution/compare.rs
Due: reth binary

move hihgest snapshot channel inside snapshotter
  bin/reth/src/node/mod.rs
  crates/snapshot/src/snapshotter.rs
Due: reth binary

Update trace.rs
  crates/rpc/rpc-testing-util/src/trace.rs
Due: rpc

add default receiver to snapshotter
  crates/snapshot/src/snapshotter.rs
Due: none

measure duration with one instant, use static strings
  crates/blockchain-tree/src/metrics.rs
  crates/storage/provider/src/providers/database/metrics.rs
Due: blockchain tree, storage (db)

Update filter.rs
  crates/rpc/rpc-types/src/eth/trace/filter.rs
Due: rpc

replace with with_snapshot_provider on db provider
  crates/blockchain-tree/src/blockchain_tree.rs
  crates/storage/provider/src/providers/database/mod.rs
  crates/storage/provider/src/providers/database/provider.rs
Due: blockchain tree, storage (db)

add some corrections
  crates/snapshot/README.md
Due: none

docs: add an overview of the creation and querying of snapshots (#5270)
  crates/snapshot/README.md
Due: none

use rc refcell approach
  crates/revm/revm-inspectors/src/tracing/js/bindings.rs
  crates/revm/revm-inspectors/src/tracing/js/builtins.rs
  crates/revm/revm-inspectors/src/tracing/js/mod.rs
Due: consensus/evm

feat(rpc-types): Implement Clone for TraceFilter struct (#5273)
  crates/rpc/rpc-types/src/eth/trace/filter.rs
Due: rpc

fix destroyed again transition
  crates/revm/revm-parallel/src/shared/cache_account.rs
Due: consensus/evm

Update metrics.rs
  crates/tasks/src/metrics.rs
Due: primitives

Update trace.rs
  crates/rpc/rpc-testing-util/tests/it/trace.rs
Due: rpc

swap dashmap for mutex
  crates/revm/revm-parallel/src/shared/cache.rs
  crates/revm/revm-parallel/src/shared/state.rs
Due: consensus/evm

fix generate fn
  bin/reth/src/parallel_execution/generate.rs
Due: reth binary

Update http.rs
  crates/rpc/rpc-builder/tests/it/http.rs
Due: rpc

add test for parked truncate operation
  crates/transaction-pool/src/pool/parked.rs
Due: txpool

improve docs
  crates/transaction-pool/src/pool/parked.rs
Due: txpool

update test comments
  crates/transaction-pool/src/pool/parked.rs
  crates/transaction-pool/src/pool/pending.rs
Due: txpool

move optimism tx meta to new file
  crates/rpc/rpc/src/eth/api/block.rs
  crates/rpc/rpc/src/eth/api/mod.rs
  crates/rpc/rpc/src/eth/api/optimism.rs
  crates/rpc/rpc/src/eth/api/transactions.rs
Due: rpc

chore: make BodiesDownloaderBuilder default equal to BodiesConfig
  crates/net/downloaders/src/bodies/bodies.rs
Due: networking
