Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

codecov.yml:

coverage:
  status:
    patch: off
    project:
      default:
        threshold: null
        informational: true
github_checks:
  annotations: false
comment:
  layout: "reach, files, flags, components"
  require_changes: true
component_management:
  individual_components:
    - component_id: reth_binary
      name: reth binary
      paths:
        - bin/**
        - crates/config/**
        - crates/metrics/**
        - crates/tracing/**
    - component_id: blockchain_tree
      name: blockchain tree
      paths:
        - crates/blockchain-tree/**
    - component_id: staged_sync
      name: pipeline
      paths:
        - crates/stages/**
        - crates/staged-sync/**
    - component_id: storage
      name: storage (db)
      paths:
        - crates/storage/**
    - component_id: trie
      name: trie
      paths:
        - crates/trie/**
    - component_id: txpool
      name: txpool
      paths:
        - crates/transaction-pool/**
    - component_id: networking
      name: networking
      paths:
        - crates/net/**
    - component_id: rpc
      name: rpc
      paths:
        - crates/rpc/**
    - component_id: core
      name: consensus/evm
      paths:
        - crates/revm/**
        - crates/consensus/**
    - component_id: builder
      name: payload builder
      paths:
        - crates/payload/**
    - component_id: primitives
      name: primitives
      paths:
        - crates/primitives/**
        - crates/tasks/**
        - crates/rlp/**
        - crates/interfaces/**

docs: rm 8MB stack size comment in BlockingTaskPool (#18616)
  crates/tasks/src/pool.rs
Due: primitives

refactor(engine): simplify on_new_payload (#18613)
  crates/engine/tree/src/tree/mod.rs
  crates/engine/tree/src/tree/tests.rs
Due: none

chore: release 1.8.1 (#18646)
  Cargo.lock
  Cargo.toml
Due: none

chore: disable fee charge in env (#18634)
  Cargo.lock
  crates/rpc/rpc-eth-api/Cargo.toml
  crates/rpc/rpc-eth-api/src/helpers/call.rs
  crates/rpc/rpc-eth-api/src/lib.rs
Due: rpc

fix: Revert "chore: disable fee charge in env" (#18645)
  Cargo.lock
  crates/rpc/rpc-eth-api/Cargo.toml
  crates/rpc/rpc-eth-api/src/helpers/call.rs
  crates/rpc/rpc-eth-api/src/lib.rs
Due: rpc

chore(revert): add tokio runtime with custom thread naming (#18670)
  crates/cli/runner/src/lib.rs
  crates/engine/tree/src/tree/payload_processor/executor.rs
  crates/tasks/src/pool.rs
  crates/trie/parallel/src/root.rs
Due: trie, primitives

fix(payload): reversed-order test for validate_execution_requests (#18593)
  crates/payload/primitives/Cargo.toml
  crates/payload/primitives/src/lib.rs
Due: payload builder

chore: support custom transaction types in `EthTransactionValidator` (#18655)
  crates/transaction-pool/src/validate/eth.rs
Due: txpool

chore: enable all Ethereum protocol versions instead of hardcoding (#18065)
  crates/net/eth-wire-types/src/version.rs
  crates/net/eth-wire/src/hello.rs
Due: networking

refactor: simplify `EthApiSpeс` trait (#18674)
  crates/optimism/rpc/src/eth/mod.rs
  crates/rpc/rpc-eth-api/src/core.rs
  crates/rpc/rpc-eth-api/src/helpers/spec.rs
  crates/rpc/rpc-eth-api/src/helpers/transaction.rs
  crates/rpc/rpc/src/eth/helpers/spec.rs
Due: rpc

chore: update voc.config.to text to v1.8.1 (#18667)
  docs/vocs/vocs.config.ts
Due: none

fix(engine): correct misleading test comments in cached_state.rs (#18652)
  crates/engine/tree/src/tree/cached_state.rs
Due: none

docs(db): correct misleading test comments in post_state.rs (#18664)
  crates/trie/db/tests/post_state.rs
Due: trie

Update auth_client_layer.rs
  crates/rpc/rpc-layer/src/auth_client_layer.rs
Due: rpc

test: add unwind parse test (#18677)
  crates/cli/commands/src/stage/mod.rs
  crates/cli/commands/src/stage/unwind.rs
  crates/ethereum/cli/src/interface.rs
Due: none

add lock
  Cargo.lock
Due: none

default_value
  crates/cli/cli/src/chainspec.rs
  crates/cli/commands/src/common.rs
  crates/cli/commands/src/dump_genesis.rs
  crates/cli/commands/src/node.rs
  crates/cli/commands/src/p2p/mod.rs
  crates/cli/commands/src/stage/unwind.rs
  crates/ethereum/cli/src/interface.rs
Due: none

ChainSpecParser::default_value
  crates/cli/cli/src/chainspec.rs
  crates/cli/commands/src/common.rs
  crates/cli/commands/src/dump_genesis.rs
  crates/cli/commands/src/node.rs
  crates/cli/commands/src/p2p/mod.rs
  crates/ethereum/cli/src/interface.rs
Due: none

feat: support empty `SUPPORTED_CHAINS` for `ChainSpecParser` (#18679)
  crates/cli/cli/src/chainspec.rs
  crates/cli/commands/src/common.rs
  crates/cli/commands/src/dump_genesis.rs
  crates/cli/commands/src/node.rs
  crates/cli/commands/src/p2p/mod.rs
  crates/ethereum/cli/src/interface.rs
Due: none

chore(engine): remove unused EngineServiceError from engine service (#18666)
  Cargo.lock
  crates/engine/service/Cargo.toml
  crates/engine/service/src/service.rs
Due: none

test: fix ef-tests
  testing/ef-tests/src/cases/blockchain_test.rs
Due: none

feat(reth-evm): make `ConfigureEvm::evm_env` fallible
  crates/engine/tree/src/tree/payload_validator.rs
  crates/engine/util/src/reorg.rs
  crates/ethereum/evm/src/lib.rs
  crates/ethereum/evm/src/test_utils.rs
  crates/evm/evm/src/execute.rs
  crates/evm/evm/src/lib.rs
  crates/evm/evm/src/noop.rs
  crates/optimism/evm/src/lib.rs
  crates/rpc/rpc-eth-api/src/helpers/config.rs
  crates/rpc/rpc-eth-api/src/helpers/pending_block.rs
  crates/rpc/rpc-eth-api/src/helpers/state.rs
  crates/rpc/rpc/src/debug.rs
  examples/custom-beacon-withdrawals/src/main.rs
  examples/custom-node/src/evm/config.rs
Due: rpc

fix(rpc/engine): check osaka in getBlobsV1
  crates/rpc/rpc-engine-api/src/engine_api.rs
Due: rpc

check fork first
  crates/rpc/rpc-engine-api/src/engine_api.rs
Due: rpc

feat: commit both database and static files on commit()
  crates/exex/exex/src/backfill/test_utils.rs
  crates/storage/db-common/src/init.rs
  crates/storage/provider/src/providers/database/provider.rs
Due: storage (db)

docs: add todo about querying uncommitted data
  crates/exex/exex/src/backfill/test_utils.rs
  testing/ef-tests/src/cases/blockchain_test.rs
Due: none

feat(reth-rpc-convert): make header and transaction conversions fallible
  crates/rpc/rpc-convert/src/transaction.rs
Due: rpc

fix(engine): align sparse trie removal log target with engine::root::sparse
  crates/engine/tree/src/tree/payload_processor/sparse_trie.rs
Due: none

feat: commit in databaseprovider
  crates/storage/provider/src/providers/database/provider.rs
Due: storage (db)

revert: query both database and static files for now
  crates/storage/provider/src/providers/database/provider.rs
  testing/ef-tests/src/cases/blockchain_test.rs
Due: storage (db)

test: remove insert_historical_block
  crates/prune/prune/src/segments/mod.rs
  crates/stages/stages/src/stages/execution.rs
  crates/stages/stages/src/stages/hashing_account.rs
  crates/stages/stages/src/stages/mod.rs
  crates/storage/provider/src/providers/blockchain_provider.rs
  crates/storage/provider/src/providers/consistent.rs
  crates/storage/provider/src/providers/database/provider.rs
Due: pipeline, storage (db)

fix(engine): align sparse trie removal log target with engine::root::sparse (#18686)
  crates/engine/tree/src/tree/payload_processor/sparse_trie.rs
Due: none

correct docs
  crates/storage/provider/src/test_utils/blocks.rs
Due: storage (db)

fix format
  crates/storage/provider/src/test_utils/blocks.rs
Due: storage (db)

prefill cache on canonical tip updates
  crates/optimism/flashblocks/src/service.rs
Due: none

fix fmt errors
  crates/optimism/flashblocks/src/service.rs
Due: none
