Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

codecov.yml:

coverage:
  status:
    patch: off
    project:
      default:
        threshold: null
        informational: true
github_checks:
  annotations: false
comment:
  layout: "reach, files, flags, components"
  require_changes: true
component_management:
  individual_components:
    - component_id: reth_binary
      name: reth binary
      paths:
        - bin/**
        - crates/config/**
        - crates/metrics/**
        - crates/tracing/**
    - component_id: blockchain_tree
      name: blockchain tree
      paths:
        - crates/blockchain-tree/**
    - component_id: staged_sync
      name: pipeline
      paths:
        - crates/stages/**
        - crates/staged-sync/**
    - component_id: storage
      name: storage (db)
      paths:
        - crates/storage/**
    - component_id: trie
      name: trie
      paths:
        - crates/trie/**
    - component_id: txpool
      name: txpool
      paths:
        - crates/transaction-pool/**
    - component_id: networking
      name: networking
      paths:
        - crates/net/**
    - component_id: rpc
      name: rpc
      paths:
        - crates/rpc/**
    - component_id: core
      name: consensus/evm
      paths:
        - crates/revm/**
        - crates/consensus/**
    - component_id: builder
      name: payload builder
      paths:
        - crates/payload/**
    - component_id: primitives
      name: primitives
      paths:
        - crates/primitives/**
        - crates/tasks/**
        - crates/rlp/**
        - crates/interfaces/**

chore(sdk): Add MaybeArbitrary to all ATs on NodePrimitives
  crates/primitives-traits/src/node.rs
Due: none

chore(trie): move prefix sets to `reth_trie_common`
  crates/trie/common/src/lib.rs
  crates/trie/common/src/prefix_set.rs
  crates/trie/trie/src/lib.rs
Due: trie

fix: resolve cargo docs warnings
  crates/transaction-pool/src/traits.rs
Due: txpool

feat: introduce StateRootProviderExt and integrate it (and StateRootProvider) with StateCommitment
  Cargo.lock
  bin/reth/Cargo.toml
  bin/reth/src/commands/debug_cmd/build_block.rs
  bin/reth/src/commands/debug_cmd/in_memory_merkle.rs
  crates/blockchain-tree/Cargo.toml
  crates/blockchain-tree/src/blockchain_tree.rs
  crates/blockchain-tree/src/chain.rs
  crates/chain-state/src/in_memory.rs
  crates/chain-state/src/memory_overlay.rs
  crates/cli/commands/Cargo.toml
  crates/cli/commands/src/recover/storage_tries.rs
  crates/engine/invalid-block-hooks/src/witness.rs
  crates/engine/tree/src/tree/mod.rs
  crates/engine/util/src/reorg.rs
  crates/ethereum/payload/src/lib.rs
  crates/optimism/payload/src/builder.rs
  crates/revm/src/test_utils.rs
  crates/rpc/rpc-eth-api/src/helpers/pending_block.rs
  crates/rpc/rpc-eth-types/src/cache/db.rs
  crates/rpc/rpc-eth-types/src/simulate.rs
  crates/rpc/rpc/src/validation.rs
  crates/stages/stages/src/stages/merkle.rs
  crates/storage/provider/src/providers/bundle_state_provider.rs
  crates/storage/provider/src/providers/database/provider.rs
  crates/storage/provider/src/providers/state/historical.rs
  crates/storage/provider/src/providers/state/latest.rs
  crates/storage/provider/src/providers/state/macros.rs
  crates/storage/provider/src/test_utils/mock.rs
  crates/storage/provider/src/test_utils/mod.rs
  crates/storage/provider/src/test_utils/noop.rs
  crates/storage/storage-api/src/trie.rs
  crates/trie/db/src/state.rs
Due: reth binary, blockchain tree, pipeline, storage (db), trie, rpc, consensus/evm

move bench & fix docs
  crates/trie/common/benches/prefix_set.rs
  crates/trie/common/src/prefix_set.rs
  crates/trie/trie/Cargo.toml
  crates/trie/trie/benches/prefix_set.rs
Due: trie

fix
  Cargo.lock
  crates/trie/common/Cargo.toml
  crates/trie/common/benches/prefix_set.rs
Due: trie

feat: add pending_transactions_max in trait TransactionPool (#12856)
  crates/transaction-pool/src/lib.rs
  crates/transaction-pool/src/noop.rs
  crates/transaction-pool/src/pool/mod.rs
  crates/transaction-pool/src/traits.rs
Due: txpool

chore(trie): move prefix sets to `reth_trie_common` (#12860)
  Cargo.lock
  crates/trie/common/Cargo.toml
  crates/trie/common/benches/prefix_set.rs
  crates/trie/common/src/lib.rs
  crates/trie/common/src/prefix_set.rs
  crates/trie/trie/Cargo.toml
  crates/trie/trie/src/lib.rs
Due: trie

test: enable op prim arbitrary in e2e test-utils
  Cargo.lock
  crates/e2e-test-utils/Cargo.toml
Due: none

feat: use pooled type internally
  crates/transaction-pool/src/lib.rs
  crates/transaction-pool/src/noop.rs
  crates/transaction-pool/src/pool/mod.rs
  crates/transaction-pool/src/traits.rs
Due: txpool

chore(trie): introduce `serde` feature on `reth-trie-common`
  crates/storage/db/Cargo.toml
  crates/trie/common/Cargo.toml
  crates/trie/common/src/hash_builder/state.rs
  crates/trie/common/src/nibbles.rs
  crates/trie/common/src/proofs.rs
  crates/trie/common/src/storage.rs
  crates/trie/db/src/prefix_set.rs
  crates/trie/db/src/proof.rs
  crates/trie/db/src/trie_cursor.rs
  crates/trie/db/tests/proof.rs
  crates/trie/db/tests/trie.rs
  crates/trie/db/tests/walker.rs
  crates/trie/trie/Cargo.toml
Due: storage (db), trie

chore: relax mempool impl
  crates/net/eth-wire-types/src/broadcast.rs
Due: networking

test: enable op prim arbitrary in e2e test-utils (#12862)
  Cargo.lock
  crates/e2e-test-utils/Cargo.toml
Due: none

rm dep
  crates/trie/db/Cargo.toml
Due: trie

fix serde feature propagation
  crates/trie/common/Cargo.toml
Due: trie

chore: relax mempool impl (#12865)
  crates/net/eth-wire-types/src/broadcast.rs
Due: networking

fix
  crates/trie/db/Cargo.toml
Due: trie

chore: add encodable to pooled recovered
  crates/primitives/src/transaction/pooled.rs
  crates/transaction-pool/src/traits.rs
Due: txpool, primitives

chore(trie): introduce `serde` feature on `reth-trie-common` (#12864)
  crates/storage/db/Cargo.toml
  crates/trie/common/Cargo.toml
  crates/trie/common/src/hash_builder/state.rs
  crates/trie/common/src/nibbles.rs
  crates/trie/common/src/proofs.rs
  crates/trie/common/src/storage.rs
  crates/trie/db/Cargo.toml
  crates/trie/db/src/prefix_set.rs
  crates/trie/db/src/proof.rs
  crates/trie/db/src/trie_cursor.rs
  crates/trie/db/tests/proof.rs
  crates/trie/db/tests/trie.rs
  crates/trie/db/tests/walker.rs
  crates/trie/trie/Cargo.toml
Due: storage (db), trie

chore: add encodable to pooled recovered (#12866)
  crates/primitives/src/transaction/pooled.rs
  crates/transaction-pool/src/traits.rs
Due: txpool, primitives

chore(trie): move trie updates to `reth-trie-common`
  Cargo.lock
  crates/engine/invalid-block-hooks/Cargo.toml
  crates/evm/execution-types/Cargo.toml
  crates/evm/execution-types/src/chain.rs
  crates/revm/Cargo.toml
  crates/storage/provider/Cargo.toml
  crates/trie/common/Cargo.toml
  crates/trie/common/src/lib.rs
  crates/trie/common/src/updates.rs
  crates/trie/db/Cargo.toml
  crates/trie/parallel/src/root.rs
  crates/trie/sparse/benches/root.rs
  crates/trie/trie/Cargo.toml
  crates/trie/trie/src/lib.rs
  crates/trie/trie/src/trie.rs
  crates/trie/trie/src/walker.rs
Due: storage (db), trie, consensus/evm

rustfmt
  crates/transaction-pool/src/traits.rs
Due: txpool

fix
  crates/primitives/Cargo.toml
  crates/trie/common/src/updates.rs
Due: trie, primitives

fix
  crates/primitives/Cargo.toml
Due: primitives

chore: add helper for encoded
  crates/primitives-traits/src/encoded.rs
Due: none

fix
  crates/trie/common/src/updates.rs
Due: trie

feature propagation
  crates/evm/execution-types/Cargo.toml
  crates/revm/Cargo.toml
  crates/storage/provider/Cargo.toml
Due: storage (db), consensus/evm

feat: make PooledTransactionsElementEcRecovered generic over transaction
  crates/primitives/src/transaction/pooled.rs
Due: primitives

feat: use Pooled type for get_pooled_transaction_element in pool trait (#12867)
  crates/transaction-pool/src/lib.rs
  crates/transaction-pool/src/noop.rs
  crates/transaction-pool/src/pool/mod.rs
  crates/transaction-pool/src/traits.rs
Due: txpool

touchups
  crates/consensus/beacon/src/engine/event.rs
  crates/consensus/beacon/src/engine/mod.rs
  crates/engine/tree/src/tree/mod.rs
  crates/node/events/src/node.rs
Due: consensus/evm

spell
  crates/primitives/src/transaction/pooled.rs
Due: primitives

fix docs
  crates/trie/common/src/updates.rs
Due: trie
