Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

codecov.yml:

coverage:
  status:
    patch: off
    project:
      default:
        threshold: null
        informational: true
github_checks:
  annotations: false
comment:
  layout: "reach, files, flags, components"
  require_changes: true
component_management:
  individual_components:
    - component_id: reth_binary
      name: reth binary
      paths:
        - bin/**
        - crates/config/**
        - crates/metrics/**
        - crates/tracing/**
    - component_id: blockchain_tree
      name: blockchain tree
      paths:
        - crates/blockchain-tree/**
    - component_id: staged_sync
      name: pipeline
      paths:
        - crates/stages/**
        - crates/staged-sync/**
    - component_id: storage
      name: storage (db)
      paths:
        - crates/storage/**
    - component_id: trie
      name: trie
      paths:
        - crates/trie/**
    - component_id: txpool
      name: txpool
      paths:
        - crates/transaction-pool/**
    - component_id: networking
      name: networking
      paths:
        - crates/net/**
    - component_id: rpc
      name: rpc
      paths:
        - crates/rpc/**
    - component_id: core
      name: consensus/evm
      paths:
        - crates/revm/**
        - crates/consensus/**
    - component_id: builder
      name: payload builder
      paths:
        - crates/payload/**
    - component_id: primitives
      name: primitives
      paths:
        - crates/primitives/**
        - crates/tasks/**
        - crates/rlp/**
        - crates/interfaces/**

use from impl
  crates/optimism/payload/src/payload.rs
  crates/primitives/src/transaction/mod.rs
  crates/primitives/src/transaction/pooled.rs
  crates/rpc/rpc-types-compat/src/engine/payload.rs
Due: rpc, primitives

feature gate the module
  crates/primitives-traits/src/header/mod.rs
Due: none

rm unnecessary type annotation
  crates/chain-state/src/in_memory.rs
Due: none

impl `Encodable2718`, `Decodable2718` for `TransactionSigned` (#11218)
  Cargo.lock
  bin/reth/Cargo.toml
  bin/reth/src/commands/debug_cmd/build_block.rs
  crates/optimism/evm/Cargo.toml
  crates/optimism/evm/src/l1.rs
  crates/optimism/node/Cargo.toml
  crates/optimism/node/src/txpool.rs
  crates/optimism/payload/Cargo.toml
  crates/optimism/payload/src/payload.rs
  crates/optimism/rpc/Cargo.toml
  crates/optimism/rpc/src/eth/receipt.rs
  crates/primitives/src/block.rs
  crates/primitives/src/proofs.rs
  crates/primitives/src/transaction/compat.rs
  crates/primitives/src/transaction/mod.rs
  crates/primitives/src/transaction/pooled.rs
  crates/primitives/src/transaction/signature.rs
  crates/rpc/rpc-eth-api/Cargo.toml
  crates/rpc/rpc-eth-api/src/helpers/transaction.rs
  crates/rpc/rpc-types-compat/Cargo.toml
  crates/rpc/rpc-types-compat/src/engine/payload.rs
  crates/rpc/rpc/Cargo.toml
  crates/rpc/rpc/src/debug.rs
  crates/rpc/rpc/src/eth/helpers/signer.rs
  crates/transaction-pool/src/test_utils/gen.rs
  crates/transaction-pool/src/traits.rs
Due: reth binary, txpool, rpc, primitives

replace by fetch_db_mem_by_tx_id
  crates/storage/provider/src/providers/blockchain_provider.rs
Due: storage (db)

rm commented code
  crates/storage/provider/src/providers/blockchain_provider.rs
Due: storage (db)

fmt
  crates/storage/provider/src/providers/blockchain_provider.rs
Due: storage (db)

enable primitives traits feature
  crates/primitives/Cargo.toml
Due: primitives

get_in_memory_or_database_by_tx_id
  crates/storage/provider/src/providers/blockchain_provider.rs
Due: storage (db)

get_in_memory_or_storage_by_tx_id
  crates/storage/provider/src/providers/blockchain_provider.rs
Due: storage (db)

fix(providers): collect BlockState before constructing DB provider (#11338)
  crates/chain-state/src/in_memory.rs
  crates/storage/provider/src/providers/blockchain_provider.rs
Due: storage (db)

export more types
  crates/primitives/src/lib.rs
  crates/primitives/src/transaction/mod.rs
Due: primitives

import alloc vec
  crates/primitives/src/block.rs
Due: primitives

add missing docs -.-
  crates/primitives/src/transaction/mod.rs
Due: primitives

in_mem_chain is in reverse
  crates/storage/provider/src/providers/blockchain_provider.rs
Due: storage (db)

feat: wire SystemCaller (#11321)
  crates/engine/invalid-block-hooks/src/witness.rs
  crates/engine/util/src/reorg.rs
  crates/ethereum/evm/src/execute.rs
  crates/ethereum/payload/src/lib.rs
  crates/evm/src/system_calls/eip2935.rs
  crates/evm/src/system_calls/eip4788.rs
  crates/evm/src/system_calls/eip7002.rs
  crates/evm/src/system_calls/eip7251.rs
  crates/evm/src/system_calls/mod.rs
  crates/optimism/evm/src/execute.rs
  crates/optimism/payload/src/builder.rs
  crates/rpc/rpc-eth-api/src/helpers/pending_block.rs
Due: rpc

fix test_transaction_block
  crates/storage/provider/src/providers/blockchain_provider.rs
Due: storage (db)

Extract functionality from TransactionSigned into new trait SignedTransaction
  Cargo.lock
  bin/reth/src/commands/debug_cmd/build_block.rs
  crates/engine/invalid-block-hooks/src/witness.rs
  crates/optimism/primitives/src/lib.rs
  crates/primitives/src/lib.rs
  crates/primitives/src/transaction/compat.rs
  crates/primitives/src/transaction/mod.rs
  crates/primitives/src/transaction/pooled.rs
  crates/primitives/src/transaction/signature.rs
  crates/primitives/src/transaction/signed.rs
  crates/primitives/src/transaction/variant.rs
  crates/rpc/rpc-eth-types/src/gas_oracle.rs
  crates/rpc/rpc-eth-types/src/receipt.rs
  crates/storage/provider/src/providers/blockchain_provider.rs
  crates/storage/provider/src/providers/database/provider.rs
  crates/transaction-pool/src/traits.rs
Due: reth binary, storage (db), txpool, rpc, primitives

Define OpTransactionSigned
  crates/optimism/primitives/Cargo.toml
  crates/optimism/primitives/src/signed_transaction.rs
Due: none

Fix merge conflicts
  bin/reth/src/commands/debug_cmd/build_block.rs
  crates/primitives/src/transaction/compat.rs
  crates/primitives/src/transaction/mod.rs
  crates/primitives/src/transaction/pooled.rs
  crates/transaction-pool/src/traits.rs
Due: reth binary, txpool, primitives

fix: use BufMut apis
  crates/prune/types/src/segment.rs
  crates/storage/codecs/derive/src/compact/generator.rs
  crates/storage/codecs/derive/src/compact/mod.rs
Due: storage (db)

perf(db): use Into to encode StoredNibbles
  crates/storage/db-api/src/models/mod.rs
Due: storage (db)

spell
  crates/primitives/src/transaction/mod.rs
  crates/storage/db-api/src/models/mod.rs
Due: storage (db), primitives

add doc
  crates/storage/provider/src/providers/blockchain_provider.rs
Due: storage (db)

chore: clippy
  crates/storage/codecs/derive/src/compact/generator.rs
  crates/storage/codecs/derive/src/compact/mod.rs
Due: storage (db)

fmt
  crates/storage/codecs/src/test_utils.rs
Due: storage (db)

Move getters for TransactionSigned fields into trait methods of SignedTransaction
  crates/chain-state/src/in_memory.rs
  crates/consensus/auto-seal/src/task.rs
  crates/engine/util/src/reorg.rs
  crates/evm/execution-types/src/chain.rs
  crates/net/network/src/transactions/mod.rs
  crates/optimism/primitives/src/signed_transaction.rs
  crates/primitives/src/transaction/mod.rs
  crates/primitives/src/transaction/signed.rs
  crates/rpc/rpc-eth-api/src/helpers/call.rs
  crates/rpc/rpc-eth-api/src/helpers/trace.rs
  crates/rpc/rpc-eth-api/src/helpers/transaction.rs
  crates/rpc/rpc-eth-types/src/logs_utils.rs
  crates/rpc/rpc-eth-types/src/simulate.rs
  crates/rpc/rpc-eth-types/src/transaction.rs
  crates/rpc/rpc-types-compat/src/block.rs
  crates/rpc/rpc/src/eth/bundle.rs
  crates/rpc/rpc/src/eth/helpers/types.rs
  crates/stages/stages/src/stages/tx_lookup.rs
  crates/storage/provider/src/providers/static_file/manager.rs
  crates/transaction-pool/src/pool/mod.rs
  crates/transaction-pool/src/traits.rs
Due: pipeline, storage (db), txpool, networking, rpc, consensus/evm, primitives

fix(provider): replace `block_state_by_tx_id` with `get_in_memory_or_storage_by_tx_id` (#11340)
  crates/storage/provider/src/providers/blockchain_provider.rs
Due: storage (db)

wip
  crates/storage/codecs/derive/src/compact/generator.rs
Due: storage (db)

revertme: bump op-alloy-consensus to branch
  Cargo.lock
  Cargo.toml
  crates/primitives/Cargo.toml
Due: primitives

tx deposit serde bincode compat impl
  crates/primitives/src/transaction/mod.rs
Due: primitives

Fix lint
  crates/net/nat/src/lib.rs
  crates/net/peers/src/lib.rs
  crates/primitives/src/transaction/mod.rs
Due: networking, primitives

ok final crate
  Cargo.lock
  crates/evm/execution-types/Cargo.toml
  crates/evm/execution-types/src/chain.rs
  crates/evm/execution-types/src/lib.rs
  crates/exex/types/Cargo.toml
  crates/exex/types/src/notification.rs
  crates/primitives/Cargo.toml
Due: primitives

fix clippy, re-export type
  crates/exex/types/src/lib.rs
  crates/exex/types/src/notification.rs
  crates/primitives/src/transaction/mod.rs
Due: primitives

feat(exex): use rmp-serde for WAL storage
  Cargo.lock
  crates/exex/exex/Cargo.toml
  crates/exex/exex/src/wal/storage.rs
Due: none

feat(exex): commit notifications to WAL before sending to ExExes
  crates/exex/exex/src/manager.rs
Due: none
