Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

add ref state provider methods to DatabaseProvider
  crates/storage/provider/src/providers/database/provider.rs
  crates/storage/provider/src/providers/state/historical.rs
Due: storage (db)

move state_provider_from_state to BlockState impl
  crates/chain-state/src/in_memory.rs
  crates/storage/provider/src/providers/blockchain_provider.rs
Due: storage (db)

refactor StateRootProvider trait
  bin/reth/src/commands/debug_cmd/build_block.rs
  bin/reth/src/commands/debug_cmd/in_memory_merkle.rs
  crates/blockchain-tree/src/blockchain_tree.rs
  crates/chain-state/src/in_memory.rs
  crates/chain-state/src/memory_overlay.rs
  crates/engine/invalid-block-hooks/src/witness.rs
  crates/engine/tree/src/tree/mod.rs
  crates/ethereum/payload/src/lib.rs
  crates/optimism/payload/src/builder.rs
  crates/revm/src/test_utils.rs
  crates/rpc/rpc-eth-types/src/cache/db.rs
  crates/stages/stages/benches/setup/mod.rs
  crates/storage/provider/src/providers/bundle_state_provider.rs
  crates/storage/provider/src/providers/database/provider.rs
  crates/storage/provider/src/providers/state/historical.rs
  crates/storage/provider/src/providers/state/latest.rs
  crates/storage/provider/src/providers/state/macros.rs
  crates/storage/provider/src/test_utils/mock.rs
  crates/storage/provider/src/test_utils/mod.rs
  crates/storage/provider/src/test_utils/noop.rs
  crates/storage/storage-api/src/trie.rs
  crates/trie/db/src/state.rs
Due: reth binary, blockchain tree, pipeline, storage (db), trie, rpc, consensus/evm

Remove dep on reth-primitives for Block trait
  crates/primitives/src/traits/block/mod.rs
Due: primitives

Remove dep on reth-primitives for BlockBody trait
  crates/primitives-traits/src/block.rs
  crates/primitives/src/traits/block/body.rs
Due: primitives

Move block traits into reth-primitive-traits
  crates/primitives-traits/src/block/body.rs
  crates/primitives-traits/src/block/mod.rs
  crates/primitives/src/traits/mod.rs
Due: primitives

unify &Option<T> to Option<&T> (#11755)
  crates/cli/commands/src/db/get.rs
  crates/rpc/rpc-builder/src/lib.rs
Due: rpc

Add flag for disabling read tx timeout on BlockchainProvider
  crates/blockchain-tree/src/blockchain_tree.rs
  crates/blockchain-tree/src/externals.rs
  crates/consensus/beacon/src/engine/test_utils.rs
Due: blockchain tree, consensus/evm

feat(txpool): function to return the next free nonce (#11744)
  crates/transaction-pool/src/identifier.rs
  crates/transaction-pool/src/lib.rs
  crates/transaction-pool/src/noop.rs
  crates/transaction-pool/src/pool/mod.rs
  crates/transaction-pool/src/pool/txpool.rs
  crates/transaction-pool/src/traits.rs
Due: txpool

chore(provider): move `state_provider_from_state` to `BlockState` impl (#11777)
  crates/chain-state/src/in_memory.rs
  crates/storage/provider/src/providers/blockchain_provider.rs
Due: storage (db)

chore: add chain_id shortcut
  crates/chainspec/src/api.rs
Due: none

feat(provider): add `*StateProviderRef` creation methods to `DatabaseProvider` (#11776)
  crates/storage/provider/src/providers/database/provider.rs
  crates/storage/provider/src/providers/state/historical.rs
Due: storage (db)

chore: add chain_id shortcut (#11782)
  crates/chainspec/src/api.rs
Due: none

feat: implement batch executor (#11753)
  Cargo.lock
  crates/evm/Cargo.toml
  crates/evm/src/execute.rs
  crates/evm/src/test_utils.rs
Due: none

feat: add EthExecutionStrategy
  Cargo.lock
  crates/ethereum/evm/Cargo.toml
  crates/ethereum/evm/src/lib.rs
  crates/ethereum/evm/src/strategy.rs
  crates/evm/src/execute.rs
Due: none

vecdeque -> vec
  crates/trie/sparse/src/trie.rs
Due: trie

no need for else in child pop
  crates/trie/sparse/src/trie.rs
Due: trie

chore: use highest known nonce
  crates/transaction-pool/src/pool/txpool.rs
Due: txpool

refactor: refactor PrefixSetLoader generic
  crates/trie/db/src/prefix_set.rs
  crates/trie/db/src/state.rs
Due: trie

Update crates/primitives/src/receipt.rs
  crates/primitives/src/receipt.rs
Due: primitives

feat: add EthExecutionStrategy (#11584)
  Cargo.lock
  crates/ethereum/evm/Cargo.toml
  crates/ethereum/evm/src/lib.rs
  crates/ethereum/evm/src/strategy.rs
  crates/evm/src/execute.rs
Due: none

chore: use highest known nonce (#11784)
  crates/transaction-pool/src/pool/txpool.rs
Due: txpool

bet
  crates/primitives/src/receipt.rs
  crates/rpc/rpc/src/debug.rs
Due: rpc, primitives

chore: run cargo fmt
  crates/ethereum/payload/src/lib.rs
Due: none

feat: add OpExecutionStrategy
  Cargo.lock
  crates/optimism/evm/Cargo.toml
  crates/optimism/evm/src/lib.rs
  crates/optimism/evm/src/strategy.rs
Due: none

add tests
  crates/evm/src/execute.rs
  crates/evm/src/test_utils.rs
  crates/optimism/evm/Cargo.toml
  crates/optimism/evm/src/strategy.rs
Due: none

fix tests
  crates/optimism/evm/src/strategy.rs
Due: none

all strategy methods implemented
  crates/optimism/evm/src/strategy.rs
Due: none

feat: add OpExecutionStrategy (#11761)
  Cargo.lock
  crates/evm/src/execute.rs
  crates/evm/src/test_utils.rs
  crates/optimism/evm/Cargo.toml
  crates/optimism/evm/src/lib.rs
  crates/optimism/evm/src/strategy.rs
Due: none

Path conditions:
  reth binary: any of: bin/**, crates/config/**, crates/metrics/**, crates/tracing/**
  blockchain tree: any of: crates/blockchain-tree/**
  pipeline: any of: crates/stages/**, crates/staged-sync/**
  storage (db): any of: crates/storage/**
  trie: any of: crates/trie/**
  txpool: any of: crates/transaction-pool/**
  networking: any of: crates/net/**
  rpc: any of: crates/rpc/**
  consensus/evm: any of: crates/revm/**, crates/consensus/**
  payload builder: any of: crates/payload/**
  primitives: any of: crates/primitives/**, crates/tasks/**, crates/rlp/**, crates/interfaces/**
