Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

codecov.yml:

coverage:
  status:
    patch: off
    project:
      default:
        threshold: null
        informational: true
github_checks:
  annotations: false
comment:
  layout: "reach, files, flags, components"
  require_changes: true
component_management:
  individual_components:
    - component_id: reth_binary
      name: reth binary
      paths:
        - bin/**
        - crates/config/**
        - crates/metrics/**
        - crates/tracing/**
    - component_id: blockchain_tree
      name: blockchain tree
      paths:
        - crates/blockchain-tree/**
    - component_id: staged_sync
      name: pipeline
      paths:
        - crates/stages/**
        - crates/staged-sync/**
    - component_id: storage
      name: storage (db)
      paths:
        - crates/storage/**
    - component_id: trie
      name: trie
      paths:
        - crates/trie/**
    - component_id: txpool
      name: txpool
      paths:
        - crates/transaction-pool/**
    - component_id: networking
      name: networking
      paths:
        - crates/net/**
    - component_id: rpc
      name: rpc
      paths:
        - crates/rpc/**
    - component_id: core
      name: consensus/evm
      paths:
        - crates/revm/**
        - crates/consensus/**
    - component_id: builder
      name: payload builder
      paths:
        - crates/payload/**
    - component_id: primitives
      name: primitives
      paths:
        - crates/primitives/**
        - crates/tasks/**
        - crates/rlp/**
        - crates/interfaces/**

Support eth_minGasPrice rpc method (#35)
  crates/rpc/rpc-eth-api/src/core.rs
  crates/rpc/rpc-eth-api/src/helpers/fee.rs
Due: rpc

fix: fix new casting error in signal handler
  crates/cli/util/src/sigsegv_handler.rs
Due: none

feat: add --p2p-secret-key-hex which is similiar nodekeyhex in geth
  Cargo.lock
  crates/cli/commands/src/p2p/mod.rs
  crates/cli/util/src/lib.rs
  crates/cli/util/src/load_secret_key.rs
  crates/node/builder/Cargo.toml
  crates/node/builder/src/builder/mod.rs
  crates/node/core/src/args/network.rs
Due: none

feat(node): allow to configure blocks per file for static file segments (#19562)
  Cargo.lock
  crates/cli/commands/src/node.rs
  crates/config/Cargo.toml
  crates/config/src/config.rs
  crates/node/builder/src/launch/common.rs
  crates/node/core/src/args/mod.rs
  crates/node/core/src/args/static_files.rs
  crates/node/core/src/node_config.rs
  crates/storage/provider/src/providers/static_file/manager.rs
  docs/vocs/docs/pages/cli/reth/node.mdx
Due: reth binary, storage (db)

chore: downgrade noisy log (#19660)
  crates/rpc/rpc/src/eth/filter.rs
Due: rpc

fix: preserve parent beacon root in pending env (#19645)
  crates/rpc/rpc-eth-api/src/helpers/pending_block.rs
Due: rpc

fix(tree-engine): also update in-memory tree when there are attributes in an unwind forkchoice (#19668)
  crates/engine/tree/src/tree/mod.rs
Due: none

fix: fix new casting error in signal handler (#19669)
  crates/cli/util/src/sigsegv_handler.rs
Due: none

fix: using B256 to replace with string
  crates/node/core/src/args/network.rs
Due: none

chore: use hex! macro in chainspec tests
  crates/chainspec/src/spec.rs
Due: none

cargo fmt
  crates/optimism/flashblocks/src/service.rs
  crates/optimism/flashblocks/src/ws/stream.rs
Due: none

fix: cargo +nightly fmt --all
  crates/cli/util/src/load_secret_key.rs
  crates/node/core/src/args/network.rs
Due: none

chore: use &Peerid
  crates/net/network/src/transactions/mod.rs
Due: networking

feat: limit handling of incoming txs to trusted peers (#19666)
  crates/net/network/src/transactions/config.rs
  crates/net/network/src/transactions/mod.rs
  crates/net/network/tests/it/txgossip.rs
  crates/node/core/src/args/network.rs
  docs/vocs/docs/pages/cli/reth/node.mdx
  docs/vocs/docs/pages/cli/reth/p2p/body.mdx
  docs/vocs/docs/pages/cli/reth/p2p/header.mdx
  docs/vocs/docs/pages/cli/reth/stage/run.mdx
Due: networking

fix(ethstats): prevent shutdown on read errors
  crates/node/ethstats/src/ethstats.rs
Due: none

chore: add target: flashblock for all flashblock related traces (#19656)
  crates/optimism/flashblocks/src/consensus.rs
  crates/optimism/flashblocks/src/sequence.rs
  crates/optimism/flashblocks/src/service.rs
  crates/optimism/flashblocks/src/worker.rs
  crates/optimism/flashblocks/src/ws/stream.rs
Due: none

perf(engine, trie): chunk based on idle workers
  crates/engine/tree/src/tree/payload_processor/chunking.rs
  crates/engine/tree/src/tree/payload_processor/mod.rs
  crates/engine/tree/src/tree/payload_processor/multiproof.rs
  crates/trie/common/src/hashed_state.rs
  crates/trie/common/src/proofs.rs
Due: trie

chore: bump revm v33
  Cargo.lock
  Cargo.toml
  crates/engine/tree/src/tree/precompile_cache.rs
Due: none

use state
  crates/rpc/rpc/src/debug.rs
Due: rpc

explicit matches for is_tx/block_based
  crates/static-file/types/src/segment.rs
Due: none

fix: make update-book-cli
  docs/vocs/docs/pages/cli/reth/node.mdx
  docs/vocs/docs/pages/cli/reth/p2p/body.mdx
  docs/vocs/docs/pages/cli/reth/p2p/header.mdx
  docs/vocs/docs/pages/cli/reth/stage/run.mdx
Due: none

chore: bump revm v33 (#19674)
  Cargo.lock
  Cargo.toml
  crates/engine/tree/src/tree/precompile_cache.rs
Due: none

feat(rpc): debug_traceCall support TxIndex (#18477)
  crates/rpc/rpc/src/debug.rs
Due: rpc

reproducible builds + deb packaging
  .dockerignore
  .github/workflows/release-reproducible.yml
  .github/workflows/reproducible-build.yml
  Cargo.toml
  Dockerfile.reproducible
  Makefile
  bin/reth/Cargo.toml
  crates/cli/util/Cargo.toml
  pkg/reth/debian/reth.service
Due: reth binary

fix: correct argument order in save_diff calls for invalid block hooks
  crates/engine/invalid-block-hooks/src/witness.rs
Due: none

feat: add --p2p-secret-key-hex which is similiar nodekeyhex in geth (#19670)
  Cargo.lock
  crates/cli/commands/src/p2p/mod.rs
  crates/cli/util/src/lib.rs
  crates/cli/util/src/load_secret_key.rs
  crates/node/builder/Cargo.toml
  crates/node/builder/src/builder/mod.rs
  crates/node/core/src/args/network.rs
  docs/vocs/docs/pages/cli/reth/node.mdx
  docs/vocs/docs/pages/cli/reth/p2p/body.mdx
  docs/vocs/docs/pages/cli/reth/p2p/header.mdx
  docs/vocs/docs/pages/cli/reth/stage/run.mdx
Due: none

fix(ethstats): prevent shutdown on read errors (#19672)
  crates/node/ethstats/src/ethstats.rs
Due: none

Update checkpoints.rs
  crates/stages/types/src/checkpoints.rs
Due: pipeline

fix: require config path when not using --default (#19632)
  crates/cli/commands/src/config_cmd.rs
Due: none
