Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

add wip SnapshotProvider
  Cargo.lock
  crates/storage/db/src/snapshot.rs
  crates/storage/nippy-jar/src/cursor.rs
  crates/storage/provider/Cargo.toml
  crates/storage/provider/src/providers/mod.rs
  crates/storage/provider/src/providers/snapshot.rs
Due: storage (db)

fix merge
  crates/storage/provider/src/providers/mod.rs
  crates/storage/provider/src/providers/snapshot.rs
Due: storage (db)

add header_td check
  crates/storage/provider/src/providers/snapshot.rs
Due: storage (db)

use RethResult
  Cargo.lock
  crates/interfaces/Cargo.toml
  crates/interfaces/src/error.rs
  crates/storage/db/src/snapshot.rs
Due: storage (db), primitives

remove use_hash field
  crates/storage/db/src/snapshot.rs
  crates/storage/nippy-jar/src/lib.rs
  crates/storage/provider/src/providers/snapshot.rs
Due: storage (db)

doc uses_filters
  crates/storage/nippy-jar/src/lib.rs
Due: storage (db)

ftm
  crates/storage/nippy-jar/src/lib.rs
Due: storage (db)

better tests
  crates/prune/src/pruner.rs
Due: none

more comments
  crates/prune/src/pruner.rs
  crates/snapshot/src/snapshotter.rs
Due: none

generate list of hashes instead
  crates/storage/db/src/snapshot.rs
  crates/storage/provider/src/providers/snapshot.rs
Due: storage (db)

feat(interfaces): better documentation for `ConsensusError` (#4725)
  crates/interfaces/src/consensus.rs
Due: primitives

clippy
  crates/storage/db/src/snapshot.rs
Due: storage (db)

feat: add merge and pre-merge pyspec jobs
  .github/workflows/hive.yml
Due: none

feat: add merge and pre-merge pyspec jobs (#4726)
  .github/workflows/hive.yml
Due: none

add timeout to CI
  .github/workflows/ci.yml
Due: none

chore: fix flaky test
  crates/net/network/tests/it/connect.rs
Due: networking

extend ci timeout
  .github/workflows/book.yml
  .github/workflows/unit.yml
Due: none

chore: fix flaky test (#4729)
  crates/net/network/tests/it/connect.rs
Due: networking

add timeout to integration
  .github/workflows/integration.yml
Due: none

feat(CI): add timeout to CI (#4728)
  .github/workflows/book.yml
  .github/workflows/ci.yml
  .github/workflows/integration.yml
  .github/workflows/unit.yml
Due: none

fix: add slash to match only fork suites
  .github/workflows/hive.yml
Due: none

fix: allow unknown fields in ExecutionPayloadV1
  crates/rpc/rpc-types/src/eth/engine/payload.rs
Due: rpc

chore: clean up re-exports
  Cargo.lock
  crates/net/discv4/Cargo.toml
  crates/net/discv4/src/proto.rs
  crates/primitives/Cargo.toml
  crates/primitives/src/lib.rs
  crates/primitives/src/proofs.rs
  crates/primitives/src/serde_helper/mod.rs
  crates/primitives/src/transaction/util.rs
Due: networking, primitives

fix: add slash to match only fork suites (#4732)
  .github/workflows/hive.yml
Due: none

fix: allow unknown fields in ExecutionPayloadV1 (#4733)
  crates/rpc/rpc-types/src/eth/engine/payload.rs
Due: rpc

chore: clean up reth-revm
  Cargo.lock
  crates/revm/revm-primitives/Cargo.toml
  crates/revm/revm-primitives/src/compat.rs
  crates/revm/revm-primitives/src/config.rs
  crates/revm/revm-primitives/src/env.rs
  crates/revm/revm-primitives/src/lib.rs
  crates/revm/src/lib.rs
  crates/revm/src/processor.rs
  crates/revm/src/state_change.rs
  crates/storage/provider/Cargo.toml
  crates/storage/provider/src/bundle_state/bundle_state_with_receipts.rs
  crates/storage/provider/src/bundle_state/state_changes.rs
  crates/storage/provider/src/bundle_state/state_reverts.rs
  crates/storage/provider/src/chain.rs
  crates/storage/provider/src/providers/database/mod.rs
  crates/storage/provider/src/providers/database/provider.rs
  crates/storage/provider/src/providers/mod.rs
  crates/storage/provider/src/test_utils/mock.rs
  crates/storage/provider/src/test_utils/noop.rs
  crates/storage/provider/src/traits/evm_env.rs
Due: storage (db), consensus/evm

smol touchups
  crates/revm/src/state_change.rs
  crates/rpc/rpc/src/eth/api/pending_block.rs
Due: rpc, consensus/evm

support EIP-4844 transaction when building pending block (#4688)
  crates/revm/src/state_change.rs
  crates/rpc/rpc/src/eth/api/pending_block.rs
Due: rpc, consensus/evm

perf/refactor: use tokio_util::sync::PollSender for ActiveSession -> SessionManager messages (#4603)
  Cargo.lock
  crates/metrics/Cargo.toml
  crates/metrics/src/common/mpsc.rs
  crates/net/network/src/session/active.rs
  crates/net/network/src/session/mod.rs
Due: reth binary, networking

examples: closes #3393, low level p2p
  Cargo.lock
  examples/Cargo.toml
  examples/manual-p2p.rs
Due: none

fix docs
  crates/payload/builder/src/database.rs
  crates/payload/builder/src/lib.rs
  crates/revm/revm-primitives/src/compat.rs
  crates/revm/revm-primitives/src/lib.rs
  crates/storage/provider/src/traits/evm_env.rs
Due: storage (db), consensus/evm, payload builder

fix doctests
  Cargo.lock
  crates/payload/builder/Cargo.toml
  crates/payload/builder/src/database.rs
  crates/payload/builder/src/lib.rs
Due: payload builder

Path conditions:
  reth binary: any of: bin/**, crates/config/**, crates/metrics/**, crates/tracing/**
  blockchain tree: any of: crates/blockchain-tree/**
  pipeline: any of: crates/stages/**, crates/staged-sync/**
  storage (db): any of: crates/storage/**
  trie: any of: crates/trie/**
  txpool: any of: crates/transaction-pool/**
  networking: any of: crates/net/**
  rpc: any of: crates/rpc/**
  consensus/evm: any of: crates/revm/**, crates/consensus/**
  payload builder: any of: crates/payload/**
  primitives: any of: crates/primitives/**, crates/tasks/**, crates/rlp/**, crates/interfaces/**
