Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

chore: move max_logs_per_response check to block scope
  crates/rpc/rpc-eth-types/src/logs_utils.rs
Due: rpc

fmt
  crates/chain-state/src/in_memory.rs
Due: none

feat: add Header AT to ChainSpec
  crates/chainspec/src/api.rs
  crates/cli/commands/src/common.rs
  crates/cli/commands/src/stage/drop.rs
  crates/exex/exex/src/dyn_context.rs
  crates/node/types/src/lib.rs
  crates/optimism/chainspec/src/lib.rs
  crates/storage/db-common/src/init.rs
Due: storage (db)

feat: add `Header` AT to `EthChainSpec` (#13046)
  crates/chainspec/src/api.rs
  crates/cli/commands/src/common.rs
  crates/cli/commands/src/stage/drop.rs
  crates/exex/exex/src/dyn_context.rs
  crates/node/types/src/lib.rs
  crates/optimism/chainspec/src/lib.rs
  crates/storage/db-common/src/init.rs
Due: storage (db)

add KeyHasher generic to DatabaseHashedStorage::from_reverts trait
  crates/storage/provider/src/providers/state/historical.rs
  crates/trie/db/src/storage.rs
Due: storage (db), trie

feat(executor): call hook with state changes after post block balance increments
  crates/ethereum/evm/src/execute.rs
  crates/evm/src/execute.rs
  crates/optimism/evm/src/execute.rs
Due: none

Check holocene activation based on the parent's timestamp
  crates/optimism/chainspec/src/lib.rs
Due: none

dep: enable `ansi` feature on `tracing-subscriber`
  crates/tracing/Cargo.toml
Due: reth binary

chore: use alloy's blockwithparent
  crates/net/downloaders/src/headers/reverse_headers.rs
  crates/net/p2p/src/headers/downloader.rs
  crates/primitives-traits/src/header/mod.rs
  crates/primitives-traits/src/header/sealed.rs
  crates/primitives-traits/src/lib.rs
Due: networking

dep: enable `ansi` feature on `tracing-subscriber` (#13051)
  crates/tracing/Cargo.toml
Due: reth binary

chore: use alloy's blockwithparent
  crates/primitives-traits/src/header/sealed.rs
Due: none

chore: mark ethereum-forks as rv32imac
  .github/assets/check_rv32imac.sh
Due: none

feat: introduce EthMessage variant to NetworkHandleMessage (#13033)
  crates/net/network/src/manager.rs
  crates/net/network/src/network.rs
Due: networking

chore: disable reth-ethereum-forks default features in workspace
  Cargo.toml
  crates/chainspec/Cargo.toml
  crates/ethereum/evm/Cargo.toml
  crates/evm/Cargo.toml
  crates/net/discv4/Cargo.toml
  crates/net/dns/Cargo.toml
  crates/net/eth-wire/Cargo.toml
  crates/net/network-api/Cargo.toml
  crates/net/network-types/Cargo.toml
  crates/net/network/Cargo.toml
  crates/optimism/evm/Cargo.toml
  crates/optimism/hardforks/Cargo.toml
  crates/primitives/Cargo.toml
  crates/revm/Cargo.toml
Due: networking, consensus/evm, primitives

perf(trie): storage multiproof overallocation (#12959)
  crates/trie/parallel/src/proof.rs
  crates/trie/trie/src/proof.rs
Due: trie

chore: use alloy's blockwithparent (#13052)
  crates/net/downloaders/src/headers/reverse_headers.rs
  crates/net/p2p/src/headers/downloader.rs
  crates/primitives-traits/src/header/mod.rs
  crates/primitives-traits/src/header/sealed.rs
  crates/primitives-traits/src/lib.rs
Due: networking

chore: disable revm primitives workspace default features
  Cargo.toml
Due: none

feat(trie): blinded node provider (#13027)
  crates/trie/sparse/src/blinded.rs
  crates/trie/sparse/src/errors.rs
  crates/trie/sparse/src/lib.rs
  crates/trie/sparse/src/state.rs
  crates/trie/sparse/src/trie.rs
Due: trie

added test for double balance increment
  crates/ethereum/evm/src/execute.rs
Due: none

chore: mark ethereum-forks as rv32imac (#13053)
  .github/assets/check_rv32imac.sh
Due: none

fix serde
  Cargo.lock
  crates/net/eth-wire-types/Cargo.toml
  crates/net/eth-wire-types/src/status.rs
Due: networking

fix double increment
  crates/ethereum/evm/src/execute.rs
Due: none

deps
  Cargo.lock
  crates/optimism/primitives/Cargo.toml
Due: none

fix double increment
  crates/ethereum/evm/src/execute.rs
  crates/evm/src/execute.rs
Due: none

features
  crates/optimism/primitives/Cargo.toml
  crates/primitives-traits/src/size.rs
  crates/primitives-traits/src/transaction/tx_type.rs
Due: none

features
  crates/primitives-traits/Cargo.toml
Due: none

iter
  crates/evm/src/execute.rs
Due: none

docs(trie): duplicate comment in sparse trie
  crates/trie/sparse/src/trie.rs
Due: trie

touchup
  crates/rpc/rpc-eth-types/src/logs_utils.rs
  crates/rpc/rpc/src/eth/filter.rs
Due: rpc

touchup
  crates/rpc/rpc-eth-types/src/logs_utils.rs
Due: rpc

fix tests
  crates/evm/src/execute.rs
Due: none

Path conditions:
  reth binary: any of: bin/**, crates/config/**, crates/metrics/**, crates/tracing/**
  blockchain tree: any of: crates/blockchain-tree/**
  pipeline: any of: crates/stages/**, crates/staged-sync/**
  storage (db): any of: crates/storage/**
  trie: any of: crates/trie/**
  txpool: any of: crates/transaction-pool/**
  networking: any of: crates/net/**
  rpc: any of: crates/rpc/**
  consensus/evm: any of: crates/revm/**, crates/consensus/**
  payload builder: any of: crates/payload/**
  primitives: any of: crates/primitives/**, crates/tasks/**, crates/rlp/**, crates/interfaces/**
