Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

fix: concurrent ipc driver impl
  Cargo.lock
  crates/rpc/ipc/Cargo.toml
  crates/rpc/ipc/src/server/connection.rs
  crates/rpc/ipc/src/server/mod.rs
Due: rpc

feat: trim cmd args in parser (#3789)
  bin/reth/src/args/rpc_server_args.rs
  crates/rpc/rpc-builder/src/lib.rs
Due: reth binary, rpc

refactor code
  crates/stages/src/stage.rs
Due: pipeline

fix: rpc cap block range correctly
  crates/rpc/rpc/src/eth/api/fees.rs
Due: rpc

prometheus default confing
  book/run/observability.md
Due: none

bad char
  book/run/observability.md
Due: none

feat: txpool block building fallback (#3755)
  crates/rpc/rpc/src/eth/api/block.rs
  crates/rpc/rpc/src/eth/api/mod.rs
  crates/rpc/rpc/src/eth/api/pending_block.rs
  crates/rpc/rpc/src/eth/api/transactions.rs
Due: rpc

fix: concurrent ipc driver impl (#3790)
  Cargo.lock
  crates/rpc/ipc/Cargo.toml
  crates/rpc/ipc/src/server/connection.rs
  crates/rpc/ipc/src/server/mod.rs
Due: rpc

Update crates/rpc/rpc/src/eth/api/fees.rs
  crates/rpc/rpc/src/eth/api/fees.rs
Due: rpc

fix: rpc cap block range correctly (#3791)
  crates/rpc/rpc/src/eth/api/fees.rs
Due: rpc

Update crates/transaction-pool/src/maintain.rs
  crates/transaction-pool/src/maintain.rs
Due: txpool

feat: reload dirty accounts if pool drifts (#3732)
  Cargo.lock
  bin/reth/src/node/mod.rs
  crates/transaction-pool/src/lib.rs
  crates/transaction-pool/src/maintain.rs
  crates/transaction-pool/src/noop.rs
  crates/transaction-pool/src/pool/mod.rs
  crates/transaction-pool/src/pool/txpool.rs
  crates/transaction-pool/src/traits.rs
Due: reth binary, txpool

feat(txpool): add best_with_base_fee (#3737)
  crates/transaction-pool/src/lib.rs
  crates/transaction-pool/src/noop.rs
  crates/transaction-pool/src/ordering.rs
  crates/transaction-pool/src/pool/best.rs
  crates/transaction-pool/src/pool/mod.rs
  crates/transaction-pool/src/pool/parked.rs
  crates/transaction-pool/src/pool/pending.rs
  crates/transaction-pool/src/pool/txpool.rs
  crates/transaction-pool/src/traits.rs
Due: txpool

fix(stages): update entities metrics on SyncHeight event
  crates/stages/src/metrics/listener.rs
Due: pipeline

Update source.md
  book/installation/source.md
Due: none

add response metric graph
  etc/grafana/dashboards/overview.json
Due: none

use larger task buffer and smaller stream batch size
  book/run/config.md
  crates/config/src/config.rs
  crates/net/downloaders/src/bodies/bodies.rs
  crates/net/downloaders/src/bodies/mod.rs
  crates/net/downloaders/src/bodies/task.rs
Due: reth binary, networking

add size heuristics to downloader metrics
  crates/interfaces/src/p2p/bodies/response.rs
  crates/net/downloaders/src/bodies/bodies.rs
Due: networking, primitives

stop subtracting length from capacity
  crates/net/downloaders/src/bodies/bodies.rs
  crates/net/downloaders/src/bodies/request.rs
  crates/primitives/src/block.rs
  crates/primitives/src/transaction/access_list.rs
Due: networking, primitives

feat: add size heuristic to primitive types up to SealedBlock
  crates/primitives/src/block.rs
  crates/primitives/src/header.rs
  crates/primitives/src/transaction/access_list.rs
  crates/primitives/src/transaction/mod.rs
  crates/primitives/src/transaction/signature.rs
  crates/primitives/src/withdrawal.rs
Due: primitives

make request pub so maybe the metrics are exposed
  crates/net/downloaders/src/bodies/mod.rs
  crates/net/downloaders/src/bodies/request.rs
Due: networking

change default batch size to 2k
  book/run/config.md
  crates/config/src/config.rs
Due: reth binary

lower stream batch size
  book/run/config.md
  crates/config/src/config.rs
Due: reth binary

add buffered peek trace
  crates/net/downloaders/src/bodies/bodies.rs
Due: networking

change bodies task buffer size to 2
  crates/net/downloaders/src/bodies/task.rs
Due: networking

set proper scope
  crates/net/downloaders/src/metrics.rs
Due: networking

cargo fmt
  crates/primitives/src/transaction/signature.rs
Due: primitives

change default buffered blocks to 2GB
  book/run/config.md
  crates/config/src/config.rs
  crates/net/downloaders/src/bodies/bodies.rs
Due: reth binary, networking

revert BodiesRequestFuture to pub(crate)
  crates/net/downloaders/src/bodies/request.rs
Due: networking

remove inaccurate comment
  crates/primitives/src/transaction/signature.rs
Due: primitives

add individual response metrics
  crates/net/downloaders/src/bodies/request.rs
  crates/net/downloaders/src/metrics.rs
  crates/primitives/src/block.rs
Due: networking, primitives

bug(stages): TxLookup/Sender stages fix range if there is no tx (#3479)
  bin/reth/src/stage/drop.rs
  crates/stages/src/stage.rs
  crates/stages/src/stages/sender_recovery.rs
  crates/stages/src/test_utils/test_db.rs
Due: reth binary, pipeline

feat: better blocksize heuristics (#3748)
  book/run/config.md
  crates/config/src/config.rs
  crates/interfaces/src/p2p/bodies/response.rs
  crates/net/downloaders/src/bodies/bodies.rs
  crates/net/downloaders/src/bodies/request.rs
  crates/net/downloaders/src/metrics.rs
  crates/primitives/src/block.rs
  crates/primitives/src/header.rs
  crates/primitives/src/transaction/access_list.rs
  crates/primitives/src/transaction/mod.rs
  crates/primitives/src/transaction/signature.rs
  crates/primitives/src/withdrawal.rs
  etc/grafana/dashboards/overview.json
Due: reth binary, networking, primitives

Path conditions:
  reth binary: any of: bin/**, crates/config/**, crates/metrics/**, crates/tracing/**
  blockchain tree: any of: crates/blockchain-tree/**
  pipeline: any of: crates/stages/**, crates/staged-sync/**
  storage (db): any of: crates/storage/**
  trie: any of: crates/trie/**
  txpool: any of: crates/transaction-pool/**
  networking: any of: crates/net/**
  rpc: any of: crates/rpc/**
  consensus/evm: any of: crates/revm/**, crates/consensus/**
  payload builder: any of: crates/payload/**
  primitives: any of: crates/primitives/**, crates/tasks/**, crates/rlp/**, crates/interfaces/**
