Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

Tests and TODOs
  crates/engine/tree/src/tree/payload_processor/multiproof.rs
  crates/trie/common/src/added_removed_keys.rs
  crates/trie/db/tests/walker.rs
  crates/trie/parallel/src/proof.rs
  crates/trie/sparse-parallel/src/trie.rs
  crates/trie/sparse/benches/root.rs
  crates/trie/sparse/src/trie.rs
  crates/trie/trie/src/walker.rs
Due: trie

feat: add indexed helper
  crates/chain-state/src/in_memory.rs
Due: none

refactor: use also find_indexed in transaction_meta_on_chain
  crates/chain-state/src/in_memory.rs
Due: none

style: rename to indextx
  crates/chain-state/src/in_memory.rs
Due: none

Fix bug in AddedRemovedKeys::update_from_state
  crates/trie/common/src/added_removed_keys.rs
Due: trie

alloy trie branch
  Cargo.lock
  Cargo.toml
Due: none

println
  crates/node/core/src/utils.rs
Due: none

feat(execution-types): support Parlia snapshot propagation
  Cargo.lock
  Cargo.toml
  crates/consensus/common/Cargo.toml
  crates/consensus/common/src/validation.rs
  crates/e2e-test-utils/Cargo.toml
  crates/e2e-test-utils/src/lib.rs
  crates/e2e-test-utils/src/payload.rs
  crates/ethereum/evm/src/test_utils.rs
  crates/evm/execution-types/Cargo.toml
  crates/evm/execution-types/src/execution_outcome.rs
  crates/evm/execution-types/src/lib.rs
  crates/evm/execution-types/src/snapshot_pool.rs
  crates/net/downloaders/src/headers/reverse_headers.rs
  crates/net/eth-wire-types/src/broadcast.rs
  crates/net/network-types/src/peers/reputation.rs
  crates/net/network/src/config.rs
  crates/net/network/src/peers.rs
  crates/net/network/src/session/active.rs
  crates/net/network/src/session/mod.rs
  crates/net/network/src/swarm.rs
  crates/node/builder/src/components/parlia.rs
  crates/payload/basic/src/lib.rs
  crates/payload/builder-primitives/src/lib.rs
  crates/storage/db-api/src/models/mod.rs
  crates/storage/db-api/src/tables/mod.rs
  crates/storage/provider/src/providers/database/provider.rs
  plan/ETH68_SUPPORT_TODO.md
Due: storage (db), networking, consensus/evm, payload builder

Clippy and fmt
  crates/engine/tree/src/tree/payload_processor/multiproof.rs
  crates/trie/common/src/added_removed_keys.rs
  crates/trie/trie/src/trie.rs
Due: trie

rebase for reth-bsc
  Cargo.lock
  Cargo.toml
  crates/consensus/common/Cargo.toml
  crates/consensus/common/src/validation.rs
Due: consensus/evm

Update case.rs
  testing/ef-tests/src/case.rs
Due: none

Update blockchain_test.rs
  testing/ef-tests/src/cases/blockchain_test.rs
Due: none

Update tests.rs
  testing/ef-tests/tests/tests.rs
Due: none

Update models.rs
  testing/ef-tests/src/models.rs
Due: none

feat: add jovian to `OpChainSpec` (#17671)
  crates/optimism/chainspec/src/lib.rs
  crates/optimism/chainspec/src/superchain/chain_metadata.rs
  crates/optimism/hardforks/src/lib.rs
Due: none

Update wallet.rs
  crates/e2e-test-utils/src/wallet.rs
Due: none

feat: expose new_with_database_path_and_tables on provider factory
  crates/storage/db/src/lib.rs
  crates/storage/provider/src/providers/database/mod.rs
Due: storage (db)

fix: disambiguate
  crates/storage/provider/src/providers/database/mod.rs
Due: storage (db)

fix(db-common): compute state root when initializing from genesis (#17731)
  Cargo.lock
  crates/storage/db-common/Cargo.toml
  crates/storage/db-common/src/init.rs
Due: storage (db)

chore: remove redundant word in comment (#17728)
  crates/trie/sparse-parallel/src/trie.rs
Due: trie

refactor: move indexedtx and filter fn to recovered block
  crates/chain-state/src/in_memory.rs
  crates/primitives-traits/src/block/recovered.rs
  crates/primitives-traits/src/lib.rs
Due: none

fix: use eip2718 tx len to limit IL len
  crates/rpc/rpc-engine-api/src/engine_api.rs
Due: rpc

clean up and refactoring
  crates/engine/primitives/src/error.rs
  crates/engine/primitives/src/message.rs
  crates/engine/tree/src/tree/mod.rs
  crates/ethereum/engine-primitives/src/payload.rs
  crates/evm/execution-types/src/execute.rs
  crates/payload/basic/src/stack.rs
  crates/payload/builder/src/service.rs
  crates/payload/primitives/src/traits.rs
  crates/rpc/rpc-engine-api/Cargo.toml
  examples/custom-engine-types/src/main.rs
Due: rpc, payload builder

feat(chain-state): add `IndexedTx` helper (#17737)
  crates/chain-state/src/in_memory.rs
  crates/primitives-traits/src/block/recovered.rs
  crates/primitives-traits/src/lib.rs
Due: none

correct package names
  examples/bsc-p2p/src/main.rs
  examples/custom-payload-builder/src/main.rs
  examples/manual-p2p/src/main.rs
  examples/node-custom-rpc/src/main.rs
  examples/node-event-hooks/src/main.rs
  examples/polygon-p2p/src/main.rs
  examples/rpc-db/src/main.rs
Due: none

feat: delay block -> payload conversions (#17681)
  Cargo.lock
  Cargo.toml
  crates/engine/invalid-block-hooks/src/witness.rs
  crates/engine/primitives/Cargo.toml
  crates/engine/primitives/src/lib.rs
  crates/engine/tree/src/tree/mod.rs
  crates/engine/tree/src/tree/payload_processor/mod.rs
  crates/engine/tree/src/tree/payload_processor/prewarm.rs
  crates/engine/tree/src/tree/payload_validator.rs
  crates/engine/tree/src/tree/state.rs
  crates/ethereum/evm/Cargo.toml
  crates/ethereum/evm/src/lib.rs
  crates/ethereum/evm/src/test_utils.rs
  crates/ethereum/node/src/node.rs
  crates/evm/evm/src/engine.rs
  crates/evm/evm/src/execute.rs
  crates/evm/evm/src/lib.rs
  crates/evm/evm/src/metrics.rs
  crates/node/builder/src/launch/invalid_block_hook.rs
  crates/node/builder/src/rpc.rs
  crates/optimism/evm/Cargo.toml
  crates/optimism/evm/src/lib.rs
  crates/optimism/node/Cargo.toml
  examples/custom-beacon-withdrawals/src/main.rs
  examples/custom-engine-types/src/main.rs
  examples/custom-node/src/engine.rs
  examples/custom-node/src/evm/config.rs
Due: none

fix: enforce propagate on getpooledtx (#17720)
  crates/transaction-pool/src/pool/mod.rs
Due: txpool

fix: add missing semicolon in wallet generation loop (#17739)
  crates/e2e-test-utils/src/wallet.rs
Due: none

feat(evm): add metrics for individual tx execution latency
  crates/evm/evm/src/metrics.rs
Due: none

spike config minbasefee
  crates/optimism/chainspec/src/basefee.rs
  crates/optimism/chainspec/src/lib.rs
  crates/optimism/payload/src/payload.rs
Due: none

perf: prefetch on db access
  crates/engine/tree/src/tree/payload_processor/mod.rs
  crates/engine/tree/src/tree/payload_processor/prewarm.rs
Due: none

Update alloy trie dependency
  Cargo.lock
  crates/engine/tree/src/tree/payload_processor/multiproof.rs
  crates/trie/common/src/added_removed_keys.rs
  crates/trie/common/src/hashed_state.rs
  crates/trie/parallel/src/proof_task.rs
  crates/trie/trie/src/node_iter.rs
  crates/trie/trie/src/proof/mod.rs
  crates/trie/trie/src/trie.rs
  crates/trie/trie/src/trie_cursor/subnode.rs
  crates/trie/trie/src/walker.rs
Due: trie

batch in the database
  crates/engine/tree/src/tree/payload_processor/prewarm.rs
Due: none

remove cargo deps from devshell
  flake.nix
Due: none

Path conditions:
  reth binary: any of: bin/**, crates/config/**, crates/metrics/**, crates/tracing/**
  blockchain tree: any of: crates/blockchain-tree/**
  pipeline: any of: crates/stages/**, crates/staged-sync/**
  storage (db): any of: crates/storage/**
  trie: any of: crates/trie/**
  txpool: any of: crates/transaction-pool/**
  networking: any of: crates/net/**
  rpc: any of: crates/rpc/**
  consensus/evm: any of: crates/revm/**, crates/consensus/**
  payload builder: any of: crates/payload/**
  primitives: any of: crates/primitives/**, crates/tasks/**, crates/rlp/**, crates/interfaces/**
