Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

chore: fix error
  crates/rpc/rpc/src/eth/revm_utils.rs
Due: rpc

fix: export everything from traits mod
  crates/transaction-pool/src/lib.rs
Due: txpool

intrinsic gas check (#4867)
  Cargo.lock
  crates/primitives/src/lib.rs
  crates/primitives/src/transaction/access_list.rs
  crates/primitives/src/transaction/mod.rs
  crates/revm/revm-primitives/Cargo.toml
  crates/revm/revm-primitives/src/compat.rs
  crates/rpc/rpc/src/eth/error.rs
  crates/rpc/rpc/src/eth/revm_utils.rs
  crates/transaction-pool/Cargo.toml
  crates/transaction-pool/src/error.rs
  crates/transaction-pool/src/test_utils/mock.rs
  crates/transaction-pool/src/traits.rs
  crates/transaction-pool/src/validate/eth.rs
Due: txpool, rpc, consensus/evm, primitives

chore: add dedicated send functions
  crates/transaction-pool/src/pool/mod.rs
Due: txpool

chore: add dedicated send functions (#4903)
  crates/transaction-pool/src/pool/mod.rs
Due: txpool

check deletion limit early
  crates/storage/provider/src/providers/database/provider.rs
Due: storage (db)

Update mock.rs
  crates/transaction-pool/src/test_utils/mock.rs
Due: txpool

check delete limit, div ceil delete limit for history pruning
  crates/prune/src/pruner.rs
Due: none

use getters for jar compressor instead
  crates/storage/nippy-jar/src/cursor.rs
  crates/storage/nippy-jar/src/lib.rs
Due: storage (db)

remove fn new from lz4
  crates/storage/nippy-jar/src/compression/lz4.rs
  crates/storage/nippy-jar/src/lib.rs
Due: storage (db)

add doc wrt internal_buffer and row size
  crates/storage/nippy-jar/src/cursor.rs
  crates/storage/nippy-jar/src/lib.rs
Due: storage (db)

make buffer size requirement explicit
  crates/storage/nippy-jar/src/compression/mod.rs
Due: storage (db)

fix: export everything from traits mod (#4900)
  crates/transaction-pool/src/lib.rs
Due: txpool

rm Compressors::Unused
  crates/storage/nippy-jar/src/compression/mod.rs
  crates/storage/nippy-jar/src/lib.rs
Due: storage (db)

chore: return empty vec if input vec is empty
  crates/transaction-pool/src/pool/mod.rs
Due: txpool

chore: return empty vec if input vec is empty (#4906)
  crates/transaction-pool/src/pool/mod.rs
Due: txpool

manually impl arbitrary for TxValue
  crates/primitives/src/transaction/tx_value.rs
Due: primitives

improve delete_limit docs
  crates/prune/src/pruner.rs
Due: none

add feature flags to arbitrary_with
  crates/primitives/src/transaction/tx_value.rs
Due: primitives

feat: add `lz4` to `NippyJar` (#4890)
  Cargo.lock
  bin/reth/src/db/snap.rs
  crates/storage/nippy-jar/Cargo.toml
  crates/storage/nippy-jar/src/compression/lz4.rs
  crates/storage/nippy-jar/src/compression/mod.rs
  crates/storage/nippy-jar/src/compression/zstd.rs
  crates/storage/nippy-jar/src/cursor.rs
  crates/storage/nippy-jar/src/error.rs
  crates/storage/nippy-jar/src/lib.rs
  crates/storage/provider/src/providers/snapshot.rs
Due: reth binary, storage (db)

feat(pruner): shared deletion limit (#4880)
  bin/reth/src/node/events.rs
  bin/reth/src/node/mod.rs
  crates/consensus/beacon/src/engine/test_utils.rs
  crates/interfaces/src/blockchain_tree/error.rs
  crates/interfaces/src/test_utils/generators.rs
  crates/primitives/src/chain/spec.rs
  crates/primitives/src/lib.rs
  crates/primitives/src/prune/batch_sizes.rs
  crates/primitives/src/prune/mod.rs
  crates/prune/src/event.rs
  crates/prune/src/pruner.rs
  crates/storage/provider/src/providers/database/provider.rs
  crates/storage/provider/src/providers/mod.rs
  crates/storage/provider/src/providers/snapshot.rs
  crates/trie/src/trie_cursor/account_cursor.rs
Due: reth binary, storage (db), trie, consensus/evm, primitives

fix: manually implements `arbitrary` for `TxValue` (#4907)
  crates/primitives/src/transaction/tx_value.rs
Due: primitives

refactor: simplify RethNodeCommandConfig trait (#4895)
  bin/reth/src/args/rpc_server_args.rs
  bin/reth/src/cli/components.rs
  bin/reth/src/cli/ext.rs
  bin/reth/src/cli/mod.rs
  bin/reth/src/node/mod.rs
  examples/additional-rpc-namespace-in-cli/src/main.rs
Due: reth binary

Update crates/transaction-pool/src/test_utils/mock.rs
  crates/transaction-pool/src/test_utils/mock.rs
Due: txpool

feat: add metrics to engine RPC API
  Cargo.lock
  crates/rpc/rpc-engine-api/Cargo.toml
  crates/rpc/rpc-engine-api/src/engine_api.rs
  crates/rpc/rpc-engine-api/src/lib.rs
  crates/rpc/rpc-engine-api/src/metrics.rs
Due: rpc

fix: add blob_gas_used after succesful tx execution
  crates/payload/basic/src/lib.rs
Due: payload builder

Path conditions:
  reth binary: any of: bin/**, crates/config/**, crates/metrics/**, crates/tracing/**
  blockchain tree: any of: crates/blockchain-tree/**
  pipeline: any of: crates/stages/**, crates/staged-sync/**
  storage (db): any of: crates/storage/**
  trie: any of: crates/trie/**
  txpool: any of: crates/transaction-pool/**
  networking: any of: crates/net/**
  rpc: any of: crates/rpc/**
  consensus/evm: any of: crates/revm/**, crates/consensus/**
  payload builder: any of: crates/payload/**
  primitives: any of: crates/primitives/**, crates/tasks/**, crates/rlp/**, crates/interfaces/**
