Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

codecov.yml:

coverage:
  status:
    patch: off
    project:
      default:
        threshold: null
        informational: true
github_checks:
  annotations: false
comment:
  layout: "reach, files, flags, components"
  require_changes: true
component_management:
  individual_components:
    - component_id: reth_binary
      name: reth binary
      paths:
        - bin/**
        - crates/config/**
        - crates/metrics/**
        - crates/tracing/**
    - component_id: blockchain_tree
      name: blockchain tree
      paths:
        - crates/blockchain-tree/**
    - component_id: staged_sync
      name: pipeline
      paths:
        - crates/stages/**
        - crates/staged-sync/**
    - component_id: storage
      name: storage (db)
      paths:
        - crates/storage/**
    - component_id: trie
      name: trie
      paths:
        - crates/trie/**
    - component_id: txpool
      name: txpool
      paths:
        - crates/transaction-pool/**
    - component_id: networking
      name: networking
      paths:
        - crates/net/**
    - component_id: rpc
      name: rpc
      paths:
        - crates/rpc/**
    - component_id: core
      name: consensus/evm
      paths:
        - crates/revm/**
        - crates/consensus/**
    - component_id: builder
      name: payload builder
      paths:
        - crates/payload/**
    - component_id: primitives
      name: primitives
      paths:
        - crates/primitives/**
        - crates/tasks/**
        - crates/rlp/**
        - crates/interfaces/**

update to parking lot mutex
  examples/exex/op-proposer/Cargo.toml
  examples/exex/op-proposer/src/tx_manager.rs
Due: none

update mutex logic
  examples/exex/op-proposer/src/op_proposer.rs
  examples/exex/op-proposer/src/tx_manager.rs
Due: none

Add import tests
  bin/reth/src/commands/node/mod.rs
  bin/reth/tests/bitfinity_it.rs
  bin/reth/tests/commands/bitfinity_import_it.rs
  bin/reth/tests/commands/mod.rs
  bin/reth/tests/commands/utils.rs
  crates/net/downloaders/src/bitfinity_evm_client.rs
  crates/node-core/src/args/bitfinity_args.rs
  crates/node-core/src/args/mod.rs
Due: reth binary, networking

chore(deps): bump revm for EIP-2935 devnet-0; fix breaking changes
  Cargo.lock
  Cargo.toml
  crates/primitives/src/revm/compat.rs
  crates/primitives/src/revm/env.rs
  crates/rpc/rpc/src/eth/error.rs
  crates/rpc/rpc/src/eth/revm_utils.rs
Due: rpc, primitives

clippy
  crates/storage/provider/src/providers/mod.rs
Due: storage (db)

docs and variable names
  crates/node/builder/src/launch/common.rs
  crates/storage/provider/src/providers/static_file/manager.rs
Due: storage (db)

more docs
  crates/node/builder/src/launch/common.rs
Due: none

clippy
  crates/storage/provider/src/providers/mod.rs
  crates/storage/provider/src/test_utils/mock.rs
Due: storage (db)

added ensure_file_consistency
  crates/node/builder/src/launch/common.rs
  crates/storage/nippy-jar/src/writer.rs
  crates/storage/provider/src/providers/static_file/manager.rs
  crates/storage/provider/src/providers/static_file/writer.rs
Due: storage (db)

group and reorder deps
  Cargo.lock
  examples/exex/op-proposer/Cargo.toml
Due: none

update config path
  examples/exex/op-proposer/src/main.rs
Due: none

Enable discv5 by default for optimism, without feature
  bin/reth/src/commands/p2p/mod.rs
  crates/node-core/src/args/network.rs
Due: reth binary

Revert overwrite discv5 addr before build config for logs
  bin/reth/src/commands/p2p/mod.rs
  crates/node-core/src/node_config.rs
Due: reth binary

fixup! Enable discv5 by default for optimism, without feature
  crates/node-core/src/args/network.rs
Due: none

rpc txpool_content typo
  crates/rpc/rpc/src/txpool.rs
Due: rpc

fix(gakonst): revm bump, ref: https://github.com/bluealloy/revm/pull/1428
  Cargo.lock
  Cargo.toml
Due: none

Debug LruCache with LruMap
  crates/blockchain-tree/src/block_buffer.rs
  crates/blockchain-tree/src/config.rs
  crates/blockchain-tree/src/state.rs
  crates/net/network/src/cache.rs
  crates/net/network/src/state.rs
  crates/net/network/src/transactions/constants.rs
  crates/net/network/src/transactions/fetcher.rs
  crates/net/network/src/transactions/mod.rs
Due: blockchain tree, networking

wip: lru changes (#7484)
  Cargo.lock
  crates/blockchain-tree/Cargo.toml
  crates/blockchain-tree/src/block_buffer.rs
  crates/blockchain-tree/src/config.rs
  crates/blockchain-tree/src/state.rs
  crates/net/network/src/cache.rs
  crates/net/network/src/lib.rs
  crates/net/network/src/state.rs
  crates/net/network/src/transactions/constants.rs
  crates/net/network/src/transactions/fetcher.rs
  crates/net/network/src/transactions/mod.rs
Due: blockchain tree, networking

rpc `txpool_content` typo (#8292)
  crates/rpc/rpc/src/txpool.rs
Due: rpc

move get_or_fetch_previous_block to associated trait method of block provider
  Cargo.lock
  crates/consensus/debug-client/src/client.rs
Due: consensus/evm

more gentle error handling for etherscan
  Cargo.lock
  crates/consensus/debug-client/Cargo.toml
  crates/consensus/debug-client/src/client.rs
  crates/consensus/debug-client/src/providers/etherscan.rs
  crates/consensus/debug-client/src/providers/rpc.rs
Due: consensus/evm

remove todo
  crates/node/builder/src/launch/mod.rs
Due: none

clippy
  crates/consensus/debug-client/src/client.rs
Due: consensus/evm

remove dependency on opentls
  Cargo.lock
  crates/consensus/debug-client/Cargo.toml
Due: consensus/evm

bricked
  Cargo.lock
  Cargo.toml
  testing/test/Cargo.toml
  testing/test/src/main.rs
Due: none

fix contract
  deploy/ValidatorElect.sol
  deploy/genesis.json
Due: none

Fix
  testing/test/src/alloy2reth.rs
  testing/test/src/main.rs
Due: none

more fix
  crates/primitives/src/alloy_compat.rs
Due: primitives

add gensis
  deploy/genesis-five.json
Due: none

feat(e2e): add helpers to TransactionTestContext (#8237)
  crates/e2e-test-utils/src/transaction.rs
  crates/ethereum/node/tests/e2e/blobs.rs
  crates/ethereum/node/tests/e2e/eth.rs
  crates/ethereum/node/tests/e2e/p2p.rs
Due: none

chore: rename crate
  Cargo.lock
  Cargo.toml
  bin/reth/Cargo.toml
  bin/reth/src/commands/db/stats.rs
  bin/reth/src/commands/debug_cmd/build_block.rs
  bin/reth/src/commands/debug_cmd/execution.rs
  bin/reth/src/commands/debug_cmd/in_memory_merkle.rs
  bin/reth/src/commands/debug_cmd/merkle.rs
  bin/reth/src/commands/debug_cmd/replay_engine.rs
  bin/reth/src/commands/stage/drop.rs
  bin/reth/src/commands/test_vectors/tables.rs
  bin/reth/src/utils.rs
  crates/fs-util/Cargo.toml
  crates/fs-util/src/lib.rs
  crates/interfaces/Cargo.toml
  crates/interfaces/src/error.rs
  crates/interfaces/src/provider.rs
  crates/node-core/Cargo.toml
  crates/node-core/src/args/secret_key.rs
  crates/node-core/src/args/utils.rs
  crates/node-core/src/engine/engine_store.rs
  crates/node-core/src/utils.rs
  crates/rpc/rpc-layer/Cargo.toml
  crates/rpc/rpc-layer/src/jwt_secret.rs
  crates/stages/Cargo.toml
  crates/stages/benches/setup/account_hashing.rs
  crates/stages/benches/setup/mod.rs
  crates/storage/db/Cargo.toml
  crates/storage/db/benches/utils.rs
  crates/storage/db/src/lib.rs
  crates/storage/db/src/static_file/mod.rs
  crates/storage/nippy-jar/Cargo.toml
  crates/storage/nippy-jar/src/error.rs
  crates/storage/nippy-jar/src/lib.rs
  crates/storage/provider/Cargo.toml
  crates/storage/provider/src/providers/static_file/manager.rs
  crates/transaction-pool/Cargo.toml
  crates/transaction-pool/src/maintain.rs
Due: reth binary, pipeline, storage (db), txpool, rpc, primitives

rm dep
  Cargo.lock
  crates/stages/Cargo.toml
  crates/stages/benches/setup/account_hashing.rs
  crates/stages/benches/setup/mod.rs
Due: pipeline

Move reth-primitives::fs module to fs-utils crate (#8286)
  Cargo.lock
  Cargo.toml
  bin/reth/Cargo.toml
  bin/reth/src/commands/db/stats.rs
  bin/reth/src/commands/debug_cmd/build_block.rs
  bin/reth/src/commands/debug_cmd/execution.rs
  bin/reth/src/commands/debug_cmd/in_memory_merkle.rs
  bin/reth/src/commands/debug_cmd/merkle.rs
  bin/reth/src/commands/debug_cmd/replay_engine.rs
  bin/reth/src/commands/stage/drop.rs
  bin/reth/src/commands/test_vectors/tables.rs
  bin/reth/src/utils.rs
  crates/fs-util/Cargo.toml
  crates/fs-util/src/lib.rs
  crates/interfaces/Cargo.toml
  crates/interfaces/src/error.rs
  crates/interfaces/src/provider.rs
  crates/node-core/Cargo.toml
  crates/node-core/src/args/secret_key.rs
  crates/node-core/src/args/utils.rs
  crates/node-core/src/engine/engine_store.rs
  crates/node-core/src/utils.rs
  crates/primitives/Cargo.toml
  crates/primitives/src/lib.rs
  crates/rpc/rpc-layer/Cargo.toml
  crates/rpc/rpc-layer/src/jwt_secret.rs
  crates/stages/benches/setup/account_hashing.rs
  crates/stages/benches/setup/mod.rs
  crates/storage/db/Cargo.toml
  crates/storage/db/benches/utils.rs
  crates/storage/db/src/lib.rs
  crates/storage/db/src/static_file/mod.rs
  crates/storage/nippy-jar/Cargo.toml
  crates/storage/nippy-jar/src/error.rs
  crates/storage/nippy-jar/src/lib.rs
  crates/storage/provider/Cargo.toml
  crates/storage/provider/src/providers/static_file/manager.rs
  crates/transaction-pool/Cargo.toml
  crates/transaction-pool/src/maintain.rs
Due: reth binary, pipeline, storage (db), txpool, rpc, primitives

docs: add comment about potential overflow of base fee per gas (#8280)
  crates/rpc/rpc-types-compat/src/engine/payload.rs
Due: rpc

Add reset evm command test stub
  Cargo.lock
  Cargo.toml
  bin/reth/Cargo.toml
  bin/reth/src/commands/bitfinity_reset_evm_state.rs
  bin/reth/tests/commands/bitfinity_import_it.rs
  bin/reth/tests/commands/bitfinity_reset_evm_state_it.rs
  bin/reth/tests/commands/utils.rs
  crates/net/downloaders/src/bitfinity_evm_client.rs
  crates/node-core/src/args/bitfinity_args.rs
Due: reth binary, networking
