Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

fix static file derive (#14473)
  crates/storage/provider/src/providers/database/builder.rs
  examples/db-access/src/main.rs
Due: storage (db)

add mode
  bin/reth-bench/src/bench/mod.rs
  bin/reth-bench/src/bench/send_payload.rs
Due: reth binary

chore: disable storage-api default features
  Cargo.toml
  crates/ethereum/reth/Cargo.toml
  crates/node/events/Cargo.toml
  crates/optimism/reth/Cargo.toml
  crates/revm/Cargo.toml
  crates/storage/provider/Cargo.toml
Due: storage (db), consensus/evm

require rpc-url for execute and cast
  bin/reth-bench/src/bench/send_payload.rs
Due: reth binary

add --raw to cast
  bin/reth-bench/src/bench/send_payload.rs
Due: reth binary

flatten blob versioned hashes
  bin/reth-bench/src/bench/send_payload.rs
Due: reth binary

add comments to clap arg
  bin/reth-bench/src/bench/send_payload.rs
Due: reth binary

move doc to command enum
  bin/reth-bench/src/bench/mod.rs
  bin/reth-bench/src/bench/send_payload.rs
Due: reth binary

fix: handle tree event on new payload
  crates/engine/tree/src/tree/mod.rs
Due: none

remove ithaca url from help
  bin/reth-bench/src/bench/mod.rs
Due: reth binary

accept either path or jwt secret itself
  bin/reth-bench/src/bench/send_payload.rs
Due: reth binary

read input to separate fn
  bin/reth-bench/src/bench/send_payload.rs
Due: reth binary

more comments
  bin/reth-bench/src/bench/send_payload.rs
Due: reth binary

rm EvmConfig from SystemCaller
  crates/engine/invalid-block-hooks/src/witness.rs
  crates/engine/util/src/reorg.rs
  crates/ethereum/evm/src/execute.rs
  crates/ethereum/payload/src/lib.rs
  crates/evm/src/lib.rs
  crates/evm/src/system_calls/eip2935.rs
  crates/evm/src/system_calls/eip4788.rs
  crates/evm/src/system_calls/mod.rs
  crates/optimism/evm/src/execute.rs
  crates/optimism/payload/src/builder.rs
  crates/rpc/rpc-eth-api/src/helpers/pending_block.rs
  crates/rpc/rpc-eth-api/src/helpers/trace.rs
Due: rpc

test(stages): download 50mb test file instead of 500mb
  crates/stages/stages/src/stages/s3/downloader/fetch.rs
Due: pipeline

70mb
  crates/stages/stages/src/stages/s3/downloader/fetch.rs
Due: pipeline

download 15mb
  crates/stages/stages/src/stages/s3/downloader/fetch.rs
Due: pipeline

nits
  Cargo.lock
  bin/reth-bench/Cargo.toml
  bin/reth-bench/src/bench/send_payload.rs
Due: reth binary

test(stages): download 15MB test file instead of 500MB (#14476)
  crates/stages/stages/src/stages/s3/downloader/fetch.rs
Due: pipeline

Disable default features for optimism crates in workspace manifest (#14467)
  Cargo.toml
  crates/optimism/evm/Cargo.toml
  crates/optimism/primitives/Cargo.toml
  crates/optimism/reth/Cargo.toml
  crates/revm/Cargo.toml
Due: consensus/evm

refactor: Add more low-level methods to `Executor` (#14440)
  crates/ethereum/evm/src/execute.rs
  crates/evm/execution-types/src/execute.rs
  crates/evm/src/either.rs
  crates/evm/src/execute.rs
  crates/evm/src/metrics.rs
  crates/evm/src/noop.rs
  crates/evm/src/test_utils.rs
  crates/optimism/evm/src/execute.rs
  examples/custom-beacon-withdrawals/src/main.rs
Due: none

fix(trie): reveal blinded sparse trie when calculating root (#14449)
  crates/engine/tree/src/tree/root.rs
  crates/trie/common/src/proofs.rs
  crates/trie/sparse/src/state.rs
  crates/trie/sparse/src/trie.rs
Due: trie

chore: use shorter map names (#14445)
  Cargo.toml
  book/sources/exex/tracking-state/Cargo.toml
  crates/chain-state/src/in_memory.rs
  crates/chain-state/src/memory_overlay.rs
  crates/engine/tree/src/tree/cached_state.rs
  crates/revm/src/test_utils.rs
  crates/revm/src/witness.rs
  crates/rpc/rpc-eth-types/src/cache/db.rs
  crates/storage/provider/src/providers/bundle_state_provider.rs
  crates/storage/provider/src/providers/database/provider.rs
  crates/storage/provider/src/providers/state/historical.rs
  crates/storage/provider/src/providers/state/latest.rs
  crates/storage/provider/src/providers/state/macros.rs
  crates/storage/provider/src/test_utils/mock.rs
  crates/storage/storage-api/src/noop.rs
  crates/storage/storage-api/src/trie.rs
  crates/trie/common/src/hashedstate.rs
  crates/trie/common/src/prefix_set.rs
  crates/trie/common/src/proofs.rs
  crates/trie/common/src/updates.rs
  crates/trie/db/src/state.rs
  crates/trie/db/src/witness.rs
  crates/trie/parallel/src/proof.rs
  crates/trie/parallel/src/storage_root_targets.rs
  crates/trie/sparse/benches/root.rs
  crates/trie/sparse/src/state.rs
  crates/trie/sparse/src/trie.rs
  crates/trie/trie/src/hashed_cursor/post_state.rs
  crates/trie/trie/src/proof/mod.rs
  crates/trie/trie/src/witness.rs
Due: storage (db), trie, rpc, consensus/evm

chore: bump alloy 0.11.1 (#14439)
  Cargo.lock
  Cargo.toml
  crates/chain-state/src/test_utils.rs
  crates/engine/tree/src/backfill.rs
  crates/engine/tree/src/download.rs
  crates/ethereum/payload/src/config.rs
  crates/node/core/src/args/payload_builder.rs
  crates/node/core/src/args/txpool.rs
  crates/rpc/rpc-builder/tests/it/auth.rs
  crates/rpc/rpc-server-types/src/constants.rs
  crates/rpc/rpc/src/eth/helpers/state.rs
  crates/rpc/rpc/src/eth/helpers/transaction.rs
  crates/transaction-pool/src/config.rs
  crates/transaction-pool/src/noop.rs
  crates/transaction-pool/src/pool/txpool.rs
  crates/transaction-pool/src/validate/eth.rs
  crates/transaction-pool/tests/it/evict.rs
Due: txpool, rpc

feat(grafana): add block validation overhead graph (#14431)
  etc/grafana/dashboards/overview.json
Due: none

chore: remove `BatchExecutor` (#14453)
  Cargo.lock
  crates/engine/tree/src/tree/error.rs
  crates/evm/execution-errors/Cargo.toml
  crates/evm/execution-errors/src/lib.rs
  crates/evm/src/either.rs
  crates/evm/src/execute.rs
  crates/evm/src/noop.rs
  crates/evm/src/test_utils.rs
Due: none

docs(tree): state root task (#14400)
  crates/engine/tree/docs/mermaid/engine.mmd
  crates/engine/tree/docs/mermaid/engine.mmd.png
  crates/engine/tree/docs/mermaid/multiproof-manager.mmd
  crates/engine/tree/docs/mermaid/multiproof-manager.mmd.png
  crates/engine/tree/docs/mermaid/sparse-trie-task.mmd
  crates/engine/tree/docs/mermaid/sparse-trie-task.mmd.png
  crates/engine/tree/docs/mermaid/sparse-trie.mmd
  crates/engine/tree/docs/mermaid/sparse-trie.mmd.png
  crates/engine/tree/docs/mermaid/state-root-task.mmd
  crates/engine/tree/docs/mermaid/state-root-task.mmd.png
  crates/engine/tree/docs/root.md
Due: none

chore: export exex (#14443)
  Cargo.lock
  crates/ethereum/reth/Cargo.toml
  crates/ethereum/reth/src/lib.rs
Due: none

feat: add Consensus to `ExecutionStage` (#14447)
  Cargo.lock
  bin/reth/src/cli/mod.rs
  bin/reth/src/commands/debug_cmd/execution.rs
  bin/reth/src/commands/debug_cmd/merkle.rs
  crates/cli/commands/Cargo.toml
  crates/cli/commands/src/common.rs
  crates/cli/commands/src/import.rs
  crates/cli/commands/src/stage/dump/execution.rs
  crates/cli/commands/src/stage/dump/merkle.rs
  crates/cli/commands/src/stage/dump/mod.rs
  crates/cli/commands/src/stage/mod.rs
  crates/cli/commands/src/stage/run.rs
  crates/cli/commands/src/stage/unwind.rs
  crates/ethereum/consensus/src/lib.rs
  crates/ethereum/consensus/src/validation.rs
  crates/ethereum/evm/src/execute.rs
  crates/evm/execution-types/src/execution_outcome.rs
  crates/evm/src/execute.rs
  crates/exex/exex/src/backfill/job.rs
  crates/exex/exex/src/backfill/test_utils.rs
  crates/node/builder/src/setup.rs
  crates/optimism/cli/Cargo.toml
  crates/optimism/cli/src/lib.rs
  crates/optimism/evm/src/execute.rs
  crates/stages/stages/Cargo.toml
  crates/stages/stages/src/lib.rs
  crates/stages/stages/src/sets.rs
  crates/stages/stages/src/stages/execution.rs
  crates/stages/stages/src/stages/mod.rs
  testing/ef-tests/Cargo.toml
  testing/ef-tests/src/cases/blockchain_test.rs
Due: reth binary, pipeline

feat(op, cli): add cli option to enable tx conditional (#14421)
  Cargo.lock
  crates/optimism/node/Cargo.toml
  crates/optimism/node/src/args.rs
  crates/optimism/node/src/node.rs
  crates/optimism/rpc/src/eth/ext.rs
  crates/optimism/rpc/src/eth/mod.rs
Due: none

fix(ci): docker release (#14458)
  .github/workflows/release.yml
Due: none

fix(grafana): use correct datasource for all metrics (#14432)
  etc/grafana/dashboards/overview.json
Due: none

Increase default gas limit from 30M to 36M (#13318)
  book/cli/reth/node.md
  crates/node/core/src/args/payload_builder.rs
Due: none

chore: release v1.2.0 (#14438)
  Cargo.lock
  Cargo.toml
Due: none

chore(ci): update hive expected failures (#14454)
  .github/assets/hive/expected_failures.yaml
Due: none

chore: export cli from reth ethereum (#14444)
  Cargo.lock
  crates/ethereum/reth/Cargo.toml
  crates/ethereum/reth/src/lib.rs
Due: none

feat: add Block::seal (#14451)
  crates/primitives-traits/src/block/mod.rs
Due: none

Path conditions:
  reth binary: any of: bin/**, crates/config/**, crates/metrics/**, crates/tracing/**
  blockchain tree: any of: crates/blockchain-tree/**
  pipeline: any of: crates/stages/**, crates/staged-sync/**
  storage (db): any of: crates/storage/**
  trie: any of: crates/trie/**
  txpool: any of: crates/transaction-pool/**
  networking: any of: crates/net/**
  rpc: any of: crates/rpc/**
  consensus/evm: any of: crates/revm/**, crates/consensus/**
  payload builder: any of: crates/payload/**
  primitives: any of: crates/primitives/**, crates/tasks/**, crates/rlp/**, crates/interfaces/**
