Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

codecov.yml:

coverage:
  status:
    patch: off
    project:
      default:
        threshold: null
        informational: true
github_checks:
  annotations: false
comment:
  layout: "reach, files, flags, components"
  require_changes: true
component_management:
  individual_components:
    - component_id: reth_binary
      name: reth binary
      paths:
        - bin/**
        - crates/config/**
        - crates/metrics/**
        - crates/tracing/**
    - component_id: blockchain_tree
      name: blockchain tree
      paths:
        - crates/blockchain-tree/**
    - component_id: staged_sync
      name: pipeline
      paths:
        - crates/stages/**
        - crates/staged-sync/**
    - component_id: storage
      name: storage (db)
      paths:
        - crates/storage/**
    - component_id: trie
      name: trie
      paths:
        - crates/trie/**
    - component_id: txpool
      name: txpool
      paths:
        - crates/transaction-pool/**
    - component_id: networking
      name: networking
      paths:
        - crates/net/**
    - component_id: rpc
      name: rpc
      paths:
        - crates/rpc/**
    - component_id: core
      name: consensus/evm
      paths:
        - crates/revm/**
        - crates/consensus/**
    - component_id: builder
      name: payload builder
      paths:
        - crates/payload/**
    - component_id: primitives
      name: primitives
      paths:
        - crates/primitives/**
        - crates/tasks/**
        - crates/rlp/**
        - crates/interfaces/**

feat(rpc): Add `FromConsensusTx` and implement `IntoRpcTx` for generic RPC transaction (#16784)
  crates/rpc/rpc-types-compat/src/transaction.rs
Due: rpc

feat(test): rewrite test_engine_tree_buffered_blocks_are_eventually_connected using e2e framework
  crates/e2e-test-utils/src/lib.rs
  crates/e2e-test-utils/src/testsuite/actions/engine_api.rs
  crates/e2e-test-utils/src/testsuite/actions/mod.rs
  crates/e2e-test-utils/src/testsuite/actions/produce_blocks.rs
  crates/e2e-test-utils/src/testsuite/setup.rs
  crates/engine/tree/src/tree/e2e_tests.rs
  crates/engine/tree/src/tree/tests.rs
Due: none

fmt
  crates/e2e-test-utils/src/testsuite/actions/engine_api.rs
  crates/e2e-test-utils/src/testsuite/actions/mod.rs
  crates/e2e-test-utils/src/testsuite/actions/produce_blocks.rs
Due: none

feat: introduced fn earliest_block_number for BlockNumReader
  crates/storage/storage-api/src/block_id.rs
Due: storage (db)

fixes
  crates/storage/storage-api/src/block_id.rs
Due: storage (db)

feat(rpc): Implement `FromConsensusTx` for generic `OpTransaction`
  crates/rpc/rpc-types-compat/src/transaction.rs
Due: rpc

Update transactions.rs
  crates/storage/storage-api/src/transactions.rs
Due: storage (db)

Update state.rs
  crates/transaction-pool/src/pool/state.rs
Due: txpool

feat(era): Delete files outside the range before counting them
  crates/era-downloader/src/client.rs
  crates/era-downloader/src/stream.rs
Due: none

Revert "perf: reuse accounts trie in payload processing (#16181)"
  crates/engine/tree/benches/state_root_task.rs
  crates/engine/tree/src/tree/mod.rs
  crates/engine/tree/src/tree/payload_processor/mod.rs
  crates/engine/tree/src/tree/payload_processor/sparse_trie.rs
  crates/trie/sparse/src/state.rs
  crates/trie/sparse/src/trie.rs
Due: trie

revert: "perf: reuse accounts trie in payload processing (#16181)" (#16834)
  crates/engine/tree/benches/state_root_task.rs
  crates/engine/tree/src/tree/mod.rs
  crates/engine/tree/src/tree/payload_processor/mod.rs
  crates/engine/tree/src/tree/payload_processor/sparse_trie.rs
  crates/trie/sparse/src/state.rs
  crates/trie/sparse/src/trie.rs
Due: trie

docs: clarify txpool docs (#16833)
  crates/storage/storage-api/src/transactions.rs
  crates/transaction-pool/src/pool/state.rs
Due: storage (db), txpool

test: add roundtrip test for export
  crates/era-utils/tests/it/history.rs
  crates/era-utils/tests/it/main.rs
  crates/era-utils/tests/it/roundtrip.rs
Due: none

fix: improve block range detection logic
  crates/era-utils/src/export.rs
  crates/era-utils/tests/it/history.rs
  crates/era-utils/tests/it/main.rs
Due: none

fixed fn call
  Cargo.lock
  crates/rpc/rpc-builder/Cargo.toml
  crates/rpc/rpc-builder/src/metrics.rs
Due: rpc

fixed pre-bedrock confusion
  crates/rpc/rpc-builder/src/metrics.rs
Due: rpc

chore: clippy
  crates/era-utils/tests/it/history.rs
Due: none

chore: clippy
  crates/era-utils/src/export.rs
Due: none

bump
  Cargo.lock
  Cargo.toml
Due: none

build(deps): Upgrade `op-alloy` version `0.18.2` => `0.18.3` and all other deps minor versions
  Cargo.lock
Due: none

refactor: improve readibility and remove trait bounds
  crates/era-utils/src/export.rs
Due: none

refactor: remove more traits bounds
  crates/era-utils/src/export.rs
Due: none

perf: reuse accounts trie in payload processing
  crates/engine/tree/benches/state_root_task.rs
  crates/engine/tree/src/tree/mod.rs
  crates/engine/tree/src/tree/payload_processor/mod.rs
  crates/engine/tree/src/tree/payload_processor/sparse_trie.rs
  crates/trie/sparse/src/state.rs
  crates/trie/sparse/src/trie.rs
Due: trie

fix
  crates/rpc/rpc-engine-api/tests/it/payload.rs
Due: rpc

refactor: improve export readibility
  crates/era-utils/src/export.rs
Due: none

clippy
  crates/rpc/rpc-engine-api/tests/it/payload.rs
Due: rpc

feat: add parallel sparse trie skeleton
  crates/trie/sparse/src/lib.rs
  crates/trie/sparse/src/parallel_trie.rs
Due: trie

chore: cargo fmt
  crates/trie/sparse/src/state.rs
Due: trie

perf: reuse accounts trie in payload processing (#16836)
  crates/engine/tree/benches/state_root_task.rs
  crates/engine/tree/src/tree/mod.rs
  crates/engine/tree/src/tree/payload_processor/mod.rs
  crates/engine/tree/src/tree/payload_processor/sparse_trie.rs
  crates/trie/sparse/src/state.rs
  crates/trie/sparse/src/trie.rs
Due: trie

feat: add parallel sparse trie skeleton (#16837)
  crates/trie/sparse/src/lib.rs
  crates/trie/sparse/src/parallel_trie.rs
Due: trie

fixes: replaced update_status with update_block_range
  crates/node/builder/src/launch/engine.rs
Due: none

Reduce unnecessary memory copies in `compare_storage_trie_updates`
  crates/engine/tree/src/tree/mod.rs
  crates/engine/tree/src/tree/trie_updates.rs
Due: none

deps: Upgrade `op-alloy` version `0.18.2` => `0.18.3` and all other deps minor versions (#16835)
  Cargo.lock
Due: none

feat: introduced fn earliest_block_number for BlockNumReader (#16831)
  crates/storage/storage-api/src/block_id.rs
Due: storage (db)
