Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

just blob decode left
  examples/beacon-api-sidecar-fetcher/Cargo.toml
  examples/beacon-api-sidecar-fetcher/src/main.rs
Due: none

chore(debug): allow first fcu through in `EngineApiSkipFcu` interceptor
  crates/node-core/src/engine_skip_fcu.rs
Due: none

fix comments
  crates/primitives/src/transaction/mod.rs
Due: primitives

chore(debug): allow first fcu through in `EngineApiSkipFcu` interceptor (#7756)
  crates/node-core/src/engine_skip_fcu.rs
Due: none

fix clippy
  crates/primitives/src/transaction/mod.rs
Due: primitives

prototype1
  examples/beacon-api-sidecar-fetcher/src/main.rs
Due: none

cleanup
  examples/beacon-api-sidecar-fetcher/src/main.rs
Due: none

considering new approach - broken
  crates/node-builder/src/builder.rs
  crates/node-builder/src/components/traits.rs
  crates/node-builder/src/hooks.rs
  crates/node-builder/src/launcher.rs
  crates/node-builder/src/rpc.rs
Due: none

perf(discv5): populate kbuckets & improved RLPx peering (#7683)
  crates/net/discv5/src/lib.rs
Due: networking

removed unused dependencies
  Cargo.lock
  crates/consensus/beacon-core/Cargo.toml
  crates/interfaces/Cargo.toml
  crates/node/events/Cargo.toml
  crates/rpc/rpc-engine-api/Cargo.toml
Due: rpc, consensus/evm, primitives

Fix docs
  crates/net/discv5/src/metrics.rs
Due: networking

Update deps
  Cargo.lock
Due: none

fix(deps): bump rustls (#7758)
  Cargo.lock
Due: none

Revert set headers and bodies start manually
  bin/reth/src/commands/import.rs
Due: reth binary

Revert "feat: send `CanonStateNotification`s from execution stage (#7578)"
  Cargo.lock
  bin/reth/Cargo.toml
  bin/reth/src/commands/debug_cmd/execution.rs
  bin/reth/src/commands/debug_cmd/merkle.rs
  bin/reth/src/commands/import.rs
  bin/reth/src/commands/stage/dump/merkle.rs
  bin/reth/src/commands/stage/run.rs
  bin/reth/src/commands/stage/unwind.rs
  crates/consensus/beacon/Cargo.toml
  crates/consensus/beacon/src/engine/error.rs
  crates/consensus/beacon/src/engine/mod.rs
  crates/consensus/beacon/src/engine/sync.rs
  crates/exex/src/manager.rs
  crates/node-builder/src/builder.rs
  crates/node-builder/src/setup.rs
  crates/stages/Cargo.toml
  crates/stages/src/stages/execution.rs
  crates/stages/src/stages/mod.rs
  crates/storage/provider/src/bundle_state/bundle_state_with_receipts.rs
  crates/storage/provider/src/providers/database/provider.rs
  crates/storage/provider/src/traits/executor.rs
Due: reth binary, pipeline, storage (db), consensus/evm

Remove set fork id with op cl key
  crates/net/network/src/config.rs
Due: networking

fix: dont await changes
  crates/exex/src/manager.rs
Due: none

added spec
  crates/rpc/rpc-api/src/engine.rs
Due: rpc

fix: dont await changes (#7760)
  crates/exex/src/manager.rs
Due: none

chore: relax some bounds
  crates/stages/src/stages/execution.rs
Due: pipeline

chore: relax some bounds (#7762)
  crates/stages/src/stages/execution.rs
Due: pipeline

Include index 0
  crates/net/discv5/src/lib.rs
Due: networking

Fix flaky test
  crates/net/discv5/src/lib.rs
Due: networking

Update comment
  crates/net/discv5/src/lib.rs
Due: networking

added the client info to new fn params and to inner
  crates/rpc/rpc-engine-api/src/engine_api.rs
Due: rpc

added two new env const and created a default instance
  crates/node-core/src/version.rs
Due: none

Add back start arg for debug
  bin/reth/src/commands/import.rs
Due: reth binary

Take header in iteration
  bin/reth/src/commands/import.rs
Due: reth binary

Config start header
  bin/reth/src/commands/import.rs
Due: reth binary

Make start flag
  bin/reth/src/commands/import.rs
Due: reth binary

Fix start arg
  bin/reth/src/commands/import.rs
Due: reth binary

Add block number to header error
  crates/interfaces/src/p2p/error.rs
  crates/interfaces/src/p2p/headers/downloader.rs
  crates/net/downloaders/src/headers/reverse_headers.rs
Due: networking, primitives

fixup! Add block number to header error
  crates/interfaces/src/test_utils/headers.rs
Due: primitives

Path conditions:
  reth binary: any of: bin/**, crates/config/**, crates/metrics/**, crates/tracing/**
  blockchain tree: any of: crates/blockchain-tree/**
  pipeline: any of: crates/stages/**, crates/staged-sync/**
  storage (db): any of: crates/storage/**
  trie: any of: crates/trie/**
  txpool: any of: crates/transaction-pool/**
  networking: any of: crates/net/**
  rpc: any of: crates/rpc/**
  consensus/evm: any of: crates/revm/**, crates/consensus/**
  payload builder: any of: crates/payload/**
  primitives: any of: crates/primitives/**, crates/tasks/**, crates/rlp/**, crates/interfaces/**
