Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

codecov.yml:

coverage:
  status:
    patch: off
    project:
      default:
        threshold: null
        informational: true
github_checks:
  annotations: false
comment:
  layout: "reach, files, flags, components"
  require_changes: true
component_management:
  individual_components:
    - component_id: reth_binary
      name: reth binary
      paths:
        - bin/**
        - crates/config/**
        - crates/metrics/**
        - crates/tracing/**
    - component_id: blockchain_tree
      name: blockchain tree
      paths:
        - crates/blockchain-tree/**
    - component_id: staged_sync
      name: pipeline
      paths:
        - crates/stages/**
        - crates/staged-sync/**
    - component_id: storage
      name: storage (db)
      paths:
        - crates/storage/**
    - component_id: trie
      name: trie
      paths:
        - crates/trie/**
    - component_id: txpool
      name: txpool
      paths:
        - crates/transaction-pool/**
    - component_id: networking
      name: networking
      paths:
        - crates/net/**
    - component_id: rpc
      name: rpc
      paths:
        - crates/rpc/**
    - component_id: core
      name: consensus/evm
      paths:
        - crates/revm/**
        - crates/consensus/**
    - component_id: builder
      name: payload builder
      paths:
        - crates/payload/**
    - component_id: primitives
      name: primitives
      paths:
        - crates/primitives/**
        - crates/tasks/**
        - crates/rlp/**
        - crates/interfaces/**

make remove_transactions_by_sender method use address
  crates/transaction-pool/src/lib.rs
  crates/transaction-pool/src/noop.rs
  crates/transaction-pool/src/pool/mod.rs
  crates/transaction-pool/src/pool/txpool.rs
  crates/transaction-pool/src/traits.rs
Due: txpool

primitives: impl alloy_consensus::Transaction for Transaction
  crates/primitives/src/transaction/mod.rs
Due: primitives

primitive: Introduce reth transaction trait
  crates/primitives-traits/src/lib.rs
  crates/primitives-traits/src/transaction.rs
Due: none

feat(ci): add workflow for git sha container builds
  .github/workflows/docker-git.yml
  Makefile
Due: none

fix(op): fix payload id calculation
  crates/optimism/payload/src/payload.rs
Due: none

feat(ci): add workflow for git sha container builds (#11721)
  .github/workflows/docker-git.yml
  Makefile
Due: none

remove KeyHasher generic from concrete ethereum state types
  crates/storage/provider/src/writer/mod.rs
  crates/trie/db/src/lib.rs
  crates/trie/db/src/proof.rs
  crates/trie/db/src/state.rs
  crates/trie/db/src/storage.rs
  crates/trie/db/src/witness.rs
  crates/trie/db/tests/fuzz_in_memory_nodes.rs
  crates/trie/db/tests/proof.rs
  crates/trie/db/tests/trie.rs
  crates/trie/db/tests/witness.rs
  crates/trie/parallel/benches/root.rs
  crates/trie/parallel/src/parallel_root.rs
  crates/trie/trie/src/proof.rs
  crates/trie/trie/src/trie.rs
  crates/trie/trie/src/witness.rs
Due: storage (db), trie

chore(ci): do not run hive on legacy engine
  .github/assets/hive/expected_failures.yaml
  .github/assets/hive/expected_failures_experimental.yaml
  .github/workflows/hive.yml
Due: none

feat: add node builder helpers
  crates/node/builder/src/builder/mod.rs
Due: none

primitive: introduce reth `Transaction` trait (#11728)
  crates/primitives-traits/src/lib.rs
  crates/primitives-traits/src/transaction.rs
Due: none

feat: add node builder helpers (#11731)
  crates/node/builder/src/builder/mod.rs
Due: none

feat: extend txpool remove txs utility (#11702)
  crates/transaction-pool/src/lib.rs
  crates/transaction-pool/src/noop.rs
  crates/transaction-pool/src/pool/mod.rs
  crates/transaction-pool/src/pool/txpool.rs
  crates/transaction-pool/src/traits.rs
Due: txpool

feat: replace once_cell with std (#11694)
  Cargo.lock
  Cargo.toml
  crates/chainspec/src/lib.rs
  crates/chainspec/src/spec.rs
  crates/ethereum-forks/Cargo.toml
  crates/ethereum-forks/src/hardfork/dev.rs
  crates/optimism/chainspec/Cargo.toml
  crates/optimism/chainspec/src/base.rs
  crates/optimism/chainspec/src/base_sepolia.rs
  crates/optimism/chainspec/src/dev.rs
  crates/optimism/chainspec/src/lib.rs
  crates/optimism/chainspec/src/op.rs
  crates/optimism/chainspec/src/op_sepolia.rs
  crates/optimism/hardforks/src/dev.rs
  crates/primitives/src/transaction/mod.rs
  crates/rpc/rpc-eth-api/src/helpers/block.rs
  crates/rpc/rpc-eth-api/src/helpers/call.rs
  crates/storage/provider/Cargo.toml
  crates/storage/provider/src/test_utils/blocks.rs
Due: storage (db), rpc, primitives

chore: rm optimism feature from chainspec (#11722)
  Cargo.lock
  crates/chainspec/Cargo.toml
  crates/chainspec/src/api.rs
  crates/chainspec/src/lib.rs
  crates/chainspec/src/spec.rs
  crates/consensus/beacon/Cargo.toml
  crates/consensus/beacon/src/engine/mod.rs
  crates/optimism/chainspec/Cargo.toml
  crates/optimism/chainspec/src/lib.rs
  crates/optimism/evm/src/lib.rs
  crates/optimism/node/Cargo.toml
  crates/optimism/payload/Cargo.toml
  crates/optimism/rpc/src/eth/receipt.rs
Due: consensus/evm

chore(ci): do not run hive on legacy engine (#11733)
  .github/assets/hive/expected_failures.yaml
  .github/assets/hive/expected_failures_experimental.yaml
  .github/workflows/hive.yml
Due: none

primitives: impl `alloy_consensus::Transaction` for `Transaction` (#11727)
  crates/primitives/src/transaction/mod.rs
Due: primitives

bring up the installation of the prometheus exporter
  bin/reth/src/cli/mod.rs
  crates/cli/commands/src/node.rs
  crates/tasks/src/lib.rs
Due: reth binary, primitives

chore: refactor HashedPostStateProvider trait and impls
  Cargo.lock
  bin/reth/src/commands/debug_cmd/build_block.rs
  bin/reth/src/commands/debug_cmd/in_memory_merkle.rs
  crates/blockchain-tree/src/blockchain_tree.rs
  crates/blockchain-tree/src/chain.rs
  crates/chain-state/src/in_memory.rs
  crates/chain-state/src/memory_overlay.rs
  crates/consensus/auto-seal/src/lib.rs
  crates/engine/invalid-block-hooks/src/witness.rs
  crates/engine/tree/src/tree/mod.rs
  crates/engine/util/src/reorg.rs
  crates/ethereum/payload/src/lib.rs
  crates/optimism/payload/src/builder.rs
  crates/revm/Cargo.toml
  crates/revm/src/test_utils.rs
  crates/rpc/rpc-eth-api/src/helpers/pending_block.rs
  crates/rpc/rpc-eth-types/src/cache/db.rs
  crates/storage/provider/src/providers/blockchain_provider.rs
  crates/storage/provider/src/providers/bundle_state_provider.rs
  crates/storage/provider/src/providers/database/mod.rs
  crates/storage/provider/src/providers/database/provider.rs
  crates/storage/provider/src/providers/mod.rs
  crates/storage/provider/src/providers/state/historical.rs
  crates/storage/provider/src/providers/state/latest.rs
  crates/storage/provider/src/providers/state/macros.rs
  crates/storage/provider/src/test_utils/mock.rs
  crates/storage/provider/src/test_utils/noop.rs
  crates/storage/provider/src/writer/mod.rs
  crates/storage/storage-api/src/state.rs
Due: reth binary, blockchain tree, storage (db), rpc, consensus/evm

bet
  crates/primitives/src/receipt.rs
Due: primitives

bet
  crates/rpc/rpc/src/debug.rs
Due: rpc

feat: base function to find next transaction with free nonce
  crates/transaction-pool/src/lib.rs
  crates/transaction-pool/src/noop.rs
  crates/transaction-pool/src/pool/mod.rs
  crates/transaction-pool/src/pool/txpool.rs
  crates/transaction-pool/src/traits.rs
Due: txpool

docs: add notes about revm features
  crates/ethereum/evm/src/lib.rs
  crates/ethereum/node/Cargo.toml
  crates/evm/src/lib.rs
  crates/optimism/node/Cargo.toml
Due: none

bet
  crates/primitives/src/lib.rs
  crates/primitives/src/receipt.rs
  crates/rpc/rpc/src/debug.rs
Due: rpc, primitives

chore: turn off `reth-revm` default features (#10215)
  Cargo.lock
  Cargo.toml
  crates/ethereum/evm/src/lib.rs
  crates/ethereum/node/Cargo.toml
  crates/ethereum/node/src/lib.rs
  crates/evm/src/lib.rs
  crates/optimism/node/Cargo.toml
  testing/ef-tests/Cargo.toml
  testing/ef-tests/src/lib.rs
Due: none

bet
  crates/primitives/src/lib.rs
  crates/rpc/rpc/src/debug.rs
Due: rpc, primitives

feat: find nonce gap
  crates/transaction-pool/src/pool/txpool.rs
Due: txpool

bet
  crates/primitives/src/transaction/mod.rs
Due: primitives

move BlockExecutionStrategy::DB GAT
  crates/evm/src/execute.rs
Due: none

extend test
  crates/evm/src/execute.rs
Due: none
