Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

codecov.yml:

coverage:
  status:
    patch: off
    project:
      default:
        threshold: null
        informational: true
github_checks:
  annotations: false
comment:
  layout: "reach, files, flags, components"
  require_changes: true
component_management:
  individual_components:
    - component_id: reth_binary
      name: reth binary
      paths:
        - bin/**
        - crates/config/**
        - crates/metrics/**
        - crates/tracing/**
    - component_id: blockchain_tree
      name: blockchain tree
      paths:
        - crates/blockchain-tree/**
    - component_id: staged_sync
      name: pipeline
      paths:
        - crates/stages/**
        - crates/staged-sync/**
    - component_id: storage
      name: storage (db)
      paths:
        - crates/storage/**
    - component_id: trie
      name: trie
      paths:
        - crates/trie/**
    - component_id: txpool
      name: txpool
      paths:
        - crates/transaction-pool/**
    - component_id: networking
      name: networking
      paths:
        - crates/net/**
    - component_id: rpc
      name: rpc
      paths:
        - crates/rpc/**
    - component_id: core
      name: consensus/evm
      paths:
        - crates/revm/**
        - crates/consensus/**
    - component_id: builder
      name: payload builder
      paths:
        - crates/payload/**
    - component_id: primitives
      name: primitives
      paths:
        - crates/primitives/**
        - crates/tasks/**
        - crates/rlp/**
        - crates/interfaces/**

fix
  crates/ethereum/primitives/src/receipt.rs
Due: none

fix
  Cargo.lock
  crates/ethereum/primitives/Cargo.toml
  crates/ethereum/primitives/src/receipt.rs
Due: none

feat: make `Receipt` generic over `TxType` (#17237)
  Cargo.lock
  crates/ethereum/consensus/src/validation.rs
  crates/ethereum/primitives/Cargo.toml
  crates/ethereum/primitives/src/receipt.rs
Due: none

feat(sdk): make engine API (auth server) optional for custom consensus integrations
  crates/ethereum/node/src/node.rs
  crates/node/builder/src/builder/states.rs
  crates/node/builder/src/rpc.rs
  crates/node/core/src/args/rpc_server.rs
  docs/vocs/docs/pages/cli/reth/node.mdx
Due: none

fmt
  crates/node/builder/src/builder/states.rs
Due: none

check cli arg from ctx
  crates/ethereum/node/src/node.rs
  crates/node/builder/src/rpc.rs
Due: none

fmt
  crates/node/builder/src/rpc.rs
Due: none

Update docs/vocs/docs/pages/run/ethereum.mdx
  docs/vocs/docs/pages/run/ethereum.mdx
Due: none

docs: fix link to installation (#17375)
  docs/vocs/docs/pages/run/ethereum.mdx
Due: none

Update ethereum.mdx
  docs/vocs/docs/pages/run/ethereum.mdx
Due: none

Update mod.rs
  crates/engine/tree/src/tree/payload_processor/mod.rs
Due: none

refactor(docs): improve regex pattern robustness in CLI help parser
  docs/cli/help.rs
Due: none

fix: correct command syntax in benchmark documentation
  bin/reth-bench/src/bench/mod.rs
Due: reth binary

Update database.md
  docs/design/database.md
Due: none

docs: typos (#17335)
  crates/engine/tree/docs/root.md
  docs/design/headers-downloader.md
  docs/vocs/docs/pages/cli/cli.mdx
  docs/vocs/docs/pages/index.mdx
Due: none

Fix broken internal links in history-expiry guide
  docs/vocs/docs/pages/guides/history-expiry.mdx
Due: none

refactor: use cow receipt for build receipt
  crates/optimism/rpc/src/eth/receipt.rs
  crates/rpc/rpc-eth-types/src/receipt.rs
  crates/rpc/rpc/src/eth/helpers/block.rs
  crates/rpc/rpc/src/eth/helpers/receipt.rs
Due: rpc

fix: remove clone on receipt
  crates/rpc/rpc-eth-types/src/receipt.rs
Due: rpc

fix: remove double clone from into_owned()
  crates/rpc/rpc-eth-types/src/receipt.rs
Due: rpc

feat: add into logs without cloning for tx receipt
  crates/ethereum/primitives/src/receipt.rs
  crates/optimism/primitives/src/receipt.rs
Due: none

chore: fmt
  crates/ethereum/primitives/src/receipt.rs
  crates/optimism/primitives/src/receipt.rs
Due: none

fix: import alloc Vec
  crates/optimism/primitives/src/receipt.rs
Due: none

Update history-expiry.mdx
  docs/vocs/docs/pages/guides/history-expiry.mdx
Due: none

Update troubleshooting.mdx
  docs/vocs/docs/pages/run/faq/troubleshooting.mdx
Due: none

Update HARDFORK-CHECKLIST.md
  HARDFORK-CHECKLIST.md
Due: none

Update mod.rs
  crates/node/builder/src/builder/mod.rs
Due: none

Update state.rs
  crates/trie/sparse/src/state.rs
Due: trie

Update bodies.rs
  crates/net/downloaders/src/bodies/bodies.rs
Due: networking

chore(deps): weekly `cargo update`
  Cargo.lock
Due: none

feat: add `into_logs()` to `TxReceipt` for `Receipt`/`OpReceipt` (#17383)
  crates/ethereum/primitives/src/receipt.rs
  crates/optimism/primitives/src/receipt.rs
Due: none

chore: consolidate typo fixes from multiple PRs
  HARDFORK-CHECKLIST.md
  bin/reth-bench/src/bench/mod.rs
  crates/net/downloaders/src/bodies/bodies.rs
  crates/node/builder/src/builder/mod.rs
  crates/trie/common/src/hashed_state.rs
  crates/trie/common/src/updates.rs
  crates/trie/sparse/src/state.rs
  docs/vocs/docs/pages/guides/history-expiry.mdx
  docs/vocs/docs/pages/run/ethereum.mdx
Due: reth binary, trie, networking

docs: typos (#17283)
  docs/crates/eth-wire.md
  docs/design/database.md
  docs/design/metrics.md
Due: none

optimize block store gets
  crates/transaction-pool/src/blobstore/disk.rs
Due: txpool
