Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

codecov.yml:

coverage:
  status:
    patch: off
    project:
      default:
        threshold: null
        informational: true
github_checks:
  annotations: false
comment:
  layout: "reach, files, flags, components"
  require_changes: true
component_management:
  individual_components:
    - component_id: reth_binary
      name: reth binary
      paths:
        - bin/**
        - crates/config/**
        - crates/metrics/**
        - crates/tracing/**
    - component_id: blockchain_tree
      name: blockchain tree
      paths:
        - crates/blockchain-tree/**
    - component_id: staged_sync
      name: pipeline
      paths:
        - crates/stages/**
        - crates/staged-sync/**
    - component_id: storage
      name: storage (db)
      paths:
        - crates/storage/**
    - component_id: trie
      name: trie
      paths:
        - crates/trie/**
    - component_id: txpool
      name: txpool
      paths:
        - crates/transaction-pool/**
    - component_id: networking
      name: networking
      paths:
        - crates/net/**
    - component_id: rpc
      name: rpc
      paths:
        - crates/rpc/**
    - component_id: core
      name: consensus/evm
      paths:
        - crates/revm/**
        - crates/consensus/**
    - component_id: builder
      name: payload builder
      paths:
        - crates/payload/**
    - component_id: primitives
      name: primitives
      paths:
        - crates/primitives/**
        - crates/tasks/**
        - crates/rlp/**
        - crates/interfaces/**

chore: Make block download metric include inflight block range requests (#10826)
  crates/engine/tree/src/download.rs
Due: none

chore: Remove `rethdb` `op-node` build tag from book (#10819)
  book/run/optimism.md
Due: none

crates/optimism: fix optimism (#10820)
  crates/optimism/cli/Cargo.toml
Due: none

Fix typo
  crates/node/core/src/args/network.rs
Due: none

chore(op): define type `reth_optimism_rpc::OpReceiptBuilder` (#10781)
  Cargo.lock
  crates/optimism/rpc/Cargo.toml
  crates/optimism/rpc/src/eth/mod.rs
  crates/optimism/rpc/src/eth/receipt.rs
  crates/rpc/rpc-eth-types/src/receipt.rs
Due: rpc

chore: missing features in optimsim crates
  crates/optimism/bin/Cargo.toml
  crates/optimism/cli/Cargo.toml
Due: none

Log error reading net if in reth_node_core::args as target reth::cli
  bin/reth/src/commands/debug_cmd/execution.rs
  bin/reth/src/commands/debug_cmd/in_memory_merkle.rs
  bin/reth/src/commands/debug_cmd/merkle.rs
  bin/reth/src/commands/debug_cmd/replay_engine.rs
  book/cli/reth/debug/execution.md
  book/cli/reth/debug/in-memory-merkle.md
  book/cli/reth/debug/merkle.md
  book/cli/reth/debug/replay-engine.md
  book/cli/reth/node.md
  book/cli/reth/p2p.md
  book/cli/reth/stage/run.md
  book/cli/reth/stage/unwind.md
  crates/cli/commands/src/stage/run.rs
  crates/node/builder/src/builder/mod.rs
  crates/node/core/src/args/network.rs
Due: reth binary

chore(rpc): `LoadReceipt::build_transaction_receipt` default impl to impl for `EthApi` (#10786)
  crates/rpc/rpc-eth-api/src/helpers/receipt.rs
  crates/rpc/rpc/src/eth/helpers/receipt.rs
Due: rpc

fix hekla ontake fork height
  crates/chainspec/src/spec.rs
Due: none

Fix book
  book/cli/reth/debug/execution.md
  book/cli/reth/debug/in-memory-merkle.md
  book/cli/reth/debug/merkle.md
  book/cli/reth/debug/replay-engine.md
  book/cli/reth/node.md
  book/cli/reth/p2p.md
  book/cli/reth/stage/run.md
  book/cli/reth/stage/unwind.md
Due: none

init
  crates/consensus/consensus/src/lib.rs
Due: consensus/evm

chore: missing features in optimsim crates (#10830)
  crates/optimism/bin/Cargo.toml
  crates/optimism/cli/Cargo.toml
Due: none

feat(net): IP resolution in docker (#10681)
  Cargo.lock
  Cargo.toml
  book/cli/reth/debug/execution.md
  book/cli/reth/debug/in-memory-merkle.md
  book/cli/reth/debug/merkle.md
  book/cli/reth/debug/replay-engine.md
  book/cli/reth/node.md
  book/cli/reth/p2p.md
  book/cli/reth/stage/run.md
  book/cli/reth/stage/unwind.md
  crates/net/nat/Cargo.toml
  crates/net/nat/src/lib.rs
  crates/net/nat/src/net_if.rs
  crates/node/core/src/args/network.rs
Due: networking

fix wait for head logic
  clippy.toml
  crates/exex/exex/src/manager.rs
  crates/exex/types/src/head.rs
  crates/prune/prune/src/pruner.rs
Due: none

rpc: replace reth-primitive imports with alloy-eips
  Cargo.lock
  crates/rpc/rpc-api/Cargo.toml
  crates/rpc/rpc-api/src/debug.rs
  crates/rpc/rpc-api/src/engine.rs
  crates/rpc/rpc/Cargo.toml
  crates/rpc/rpc/src/engine.rs
  crates/rpc/rpc/src/otterscan.rs
Due: rpc

use cow instead
  crates/storage/nippy-jar/src/cursor.rs
Due: storage (db)

add panic docs to trait method
  crates/storage/nippy-jar/src/reader.rs
Due: storage (db)

ftfm
  crates/consensus/consensus/src/lib.rs
Due: consensus/evm

add docs to read_value on allows_data_ref
  crates/storage/nippy-jar/src/cursor.rs
Due: storage (db)

chore: lower persistence threshold
  crates/engine/tree/src/tree/config.rs
Due: none

add docs to DefaultDataReader
  crates/storage/nippy-jar/src/reader.rs
Due: storage (db)

add docs on FileDataReader data_ref
  crates/storage/nippy-jar/src/reader.rs
Due: storage (db)

fmt
  crates/storage/nippy-jar/src/reader.rs
Due: storage (db)

chore: crates/consensus - Use derive_more::Error rather than impl std:error:Error (#10831)
  crates/consensus/consensus/src/lib.rs
Due: consensus/evm

add GotExpected to FailedBatchRecovery
  crates/stages/stages/src/stages/sender_recovery.rs
Due: pipeline

chore: lower persistence threshold (#10833)
  crates/engine/tree/src/tree/config.rs
Due: none

add docs on why std::thread::spawn
  crates/stages/stages/src/stages/sender_recovery.rs
Due: pipeline

rpc: replace reth-primitive imports with alloy-eips (#10834)
  Cargo.lock
  crates/rpc/rpc-api/Cargo.toml
  crates/rpc/rpc-api/src/debug.rs
  crates/rpc/rpc-api/src/engine.rs
  crates/rpc/rpc/Cargo.toml
  crates/rpc/rpc/src/engine.rs
  crates/rpc/rpc/src/otterscan.rs
Due: rpc

fmt
  crates/stages/stages/src/stages/sender_recovery.rs
Due: pipeline

rename to RecoveredSendersMismatch
  crates/stages/stages/src/stages/sender_recovery.rs
Due: pipeline
