Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

codecov.yml:

coverage:
  status:
    patch: off
    project:
      default:
        threshold: null
        informational: true
github_checks:
  annotations: false
comment:
  layout: "reach, files, flags, components"
  require_changes: true
component_management:
  individual_components:
    - component_id: reth_binary
      name: reth binary
      paths:
        - bin/**
        - crates/config/**
        - crates/metrics/**
        - crates/tracing/**
    - component_id: blockchain_tree
      name: blockchain tree
      paths:
        - crates/blockchain-tree/**
    - component_id: staged_sync
      name: pipeline
      paths:
        - crates/stages/**
        - crates/staged-sync/**
    - component_id: storage
      name: storage (db)
      paths:
        - crates/storage/**
    - component_id: trie
      name: trie
      paths:
        - crates/trie/**
    - component_id: txpool
      name: txpool
      paths:
        - crates/transaction-pool/**
    - component_id: networking
      name: networking
      paths:
        - crates/net/**
    - component_id: rpc
      name: rpc
      paths:
        - crates/rpc/**
    - component_id: core
      name: consensus/evm
      paths:
        - crates/revm/**
        - crates/consensus/**
    - component_id: builder
      name: payload builder
      paths:
        - crates/payload/**
    - component_id: primitives
      name: primitives
      paths:
        - crates/primitives/**
        - crates/tasks/**
        - crates/rlp/**
        - crates/interfaces/**

update docs
  bin/reth/src/commands/stage/run.rs
  book/run/config.md
  crates/config/src/config.rs
Due: reth binary

fix doctests
  crates/stages/src/lib.rs
Due: pipeline

make client version non-optional
  Cargo.lock
  bin/reth/src/commands/recover/storage_tries.rs
  bin/reth/src/commands/stage/dump/mod.rs
  crates/node-core/src/args/database_args.rs
  crates/storage/db/src/implementation/mdbx/mod.rs
  crates/storage/db/src/implementation/mdbx/tx.rs
  crates/storage/db/src/lib.rs
  crates/storage/provider/src/providers/database/mod.rs
  examples/rpc-db/Cargo.toml
  examples/rpc-db/src/main.rs
Due: reth binary, storage (db)

fix import
  examples/rpc-db/src/main.rs
Due: none

fix example
  examples/db-access.rs
Due: none

feat(db): record client version history (#7119)
  Cargo.lock
  bin/reth/src/commands/db/diff.rs
  bin/reth/src/commands/db/list.rs
  bin/reth/src/commands/db/mod.rs
  bin/reth/src/commands/db/static_files/mod.rs
  bin/reth/src/commands/debug_cmd/build_block.rs
  bin/reth/src/commands/debug_cmd/execution.rs
  bin/reth/src/commands/debug_cmd/in_memory_merkle.rs
  bin/reth/src/commands/debug_cmd/merkle.rs
  bin/reth/src/commands/debug_cmd/replay_engine.rs
  bin/reth/src/commands/import.rs
  bin/reth/src/commands/init_cmd.rs
  bin/reth/src/commands/node/mod.rs
  bin/reth/src/commands/p2p/mod.rs
  bin/reth/src/commands/recover/storage_tries.rs
  bin/reth/src/commands/stage/drop.rs
  bin/reth/src/commands/stage/dump/mod.rs
  bin/reth/src/commands/stage/run.rs
  bin/reth/src/commands/stage/unwind.rs
  crates/node-core/src/args/database_args.rs
  crates/node-core/src/version.rs
  crates/storage/db/src/implementation/mdbx/mod.rs
  crates/storage/db/src/implementation/mdbx/tx.rs
  crates/storage/db/src/lib.rs
  crates/storage/db/src/tables/codecs/compact.rs
  crates/storage/db/src/tables/mod.rs
  crates/storage/db/src/tables/models/client_version.rs
  crates/storage/db/src/tables/models/mod.rs
  crates/storage/provider/src/providers/database/mod.rs
  examples/db-access.rs
  examples/rpc-db/Cargo.toml
  examples/rpc-db/src/main.rs
Due: reth binary, storage (db)

fix the receipt for non EIP-4844 transactions
  crates/rpc/rpc/src/eth/api/transactions.rs
Due: rpc

add more helper functions to PooledTransactionElement (#7126)
  crates/primitives/src/transaction/pooled.rs
Due: primitives

fix: receipt for non EIP-4844 transactions (#7129)
  crates/rpc/rpc/src/eth/api/transactions.rs
Due: rpc

Fix merge conflicts with applied suggestion
  crates/primitives/src/prune/mod.rs
  crates/prune/src/segments/headers.rs
  crates/prune/src/segments/sender_recovery.rs
Due: primitives

Update bin/reth/src/commands/stage/dump/mod.rs
  bin/reth/src/commands/stage/dump/mod.rs
Due: reth binary

Make ETL file size configurable (#6927)
  bin/reth/src/commands/debug_cmd/execution.rs
  bin/reth/src/commands/import.rs
  bin/reth/src/commands/stage/run.rs
  book/cli/reth/node.md
  book/cli/reth/stage/run.md
  book/run/config.md
  crates/config/src/config.rs
  crates/consensus/beacon/src/engine/test_utils.rs
  crates/node-core/src/node_config.rs
  crates/stages/benches/criterion.rs
  crates/stages/src/lib.rs
  crates/stages/src/sets.rs
  crates/stages/src/stages/headers.rs
  crates/stages/src/stages/tx_lookup.rs
Due: reth binary, pipeline, consensus/evm

update book
  book/cli/reth/recover/storage-tries.md
  book/cli/reth/stage/run.md
  crates/config/src/config.rs
Due: reth binary

add const default file size for ETL
  bin/reth/src/commands/stage/run.rs
  crates/config/src/config.rs
Due: reth binary

update estimate gas
  crates/rpc/rpc/src/eth/api/call.rs
Due: rpc

feat: add `EtlConfig` as well as setting the directory to datadir (#7124)
  Cargo.lock
  bin/reth/src/commands/debug_cmd/execution.rs
  bin/reth/src/commands/import.rs
  bin/reth/src/commands/stage/run.rs
  book/cli/reth/recover/storage-tries.md
  book/cli/reth/stage/run.md
  crates/config/src/config.rs
  crates/consensus/beacon/Cargo.toml
  crates/consensus/beacon/src/engine/test_utils.rs
  crates/etl/src/lib.rs
  crates/node-builder/src/builder.rs
  crates/node-core/src/node_config.rs
  crates/stages/Cargo.toml
  crates/stages/benches/criterion.rs
  crates/stages/src/lib.rs
  crates/stages/src/sets.rs
  crates/stages/src/stages/headers.rs
  crates/stages/src/stages/tx_lookup.rs
Due: reth binary, pipeline, consensus/evm

Make storage history test generic for history pruning
  Cargo.lock
  crates/prune/Cargo.toml
  crates/prune/src/segments/history.rs
  crates/prune/src/segments/mod.rs
  crates/prune/src/segments/storage_history.rs
Due: none

Accomodate for timeout in account history pruning
  crates/prune/src/segments/account_history.rs
Due: none

Only set page size when cross building aarch64
  Makefile
Due: none

Fix history pruning test rig
  crates/prune/src/segments/history.rs
Due: none

Reorder accounts and storage test to get helpful debug output before assertions
  crates/prune/src/segments/account_history.rs
  crates/prune/src/segments/storage_history.rs
Due: none

Add more debug oputput
  crates/prune/src/segments/account_history.rs
  crates/prune/src/segments/storage_history.rs
Due: none

Export environment variables
  Makefile
Due: none

Revert back to original style for RUSTFLAGS
  Makefile
Due: none

Remove an unnecessary passthrough item
  Cross.toml
Due: none

Fix bug in test
  crates/prune/src/segments/account_history.rs
  crates/prune/src/segments/storage_history.rs
Due: none

Add helpful comments around bug
  crates/prune/src/segments/account_history.rs
  crates/prune/src/segments/storage_history.rs
Due: none

Add debug messages
  crates/prune/src/segments/account_history.rs
  crates/storage/provider/src/providers/database/provider.rs
Due: storage (db)

Add more debug logging
  crates/prune/src/segments/account_history.rs
  crates/prune/src/segments/history.rs
  crates/prune/src/segments/storage_history.rs
  crates/storage/provider/src/providers/database/provider.rs
Due: storage (db)

Fix target history test
  crates/prune/src/segments/history.rs
Due: none

Reorder test to read all debug info before bug
  crates/prune/src/segments/account_history.rs
  crates/prune/src/segments/storage_history.rs
Due: none

fix: apply block overrides before create env
  crates/rpc/rpc/src/eth/revm_utils.rs
Due: rpc

set london block boundary gas limit properly
  crates/payload/builder/src/payload.rs
Due: payload builder

double gas limit test
  crates/payload/builder/src/payload.rs
Due: payload builder

cargo fmt
  crates/payload/builder/src/payload.rs
Due: payload builder
