Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

feat: enforce --rpc.txfeecap flag (#15618)
  crates/transaction-pool/src/validate/eth.rs
Due: txpool

feat: enforce --rpc.txfeecap flag (#15618)
  crates/cli/util/src/parsers.rs
  crates/node/core/src/args/rpc_server.rs
Due: none

feat: enforce --rpc.txfeecap flag (#15618)
  crates/node/core/src/args/rpc_server.rs
  crates/rpc/rpc-eth-types/src/error/mod.rs
  crates/transaction-pool/src/error.rs
  crates/transaction-pool/src/validate/eth.rs
Due: txpool, rpc

feat: use L2 timestamps for mapped L1
  crates/optimism/chainspec/src/lib.rs
Due: none

feat: add EthSnapStream
  Cargo.lock
  crates/net/eth-wire-types/Cargo.toml
  crates/net/eth-wire-types/src/eth_snap.rs
  crates/net/eth-wire-types/src/lib.rs
Due: networking

fix: use OP timestamps
  crates/optimism/chainspec/src/lib.rs
Due: none

fix: op activation timestamps
  crates/optimism/hardforks/src/lib.rs
Due: none

fmt
  crates/engine/invalid-block-hooks/src/witness.rs
  crates/optimism/payload/src/builder.rs
Due: none

bump crossbeam
  Cargo.lock
Due: none

feat: add bincode compat to ethereum tx envelope
  crates/primitives-traits/src/serde_bincode_compat.rs
Due: none

docs: add op-reth to hardfork checklist
  HARDFORK-CHECKLIST.md
Due: none

chore!: Populate the `headers` field in the `ExecutionWitness` when calling `debug_executionWitness` (#15608)
  crates/optimism/payload/src/builder.rs
  crates/revm/src/witness.rs
  crates/rpc/rpc/src/debug.rs
Due: rpc, consensus/evm

better encapsulation of `tx_fetcher` for easier testing and refactoring
  crates/net/network/src/transactions/fetcher.rs
  crates/net/network/src/transactions/mod.rs
Due: networking

feat: add CLI args for concurrency settings (#15657)
  book/cli/reth/node.md
  crates/engine/primitives/src/config.rs
  crates/engine/tree/benches/state_root_task.rs
  crates/engine/tree/src/tree/mod.rs
  crates/engine/tree/src/tree/payload_processor/mod.rs
  crates/node/core/src/args/engine.rs
  crates/node/core/src/node_config.rs
Due: none

remove unused code
  crates/net/network/src/transactions/mod.rs
Due: networking

fix lint
  crates/net/network/src/transactions/mod.rs
Due: networking

compare bundle state with btreemaps
  Cargo.lock
  crates/engine/invalid-block-hooks/Cargo.toml
  crates/engine/invalid-block-hooks/src/witness.rs
Due: none

prepare to export
  crates/engine/tree/src/tree/mod.rs
  crates/engine/tree/src/tree/precompile_cache.rs
Due: none

add precompile_cache field to CachedPrecompileEthEvmFactory
  crates/engine/tree/src/tree/precompile_cache.rs
  crates/ethereum/evm/src/factory.rs
Due: none

fixes
  crates/engine/tree/src/tree/precompile_cache.rs
Due: none

added eth evm factory with precompile cache
  Cargo.lock
  crates/ethereum/evm/Cargo.toml
  crates/ethereum/evm/src/factory.rs
  crates/ethereum/evm/src/lib.rs
Due: none

feat: add precompile cache for execution
  Cargo.lock
  crates/engine/tree/Cargo.toml
  crates/engine/tree/src/tree/mod.rs
  crates/engine/tree/src/tree/precompile_cache.rs
Due: none

added unit test
  crates/engine/tree/src/tree/precompile_cache.rs
Due: none

Update code to now use Headers field in ExecutionWitness
  Cargo.lock
  crates/stateless/src/validation.rs
  testing/ef-tests/src/cases/blockchain_test.rs
  testing/ef-tests/tests/tests.rs
Due: none

added engine.precompile_cache_enabled arg
  crates/node/core/src/args/engine.rs
Due: none

use cached precompile executor builder
  crates/ethereum/node/src/node.rs
Due: none

add executor builder
  crates/ethereum/evm/src/factory.rs
  crates/ethereum/evm/src/lib.rs
  crates/ethereum/node/src/node.rs
Due: none

fix feature propagation
  crates/evm/Cargo.toml
Due: none

moved precompile cache to reth-evm
  Cargo.lock
  crates/engine/tree/Cargo.toml
  crates/engine/tree/src/tree/mod.rs
  crates/ethereum/evm/Cargo.toml
  crates/ethereum/evm/src/factory.rs
  crates/evm/Cargo.toml
  crates/evm/src/lib.rs
  crates/evm/src/precompile_cache.rs
Due: none

book
  book/cli/reth/node.md
  crates/node/core/src/args/engine.rs
Due: none

fix wasm build
  crates/ethereum/evm/src/factory.rs
Due: none

fix doc
  crates/ethereum/evm/src/factory.rs
Due: none

configure cache according to flag
  crates/ethereum/evm/src/factory.rs
  crates/ethereum/evm/src/lib.rs
  crates/ethereum/node/src/node.rs
  crates/evm/src/lib.rs
  crates/evm/src/precompile_cache.rs
Due: none

Path conditions:
  reth binary: any of: bin/**, crates/config/**, crates/metrics/**, crates/tracing/**
  blockchain tree: any of: crates/blockchain-tree/**
  pipeline: any of: crates/stages/**, crates/staged-sync/**
  storage (db): any of: crates/storage/**
  trie: any of: crates/trie/**
  txpool: any of: crates/transaction-pool/**
  networking: any of: crates/net/**
  rpc: any of: crates/rpc/**
  consensus/evm: any of: crates/revm/**, crates/consensus/**
  payload builder: any of: crates/payload/**
  primitives: any of: crates/primitives/**, crates/tasks/**, crates/rlp/**, crates/interfaces/**
