Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

codecov.yml:

coverage:
  status:
    patch: off
    project:
      default:
        threshold: null
        informational: true
github_checks:
  annotations: false
comment:
  layout: "reach, files, flags, components"
  require_changes: true
component_management:
  individual_components:
    - component_id: reth_binary
      name: reth binary
      paths:
        - bin/**
        - crates/config/**
        - crates/metrics/**
        - crates/tracing/**
    - component_id: blockchain_tree
      name: blockchain tree
      paths:
        - crates/blockchain-tree/**
    - component_id: staged_sync
      name: pipeline
      paths:
        - crates/stages/**
        - crates/staged-sync/**
    - component_id: storage
      name: storage (db)
      paths:
        - crates/storage/**
    - component_id: trie
      name: trie
      paths:
        - crates/trie/**
    - component_id: txpool
      name: txpool
      paths:
        - crates/transaction-pool/**
    - component_id: networking
      name: networking
      paths:
        - crates/net/**
    - component_id: rpc
      name: rpc
      paths:
        - crates/rpc/**
    - component_id: core
      name: consensus/evm
      paths:
        - crates/revm/**
        - crates/consensus/**
    - component_id: builder
      name: payload builder
      paths:
        - crates/payload/**
    - component_id: primitives
      name: primitives
      paths:
        - crates/primitives/**
        - crates/tasks/**
        - crates/rlp/**
        - crates/interfaces/**

test(trie): fix the trie node iterator test and use hash builder for correctness (#15195)
  crates/trie/trie/src/node_iter.rs
  crates/trie/trie/src/walker.rs
Due: trie

chore: remove serde default (#15186)
  crates/net/network/Cargo.toml
  examples/bsc-p2p/Cargo.toml
Due: networking

Some more changes
  crates/optimism/node/src/args.rs
  crates/optimism/node/src/node.rs
  crates/optimism/primitives/Cargo.toml
  crates/optimism/primitives/src/supervisor.rs
  examples/custom-node/src/lib.rs
Due: none

docs(storage): Explain inner transaction encoding and decoding extension traits
  crates/storage/codecs/src/alloy/transaction/ethereum.rs
Due: storage (db)

refactor(trie): initialize sparse trie with the provider
  crates/engine/tree/src/tree/payload_processor/sparse_trie.rs
  crates/trie/sparse/benches/rlp_node.rs
  crates/trie/sparse/benches/root.rs
  crates/trie/sparse/src/state.rs
  crates/trie/sparse/src/trie.rs
  crates/trie/trie/src/witness.rs
Due: trie

pass by ref
  Cargo.lock
  crates/engine/tree/src/tree/payload_processor/sparse_trie.rs
  crates/trie/sparse/Cargo.toml
  crates/trie/sparse/src/blinded.rs
Due: trie

change dep to core
  crates/optimism/primitives/src/supervisor.rs
Due: none

tests
  Cargo.lock
  crates/optimism/primitives/Cargo.toml
Due: none

remove dep
  Cargo.lock
  crates/optimism/primitives/Cargo.toml
Due: none

return dep
  Cargo.lock
  crates/optimism/primitives/Cargo.toml
Due: none

cfg
  Cargo.lock
  examples/bsc-p2p/Cargo.toml
  examples/bsc-p2p/src/evm/precompiles/mod.rs
Due: none

feat(reth): add pacaya fork support (#64)
  Cargo.lock
  crates/chainspec/src/spec.rs
  crates/ethereum-forks/src/hardfork.rs
  crates/ethereum/evm/Cargo.toml
  crates/ethereum/evm/src/execute.rs
  crates/ethereum/evm/src/taiko.rs
  crates/primitives-traits/src/alloy_compat.rs
  crates/primitives/src/revm/config.rs
Due: primitives

test(trie): simplify node iter test
  crates/trie/trie/src/node_iter.rs
Due: trie

test(ethereum-primitives): Compare `Compact` encoding and decoding of reth and alloy transaction envelope
  crates/ethereum/primitives/src/transaction.rs
  crates/storage/codecs/src/alloy/transaction/ethereum.rs
Due: storage (db)

confused
  crates/trie/trie/src/node_iter.rs
  crates/trie/trie/src/walker.rs
Due: trie

refactor(trie): initialize sparse trie with the provider (#15199)
  Cargo.lock
  crates/engine/tree/src/tree/payload_processor/sparse_trie.rs
  crates/trie/sparse/Cargo.toml
  crates/trie/sparse/benches/rlp_node.rs
  crates/trie/sparse/benches/root.rs
  crates/trie/sparse/src/blinded.rs
  crates/trie/sparse/src/state.rs
  crates/trie/sparse/src/trie.rs
  crates/trie/trie/src/witness.rs
Due: trie

chore: bump revm alpha7
  Cargo.lock
  Cargo.toml
Due: none

rm precompile error
  crates/optimism/rpc/src/error.rs
  crates/rpc/rpc-eth-types/src/error/mod.rs
  examples/custom-evm/src/main.rs
  examples/precompile-cache/src/main.rs
Due: rpc

update const
  crates/ethereum/evm/src/execute.rs
Due: none

Push nightly image w/ profiling profile
  .github/workflows/docker-nightly.yml
  Makefile
Due: none

remove reth-primitives dep from reth-providers
  Cargo.lock
  crates/primitives-traits/Cargo.toml
  crates/primitives-traits/src/lib.rs
  crates/storage/provider/Cargo.toml
  crates/storage/provider/src/providers/blockchain_provider.rs
  crates/storage/provider/src/providers/bundle_state_provider.rs
  crates/storage/provider/src/providers/consistent.rs
  crates/storage/provider/src/providers/database/mod.rs
  crates/storage/provider/src/providers/database/provider.rs
  crates/storage/provider/src/providers/state/historical.rs
  crates/storage/provider/src/providers/state/latest.rs
  crates/storage/provider/src/providers/state/macros.rs
  crates/storage/provider/src/providers/static_file/jar.rs
  crates/storage/provider/src/providers/static_file/manager.rs
  crates/storage/provider/src/providers/static_file/metrics.rs
  crates/storage/provider/src/providers/static_file/mod.rs
  crates/storage/provider/src/providers/static_file/writer.rs
  crates/storage/provider/src/test_utils/blocks.rs
  crates/storage/provider/src/test_utils/mock.rs
  crates/storage/provider/src/test_utils/mod.rs
  crates/storage/provider/src/traits/block.rs
  crates/storage/provider/src/traits/header_sync_gap.rs
  crates/storage/provider/src/writer/mod.rs
  reth-ethereum-primitives
Due: storage (db)

fmt
  crates/primitives-traits/Cargo.toml
Due: none

chore: release 1.3.4
  Cargo.lock
  Cargo.toml
Due: none

Push nightly image w/ profiling profile for op-reth
  .github/workflows/docker-nightly.yml
  Makefile
Due: none

chore: bump revm alpha7 (#15202)
  Cargo.lock
  Cargo.toml
  crates/ethereum/evm/src/execute.rs
  crates/optimism/rpc/src/error.rs
  crates/rpc/rpc-eth-types/src/error/mod.rs
  examples/custom-evm/src/main.rs
  examples/precompile-cache/src/main.rs
Due: rpc

chore: release 1.3.4 (#15205)
  Cargo.lock
  Cargo.toml
Due: none

feat: don't fetch redundant account proofs
  crates/engine/tree/src/tree/payload_processor/multiproof.rs
  crates/trie/common/src/proofs.rs
Due: trie

Update Makefile
  Makefile
Due: none

Update .github/workflows/docker-nightly.yml
  .github/workflows/docker-nightly.yml
Due: none

Update metrics.rs
  crates/evm/src/metrics.rs
Due: none

Push nightly image with profiling profile (#15206)
  .github/workflows/docker-nightly.yml
  Makefile
Due: none
