Repository paradigmxyz/reth: changes, and which Codecov flags are due for each by the changed paths.
All: reth binary, blockchain tree, pipeline, storage (db), trie, txpool, networking, rpc, consensus/evm, payload builder, primitives

feat: impl Debug for FnLauncher (#18807)
  crates/cli/commands/src/launcher.rs
Due: none

chore: update ETHEREUM_BLOCK_GAS_LIMIT (#18779)
  crates/node/core/src/cli/config.rs
Due: none

touchups
  crates/optimism/flashblocks/src/payload.rs
  crates/optimism/flashblocks/src/service.rs
  crates/optimism/flashblocks/src/worker.rs
Due: none

touchups
  crates/optimism/flashblocks/src/payload.rs
  crates/optimism/flashblocks/src/sequence.rs
  crates/optimism/flashblocks/src/service.rs
  crates/optimism/flashblocks/src/worker.rs
Due: none

touchups
  crates/optimism/flashblocks/src/payload.rs
Due: none

feat(op-reth): add optional state root calc for flashblocks (#18721)
  Cargo.lock
  crates/optimism/flashblocks/Cargo.toml
  crates/optimism/flashblocks/src/consensus.rs
  crates/optimism/flashblocks/src/payload.rs
  crates/optimism/flashblocks/src/sequence.rs
  crates/optimism/flashblocks/src/service.rs
  crates/optimism/flashblocks/src/worker.rs
Due: none

Update cors.rs
  crates/rpc/rpc-builder/src/cors.rs
Due: rpc

refactor(engine): simplify validate_block_with_state (#18659)
  crates/engine/tree/src/tree/payload_processor/mod.rs
  crates/engine/tree/src/tree/payload_validator.rs
  crates/engine/tree/src/tree/tests.rs
Due: none

feat(node): reduce the status logging (#18010)
  crates/node/events/src/node.rs
Due: none

clarify doc
  crates/storage/storage-api/src/trie.rs
Due: storage (db)

chore(trie): Implement clear trie changeset methods (#18730)
  crates/storage/provider/src/providers/database/provider.rs
  crates/storage/storage-api/src/trie.rs
Due: storage (db)

remove unnecessary changes
  crates/storage/storage-api/src/trie.rs
  crates/trie/common/src/updates.rs
Due: storage (db), trie

perf: optimize type casting in blockchain provider tests
  crates/storage/provider/src/providers/blockchain_provider.rs
Due: storage (db)

fmt and typos
  crates/cli/commands/src/stage/drop.rs
  crates/stages/stages/src/stages/merkle_changesets.rs
Due: pipeline

docs
  docs/vocs/docs/pages/cli/reth/stage/drop.mdx
  docs/vocs/docs/pages/cli/reth/stage/run.mdx
Due: none

chore: Use nightly cargo doc
  Makefile
  docs/vocs/scripts/build-cargo-docs.sh
Due: none

chore: use correct inflight metric
  etc/grafana/dashboards/reth-mempool.json
Due: none

chore: use correct inflight metric (#18815)
  etc/grafana/dashboards/reth-mempool.json
Due: none

include reth-provider dep
  crates/net/downloaders/Cargo.toml
Due: networking

chore: use exact size for account weight
  crates/engine/tree/src/tree/cached_state.rs
  crates/primitives-traits/src/account.rs
Due: none

feat: integrate EvmEnv helpers
  Cargo.lock
  Cargo.toml
  crates/ethereum/evm/src/lib.rs
  crates/optimism/evm/src/lib.rs
Due: none

chore: use exact size for account weight (#18816)
  crates/engine/tree/src/tree/cached_state.rs
  crates/primitives-traits/src/account.rs
Due: none

fix(provider): detect static file not found in range iter
  crates/storage/provider/src/providers/static_file/manager.rs
Due: storage (db)

fix(net): change MAX_STATUS_SIZE by MAX_MESSAGE_SIZE
  crates/net/eth-wire/src/ethstream.rs
  crates/net/eth-wire/src/handshake.rs
Due: networking

test: drop writer in insert_headers
  crates/net/downloaders/src/bodies/test_utils.rs
Due: networking

fix(net): add block range validation to eth69
  crates/net/eth-wire/src/errors/eth.rs
  crates/net/eth-wire/src/handshake.rs
Due: networking

fix: track inemorysize more accurately
  crates/ethereum/primitives/src/receipt.rs
  crates/primitives-traits/src/size.rs
Due: none

chore(node): remove no-op impl for LaunchContextWith WithComponents
  crates/node/builder/src/launch/common.rs
Due: none

missing inmemory impls
  crates/ethereum/primitives/src/receipt.rs
  crates/primitives-traits/src/size.rs
Due: none

Update crates/net/eth-wire/src/handshake.rs
  crates/net/eth-wire/src/handshake.rs
Due: networking

return error
  crates/ress/provider/src/lib.rs
Due: none

fix: Add eth69 status validation (#18819)
  crates/net/eth-wire/src/errors/eth.rs
  crates/net/eth-wire/src/ethstream.rs
  crates/net/eth-wire/src/handshake.rs
Due: networking

Path conditions:
  reth binary: any of: bin/**, crates/config/**, crates/metrics/**, crates/tracing/**
  blockchain tree: any of: crates/blockchain-tree/**
  pipeline: any of: crates/stages/**, crates/staged-sync/**
  storage (db): any of: crates/storage/**
  trie: any of: crates/trie/**
  txpool: any of: crates/transaction-pool/**
  networking: any of: crates/net/**
  rpc: any of: crates/rpc/**
  consensus/evm: any of: crates/revm/**, crates/consensus/**
  payload builder: any of: crates/payload/**
  primitives: any of: crates/primitives/**, crates/tasks/**, crates/rlp/**, crates/interfaces/**
